/*
* Radio theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-radio {
  &__dot {
    background-color: var(--color-sea-green);
    transition: opacity 200ms ease-out, transform 200ms ease-out;
  }

  /*
    * When is OFF
    * aka when the radio is not :checked
    */
  &__input:not(:checked) ~ &__button {
    background-color: var(--color-white);
    border-color: var(--color-sea-green);
  }

  /*
    * When is ON
    * aka when the radio is :checked
    */
  &__input:checked ~ &__button {
    background-color: var(--color-white);
    border-color: var(--color-sea-green);
  }
  &__input:checked ~ &__dot {
    opacity: 1;
    transform: scale(1);
  }

  /*
  * When radio is OFF
  * aka when the radio is not :checked
  */
  &__input:not(:checked) ~ &__dot {
    opacity: 0;
    transform: scale(0.8);
  }

  /*
    * On disabled
    *
    */
  &__input[disabled] ~ &__button {
    border-color: var(--color-mint-green-50);
  }
  &__input[disabled]:checked ~ &__button {
    border-color: var(--color-sea-green-30);
  }
  &__input[disabled]:checked ~ &__dot {
    background-color: var(--color-sea-green-30);
  }

  /*
    * On hover
    *
    */
  &__input:not([disabled]):not(:focus):not(:checked):hover ~ &__button {
    background-color: var(--color-mint-green-50);
  }
  &__input:not([disabled]):not(:focus):checked:hover ~ &__dot {
    background-color: var(--color-mint-green-50);
  }

  /*
    * On active
    *
    */
  /* stylelint-disable */
  &__input:not([disabled]):not(:checked):active ~ &__button {
    background-color: var(--color-mint-green-50);
    border-color: transparent;
  }
  &__input:not([disabled]):checked:active ~ &__button {
    border-color: var(--color-mint-green-50);
  }
  &__input:not([disabled]):checked:active ~ &__dot {
    background-color: var(--color-mint-green-50);
  }
  /* stylelint-enable */

  /*
    * On focus
    *
    */
  /* stylelint-disable */
  &__input:not([disabled]):not(:checked):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      background-color: var(--color-mint-green-50);
    }
  }
  &__input:not([disabled]):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      border: none;
    }
  }
  &__input:not([disabled]):focus ~ &__focus,
  &__input:not([disabled]):active ~ &__focus {
    display: block;
  }
  &__input:not([disabled]):not(:checked):focus ~ &__button,
  &__input:not([disabled]):not(:checked):active ~ &__button {
    background-color: var(--color-mint-green-50);
  }
  /* stylelint-enable */

  /*
    * On error state
    *
    */
  // change button color
  // fake border outside
  /* stylelint-disable */
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active)
    ~ &__button {
    border: none;
  }
  /* stylelint-enable */
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active)
    ~ &__focus {
    display: block;
    @include fakeBorder(var(--color-fire-red), $focusRingWidth);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:checked):hover
    ~ &__button {
    background-color: var(--color-fire-red-8);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):not(:hover):checked
    ~ &__dot {
    background-color: var(--color-fire-red);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):checked:hover
    ~ &__dot {
    background-color: var(--color-fire-red-8);
  }

  // ajust the form-status to the inner border for 3px
  > .dnb-form-status {
    transform: translateY(0.25rem); /* 4/16 */
  }
}
