/*
* DatePicker theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --date-picker-header-color: var(--color-black-80);
  --date-picker-labels-day-color: var(--color-emerald-green);
  --date-picker-selected-color: var(--color-mint-green-25);
  --date-picker-inactive-color: var(--color-black-55);
  --date-picker-selected-bg-color: var(--color-emerald-green);
  --date-picker-selected-bg-color-hover: var(--color-emerald-green);
  --date-picker-within-selection-bg-color: var(--color-mint-green-50);
}

.dnb-date-picker {
  &:not(#{&}__status--error) & {
    &__input[value*='0'],
    &__input[value*='1'],
    &__input[value*='2'],
    &__input[value*='3'],
    &__input[value*='4'],
    &__input[value*='5'],
    &__input[value*='6'],
    &__input[value*='7'],
    &__input[value*='8'],
    &__input[value*='9'] {
      &,
      & ~ .dnb-date-picker--separator {
        color: var(--color-emerald-green);
      }
    }
  }

  &__container {
    @include defaultDropShadow();
    border-radius: 0.25rem;
    background-color: var(--color-white);
  }

  &__addon,
  &__calendar {
    // border
    &::after {
      background-color: var(--color-black-8);
    }
  }

  &__header {
    // border
    &::after {
      background-color: var(--color-black-8);
    }

    &__nav .dnb-button {
      box-shadow: none;
    }
    &__title {
      text-transform: capitalize;
      text-align: center;

      font-size: var(--font-size-basis);
      color: var(--date-picker-header-color);
    }
  }

  &__labels {
    &__day {
      text-transform: capitalize;
      font-weight: var(--font-weight-medium);
      color: var(--date-picker-labels-day-color);
    }
  }

  &__day,
  &__labels__day {
    text-align: center;
  }

  &__day {
    &--today .dnb-button {
      font-weight: var(--font-weight-medium);
    }

    &--preview .dnb-button,
    &--inactive .dnb-button,
    &--within-selection:not(#{&}--start-date):not(#{&}--end-date)
      .dnb-button:not(:hover) {
      background-color: transparent;
    }

    &--preview:not(#{&}--inactive):not(#{&}--start-date):not(#{&}--end-date),
    &--within-selection:not(#{&}--inactive):not(#{&}--start-date):not(#{&}--end-date) {
      background-color: var(--date-picker-within-selection-bg-color);
    }

    &--start-date:not(#{&}--inactive),
    &--end-date:not(#{&}--inactive) {
      &::after {
        background-color: var(--date-picker-within-selection-bg-color);
      }
      .dnb-button {
        color: var(--date-picker-selected-color);
        background-color: var(--date-picker-selected-bg-color);
      }
    }
    &--start-date:not(#{&}--inactive):not(#{&}--preview),
    &--end-date:not(#{&}--inactive):not(#{&}--preview) {
      .dnb-button {
        &:hover {
          box-shadow: none;
        }
      }
    }

    html:not([data-whatintent='touch'])
      &--start-date#{&}--within-selection
      .dnb-button:hover:not([disabled]),
    html:not([data-whatintent='touch'])
      &--end-date#{&}--within-selection
      .dnb-button:hover:not([disabled]) {
      color: var(--date-picker-selected-color);
      background-color: var(--date-picker-selected-bg-color-hover);
    }

    &--disabled .dnb-button {
      text-decoration: line-through;
    }

    &--inactive .dnb-button {
      color: var(--date-picker-inactive-color);
    }

    &--inactive .dnb-button,
    &--disabled .dnb-button {
      &[disabled] {
        box-shadow: none;
      }
    }

    html:not([data-whatintent='touch']) &--inactive .dnb-button[disabled] {
      cursor: default;
    }
  }

  &__triangle::before {
    border: none;
    background-color: var(--color-white);
    @include defaultDropShadow();
  }

  /* stylelint-disable */
  &__status--error
    &:not(#{&}--opened)
    .dnb-input__shell:not([data-input-state='focus'])
    &__input,
  &__status--error
    &:not(#{&}--opened)
    .dnb-input__shell:not([data-input-state='focus'])
    &__input
    ~ &--separator {
    color: var(--color-fire-red);
  }
  /* stylelint-enable */
}
