/*
 * CSS Properties Carnegie
 *
 */

.eufemia-theme__carnegie,
:root {
  // Brand-prefixed typography
  --carnegie-font-family-heading: 'ArizonaFlare', var(--font-family-default);

  // Use DNB default for body text (from theme-ui), but override headings via mapping
  // (see theme-mapping.scss)

  // Primary colours (Carnegie)
  --carnegie-color-ocean-green: #00343e; // Ocean Green
  --carnegie-color-burgundy-red: #5c0022; // Burgundy Red

  // Secondary colours
  --carnegie-color-noir-green: #001114; // Noir Green
  --carnegie-color-sea-green: #007272; // Sea Green (secondary)
  --carnegie-color-noir-red: #24000d; // Noir Red
  --carnegie-color-sober-red: #8e4049; // Sober Red
  --carnegie-color-classic-beige: #f6eae4; // Classic Beige

  // Tertiary colours
  --carnegie-color-pale-green: #ccf0e7; // Pale Green
  --carnegie-color-pale-red: #ffdedb; // Pale Red
}
