/*
* Modal theme
*
*/

@import '@dnb/eufemia/src/style/core/utilities.scss';

.dnb-modal {
  &__overlay {
    --modal-overlay-bg: rgb(0 0 0 / 32%);
    background-color: var(--modal-overlay-bg);
  }
}
