/*
* Used for snapshot testing
*
*/

@use '../../../style/core/utilities.scss' as *;
@use '../../input/style/deps.scss' as *; // used in DatePickerInput
@use '../../button/style/deps.scss' as *; // used in DatePickerCalendar
@use '../../toggle-button/style/deps.scss' as *; // used in DatePickerAddon
@use '../../form-label/style/deps.scss' as *; // used in DatePicker
@use '../../form-status/style/deps.scss' as *; // used in DatePicker
@use './dnb-date-picker.scss';
