/*
* Autocomplete theme
*
*/

@import '../../../../style/themes/imports.scss';

@import '../../../../fragments/drawer-list/style/themes/dnb-drawer-list-theme-ui.scss';

:root {
  --autocomplete-text-color: var(--color-emerald-green);
  --autocomplete-text-color--disabled: var(--color-sea-green-alt-30);
  --autocomplete-border-color: var(--color-sea-green-alt);
  --autocomplete-border-color--selected: var(--color-emerald-green);
  --autocomplete-options-border-radius: 0.25rem;
  --autocomplete-option-color: var(--color-black-80);
  --autocomplete-option-color--hover: var(--color-sea-green);
  --autocomplete-option-background-color: var(--color-white);
  --autocomplete-option-background-color--hover: var(
    --color-mint-green-12
  );
  --autocomplete-option-color--selected: var(--color-white);
  --autocomplete-option-background-color--selected: var(
    --color-emerald-green
  );
  --autocomplete-option-border-width: 0.0625rem;
  --autocomplete-option-border-color: var(--color-mint-green-25);
}

@mixin autocompleteBorderColor($color) {
  @include fakeBorder($color, 0.125rem, null, true, !important);
}

.dnb-autocomplete {
  color: var(--autocomplete-text-color);

  &__list {
    @include defaultDropShadow();
    border-radius: var(--autocomplete-options-border-radius);
    background-color: var(--autocomplete-option-background-color);
  }

  // ul element
  &__options {
    border: none;
    background-color: var(--autocomplete-option-background-color);
    border-radius: var(--autocomplete-options-border-radius);
    &:focus {
      @include fakeFocus();
    }
  }

  // li element inner
  &__option {
    position: relative;
    color: var(--autocomplete-option-color);
    background-color: var(--autocomplete-option-background-color);

    // This is our border, instead of border-bottom: var(--autocomplete-option-border-width) solid
    &::before {
      pointer-events: none;

      content: '';
      position: absolute;
      z-index: 2;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      // width: 100%; // 100% width would result in no margin right
      height: var(--autocomplete-option-border-width);

      background-color: var(--autocomplete-option-border-color);
    }

    &__item:nth-of-type(1) {
      font-weight: var(--font-weight-medium);
    }

    &__inner {
      padding-right: 2rem;
      background-color: var(--autocomplete-option-background-color);
    }

    @include hover() {
      background-color: var(--autocomplete-option-background-color--hover);
      .dnb-autocomplete__option__inner {
        color: var(--autocomplete-option-color--hover);
        background-color: var(
          --autocomplete-option-background-color--hover
        );
      }
    }

    // Focus ring arround item. Only for keyboard usage
    &--focus {
      // we use the border/line and change it to a fake focus
      &::before {
        z-index: 3;

        top: var(--autocomplete-focus-border-width);
        left: var(--autocomplete-focus-border-width);
        right: var(--autocomplete-focus-border-width);
        bottom: var(--autocomplete-focus-border-width);

        height: auto;
        background-color: transparent;

        @include fakeBorder(
          var(--autocomplete-border-color--selected),
          var(--autocomplete-focus-border-width)
        );
      }
    }

    &--selected {
      color: var(--autocomplete-option-color--selected);
      background-color: var(
        --autocomplete-option-background-color--selected
      );
      .dnb-autocomplete__option__inner {
        color: inherit;
        background-color: inherit;
      }
      @include hover() {
        color: var(--autocomplete-option-color--selected);
        background-color: var(
          --autocomplete-option-background-color--selected
        );
        .dnb-autocomplete__option__inner {
          color: inherit;
          background-color: inherit;
        }
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: calc(50% - 0.5rem);
        right: 1rem;

        width: 1rem;
        height: 1rem;

        background-size: cover;

        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+ICA8cGF0aCAgICBmaWxsPSIjRTlGOEY0IiAgICBkPSJNMyA4LjhhLjc1Ljc1IDAgMSAwLTEuMjIuODZMMyA4Ljc5em0xLjg0IDMuOWwuNjMtLjQxdi0uMDFoLS4wMWwtLjYyLjQyem0xLjcxLjA1bC0uNTktLjQ2di4wMWwuNTkuNDV6bTguNDMtOS40NWEuNzUuNzUgMCAwIDAtMS4xOC0uOTNsMS4xOC45M3pNMS43OCA5LjY2bDIuNDUgMy40OCAxLjIzLS44N0wzIDguOGwtMS4yMy44N3ptMi40NCAzLjQ2Yy4zMi40OC44Ni43OCAxLjQ0LjhsLjA1LTEuNWEuMy4zIDAgMCAxLS4yNC0uMTNsLTEuMjUuODN6bTEuNDQuOGExLjggMS44IDAgMCAwIDEuNDktLjcxbC0xLjItLjlhLjMuMyAwIDAgMS0uMjQuMWwtLjA1IDEuNXptMS40OC0uN2w3Ljg0LTkuOTItMS4xOC0uOTMtNy44NCA5LjkyIDEuMTguOTN6Ii8+PC9zdmc+);
      }

      // Remvoe line on selected items
      &::before {
        content: none;
      }
    }

    // Focus ring arround item. Only for keyboard usage
    &--focus:not(#{&}--selected) {
      .dnb-autocomplete__option__inner {
        color: var(--autocomplete-option-color--hover);
        background-color: var(
          --autocomplete-option-background-color--hover
        );
      }
    }

    &:first-of-type,/* only for the vissual demo */
    &--focus:first-of-type &__inner,
    &--focus:first-of-type::before {
      border-radius: var(--autocomplete-options-border-radius)
        var(--autocomplete-options-border-radius) 0 0;
    }
    &.last-of-type,/* only for the vissual demo */
    &--focus.last-of-type &__inner ,
    &--focus.last-of-type::before {
      border-radius: 0 0 var(--autocomplete-options-border-radius)
        var(--autocomplete-options-border-radius);
    }
    // remove last bottom border
    &.last-of-type:not(#{&}--focus)::before {
      content: none;
    }
  }

  // make sure we have a spacing on the right side if we have a scrollbar
  &--scroll &__option:not(#{&}__option--focus)::before {
    left: 0.5rem;
    right: 0.5rem;
  }

  &--direction-bottom &__option--focus.closest-to-top &__option__inner {
    border-radius: var(--autocomplete-options-border-radius)
      var(--autocomplete-options-border-radius) 0 0;
  }
  &--direction-bottom &__option--focus.closest-to-bottom &__option__inner {
    border-radius: 0 0 var(--autocomplete-options-border-radius)
      var(--autocomplete-options-border-radius);
  }
  &--direction-top &__option--focus.closest-to-bottom &__option__inner {
    border-radius: 0 0 var(--autocomplete-options-border-radius)
      var(--autocomplete-options-border-radius);
  }
  &--direction-top &__option--focus.closest-to-top &__option__inner {
    border-radius: var(--autocomplete-options-border-radius)
      var(--autocomplete-options-border-radius) 0 0;
  }

  // button
  &__trigger {
    color: var(--autocomplete-text-color);
    @include hover() {
      color: var(--autocomplete-text-color);
    }
  }

  // error status
  &__status--error &__trigger .dnb-input__shell {
    box-shadow: none;
  }
  &__status--error:not(#{&}--opened) &__trigger {
    @include autocompleteBorderColor(var(--color-fire-red));
    @include hover() {
      @include autocompleteBorderColor(var(--color-fire-red));
      & .dnb-autocomplete__icon .dnb-icon {
        color: var(--color-fire-red);
      }
    }
  }
  &__status--error:not(#{&}--opened) &__trigger,
  &__status--error:not(#{&}--opened) &__icon {
    color: var(--color-fire-red);
  }

  &__triangle::before {
    border: none;
    background-color: var(--color-white);
    @include defaultDropShadow();
  }

  // hover
  &__option:first-of-type:hover ~ &__triangle::before,/* only for the vissual demo */
  &--direction-bottom &__option.closest-to-top:hover ~ &__triangle::before ,
  &--direction-top &__option.closest-to-bottom:hover ~ &__triangle::before {
    background-color: var(--autocomplete-option-background-color--hover);
  }

  // selected
  &--direction-bottom
    &__option.closest-to-top#{&}__option--selected
    ~ &__triangle::before,
  &--direction-bottom
    &__option.closest-to-top#{&}__option--focus
    ~ &__triangle::before,
  &--direction-top
    &__option.closest-to-bottom#{&}__option--selected
    ~ &__triangle::before,
  &--direction-top
    &__option.closest-to-bottom#{&}__option--focus
    ~ &__triangle::before {
    background-color: var(
      --autocomplete-option-background-color--selected
    );
  }

  // ajust the form-status to the inner border for 2px
  > .dnb-form-status {
    transform: translateY(-0.4375rem);
  }
}
