/*
* Autocomplete theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --autocomplete-text-color: var(--color-emerald-green);
  --autocomplete-border-color--selected: var(--color-emerald-green);
}

.dnb-autocomplete {
  color: var(--autocomplete-text-color);

  // input
  &__input.dnb-input {
    color: var(--autocomplete-text-color);
    // :hover {
    //   color: var(--autocomplete-text-color);
    // }
  }
  &--opened &__input.dnb-input .dnb-input__shell {
    box-shadow: none;
  }
  &--opened .dnb-input__submit-button__button {
    @include fakeBorder(
      var(--autocomplete-border-color--selected),
      $pixel2,
      // could be $pixel1,
      null
    );
  }
}

.dnb-drawer-list__option__item--highlight {
  font-weight: var(--font-weight-bold);
}
