/*
* Autocomplete theme
*
*/

@import '../../../../style/themes/imports.scss';

@import '../../../../fragments/drawer-list/style/themes/dnb-drawer-list-theme-ui.scss';

:root {
  --autocomplete-text-color: var(--color-emerald-green);
  --autocomplete-border-color--selected: var(--color-emerald-green);
}

@mixin autocompleteBorderColor($color) {
  @include fakeBorder($color, 0.125rem, null, true, !important);
}

.dnb-autocomplete {
  color: var(--autocomplete-text-color);

  // input
  &__input {
    color: var(--autocomplete-text-color);
    @include hover() {
      color: var(--autocomplete-text-color);
    }
  }
  &--opened &__input .dnb-input__shell {
    box-shadow: none;
  }
  &--opened .dnb-input__submit-button__button {
    @include fakeBorder(
      var(--autocomplete-border-color--selected),
      0.125rem,
      // could be 0.0625rem,
      null,
      true
    );
  }

  // error status
  &__status--error &__input .dnb-input__shell {
    box-shadow: none;
  }
  &__status--error:not(#{&}--opened) &__input {
    @include autocompleteBorderColor(var(--color-fire-red));
    @include hover() {
      @include autocompleteBorderColor(var(--color-fire-red));
      & .dnb-autocomplete__icon .dnb-icon {
        color: var(--color-fire-red);
      }
    }
  }
  &__status--error:not(#{&}--opened) &__input,
  &__status--error:not(#{&}--opened) &__icon {
    color: var(--color-fire-red);
  }

  // ajust the form-status to the inner border for 2px
  > .dnb-form-status {
    transform: translateY(-0.4375rem);
  }
}
