/*
* Used for snapshot testing
*
*/

@use '../../../style/core/utilities.scss' as *;
@use '../../icon/style/deps.scss' as *;
@use '../../button/style/deps.scss' as *;
@use '../../form-status/style/deps.scss' as *;
@use './dnb-upload.scss';
