/*
 * RangeSlider element
 *
 */

$labelWidth: percentage(1/3);

.dnb-range-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include allAbove(medium) {
    flex-direction: row;
  }

  &__label {
    font-size: var(--font-size-basis);

    @include allAbove(medium) {
      flex: 0 0 $labelWidth;
      padding: 0 1rem 0 0;
      text-align: right;
    }
  }
  &__label__inner {
    @include allAbove(large) {
      padding-left: 25%;
    }
  }

  &__slider {
    display: flex;
    align-items: flex-start;
  }

  &__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0.6rem 0;
    flex: 3;

    .dnb-slider {
      width: 100%;
    }
  }
  &__output-container {
    margin: 0 0 0 0.5rem;
    flex: 2;
  }
  &__input {
    margin: 0 0.25rem;
  }

  &__slider__modal {
    margin: 0.5rem 0 0 0.5rem;
  }
}
