/*
* ToggleButton component
*
*/

:root {
  --toggle-button-height: 2.5rem;
  --toggle-button-width: 100%;
  --toggle-button-border-width: 0.125rem;
}

.dnb-toggle-button {
  display: inline-flex;
  flex-direction: row;

  // width: auto;

  margin: 0;
  padding: 0;

  &__shell {
    position: relative;
    left: 0;
    user-select: none;
  }

  &__component {
    padding-right: 0.25rem;

    display: inline-flex;
    align-items: center;
  }

  &__button {
    padding-left: 1rem;
    padding-right: 1rem;

    .dnb-checkbox {
      margin-left: -0.25rem;
    }
    .dnb-radio {
      margin-left: -0.25rem;
    }

    // reset translateY
    .dnb-checkbox__shell,
    .dnb-radio__shell {
      transform: translateY(0);
    }
  }
  &__button.dnb-button--has-icon.dnb-button--icon-position-right {
    padding-right: 0.5rem;
  }
  &__button.dnb-button--has-icon.dnb-button--icon-position-left {
    padding-left: 0.5rem;
    .dnb-button__icon {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
  &__button.dnb-button--has-icon.dnb-button--icon-position-left
    > &__component {
    padding-left: 0.5rem;
    padding-right: 0;
  }

  &--checked &__button {
    background-color: var(--color-emerald-green);
    color: var(--color-mint-green);
  }

  // in case we don't define a wrapping group
  // and have a custom label component before the toggle-button (and not inside)
  :not(#{&}-group) > .dnb-form-label + & {
    vertical-align: top;
  }

  &-group {
    display: inline-flex;
    flex-direction: row;

    // defualt spacing
    .dnb-toggle-button {
      margin-right: 0.5rem;
    }
    // .dnb-toggle-button:last-of-type {
    //   margin-right: 0;
    // }
  }

  // status
  + .dnb-form-status,
  &-group &-group__shell > .dnb-form-status {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
