/*
* Checkbox component
*
*/

@import '../../../style/core/utilities.scss';
@import './themes/checkbox-color-scheme-mixin.scss';

:root {
  --checkbox-width--medium: 1.5rem;
  --checkbox-height--medium: 1.5rem;
}

.dnb-checkbox {
  --checkbox-width--large: 2rem;
  --checkbox-height--large: 2rem;
  --checkbox-border-width: 0.125rem;

  @include checkboxColorScheme();

  display: inline-flex;
  flex-direction: column;

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
  }

  &__shell {
    user-select: none; // Safari / Touch fix
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--checkbox-width--medium);
    height: var(--checkbox-height--medium);
  }

  &--large &__shell {
    width: var(--checkbox-width--large);
    height: var(--checkbox-height--large);
  }

  &__button {
    display: inline-block;

    border: var(--checkbox-border-width) solid transparent;
  }

  &__focus {
    display: none;

    @include focusRing();
  }

  &__focus,
  &__button {
    position: relative;
    z-index: 4;

    width: calc(var(--checkbox-width--medium) - 0.25rem);
    height: calc(var(--checkbox-height--medium) - 0.25rem);

    border-radius: 0.25rem;

    .dnb-checkbox--large & {
      width: var(--checkbox-width--large);
      height: var(--checkbox-height--large);

      border-radius: 0.25rem;
    }
  }

  &__gfx {
    position: absolute;
    z-index: 5;

    top: auto;
    left: auto;

    // width: var(--checkbox-width--medium); // old svg size
    // height: var(--checkbox-height--medium); // old svg size
    width: calc(var(--checkbox-width--medium) - 0.5rem);
    height: calc(var(--checkbox-height--medium) - 0.5rem);

    // fill: currentColor; // old svg fix
    shape-rendering: geometricprecision;
    transition:
      opacity 200ms ease-out,
      transform 200ms ease-out;
  }

  &--large {
    line-height: var(--checkbox-height--large);
  }

  &--large &__gfx {
    // width: var(--checkbox-width--large); // old svg size
    // height: var(--checkbox-height--large); // old svg size
    width: calc(var(--checkbox-width--large) - 0.5rem);
    height: calc(var(--checkbox-height--large) - 0.5rem);
  }

  &__input {
    opacity: 0;

    position: absolute;
    top: auto;
    left: auto;
    z-index: 6;

    width: var(--checkbox-width--medium);
    height: var(--checkbox-height--medium);

    margin: 0;
    padding: 0;

    border: 0;
  }

  &--large &__input {
    width: var(--checkbox-width--large);
    height: var(--checkbox-height--large);
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  .dnb-form-label {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
  }

  &__order {
    display: inline-flex;
    align-items: baseline;
  }

  &__suffix {
    order: 4;
  }

  &--label-position-left &__order {
    .dnb-checkbox__inner {
      order: 2;
    }

    .dnb-form-label {
      order: 1;
      padding-right: 0.5rem;
    }

    .dnb-form-status {
      order: 3;
      margin-top: 0.5rem;
    }
  }

  &--label-position-right &__order {
    .dnb-checkbox__inner {
      order: 1;
    }

    .dnb-form-label {
      order: 2;
      padding-left: 0.5rem;
    }

    & + .dnb-form-status {
      order: 3;

      // in case the status did not wrap, we want to have the status on the same line
      vertical-align: top;

      margin-top: 0.5rem;
    }
  }

  &.dnb-skeleton &__input[disabled] ~ &__button {
    &::before {
      border-radius: 0;
    }
    border-color: var(--skeleton-color);
  }

  /** Color scheme **/
  /* stylelint-disable no-descending-specificity */
  // We prioritise categorisation+readbility over specificity here

  /** Normal state **/

  // On
  &__input:checked ~ &__gfx,
  &__input[data-checked='true'] ~ &__gfx {
    opacity: 1;
    transform: scale(1);
    color: var(--checkbox-color-gfx-on);
  }
  &__input:checked ~ &__button,
  &__input[data-checked='true'] ~ &__button {
    background-color: var(--checkbox-color-background-on);
  }

  // Off
  &__input:not(:checked):not([data-checked='true']) ~ &__gfx {
    opacity: 0;
    transform: scale(0.8);
    // Needed during transition
    color: var(--checkbox-color-gfx-off);
  }
  &__input:not(:checked):not([data-checked='true']) ~ &__button {
    background-color: var(--checkbox-color-background-off);
    border-color: var(--checkbox-color-border-off);
  }

  /** Disabled state **/

  // On
  &__input[disabled]:checked ~ &__button,
  &__input[disabled][data-checked='true'] ~ &__button {
    border-color: var(--checkbox-color-border-on--disabled);
    background-color: var(--checkbox-color-background-on--disabled);
  }

  // Off
  &__input[disabled]:not(:checked):not([data-checked='true']) ~ &__button {
    border-color: var(--checkbox-color-border-off--disabled);
  }

  /** Active state **/

  // General
  &__input:not([disabled]):active ~ &__button {
    background-color: var(--checkbox-color-background--active);
    border-color: var(--checkbox-color-border--active);
  }

  // On
  &__input:not([disabled]):checked:active ~ &__gfx,
  &__input:not([disabled])[data-checked='true']:active ~ &__gfx {
    color: var(--checkbox-color-gfx-on);
  }

  /** Hover state **/

  // General
  &__input:not([disabled]):not(:focus):hover ~ &__button {
    background-color: var(--checkbox-color-background--hover);
  }
  &__input:not([disabled]):not(:focus):hover ~ &__gfx {
    color: var(--checkbox-color-gfx--hover);
  }

  // On
  &__input:not([disabled]):not(:focus):checked:hover ~ &__button,
  &__input:not([disabled]):not(:focus)[data-checked='true']:hover
    ~ &__button {
    border-color: var(--checkbox-color-border-on--hover);
  }

  /** Focus state **/

  // General
  &__input:not([disabled]):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      border: none;
      background-color: var(--checkbox-color-background--focus);
    }
  }
  &__input:not([disabled]):focus ~ &__gfx {
    html[data-whatinput='keyboard'] & {
      color: var(--checkbox-color-gfx--focus);
    }
  }
  &__input:not([disabled]):focus ~ &__button &__focus,
  &__input:not([disabled]):active ~ &__button &__focus {
    display: block;
  }

  /** Error state **/

  // General
  &__status--error &__input:not([disabled]):not(:active) ~ &__button {
    border: none;
  }
  &__status--error
    &__input:not([disabled]):not(:active)
    ~ &__button
    &__focus {
    display: block;
    @include fakeBorder(
      var(--checkbox-color-border--error),
      var(--focus-ring-width)
    );
  }
  &__status--error &__input:not([disabled]):hover ~ &__button {
    &[data-checked='true'] {
      // Needed during transition
      border-color: var(--checkbox-color-border--error);
    }
    background-color: var(--checkbox-color-background--error-contrast);
  }
  &__status--error &__input:not([disabled]):hover ~ &__gfx {
    color: var(--checkbox-color-gfx--error-contrast);
  }
  &__status--error
    &__input:not([disabled]):not(:active):not(:hover)
    ~ &__gfx {
    color: var(--checkbox-color-gfx--error);
  }
  &__status--error &__input:not([disabled]):focus ~ &__button,
  &__status--error &__input:not([disabled]):focus:hover ~ &__button {
    html[data-whatinput='keyboard'] & {
      border: none;
      background-color: var(--checkbox-color-background--error-contrast);
    }
  }
  &__status--error &__input:not([disabled]):focus:hover ~ &__gfx {
    html[data-whatinput='keyboard'] & {
      color: var(--checkbox-color-gfx--error-contrast);
    }
  }

  // On
  &__status--error
    &__input:not([disabled]):not(:active):not(:hover):checked
    ~ &__button,
  &__status--error
    &__input:not([disabled]):not(:active):not(:hover)[data-checked='true']
    ~ &__button {
    background-color: var(--checkbox-color-background-on--error);
  }
  /* stylelint-enable no-descending-specificity */
}
