/*
 * Dialog component
 *
 */

@import '../../modal/style/modal-mixins.scss';

:root {
  // we do this because SCSS fails by using min(100vw, 50rem) = "Incompatible units: 'rem' and 'vw'"
  --dialog-min-width: 320px; // use px, so larger font-size don't enlarge the min, has to be under 20rem, because of spacing and later mobile fullscreen
  --dialog-avg-width: 60vw; // content defines the size
  --dialog-max-width: 49rem; // because of our default width --layout-large
  --dialog-confirm-max-width: 40rem;
  --dialog-spacing: 2rem; // should reflect --spacing-large
  --dialog-spacing-minus: -2rem; // should reflect --spacing-large
}

.dnb-dialog {
  position: relative;
  border-radius: 0.5rem;
  @include defaultDropShadow();

  user-select: text;
  -webkit-user-select: text; // Safari / Touch fix
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  max-height: 100vh;
  overflow: hidden;
  .dnb-scroll-view {
    max-height: 90vh; // make it scrollable
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
  }

  &--information {
    width: var(--dialog-avg-width);
    min-width: var(--dialog-min-width);
    max-width: var(--dialog-max-width);
  }

  &--confirmation {
    max-width: var(--dialog-confirm-max-width);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &--auto-fullscreen {
    @include allBelow(small) {
      @include modalFullscreen();
      margin: auto 0;
    }
  }
  &--fullscreen {
    @include modalFullscreen();
    margin: auto 0;
  }
  &--spacing#{&}--information &__content {
    padding-bottom: calc(var(--dialog-spacing) * 2);
  }

  &--spacing#{&}--information &__inner {
    padding-left: calc(var(--dialog-spacing) * 1.75); // 3.5rem (56px)
    padding-right: calc(var(--dialog-spacing) * 1.75); // 3.5rem (56px)

    @include allBelow(large) {
      padding-left: calc(var(--dialog-spacing)); // 2rem (32px)
      padding-right: calc(var(--dialog-spacing)); // 2rem (32px)
    }

    @include allBelow(small) {
      padding-left: calc(var(--dialog-spacing) / 2); // 1rem (16px)
      padding-right: calc(var(--dialog-spacing) / 2); // 1rem (16px)
    }
  }

  &--spacing#{&}--information &__navigation.dnb-section {
    margin-top: calc(var(--dialog-spacing)); // 2rem (32px)
    margin-bottom: calc(var(--dialog-spacing) / 2); // 1rem (16px)

    @include allBelow(medium) {
      margin-top: calc(var(--dialog-spacing) / 2); // 1rem (16px)
    }
  }

  &--spacing#{&}--confirmation &__inner {
    padding: calc(var(--dialog-spacing)); // 2rem (32px)
  }

  &__align--centered &__inner {
    align-items: center;
    justify-content: center;
  }
  &__align--centered &__title,
  &__align--centered#{&}--confirmation &__content {
    text-align: center;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__actions {
    padding-top: 1.5rem;

    display: flex;
    justify-content: center;
    width: 100%;

    > :not(:last-child) {
      margin-right: 1rem;
    }
  }
  &--information &__actions {
    justify-content: left;
  }

  &__align--center &__content {
    align-items: center;
    text-align: center;
  }

  &__align--right &__content {
    align-items: flex-end;
    text-align: right;
  }

  &__title ~ &__content {
    padding-top: calc(var(--dialog-spacing) / 2);
  }

  &__title {
    @include allBelow(medium) {
      font-size: var(--font-size-large) !important;
      line-height: var(--line-height-medium) !important;
    }
    @include allBelow(small) {
      font-size: var(--font-size-medium) !important;
      line-height: calc(var(--line-height-medium) - 0.25rem) !important;
    }
  }

  &--information &__title {
    margin-bottom: var(--spacing-small) !important;
  }

  &--confirmation &__title {
    margin-bottom: var(--spacing-x-small) !important;
  }

  &__navigation.dnb-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  // Animation in
  html:not([data-visual-test]) & {
    animation: show-modal var(--modal-animation-duration) ease-out;
  }
  // Animation out
  html:not([data-visual-test]) &--hide {
    animation: hide-modal 220ms ease-in-out forwards;
  }

  &--no-animation {
    animation-duration: 0ms !important;
  }
  @include allBelow(small) {
    &--no-animation-on-mobile {
      animation-delay: 0ms !important;
      animation-duration: 0ms !important;
    }
  }

  &__body {
    padding-bottom: calc(var(--dialog-spacing) * 2);
    margin-bottom: calc(var(--dialog-spacing-minus) * 2);
  }

  &__header {
    &::after {
      top: -500%;
      height: 600%;
    }
  }

  &__header [class*='dnb-h--'],
  &__header .dnb-modal__title {
    padding: 0;
    &:not([class*='__top']) {
      margin-top: 0;
    }
    &:not([class*='__bottom']) {
      margin-bottom: 0;
    }
  }

  &--spacing &__header {
    .dnb-tabs {
      margin-top: 3.5rem;
    }
  }

  &__icon {
    display: flex;
  }
  &__icon ~ &__header {
    margin-top: 1.5rem;
  }

  // Fix for iOS on iPhone
  // Because Safari includes the navigation bar on the height
  @include IS_SAFARI_MOBILE() {
    @media (max-height: 40em) {
      .dnb-scroll-view {
        max-height: 82vh;
      }
    }
  }
}

[data-visual-test].hide-page-content #___gatsby {
  // NB: visibility: hidden; does not work here, because puppeteer does not find the selectors anymore
  opacity: 0;
}
