/*
 * FormLabel component
 *
 */

.dnb-form-label {
  display: inline-block;

  width: auto;
  padding: 0;
  margin-right: 1rem;
  text-align: left;

  font-size: var(--font-size-basis);

  &--vertical {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  &--sr-only {
    // could posssibly be 0, but has to be tested if sr still reads the text then
    width: 1px;
    margin-left: -1px; // because of 1px width
    overflow: hidden;
  }

  // Is not in use
  // &--vertical-label {
  // }

  vertical-align: baseline;
  color: inherit;

  &[for]:not([disabled]) {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
    cursor: pointer;
  }
  &[disabled] {
    cursor: not-allowed;
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    max-width: 60vw;
  }
}
legend.dnb-form-label {
  display: inline-block;
}
