/*
 * FormLabel component
 *
 */

.dnb-form-label {
  display: inline-block;

  width: auto;
  padding: 0;
  margin-right: 1rem;

  text-align: left;
  vertical-align: baseline;

  white-space: pre-wrap;
  word-break: normal;

  font-size: var(--font-size-basis);
  color: inherit;

  &--vertical {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  &--sr-only {
    // could posssibly be 0, but has to be tested if sr still reads the text then
    width: #{$pixel1};
    margin: 0;
    padding: 0;
    margin-left: -#{$pixel1}; // because of 1px width
    overflow: hidden;
    white-space: nowrap; // so we don't get a large height because of wrapping in norrow space
  }

  // Is not in use
  // &--vertical-label {
  // }

  &[for]:not([disabled]) {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
    cursor: pointer;
  }
  &[disabled] {
    cursor: not-allowed;
  }

  @include IS_IE {
    max-width: 60vw;
  }
}
legend.dnb-form-label {
  display: inline-block;
}
