/*
 * FormLabel component
 *
 */

.dnb-form-label {
  display: inline-block;

  width: auto;
  padding: 0;
  margin-right: 1rem;
  text-align: left;

  &--vertical {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  vertical-align: baseline;
  color: inherit;

  &[for]:not([disabled]) {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
    cursor: pointer;
  }
  &[disabled] {
    cursor: not-allowed;
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    max-width: 60vw;
  }
}
legend.dnb-form-label {
  display: inline-block;
}
