.dnb-popover {
  &--theme-light {
    --popover-text-color: var(--token-color-text-neutral);
    --popover-background-color: var(--token-color-background-neutral);
    --popover-outline-color: var(--token-color-stroke-neutral-subtle);
  }
  &--theme-dark {
    --popover-text-color: var(--token-color-text-neutral-inverse);
    --popover-background-color: var(--token-color-background-marketing);
    --popover-outline-color: rgb(0 0 0 / 10%);
  }
}
