.dnb-popover {
  &--theme-light {
    --popover-text-color: var(--color-black-80);
    --popover-background-color: var(--color-white);
    --popover-border-color: 1px solid var(--color-black-8);
  }
  &--theme-dark {
    --popover-color: var(--color-white);
    --popover-background-color: var(--color-black-80);
    --popover-border-color: 1px solid rgb(0 0 0 / 10%);
  }
}
