@import '../../Field/style/field-sizes.scss';

// Reset the fieldset
fieldset.dnb-forms-field-block {
  &:not([class*='space__top']) {
    margin-top: 0;
  }
  &:not([class*='space__right']) {
    margin-right: 0;
  }
  &:not([class*='space__bottom']) {
    margin-bottom: 0;
  }
  &:not([class*='space__left']) {
    margin-left: 0;
  }
  padding: 0;
  border: none;
}

.dnb-forms-field-block {
  &--layout {
    &-vertical {
      display: grid;
      grid-template-columns: auto;
      grid-template-areas:
        'label'
        'contents'
        'status';
    }
    &-horizontal {
      display: grid;
      grid-template-columns: var(--forms-field-width--medium) auto;
      grid-template-areas:
        'label contents'
        'status status';
    }
  }

  &--width {
    &-small {
      width: var(--forms-field-width--small);
    }
    &-medium {
      width: var(--forms-field-width--medium);
    }
    &-large {
      width: var(--forms-field-width--large);
    }
  }

  // Elements
  &__label {
    grid-area: label;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &__label-description {
    margin-left: 0.3em;
    color: var(--color-black-55);
    font-size: var(--font-size-small);
  }

  &__label-secondary {
    color: var(--color-black-55);
    font-size: var(--font-size-small);
  }

  &__status {
    grid-area: status;
  }

  &__contents {
    grid-area: contents;

    &--width {
      &-stretch {
        width: 100%;
      }
      &-small {
        width: var(--forms-field-width--small);
      }
      &-medium {
        width: var(--forms-field-width--medium);
      }
      &-large {
        width: var(--forms-field-width--large);
      }
    }
  }
}
