@import '../../variables.scss';

.dnb-forms-field-block {
  // Layout
  &--layout-vertical {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
      "label"
      "contents"
      "status";
  }

  &--layout-horizontal {
    display: grid;
    grid-template-columns: $forms-field-width-medium auto;
    grid-template-areas: 
      "label contents"
      "status status"; 
  }

  // Width
  &--width-small {
    width: $forms-field-width-small;
  }

  &--width-medium {
    width: $forms-field-width-medium;
  }

  &--width-large {
    width: $forms-field-width-large;
  }

  // Elements
  &__label {
    grid-area: label;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &__label-description {
    margin-left: 0.3em;
    color: var(--color-black-55);
    font-size: var(--font-size-small);
  }

  &__label-secondary {
    color: var(--color-black-55);
    font-size: var(--font-size-small);
  }

  &__status {
    grid-area: status;
  }

  &__contents {
    grid-area: contents;

    &--width-stretch {
      width: 100%;
    }

    &--width-small {
      width: $forms-field-width-small;
    }

    &--width-medium {
      width: $forms-field-width-medium;
    }

    &--width-large {
      width: $forms-field-width-large;
    }
    
  }
}
