/*
* Input component
*
* ======================================================================== */

:root {
  --input-font-family: var(--font-family-std);
  --input-font-size: 1rem;
  --input-font-size--medium: 1.5rem;
  --input-font-size--large: 2rem;
  --input-font-weight: normal;
  --input-font-style: normal;
  --input-padding-horizontal: 1rem;
  --input-padding-horizontal--large: 1.5rem;
  --input-padding-vertical: 0;
  --input-padding-vertical--large: 0;
  --input-height: 2rem;
  --input-height--medium: 2.5rem;
  --input-height--large: 3rem;
  --input-border-radius: calc(var(--input-height) / 2);
  --input-border-radius--medium: calc(var(--input-height--medium) / 2);
  --input-border-radius--large: calc(var(--input-height--large) / 2);
  --input-border-width: 1px;
  --input-border-color: var(--color-sea-green-alt);
  --input-border-color--disabled: var(--color-sea-green-alt-30);
}

.dnb-form-row {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .dnb-form-label {
    margin-right: 1rem;
  }
}

.dnb-input {
  display: inline-flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;

  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  font-style: var(--input-font-style);
  line-height: var(--input-height);
  color: inherit;

  &__input {
    outline: none;
    border: none;
  }

  &__input[disabled] {
    user-select: none;
  }

  &__shell {
    position: relative;

    flex: 1;
    display: flex;

    width: 100%;
    height: 100%;
    margin: 0;

    align-items: center;
  }

  &__shell,
  &__input {
    height: var(--input-height);
    border-radius: var(--input-border-radius);
  }

  &__description,
  &__placeholder,
  &__input {
    color: inherit;
    background-color: transparent;
  }

  &__placeholder,
  &__input {
    width: 100%;
    // height: calc(var(--input-height) - var(--button-border-width) * 2);
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);

    // +1px because of the border width
    transform: translateY(var(--button-border-width));
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;

    height: 100%;
    padding: 0 var(--input-padding-horizontal);

    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
  }

  &__description {
    padding-left: 0.5em;
  }

  &__extra-information {
    flex: 1 100%;

    padding: 0.5em 1.5em;

    font-size: 0.75em; // 12px
    line-height: 1.25rem;
  }

  &--medium {
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--medium);
      border-radius: var(--input-border-radius--medium);
    }

    .dnb-input__description,
    .dnb-input__placeholder,
    .dnb-input__input {
      font-size: var(--input-font-size--medium);
    }

    .dnb-input__placeholder {
      line-height: var(--input-height--medium);
    }

    .dnb-input__input {
      padding: var(--input-padding-vertical--medium)
        var(--input-padding-horizontal--medium);
    }
  }
  &--large {
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--large);
      border-radius: var(--input-border-radius--large);
    }

    .dnb-input__description,
    .dnb-input__placeholder,
    .dnb-input__input {
      font-size: var(--input-font-size--large);
    }

    .dnb-input__placeholder {
      line-height: var(--input-height--large);
    }

    .dnb-input__input {
      padding: var(--input-padding-vertical--large)
        var(--input-padding-horizontal--large);
    }
  }

  &__align--right &__placeholder,
  &__align--right &__input {
    padding-right: var(--input-padding-horizontal);
    text-align: right;
  }

  // &__input--search {
  // }
  &__search-submit {
    transform: translateX(var(--button-border-width));
  }

  // Hide placeholder when: 1. input has content or 2: input is in focus
  &__shell[data-has-content='true'] .dnb-input__placeholder,
  &__shell[data-input-state='focus'] .dnb-input__placeholder {
    display: none;
  }
}

// The input[type='range'] is moved into the slider component style
// @import '../../slider/style/_range.scss';

// Additional resets
// legend {
//   padding: 0;
//   display: table;
//   width: 100%;
// }
// fieldset {
//   border: 0;
//   padding: 0.01em 0 0 0;
//   margin: 0;
//   min-width: 0;
// }
// body:not(:-moz-handler-blocked) fieldset {
//   display: table-cell;
// }
