/*
* Input component
*
*/

:root {
  --input-font-size: var(--font-size-basis);
  --input-font-size--small: var(--font-size-basis);
  --input-font-size--medium: var(--font-size-basis);
  --input-font-size--large: var(--font-size-medium);
  --input-padding: 1rem;
  --input-padding--small: 1rem;
  --input-padding--medium: 1rem;
  --input-padding--large: 1rem;
  --input-height: 2rem;
  --input-height--small: 1.5rem;
  --input-height--medium: 2.5rem;
  --input-height--large: 3rem;
  --input-border-width: 0.0625rem;
  --input-border-radius: calc(var(--input-height) / 2);
  --input-border-radius--small: calc(var(--input-height--small) / 2);
  --input-border-radius--medium: calc(var(--input-height--medium) / 2);
  --input-border-radius--large: calc(var(--input-height--large) / 2);
}

.dnb-input {
  display: inline-flex;
  align-items: center;

  font-size: var(--input-font-small);
  line-height: var(--input-height);
  text-align: left;

  &__inner {
    display: inline-flex;
    flex-direction: column;

    width: auto;
  }

  &__shell {
    position: relative;

    display: flex;
    align-items: center;

    border: var(--input-border-width) solid var(--color-sea-green);
  }

  &__input {
    border: none;
    outline: none;
    word-break: normal;

    position: relative;
    z-index: 2; // to make sure we are over the placeholder
  }

  input#{&}__input {
    // because we inherit the size on the input (reset.css)
    font-size: var(--input-font-size);
    line-height: var(
      --font-size-basis
    ); // same as font-size - Desktop Safari fix
  }

  &__input[disabled] {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
    opacity: 1; // iOS fix
  }

  &__shell,
  &__input {
    height: var(--input-height);
    border-radius: var(--input-border-radius);
  }

  &__placeholder,
  &__input {
    width: 100%; // to get overflow working properly
    padding-left: var(--input-padding);
    padding-right: var(
      --input-padding
    ); // we may expand things because of the ellipsis

    text-align: inherit;

    color: inherit;
    background-color: transparent;

    // because we inherit the size on the input (reset.css)
    font-size: var(--input-font-size);
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;

    // NB: We may considder moving this part to include &__input
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // centering type="file" - here we can actually keep it as pixels
  input#{&}__input[type='file'] {
    line-height: calc(var(--input-height) - 2px);
  }

  // hide the clear button on input type="search"
  &__input::-webkit-search-cancel-button {
    display: none;
  }
  &__input::-ms-clear {
    display: none;
  }

  // change file type apperance on type="file"
  ::-webkit-file-upload-button {
    cursor: pointer;
    outline: none;
    color: var(--color-sea-green);
    &:active,
    &:hover {
      color: var(--color-emerald-green);
    }
  }

  &--has-submit-element &__placeholder,
  &--has-submit-element &__input {
    padding-right: calc(var(--input-padding) * 2.5);
  }
  // Because of password managers
  &--password &__placeholder,
  &--password &__input {
    margin-right: 2.5rem;
    padding-right: 0;

    &::-ms-clear {
      display: none;
    }
  }
  &--password &__placeholder {
    padding-right: 4rem;
  }
  &--password &__input {
    font-family: var(--font-family-monospace);
  }

  &__row {
    display: inline-flex;
    align-items: center; // Safari gets wired if we use "baseline"
  }

  &__suffix {
    color: inherit;
    padding-left: 0.5rem;
    line-height: var(--line-height-basis);
  }

  &__submit-element {
    margin-left: calc(1px - 1px - var(--input-height));
    line-height: var(--line-height-basis);
  }

  &__submit-button {
    position: relative;
    z-index: 2; // over placeholder

    // place the button vertically
    align-self: center; /* IE needs this to stay centered */

    &__button {
      border-radius: 50%;
    }
  }

  &--small {
    line-height: var(--input-height--small);
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--small);
      border-radius: var(--input-border-radius--small);
    }
    .dnb-input__placeholder,
    .dnb-input__input {
      padding-left: var(--input-padding--small);
      padding-right: var(--input-padding--small);
      font-size: var(--input-font-size--small);
    }
    .dnb-input__submit-element {
      margin-left: calc(1px - 1px - var(--input-height--small));
      .dnb-button {
        width: var(--input-height--small);
        height: var(--input-height--small);
        line-height: var(--input-height--small);
      }
    }
  }
  &--small#{&}--has-submit-element &__placeholder,
  &--small#{&}--has-submit-element &__input {
    padding-right: calc(var(--input-padding--small) * 3);
  }

  &--medium {
    line-height: var(--input-height--medium);
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--medium);
      border-radius: var(--input-border-radius--medium);
    }
    .dnb-input__placeholder,
    .dnb-input__input {
      padding-left: var(--input-padding--medium);
      padding-right: var(--input-padding--medium);
      font-size: var(--input-font-size--medium);
    }
    .dnb-input__submit-element {
      margin-left: calc(1px - 1px - var(--input-height--medium));
      .dnb-button {
        width: var(--input-height--medium);
        height: var(--input-height--medium);
        line-height: var(--input-height--medium);
      }
    }
  }
  &--medium#{&}--has-submit-element &__placeholder,
  &--medium#{&}--has-submit-element &__input {
    padding-right: calc(var(--input-padding--medium) * 3);
  }

  &--large {
    line-height: var(--input-height--large);
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--large);
      border-radius: var(--input-border-radius--large);
    }
    .dnb-input__placeholder,
    .dnb-input__input {
      padding-left: var(--input-padding--large);
      padding-right: var(--input-padding--large);
      font-size: var(--input-font-size--large);
    }
    .dnb-input__submit-element {
      margin-left: calc(1px - 1px - var(--input-height--large));
      .dnb-button {
        width: var(--input-height--large);
        height: var(--input-height--large);

        // NB: before we used to scale the icon additioanlly
        // .dnb-button__icon {
        //   transform: scale(1.33333);
        // }
      }
    }
  }
  &--large#{&}--has-submit-element &__placeholder,
  &--large#{&}--has-submit-element &__input {
    padding-right: calc(var(--input-padding--large) * 3.5);
  }

  &__align--center &__placeholder,
  &__align--center &__input {
    text-align: center;
  }
  &__align--right &__placeholder,
  &__align--right &__input {
    text-align: right;
  }

  // no special style for search
  // &__input--search {
  // }

  &__inner > .dnb-form-status {
    order: 2;
    margin-top: 0.5rem;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // make the input full width
  &--stretch {
    display: flex;
  }
  &--stretch & {
    &__inner {
      flex-grow: 1;
    }
    &__shell {
      width: 100%;
    }
  }
  &--vertical#{&}--stretch &__inner {
    width: 100%;
  }

  // Icon
  &__icon {
    order: 0;
    position: absolute;
    left: 1rem;
    right: auto;

    // IE fix
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &--icon-position-right &__icon {
    order: 1;
    left: auto;
    right: 1rem;
  }
  &--icon-position-left#{&}--has-icon &__input,
  &--icon-position-left#{&}--has-icon &__placeholder {
    padding-left: 2.5rem;
  }
  &--icon-position-right#{&}--has-icon &__input,
  &--icon-position-right#{&}--has-icon &__placeholder {
    padding-right: 2.5rem;
  }
  &--medium#{&}--icon-position-left#{&}--has-icon &__input,
  &--medium#{&}--icon-position-left#{&}--has-icon &__placeholder {
    padding-left: 2.5rem;
  }
  &--large#{&}--icon-position-left#{&}--has-icon &__input,
  &--large#{&}--icon-position-left#{&}--has-icon &__placeholder {
    padding-left: 3rem;
  }
  &--large#{&}--icon-position-right#{&}--has-icon &__input,
  &--large#{&}--icon-position-right#{&}--has-icon &__placeholder {
    padding-right: 3rem;
  }

  > .dnb-form-label {
    line-height: var(--line-height-basis);
  }
  @include formLabelWrap();

  &[class*='__status'] {
    align-items: flex-start;

    & > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }

  .dnb-responsive-component & {
    @media screen and (max-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 0.5rem;

      // helps to stay in alignment with suffix
      &__row {
        align-items: flex-start;
      }

      & > .dnb-form-label {
        margin-bottom: 0.5rem;
      }
    }
  }

  @include IS_IE {
    vertical-align: baseline;
    .dnb-form-row--horizontal &,
    &:not(#{&}--stretch) {
      flex: none;
    }
    &__inner {
      width: 100%; // fix overflow on parent
    }

    &__input,
    &__placeholder {
      // vertical alignment
      transform: translateY(-0.0625rem);
    }
  }
}
