/*
* Forms and inputs
* ======================================================================== */

$input-height: 2.2rem;
$input-line-height: 1.25;
$input-border-width: 1px;
$input-padding-vertical: 1rem;
$input-padding-horizontal: 1rem;
$input-border-radius: 2rem;

$input-height-l: 3rem;
$input-border-radius-l: 2rem;
$input-padding-vertical-l: 1.5rem;
$input-padding-horizontal-l: 1.5rem;
$input-border-radius-l: 3rem;

$input-background-color: #f5fafa;
$input-border-color: #bedbdb;
$input-focus-blur-color: #9ecaed;

// reset
// legend {
//   padding: 0;
//   display: table;
//   width: 100%;
// }
// fieldset {
//   border: 0;
//   padding: 0.01em 0 0 0;
//   margin: 0;
//   min-width: 0;
// }
// body:not(:-moz-handler-blocked) fieldset {
//   display: table-cell;
// }
