/*
* Input component
*
*/

:root {
  --input-font-size: 1rem;
  --input-font-size--medium: 1.5rem;
  --input-font-size--large: 2rem;
  --input-padding: 0 1rem;
  --input-padding--medium: 0 1rem;
  --input-padding--large: 0 1.5rem;
  --input-height: 2rem;
  --input-height--medium: 2.5rem;
  --input-height--large: 3rem;
  --input-border-width: 0.0625rem;
  --input-border-radius: calc(var(--input-height) / 2);
  --input-border-radius--medium: calc(var(--input-height--medium) / 2);
  --input-border-radius--large: calc(var(--input-height--large) / 2);
}

.dnb-input {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  vertical-align: middle;

  width: auto;

  font-size: var(--input-font-size);

  &__shell {
    position: relative;

    display: flex;
    align-items: center;
    overflow: hidden;

    border: var(--input-border-width) solid var(--color-sea-green-alt);
  }
  label + &[class*='__form-status'] {
    vertical-align: baseline;
  }

  &__input {
    border: none;
    outline: none;
    word-break: normal;
  }

  &__input[disabled] {
    user-select: none;
  }

  &__shell,
  &__input {
    height: var(--input-height);
    border-radius: var(--input-border-radius);
  }

  &__placeholder,
  &__input {
    width: 100%; // to get overflow working properly
    padding: var(--input-padding);

    text-align: left;

    color: inherit;
    font-size: inherit;
    line-height: 1em; // because when ::selected is kikking in
    background-color: transparent;

    // because of vertical centering
    transform: translateY(var(--input-border-width));
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    left: 0;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--has-submit-button &__placeholder,
  &--has-submit-button &__input {
    padding-right: 2rem;
    margin-right: -1rem; // to avoid that the total width gets wider
  }

  &__description {
    color: inherit;
    padding-left: 0.5rem;
  }

  &--medium {
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--medium);
      border-radius: var(--input-border-radius--medium);
    }
    .dnb-input__placeholder,
    .dnb-input__input {
      padding: var(--input-padding--medium);
      font-size: var(--input-font-size--medium);
    }
  }
  &--large {
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--large);
      border-radius: var(--input-border-radius--large);
    }
    .dnb-input__placeholder,
    .dnb-input__input {
      padding: var(--input-padding--large);
      font-size: var(--input-font-size--large);
    }
  }

  &__align--right &__placeholder,
  &__align--right &__input {
    text-align: right;
  }

  // Hide placeholder when: 1. input has content or 2: input is in focus
  &__shell[data-has-content='true'] .dnb-input__placeholder,
  &__shell[data-has-content='true'][data-input-state='focus']
    .dnb-input__placeholder {
    display: none;
  }

  &__submit-button {
    position: relative;
    z-index: 2; // over placeholder

    // place the button
    align-self: flex-end;
    margin-top: -2rem;
  }
  // no special style for search
  // &__input--search {
  // }

  > .dnb-form-status {
    margin-top: 0.5rem;
  }
}
