/*
* Input component
*
*/

:root {
  --input-font-size: 1rem;
  --input-font-size--medium: 1.5rem;
  --input-font-size--large: 2rem;
  --input-padding: 1rem;
  --input-padding--medium: 1.5rem;
  --input-padding--large: 2rem;
  --input-height: 2rem;
  --input-height--medium: 3rem;
  --input-height--large: 4rem;
  --input-border-width: 0.0625rem;
  --input-border-radius: calc(var(--input-height) / 2);
  --input-border-radius--medium: calc(var(--input-height--medium) / 2);
  --input-border-radius--large: calc(var(--input-height--large) / 2);
}

.dnb-input {
  display: inline-flex;
  align-items: center;

  &__inner {
    display: inline-flex;
    flex-direction: column;

    width: auto;

    font-size: var(--input-font-size);
  }

  &__shell {
    position: relative;

    display: flex;
    align-items: center;
    overflow: hidden;

    border: var(--input-border-width) solid var(--color-sea-green-alt);

    line-height: var(--input-height);
  }

  &__input {
    border: none;
    outline: none;
    word-break: normal;
  }

  &__input[disabled] {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
    opacity: 1; // iOS fix
  }

  &__shell,
  &__input {
    height: var(--input-height);
    border-radius: var(--input-border-radius);
  }

  &__placeholder,
  &__input {
    width: 100%; // to get overflow working properly
    padding-left: var(--input-padding);
    padding-right: var(--input-padding);

    text-align: left;

    color: inherit;
    font-size: inherit;
    background-color: transparent;

    @include numberFeature(lining-nums, lnum);
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    line-height: inherit;
  }

  // hide the clear button on input type="search"
  &__input::-webkit-search-cancel-button {
    display: none;
  }
  &__input::-ms-clear {
    display: none;
  }

  // vertical alignment
  [data-os='mac'] &__placeholder,
  [data-os='mac'] &__input {
    transform: translateY(0.0625rem);
  }

  // to make Safari selection not appear all to the top
  .dnb-core-style &__input {
    line-height: 1em;
  }

  &--has-submit-button &__placeholder,
  &--has-submit-button &__input {
    padding-right: calc(var(--input-padding) * 2.5);
  }

  &__row {
    display: inline-flex;
    align-items: center; // Safari gets wired if we use "baseline"
  }

  &__description {
    color: inherit;
    padding-left: 0.5rem;
  }

  &__submit-button {
    position: relative;
    z-index: 2; // over placeholder

    // place the button vertically
    align-self: center; /* IE needs this to stay centered */

    margin-left: calc(1px - 1px - var(--input-height));

    &__button {
      border-radius: 50%;
    }
  }

  &--medium {
    .dnb-input__shell {
      line-height: var(--input-height--medium);
    }
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--medium);
      border-radius: var(--input-border-radius--medium);
    }
    .dnb-input__placeholder,
    .dnb-input__input {
      padding-left: var(--input-padding--medium);
      padding-right: var(--input-padding--medium);
      font-size: var(--input-font-size--medium);
    }
    .dnb-input__submit-button {
      margin-left: calc(1px - 1px - var(--input-height--medium));
      &__button {
        width: var(--input-height--medium);
        height: var(--input-height--medium);
      }
    }
  }
  &--medium#{&}--has-submit-button &__placeholder,
  &--medium#{&}--has-submit-button &__input {
    padding-right: calc(var(--input-padding--medium) * 2.5);
  }

  &--large {
    .dnb-input__shell {
      line-height: var(--input-height--large);
    }
    .dnb-input__shell,
    .dnb-input__input {
      height: var(--input-height--large);
      border-radius: var(--input-border-radius--large);
    }
    .dnb-input__placeholder,
    .dnb-input__input {
      padding-left: var(--input-padding--large);
      padding-right: var(--input-padding--large);
      font-size: var(--input-font-size--large);
    }
    .dnb-input__submit-button {
      margin-left: calc(1px - 1px - var(--input-height--large));
      &__button {
        width: var(--input-height--large);
        height: var(--input-height--large);
        .dnb-button__icon {
          transform: scale(1.33333);
        }
      }
    }
  }
  &--large#{&}--has-submit-button &__placeholder,
  &--large#{&}--has-submit-button &__input {
    padding-right: calc(var(--input-padding--large) * 2.5);
  }

  &__align--center &__placeholder,
  &__align--center &__input {
    text-align: center;
  }
  &__align--right &__placeholder,
  &__align--right &__input {
    text-align: right;
  }

  // Hide placeholder when: 1. input has content or 2: input is in focus
  &__shell[data-has-content='true'] .dnb-input__placeholder,
  &__shell[data-has-content='true'][data-input-state='focus']
    .dnb-input__placeholder {
    display: none;
  }

  // no special style for search
  // &__input--search {
  // }

  &__inner > .dnb-form-status {
    order: 2;
    margin-top: 0.5rem;
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-start;
  }

  // make the input full width
  &--stretch {
    display: flex;
  }
  &--stretch & {
    &__inner {
      flex-grow: 1;
    }
    &__shell {
      width: 100%;
    }
  }
  &--vertical#{&}--stretch &__inner {
    width: 100%;
  }

  &[class*='__status'] {
    align-items: flex-start;
    > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }

  @media (max-width: 40em) {
    flex-direction: column;
    align-items: flex-start;
    > .dnb-form-label {
      margin-bottom: 0.5rem;
    }
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    vertical-align: baseline;
    .dnb-form-row--horizontal &,
    &:not(#{&}--stretch) {
      flex: none;
    }
    &__inner {
      width: 100%; // fix overflow on parent
    }
    &__input,
    &__placeholder {
      transform: translateY(-0.0625rem);
    }
  }
}
