/*
 * No theme is provided
 *
 */

.dnb-help-button-content {
  --help-button-content-color: var(--sb-color-text);
  --help-button-content-background: var(--sb-color-green);
  --help-button-content-border-radius: 0;
}
