@import '../data-inputs.scss';

.dnb-forms-data-input-postal-code-and-city {
  &__fields {
    display: flex;
    flex-flow: row;
    column-gap: var(--spacing-small);
  }

  &--width-medium {
    width: $forms-data-input-width-medium;
  }

  &--width-large {
    width: $forms-data-input-width-large;
  }

  &__postal-code {
    flex: 0 5rem;
  }

  &__city {
    flex: 1;
  }
}
