/*
 * LineTitle element
 *
 */

$large-title-width: (1/3 * 100%);
$large-right-padding: (100 - $large-title-width);

.dnb-line-title {
  color: var(--color-sea-green);
  position: relative;
  text-align: center;

  @include allAbove(medium) {
    text-align: right;
    padding-left: 1rem;
    padding-right: calc(#{$large-right-padding} - 1rem);
  }

  &__title {
    display: inline;
    position: relative;
    z-index: 1;

    font-size: var(--font-size-large);
    line-height: var(--line-height-medium);
  }

  &__mask {
    position: absolute;
    z-index: 1;
    top: -0.5rem;
    left: -0.5rem;

    width: calc(100% + 1rem);
    height: calc(100% + 1rem);

    background-color: var(--color-white); // so we overlay the line
  }

  &__text {
    display: inline;
    position: relative;
    z-index: 2;
  }

  &--small {
    &__title {
      font-size: var(--font-size-small);
    }
  }
}

.dnb-line-title__line {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 1px;

  background: var(--color-summer-green);
}
