/*
 * LineTitle element
 *
 * ========================================================================== */

$large-title-width: (1/3 * 100%);
$large-right-padding: (100 - $large-title-width);

.dnb-line-title {
  color: $color-sea-green;
  position: relative;
  text-align: center;

  @include allAbove(medium) {
    text-align: right;
    padding-left: 1rem;
    padding-right: calc(#{$large-right-padding} - 1rem);
  }

  &__title {
    font-size: $font-size-xx-large;
    line-height: 2rem;
    position: relative;
    z-index: 1;
    display: inline;
  }

  &__mask {
    position: absolute;
    background-color: white; // so we overlay the line
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
    top: -0.5rem;
    left: -0.5rem;
    z-index: 1;
  }

  &__text {
    position: relative;
    z-index: 2;
    display: inline;
  }

  &--small {
    &__title {
      font-size: $font-size-medium;
    }
  }
}

.dnb-line-title__line {
  width: 100%;
  height: 1px;
  background: $color-summer-green;
  position: absolute;
  top: 50%;
  left: 0;
}
