.dnb-forms-field-phone-number {
  &__country-code {
    width: calc(var(--forms-field-width--medium) - 2rem);

    .dnb-autocomplete__shell {
      width: calc(var(--forms-field-width--medium) - 2rem);
    }
  }

  &__number {
    flex: 1;
  }

  .dnb-form-label {
    max-width: 14ch;
  }
}
