@import '../../style/field-sizes.scss';

.dnb-forms-field-phone-number {
  &__country-code {
    width: 9rem;

    .dnb-autocomplete__shell {
      width: 9rem;
    }
  }

  &__number {
    flex: 1;
  }
}
