/*
 * Pagination component
 *
 */

.dnb-pagination {
  display: flex;
  flex-direction: column-reverse; // because of screen readers

  &__bar,
  &__loadbar,
  &__bar__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &--left &__bar {
    justify-content: flex-start;
  }
  &--center &__bar {
    justify-content: center;
    @media screen and (max-width: 40em) {
      justify-content: flex-start;
    }
  }
  &--right &__bar {
    justify-content: flex-end;
  }

  &__bar__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; // because of screen readers
  }
  &--center &__bar__wrapper {
    align-items: center;
  }
  &--right &__bar__wrapper {
    align-items: flex-end;
  }

  &__bar__inner {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &__loadbar {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__indicator {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__dots {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    height: 1rem;
    width: 1.25rem;

    border: none;
    box-shadow: none;

    & > div {
      height: 3px;
      width: 3px;

      margin: 0 0.1rem;

      border-radius: 1.5px;
    }
  }

  // used by the infinity scroller
  &__marker {
    pointer-events: none;
    position: relative; // because of the marker

    height: 1px;
    width: 1px;
    margin: -1px 0 0 -1px;
    overflow: hidden;

    td,
    &__inner {
      padding: 0 !important; // because if it is used in table

      width: 1px;
      height: 1px;

      opacity: 0;
    }
  }

  &__prev {
    margin-right: 1.5rem;
  }
  &__bar__inner &__button {
    margin-right: 0.5rem;
  }
  &__bar__skip .dnb-button:first-of-type {
    margin-right: 1.5rem;
  }

  &__button.dnb-button,
  &__dots {
    margin-right: 0.5rem;
    margin-top: 0.5rem; // because of wrapping
    margin-bottom: 0.5rem; // because of wrapping

    &:last-child {
      margin-right: 0;
    }
  }
}
