/*
* Used for snapshot testing
*
*/

@use '../../../style/core/utilities.scss' as *;
@use '../../button/style/deps.scss' as *;
@use '../../progress-indicator/style/deps.scss' as *;
@use './dnb-pagination.scss';
