/*
* Accordion theme
*
*/

@import '../../../../style/core/utilities.scss';

@mixin accordion-hover() {
  @include hover() {
    color: var(--color-emerald-green);
    background-color: var(--color-white);

    @include fakeBorder(var(--color-emerald-green), 0.125rem /*2px*/);
  }
}
@mixin accordion-hover-clear() {
  @include hover() {
    color: var(--color-white);
    background-color: var(--color-sea-green);
    @include fakeBorder(var(--color-sea-green));
    * {
      color: var(--color-white);
    }
  }
}

@mixin accordion-active() {
  @include active() {
    color: var(--color-emerald-green);
    background-color: var(--color-pistachio);

    @include fakeBorder(var(--color-emerald-green), 0.0625rem, inset);
  }
}

@mixin accordion-focus() {
  @include focus() {
    html[data-whatinput='keyboard'] & {
      color: var(--color-emerald-green);
      background-color: var(--color-white);
    }

    @include focusRing($inset: inset);
  }
}

@mixin accordion-focus-expanded() {
  &:focus {
    html[data-whatinput='keyboard'] & {
      background-color: var(--color-mint-green);

      color: var(--color-emerald-green);
    }
    @include focusRing(null, var(--color-emerald-green), inset);
  }
}

.dnb-accordion {
  --accordion-icon-color: var(--color-emerald-green);

  &__header {
    border: none;
  }
  &__header__icon,
  &__header__container {
    color: var(--accordion-icon-color);
  }

  &__header__description {
    color: var(--color-black-55);
  }

  &--expanded > &__header &__header__title {
    font-weight: var(--font-weight-medium);
  }

  // Variant: outlined
  &__variant--outlined {
    --accordion-icon-color: inherit;
  }

  &__variant--outlined > &__header {
    color: var(--color-emerald-green);
    background-color: var(--color-white);

    @include fakeBorder(var(--color-black-8), 0.0625rem, inset);
    @include accordion-focus();
    @include accordion-hover();

    @include accordion-active();

    &[disabled] {
      background-color: var(--color-white);

      @include fakeBorder(var(--color-sea-green-30), 0.0625rem);

      color: var(--color-sea-green-30);
    }
  }

  &__variant--outlined#{&}--expanded > &__header {
    color: var(--color-white);
    background-color: var(--color-sea-green);

    @include fakeBorder(transparent);

    &[disabled] {
      background-color: var(--color-sea-green-30);
    }

    &:not([disabled]) {
      // Additional focus handling
      &:not(:active):not(:hover) {
        @include accordion-focus-expanded();
      }
    }

    &--after-click,
    &:not(:hover):not(:active) {
      &:not([disabled]) {
        .dnb-accordion__header__description {
          color: inherit;
        }
      }
    }

    // we have this hover variant, because of the default html focus/hover handling
    &--after-click:not(:active) {
      @include accordion-hover-clear();
    }
  }
}
