/*
* Accordion theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-accordion {
  &__header {
    // Color
    --accordion-color: var(--accordion-color--default);
    --accordion-color--default: var(--color-emerald-green);
    --accordion-color--expanded: var(--color-white);
    --accordion-color--hover: var(--accordion-color--default);

    // Background
    --accordion-background: var(--accordion-background--default);
    --accordion-background--default: var(--color-white);
    --accordion-background--expanded: var(--color-sea-green);
    --accordion-background--hover: var(--accordion-background--default);
    --accordion-background--active: var(--color-pistachio);
    --accordion-background--focus: var(--color-white);
    --accordion-background--focus--expanded: var(--color-mint-green);

    // Border
    --accordion-border-color: var(--color-black-8);
    --accordion-border-color--hover: var(--color-emerald-green);

    // Disabled
    --accordion-disabled-color: var(--color-sea-green-30);
    --accordion-disabled-color--expanded: var(--color-white);
    --accordion-disabled-background: var(--color-white);
    --accordion-disabled-background--expanded: var(--color-sea-green-30);
    --accordion-disabled-border-color: var(--color-sea-green-30);

    // Description
    --accordion-description-color: var(
      --accordion-description-color--default
    );
    --accordion-description-color--default: var(--color-black-55);
    --accordion-description-color--expanded: var(--accordion-color);
    --accordion-description-color--hover: var(
      --accordion-description-color--default
    );

    // Icon
    --accordion-icon-color: var(--color-emerald-green);

    border: none;

    &__icon,
    &__container {
      color: var(--accordion-icon-color);
    }

    &__description {
      color: var(--accordion-description-color);
    }

    &--expanded {
      --accordion-color: var(--accordion-color--expanded);
      --accordion-background: var(--accordion-background--expanded);
      --accordion-background--focus: var(
        --accordion-background--focus--expanded
      );
      --accordion-border-color: var(--accordion-border-color--expanded);
      --accordion-disabled-color: var(
        --accordion-disabled-color--expanded
      );
      --accordion-disabled-background: var(
        --accordion-disabled-background--expanded
      );
      --accordion-description-color: var(
        --accordion-description-color--expanded
      );
    }

    // Variant: outlined
    &--outlined {
      --accordion-icon-color: var(--accordion-color);

      color: var(--accordion-color);
      background-color: var(--accordion-background);

      @include fakeBorder(
        var(--accordion-border-color),
        var(--accordion-border-width),
        inset
      );

      @include hover() {
        --accordion-color: var(--accordion-color--hover);
        --accordion-background: var(--accordion-background--hover);
        --accordion-border-color: var(--accordion-border-color--hover);
        --accordion-border-width: 0.125rem;
        --accordion-description-color: var(
          --accordion-description-color--hover
        );

        @include fakeBorder(
          var(--accordion-border-color),
          var(--accordion-border-width)
        );
      }

      @include active() {
        --accordion-color: var(--accordion-color--default);
        --accordion-background: var(--accordion-background--active);
        --accordion-border-color: var(--color-emerald-green);
        --accordion-border-width: 0.0625rem;
        --accordion-description-color: var(
          --accordion-description-color--default
        );

        @include fakeBorder(
          var(--accordion-border-color),
          var(--accordion-border-width),
          inset
        );
      }

      @include focus-visible() {
        --accordion-color: var(--accordion-color--default);
        --accordion-background: var(--accordion-background--focus);
        --accordion-border-color: var(--color-emerald-green);
        --accordion-border-width: 0.125rem;
        --accordion-description-color--expanded: var(--accordion-color);
      }

      &[disabled] {
        --accordion-color: var(--accordion-disabled-color);
        --accordion-background: var(--accordion-disabled-background);
        --accordion-border-color: var(--accordion-disabled-border-color);
        --accordion-icon-color: var(--accordion-disabled-color);
      }
    }

    &--after-click {
      @include hover() {
        --accordion-color--hover: var(--accordion-color--expanded);
        --accordion-background--hover: var(
          --accordion-background--expanded
        );
        --accordion-border-color--hover: var(--color-sea-green);
        --accordion-description-color--hover: var(
          --accordion-color--expanded
        );
      }
    }
  }
}
