/*
* Accordion theme
*
*/

@import '../../../../style/core/utilities.scss';
@import '../../../button/style/themes/button-mixins.scss';

.dnb-accordion {
  --accordion-border-width: 0;
  --accordion-border-radius: 0;
  --accordion-border-color: transparent;
  --accordion-border-color--expanded: var(--sb-color-violet);
  --accordion-border-color--disabled: var(--sb-color-gray-dark-2);
  --accordion-expanded-border-width: 0.1875rem;
  --accordion-content-padding-left: calc(
    3.5rem - var(--accordion-expanded-border-width)
  );

  // background
  --accordion-bg: transparent;
  --accordion-bg--expanded: var(--sb-color-violet-light-4);
  --accordion-bg--disabled: var(--sb-color-gray-light-2);

  color: var(--sb-color-text);

  &__header,
  &__content {
    background-color: var(--accordion-bg);
    border-left: 0.1875rem solid var(--accordion-border-color);
  }

  &__header {
    @include focus-visible() {
      @include focusRing('always');
      z-index: 1;
      border-radius: 0.125rem;
      background-color: var(--sb-color-blue-light-3);
      color: var(--border-color);

      .dnb-accordion__header__icon {
        color: var(--border-color);
      }
    }
    @include hover() {
      background-color: var(--sb-color-violet-light-2);
    }

    @include active() {
      background-color: var(--sb-color-white);
      @include fakeBorder(null, null, inset);
      // must be set after fakeBorder()
      --border-color: var(--sb-color-violet);
      border-left-width: 0;
      padding-left: var(--accordion-expanded-border-width);
    }

    &__wrapper {
      margin: 1rem 1.5rem;
    }

    &__icon {
      color: var(--sb-color-violet);
      margin: 1rem 0.5rem 1rem
        calc(1.5rem - var(--accordion-expanded-border-width));
    }

    &--icon-right {
      .dnb-accordion__header__icon {
        margin-right: calc(
          1.5rem - var(--accordion-expanded-border-width)
        );
        margin-left: 0.5rem;
      }

      .dnb-accordion__header__wrapper {
        margin-left: calc(1.5rem - var(--accordion-expanded-border-width));
      }

      + .dnb-accordion__content {
        --accordion-content-padding-left: calc(
          1.5rem - var(--accordion-expanded-border-width)
        );
      }
    }

    // disabled
    &[disabled] {
      * {
        color: var(--sb-color-gray-dark-2);
      }
    }
  }

  &__content__inner {
    margin-top: 0;
    padding-left: var(--accordion-content-padding-left);
    padding-bottom: 1rem;
  }

  &--expanded {
    --accordion-bg: var(--accordion-bg--expanded);
    --accordion-border-color: var(--accordion-border-color--expanded);

    > .dnb-accordion__header {
      font-weight: var(--sb-font-weight-bold);

      @include active() {
        border-left-width: 0.125rem;
        padding-left: 0.0625rem;
      }
    }
    // disabled
    > .dnb-accordion__header[disabled],
    > .dnb-accordion__header[disabled] + .dnb-accordion__content {
      --accordion-bg: var(--accordion-bg--disabled);
      --accordion-border-color: var(--accordion-border-color--disabled);
    }
  }
}
