@use "../../../style/core/utilities";

.dnb-grid-item {
  grid-column: var(--start-c) / var(--end-c);

  --start-c: var(--small-c-s, 1);
  --end-c: var(--small-c-e, calc(var(--grid-columns) + 1));

  @include utilities.allAbove(small) {
    --start-c: var(--medium-c-s, 1);
    --end-c: var(--medium-c-e, calc(var(--grid-columns) + 1));
  }

  @include utilities.allAbove(medium) {
    --start-c: var(--large-c-s, 1);
    --end-c: var(--large-c-e, calc(var(--grid-columns) + 1));
  }

  &--full-width {
    --start-c: 0;
    --end-c: var(--grid-columns);
  }
}
