.dnb-forms-button-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.dnb-card {
  & + .dnb-forms-button-row,
  & + .dnb-button--primary {
    &:not([class*='space__top']) {
      margin-top: 1rem;

      .dnb-button[class*='space__top'] {
        margin-top: 0;
      }
    }
  }
}
