@import '../../../../../style/core/utilities.scss';

.dnb-forms-button-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.dnb-card:not([style*='--outset']) + .dnb-forms-button-row,
.dnb-card:not([style*='--outset']) + .dnb-button--primary {
  &:not([class*='space__top']) {
    margin-top: var(--spacing-small);

    .dnb-button[class*='space__top'] {
      margin-top: 0;
    }
  }

  @include allAbove(small) {
    &:not([class*='space__left']) {
      margin-left: var(--spacing-medium);
    }
  }
}
