@use '../../../../../style/core/utilities.scss';

.dnb-forms-button-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: var(--spacing-small);
}

.dnb-card {
  & + .dnb-forms-button-row,
  & + .dnb-button--primary {
    &:not([class*='space__top']) {
      margin-top: var(--spacing-small);

      .dnb-button[class*='space__top'] {
        margin-top: 0;
      }
    }
  }
}

// Deprecated – can be removed in v11 (its handled by the outset prop)
.dnb-card:not([style*='--outset']) {
  & + .dnb-forms-button-row,
  & + .dnb-button--primary {
    @include utilities.allAbove(small) {
      &:not([class*='space__left']) {
        margin-left: var(--spacing-medium);
      }
    }
  }
}
