/*
* Badge component
*
*/

@import '../../../style/core/utilities.scss';

.dnb-badge {
  display: inline-flex;
  flex-flow: row wrap;
  white-space: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-x-small);

  &__root {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;

    .dnb-badge {
      display: flex;
      overflow: hidden;
      position: absolute;
      z-index: 2; // Render the badge on top of a potential .dnb-img img.
    }
  }

  &--variant-notification {
    padding: 0 0.25rem;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
  }

  &--variant-information {
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;
  }

  &--horizontal-left {
    left: 0;
  }

  &--horizontal-right {
    right: 0;
  }

  &--vertical-bottom {
    bottom: 0;
  }

  &--vertical-top {
    top: 0;
  }

  &--inline {
    &.dnb-badge--vertical-top {
      // 1/4 of the badge height
      transform: translateY(-25%);
    }

    &.dnb-badge--vertical-bottom {
      // 1/4 of the badge height
      transform: translateY(25%);
    }
  }
}
