/*
 * Logo Component
 *
 */

@use '../../../style/core/utilities.scss';

.dnb-logo,
.sbanken-logo {
  display: inline-flex;
  vertical-align: baseline;
  font-size: inherit;
  line-height: var(
    --line-height-xx-small--em
  ); // for vertical alignment, we have to have no line-height

  svg {
    fill: currentcolor;
    shape-rendering: geometricprecision;
  }

  height: 1em;

  &--has-size {
    width: auto;
    height: auto;
  }

  &--inherit-size {
    height: inherit;
  }

  svg:not([width], [height]) {
    width: inherit;
    height: inherit;
  }
}
