/*
 * Logo Component
 *
 */

@import '../../../style/core/utilities.scss';

.dnb-logo {
  display: inline-flex;
  vertical-align: baseline;
  font-size: inherit;
  line-height: var(
    --line-height-xx-small--em
  ); // for vertical alignment, we have to have no line-height

  svg {
    fill: currentcolor;
    shape-rendering: geometricprecision;
  }

  height: 1em;

  &--has-size {
    width: auto;
    height: auto;
  }

  &--inherit-size {
    height: inherit;
  }

  &--carnegie {
    color: var(--ca-color-burgundy-red);
  }

  &--dnb,
  &--eiendom {
    color: var(--color-sea-green);
  }

  &--sbanken {
    color: var(--sb-color-text);
  }

  &--inherit-color {
    color: currentcolor;
  }

  svg:not([width], [height]) {
    width: inherit;
    height: inherit;
  }
}
