/*
 * Skeleton component
 *
 * Skeleton
 *
 */

.dnb-skeleton {
  position: relative;

  overflow-x: hidden;

  pointer-events: none;
  color: transparent; // make text invisible
  background: transparent; // make backgrounds invisible
  // cursor: progress;// does not show if pointer-events is set to none

  &--block {
    display: block;
  }

  &__figure {
    position: relative;
    visibility: hidden;

    border-radius: 0.25rem;

    &--show {
      visibility: visible;
    }
  }

  &::before,
  &::after {
    content: '' !important; // because of list markers, we use important here as well
    // overflow: hidden; // looks like we do not need this
    // border-radius: inherit; // because we use "overflow: hidden;" this is not needed
    position: absolute !important;
    z-index: 100 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    background: none;

    width: 100% !important; // lists needs that overwrite
    height: auto !important;

    margin: 0 !important;
    padding: 0 !important;
  }

  &[data-skeleton-chars] {
    // Since the ch unit is using the size of the 0,
    // it is not that good to also change the size afterwards
    // max-width: calc(var(--skeleton-chars) / 1.2);

    &::before,
    &::after {
      max-width: var(--skeleton-chars);
    }
  }

  // display: inline-flex;// do not change the display!
  &:not(.dnb-input__shell) {
    &::before,
    &::after {
      border-radius: 0.25rem;
    }
  }

  &--20 {
    width: 20%;
  }
  &--30 {
    width: 30%;
  }
  &--40 {
    width: 40%;
  }
  &--50 {
    width: 50%;
  }
  &--60 {
    width: 60%;
  }
  &--70 {
    width: 70%;
  }
  &--80 {
    width: 80%;
  }

  // because of the underline, we hide anchors
  .dnb-anchor {
    visibility: hidden;
  }

  &.dnb-button,
  &.dnb-input__shell {
    overflow: hidden;
  }

  // & > ul > li.dnb-skeleton,
  // & > ol > li.dnb-skeleton {
  //   visibility: hidden;
  // }
}
