/*
 * Skeleton component
 *
 * Skeleton
 *
 */

.dnb-skeleton {
  &--block {
    display: block;
  }

  // Nicer animation, but requires an hidden overflow
  &--overflow {
    overflow: hidden;
  }

  &--grey {
    filter: grayscale(100%);
  }

  &--shape {
    pointer-events: none;
    position: relative;
    overflow-x: hidden;
    color: transparent; // make text invisible
    background: transparent; // make backgrounds invisible
    box-shadow: none !important; // accordion border needed that
    // cursor: progress;// does not show if pointer-events is set to none
  }

  &--shape#{&}::before,
  &--shape#{&}::after {
    content: '' !important; // because of list markers, we use important here as well

    position: absolute !important;
    z-index: 100 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;

    width: 100% !important; // lists needs that overwrite
    height: auto !important;

    margin: 0 !important;
    padding: 0 !important;

    border-radius: inherit;
    background: none !important;
    box-shadow: none !important;
  }

  &--font {
    pointer-events: none;
    // ::selection {
    // }

    --font-family-book: 'DNBSkeleton' !important; // Deprecated
    --font-family-demi: 'DNBSkeleton' !important; // Deprecated
    --font-family-default: 'DNBSkeleton' !important;

    font-family: var(--font-family-default) !important;
    &,
    * {
      font-style: unset !important;
    }

    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: 30rem 100%;

    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    -webkit-background-clip: text;

    animation: skeletonFontAnimation 2s linear infinite;
  }

  &--code,
  &--font {
    pre,
    pre *,
    code,
    code * {
      --font-family-monospace: 'DNBMonoSkeleton' !important;
      font-family: var(--font-family-monospace) !important;
      font-style: unset !important;
    }
  }

  &__figure {
    position: relative;
    border-radius: 0.25rem;

    &--circle {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    &--product {
      display: flex;
      align-items: center;
    }
    &--product &--circle + div {
      width: 50%;
      margin-left: 1rem;
    }
  }

  &--no-animation &,
  &--no-animation &::after {
    animation: none !important;
  }

  html[data-dnb-test] &,
  html[data-dnb-test] &::after,
  html[data-dnb-test] &--shine &::after {
    animation: none !important;

    // Looks like on CI (Linux) the lines do not work? Skip then for now
    background-image: none !important;
  }

  // Not used right now!
  // &[data-skeleton-chars] {
  //   &::before,
  //   &::after {
  //     // Since the ch unit is using the size of the 0,
  //     // it is not that good to also change the size afterwards
  //     max-width: var(--skeleton-chars);
  //   }
  // }
}

@keyframes skeletonFontAnimation {
  0% {
    background-position-x: -30rem;
  }
  100% {
    background-position-x: 30rem;
  }
}

$fonts-path: '../../assets/fonts' !default;

// Skeleton-Regular
@font-face {
  font-family: DNBSkeleton;
  src: url('#{$fonts-path}/skeleton/DNB-Skeleton-Regular.woff2')
      format('woff2'),
    url('#{$fonts-path}/skeleton/DNB-Skeleton-Regular.woff') format('woff'),
    url('#{$fonts-path}/skeleton/DNB-Skeleton-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

// Skeleton-Medium
@font-face {
  font-family: DNBSkeleton;
  src: url('#{$fonts-path}/skeleton/DNB-Skeleton-Medium.woff2')
      format('woff2'),
    url('#{$fonts-path}/skeleton/DNB-Skeleton-Medium.woff') format('woff'),
    url('#{$fonts-path}/skeleton/DNB-Skeleton-Medium.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

// Skeleton-Bold
@font-face {
  font-family: DNBSkeleton;
  src: url('#{$fonts-path}/skeleton/DNB-Skeleton-Bold.woff2')
      format('woff2'),
    url('#{$fonts-path}/skeleton/DNB-Skeleton-Bold.woff') format('woff'),
    url('#{$fonts-path}/skeleton/DNB-Skeleton-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

// Mono-Skeleton
@font-face {
  font-family: DNBMonoSkeleton;
  src: url('#{$fonts-path}/skeleton/DNBMono-Skeleton-Regular.woff2')
      format('woff2'),
    url('#{$fonts-path}/skeleton/DNBMono-Skeleton-Regular.woff')
      format('woff'),
    url('#{$fonts-path}/skeleton/DNBMono-Skeleton-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
