/*
 * Logo element
 *
 * ========================================================================== */

.dnb-logo {
  display: inline;
  width: auto;
  height: 100%;

  font-size: 0;
  color: var(--color-sea-green);
  fill: currentColor;

  svg {
    width: inherit;
    height: inherit;
  }
}
