/*
 * Logo Component
 *
 */

.dnb-logo {
  display: inline-block;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 1; // for vertical alignment, we have to have no line-height

  color: var(--color-sea-green);
  svg {
    fill: currentColor;
  }

  --ratio: attr(data-ratio);
  width: calc(1em * var(--ratio, 2));
  height: 1em;
  &--has-size {
    width: auto;
    height: auto;
  }
  svg:not([width]):not([height]) {
    width: inherit;
    height: inherit;
  }
}
