/*
 * Logo element
 *
 */

.dnb-logo {
  display: inline;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;

  color: var(--color-sea-green);
  svg {
    fill: currentColor;
  }

  &:not(&--has-size) {
    width: calc(1em * attr(data-ratio));
    height: 1em;
  }
  svg:not([width]):not([height]) {
    width: inherit;
    height: inherit;
  }
}
