/*
* Button mixins
*
*/

@mixin buttonHover($color, $background-color) {
  @include hover(true) {
    // NB: to get "over" sibling, because of the extendFakeFocus
    // But if we would use it,
    // then then we have to take care of places we use position="absolute", like the Modal Close button
    // position: relative;

    color: $color;
    background-color: $background-color;

    @include extendFakeFocus(
      $background-color,
      var(--color-emerald-green),
      0.0625rem //1px
    );

    @content;
  }
}

@mixin buttonActive($color, $background-color) {
  @include active(true) {
    color: $color;
    background-color: $background-color;

    // no animation yet
    // transition: none;
    @include fakeBorder(transparent);

    @content;
  }
}

@mixin buttonFocus($color, $background-color, $focus-color: null) {
  @include focus(true) {
    color: $color;
    background-color: $background-color;

    @include fakeFocus(null, $focus-color, inset);

    @content;
  }
}

@mixin drawUnderlineBorder() {
  // border
  &::after {
    content: '';
    position: absolute;
    z-index: 1;

    left: 0.05rem;
    right: 0.05rem;
    bottom: 0;

    width: auto;
    height: 1px;

    border-radius: 0.5px;
    border-bottom: 1px solid var(--color-sea-green);

    @content;
  }
}
