/*
* Button component
*
* ======================================================================== */

:root {
  --button-font-family: var(--font-family-book);
  --button-font-size: var(--font-size-regular);
  --button-font-weight: normal;
  --button-font-style: normal;
  --button-width: 2.5rem;
  --button-height: 2.5rem;
  --button-width--medium: 2rem;
  --button-height--medium: 2rem;
  --button-width--large: 3rem;
  --button-height--large: 3rem;
  --button-icon-size: 1rem;
  --button-border-width: 1px;
  --button-border-width--hover: 3px;
  --button-border-radius: calc(var(--button-height) / 2);
  --button-border-radius--medium: calc(var(--button-height--medium) / 2);
  --button-border-radius--large: calc(var(--button-height--large) / 2);
}

.dnb-button {
  display: inline-flex;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  cursor: pointer;

  width: var(--button-width);
  height: var(--button-height);
  padding: 0;

  border: var(--button-border-width) solid transparent;
  border-radius: var(--button-border-radius);

  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-style: var(--button-font-style);
  text-decoration: none;

  &__icon {
    line-height: 0;
    &:not(.dnb-icon) svg:not([width]):not([height]) {
      width: var(--button-icon-size);
      height: var(--button-icon-size);
    }
  }
  &__text {
    color: inherit;
    background-color: inherit;

    // +1px because of the border width
    transform: translateY(var(--button-border-width));
  }

  // size medium
  &--size-medium {
    width: var(--button-width--medium);
    height: var(--button-height--medium);
    border-radius: var(--button-border-radius--medium);
  }
  &--has-text#{&}--size-medium {
    padding-left: 1em;
    padding-right: 1em;
  }
  &--has-text#{&}--icon-position-left#{&}--size-medium {
    padding-left: 0.5em;
  }
  &--has-text#{&}--icon-position-right#{&}--size-medium {
    padding-right: 0.5em;
  }

  // size large
  &--size-large {
    width: var(--button-width--large);
    height: var(--button-height--large);
    border-radius: var(--button-border-radius--large);
  }
  &--has-text#{&}--size-large {
    padding-left: 2em;
    padding-right: 2em;
  }
  &--has-text#{&}--icon-position-left#{&}--size-large {
    padding-left: 1em;
  }
  &--has-text#{&}--icon-position-right#{&}--size-large {
    padding-right: 1em;
  }

  // size defualt
  &--has-text {
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: auto;
  }
  &--has-text &__icon {
    margin: 0 calc(var(--button-icon-size) / 2);
  }
  // &--has-text#{&}--size-large &__icon {
  //   margin: 0 var(--button-icon-size);
  // }
  &--has-text#{&}--icon-position-left {
    padding-left: 0.5em;
  }
  &--has-text#{&}--icon-position-right {
    padding-right: 0.5em;
  }

  // Default -- icon set to right side
  &--has-text#{&}--has-icon {
    .dnb-button__icon {
      order: 2;
    }
    .dnb-button__text {
      order: 1;
    }
  }

  // Button with icon and text - icon on LEFT side
  &--has-text#{&}--has-icon#{&}--icon-position-left {
    .dnb-button__icon {
      order: 1;
    }
    .dnb-button__text {
      order: 2;
    }
  }

  &--reset {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow: visible;

    border: none;
    border-radius: 0;
    background-color: transparent;
    appearance: none;
    box-shadow: none;

    color: inherit;
    font: inherit;
    text-align: inherit;
    line-height: 0;

    @include hover(true) {
      opacity: 0.6; // TODO: we may considder to remove this
      box-shadow: none;
      border: none;
    }

    &:not([disabled]):focus,
    &:not([disabled]):active {
      @include fakeFocus();
    }

    html[data-whatinput='mouse']
      &:not([disabled]):focus:not(.dnb-no-mouse-focus),
    html[data-whatinput='mouse']
      &:not([disabled]):active:not(.dnb-no-mouse-focus) {
      box-shadow: none;
      color: inherit;
      border: none;
    }
  }

  // reset
  &[type='button'] {
    appearance: none;
  }

  // make sure we style a nodes like a button
  @at-root a & {
    border-bottom: none;
  }

  /* Firefox includes a hidden border which messes up button dimensions */
  @at-root button#{&}::-moz-focus-inner & {
    border: none;
  }
}
