/*
* Button mixins
*
*/

@mixin buttonHover($color, $background-color) {
  @include hover(true) {
    color: $color;
    background-color: $background-color;
    border-color: $background-color;

    @include extendBorder(
      $background-color,
      var(--button-border-width--hover)
    );

    &:not([disabled]):active {
      @include fakeBorder(transparent);
    }

    @content;
  }
}

@mixin buttonFocus($color, $background-color) {
  &:not([disabled]):focus {
    color: $color;
    background-color: $background-color;
    border-color: $background-color;

    @include fakeFocus();

    @content;
  }
}
