/*
 * Number Component
 *
 */

@import '../../../style/elements/_anchor-mixins.scss';

.dnb-number {
  position: relative;
  speak-as: numbers;
  color: inherit;
  white-space: nowrap;

  &__prefix,
  &__suffix {
    white-space: normal;
  }

  &.dnb-anchor {
    cursor: pointer;
  }

  &__fx {
    pointer-events: none;
    position: fixed;
    z-index: 3300; // above modal

    border-radius: 2px;
    background-color: var(--color-mint-green);
    color: var(--color-black);

    animation: number-fx-scale-out 750ms
      cubic-bezier(0.04, 0.65, 0.55, 0.95) 1 forwards;

    // we do have this only to get the top and left position
    &__selection {
      display: inline-block;
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
    }
  }

  &--selectall {
    cursor: text;
  }

  &__visible {
    position: relative;
    z-index: 2;
  }
  &--selected &__visible {
    color: var(--color-black);
    background-color: var(--color-mint-green);
  }

  &__selection {
    position: absolute;
    z-index: 1;

    top: 0;
    left: 0;

    opacity: 0;
  }
  &--selected &__selection {
    z-index: 3;
    user-select: all;
  }
}

@keyframes number-fx-scale-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(5);
  }
}
