/*
 * Number Component
 *
 */

@import '../../../style/elements/_anchor-mixins.scss';

.dnb-number {
  speak-as: numbers;
  color: inherit;

  & > a {
    text-decoration: none;
    color: inherit;
  }

  // NB: Is not  active right now
  // &--selectable {
  //   cursor: pointer;
  //
  //   @include anchorStyle();
  //
  //   &::selection {
  //     color: #fff;
  //     background-color: transparent !important;
  //   }
  //
  //   &:hover {
  //     @include anchorHoverStyle();
  //   }
  //   &:hover,
  //   &:active {
  //     user-select: all;
  //   }
  //   &:active {
  //     @include anchorActiveStyle();
  //     &::selection {
  //       color: #fff;
  //     }
  //   }
  // }
}
