/*
* Dropdown component
*
*/

:root {
  --dropdown-width: 16rem;
  --dropdown-height: 2rem;
  --dropdown-height--small: 1.5rem;
  --dropdown-height--medium: 2.5rem;
  --dropdown-height--large: 3rem;
  --dropdown-padding-horizontal: 1rem;
  --dropdown-focus-border-width: 0.125rem;
  --dropdown-text-padding: 0.5rem;
}

@import '../../../fragments/drawer-list/style/_drawer-list.scss';

.dnb-dropdown {
  display: inline-flex;
  align-items: center;

  font-size: var(--font-size-small);
  line-height: var(--dropdown-height);

  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0;
    padding: 0;

    width: auto;

    color: inherit;
  }

  &__shell {
    position: relative;

    width: var(--dropdown-width);
    height: var(--dropdown-height);

    margin: 0;
    padding: 0;

    color: inherit;
  }

  &__row {
    display: inline-flex;
  }

  &__suffix {
    padding-left: 0.5rem;
    line-height: var(--line-height-basis);
  }

  .dnb-drawer-list {
    position: static;
  }

  .dnb-drawer-list__list {
    top: calc(var(--dropdown-height) + var(--dropdown-focus-border-width));
    // - 1px
    bottom: auto;
  }
  &--direction-top .dnb-drawer-list .dnb-drawer-list__list {
    bottom: calc(
      var(--dropdown-height) + var(--dropdown-focus-border-width)
    );
    // - 1px
    top: auto;
  }
  &__align--right .dnb-drawer-list .dnb-drawer-list__list {
    left: auto;
  }

  &__icon {
    position: relative;
    order: 2;

    display: inline-flex;
    justify-content: center;

    pointer-events: none;
  }

  &__size--large .dnb-drawer-list__triangle {
    margin: 0 calc(var(--dropdown-padding-horizontal) + 0.25rem);
  }

  // button
  &__trigger {
    position: relative;
    z-index: 1;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    display: inline-flex;
    align-items: center;

    outline: none;

    width: 100%;
    padding: 0 var(--dropdown-padding-horizontal);

    &.dnb-button {
      line-height: var(--dropdown-height);
    }
  }

  // Popup menu
  &--is-popup &__shell,
  &--is-popup &__trigger {
    padding: 0;
    width: var(--dropdown-height);
    height: var(--dropdown-height);
  }
  &--is-popup &__icon {
    width: 100%;
  }
  &--is-popup .dnb-drawer-list .dnb-drawer-list__list {
    left: -0.5rem;
    min-width: var(--dropdown-width);
  }
  &--is-popup#{&}--scroll &__options {
    min-height: 1rem;
  }
  // small popup
  &--is-popup#{&}__size--small &__shell,
  &--is-popup#{&}__size--small &__trigger {
    width: var(--dropdown-height--small);
  }
  &--is-popup#{&}__size--small .dnb-drawer-list__list {
    left: -0.75rem;
  }
  &--is-popup#{&}__align--right .dnb-drawer-list__list {
    left: auto;
    right: -0.5rem;
  }
  &--is-popup#{&}__align--right#{&}__size--small .dnb-drawer-list__list {
    left: -0.75rem;
  }
  // medium popup - TODO: needs .dnb-drawer-list__list correction
  &--is-popup#{&}__size--medium &__trigger {
    width: var(--dropdown-height--medium);
  }
  // large popup - TODO: needs .dnb-drawer-list__list correction
  &--is-popup#{&}__size--large &__trigger {
    width: var(--dropdown-height--large);
  }

  // Size--small
  &__size--small {
    line-height: var(--dropdown-height--small);
  }
  &__size--small &__shell,
  &__size--small &__trigger {
    height: var(--dropdown-height--small);
  }
  &__size--small &__trigger.dnb-button {
    line-height: var(--dropdown-height--small);
  }
  &__size--small .dnb-drawer-list .dnb-drawer-list__list {
    top: var(--dropdown-height--small);
  }
  &__size--small .dnb-drawer-list--direction-top .dnb-drawer-list__list {
    top: auto;
    bottom: var(--dropdown-height--small);
  }

  // Size--medium
  &__size--medium {
    line-height: var(--dropdown-height--medium);
  }
  &__size--medium &__shell,
  &__size--medium &__trigger {
    height: var(--dropdown-height--medium);
    border-radius: var(--dropdown-height--medium);
  }
  &__size--medium &__trigger.dnb-button {
    line-height: var(--dropdown-height--medium);
  }
  &__size--medium .dnb-drawer-list .dnb-drawer-list__list {
    top: var(--dropdown-height--medium);
  }
  &__size--medium .dnb-drawer-list--direction-top .dnb-drawer-list__list {
    top: auto;
    bottom: var(--dropdown-height--medium);
  }

  // Size--large
  &__size--large {
    line-height: var(--dropdown-height--large);
  }
  &__size--large &__shell,
  &__size--large &__trigger {
    height: var(--dropdown-height--large);
    border-radius: var(--dropdown-height--large);
  }
  &__size--large &__trigger.dnb-button {
    line-height: var(--dropdown-height--large);
  }
  &__size--large .dnb-drawer-list .dnb-drawer-list__list {
    top: var(--dropdown-height--large);
  }
  &__size--large .dnb-drawer-list--direction-top .dnb-drawer-list__list {
    top: auto;
    bottom: var(--dropdown-height--large);
  }

  &__text {
    order: 1;
    position: relative;
    z-index: 4;

    width: 100%;
    height: inherit;
    line-height: inherit;

    padding: 0 var(--dropdown-text-padding) 0 0;

    overflow: hidden;

    color: inherit;
    text-align: left;
    text-overflow: ellipsis;
    font-size: var(--font-size-basis);

    &__inner {
      display: inline-block;

      width: 100%;

      height: inherit;
      padding: 0;

      overflow: hidden;
      white-space: nowrap;

      color: inherit;
      text-decoration: none;
      text-overflow: inherit;
      text-align: inherit;
    }
  }

  &--icon-position-left &__icon {
    order: 1;
  }
  &--icon-position-left &__text {
    order: 2;
    padding-right: 0;
    padding-left: var(--dropdown-text-padding);
  }

  &__outside-value {
    display: block;
    padding: 0.5rem 0 1rem var(--dropdown-padding-horizontal);
  }

  & > .dnb-form-label {
    margin-right: 1rem;
    line-height: var(--line-height-basis);
  }

  label + &[class*='__form-status'] {
    vertical-align: top;
    .dnb-dropdown__shell {
      top: -0.375rem;
    }
  }
  &__inner > .dnb-form-status {
    order: 2;
    margin-top: 0.5rem;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &[class*='__status'] {
    align-items: flex-start;
    > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }

  .dnb-responsive-component & {
    @media (max-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 0.5rem;

      > .dnb-form-label {
        margin-bottom: 0.5rem;
      }
      &__helper {
        display: none;
      }
    }
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    flex: none;
    vertical-align: baseline;

    &__shell {
      top: 0;
    }
    &__options {
      // IE has bug where the height can't be calculated propery
      display: block;
    }
  }
}
