/*
* Dropdown component
*
*/

:root {
  --dropdown-width: 16rem;
  --dropdown-height: 2rem;
  --dropdown-height--small: 1.5rem;
  --dropdown-height--medium: 2.5rem;
  --dropdown-height--large: 3rem;
  --dropdown-padding-horizontal: 1rem;
  --dropdown-focus-border-width: 0.125rem;
  --dropdown-text-padding: 0.5rem;
}

.dnb-dropdown {
  display: inline-flex;
  align-items: center;

  font-size: var(--font-size-small);
  line-height: var(--dropdown-height);

  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0;
    padding: 0;

    width: auto;

    color: inherit;
  }

  &__shell {
    position: relative;

    width: var(--dropdown-width);
    height: var(--dropdown-height);

    margin: 0;
    padding: 0;

    color: inherit;
  }

  &__row {
    display: inline-flex;
  }

  &__suffix {
    padding-left: 0.5rem;
    line-height: var(--line-height-basis);
  }

  // NB: looks like we dont need this anymore!
  // &--default .dnb-drawer-list__list {
  //   top: var(--dropdown-height);
  //   bottom: auto;
  // }
  // &--default#{&}--top .dnb-drawer-list__list {
  //   bottom: var(--dropdown-height);
  //   top: auto;
  // }

  &--large .dnb-drawer-list__triangle {
    margin-left: calc(var(--dropdown-padding-horizontal) - 0.25rem);
  }
  &--icon-position-left#{&}--large .dnb-drawer-list__triangle {
    margin-left: calc(var(--dropdown-padding-horizontal) + 0.25rem);
  }

  &__icon {
    position: relative;
    order: 2;

    display: inline-flex;
    justify-content: center;

    pointer-events: none;
  }

  // button
  &__trigger {
    position: relative;
    z-index: 1;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    width: 100%;

    &.dnb-button {
      padding: 0 1rem;
    }
  }

  // Button only menu
  &--default#{&}--is-popup &__shell,
  &--is-popup &__trigger {
    padding: 0;
    width: var(--dropdown-height);
    height: var(--dropdown-height);
  }
  &--is-popup &__icon {
    width: 100%;
  }
  &--is-popup#{&}--scroll &__options {
    min-height: 1rem;
  }
  &--is-popup .dnb-drawer-list__root {
    width: var(--dropdown-width); // only a fallback
  }

  // size--small
  &--small#{&}--is-popup &__shell,
  &--small#{&}--is-popup &__trigger {
    width: var(--dropdown-height--small);
  }

  // size--medium
  &--medium#{&}--is-popup &__shell,
  &--medium#{&}--is-popup &__trigger {
    width: var(--dropdown-height--medium);
  }

  // size--large
  &--large#{&}--is-popup &__shell,
  &--large#{&}--is-popup &__trigger {
    width: var(--dropdown-height--large);
  }

  // Size--small
  &--small {
    line-height: var(--dropdown-height--small);
  }
  &--small &__shell,
  &--small &__trigger {
    height: var(--dropdown-height--small);
  }
  &--small &__trigger.dnb-button {
    line-height: var(--dropdown-height--small);
  }

  // Size--medium
  &--medium {
    line-height: var(--dropdown-height--medium);
  }
  &--medium &__shell,
  &--medium &__trigger {
    height: var(--dropdown-height--medium);
    border-radius: var(--dropdown-height--medium);
  }
  &--medium &__trigger.dnb-button {
    line-height: var(--dropdown-height--medium);
  }

  // Size--large
  &--large {
    line-height: var(--dropdown-height--large);
  }
  &--large &__shell,
  &--large &__trigger {
    height: var(--dropdown-height--large);
    border-radius: var(--dropdown-height--large);
  }
  &--large &__trigger.dnb-button {
    line-height: var(--dropdown-height--large);
  }

  &--is-popup &__trigger.dnb-button {
    padding: 0;
  }

  &__text {
    order: 1;
    position: relative;
    z-index: 4;

    display: inline-flex;

    width: 100%;

    // padding: 0 1rem;

    overflow: hidden;

    color: inherit;
    text-align: left;
    text-overflow: ellipsis;
    font-size: var(--font-size-basis);

    &__inner {
      display: inline-block;

      width: 100%;

      // height: inherit;
      // padding: 0;

      overflow: hidden;
      white-space: nowrap;

      color: inherit;
      text-overflow: inherit;
      text-align: inherit;
    }
  }

  &--icon-position-left &__icon {
    order: 1;
  }
  &--icon-position-left &__text {
    order: 2;
    padding-right: 0;
    padding-left: var(--dropdown-text-padding);
  }

  &--action-menu &__shell {
    width: auto;
  }
  &--action-menu &__trigger.dnb-button {
    @media screen and (max-width: 40em) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  &--action-menu &__shell &__text {
    padding-right: 0.5rem;

    @media screen and (max-width: 40em) {
      width: 0;
      padding: 0;
      opacity: 0.2;
    }
  }

  > .dnb-form-label {
    margin-right: 1rem;
    line-height: var(--line-height-basis);
  }
  @include formLabelWrap();

  label + &[class*='__form-status'] {
    vertical-align: top;
    .dnb-dropdown__shell {
      top: -0.375rem;
    }
  }
  &__inner > .dnb-form-status {
    order: 2;
    margin-top: 0.5rem;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &[class*='__status'] {
    align-items: flex-start;
    > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }

  .dnb-responsive-component & {
    @media screen and (max-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 0.5rem;

      > .dnb-form-label {
        margin-bottom: 0.5rem;
      }
      &__helper {
        display: none;
      }
    }
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    flex: none;
    vertical-align: baseline;

    &__shell {
      top: 0;
    }
    &__options {
      // IE has bug where the height can't be calculated propery
      display: block;
    }
  }
}
