/*
* Accordion theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-accordion {
  &__header {
    &__icon {
      color: var(--color-emerald-green);
    }
  }

  &--expanded &__header {
    &__title {
      font-weight: bolder;
      font-weight: var(--font-weight-medium);
    }
  }
}
