/*
* Range input
*/

/*
* Deprecated
* Will be removed in v10
*
*/

:root {
  --range-track-height: 0.25rem;
  --range-thumb-dimension: 2rem;
}

@mixin track() {
  appearance: none;

  box-sizing: border-box;

  cursor: pointer;

  width: 100%;
  height: var(--range-track-height);

  background-color: var(--color-sea-green);

  border-radius: calc(var(--range-track-height) / 2);
  box-shadow: none;
}

@mixin thumb() {
  appearance: none;

  box-sizing: border-box;

  cursor: pointer;

  height: var(--range-thumb-dimension);
  width: var(--range-thumb-dimension);

  border-radius: var(--range-thumb-dimension);
  background: var(--color-white);
  border: 0.0625rem solid var(--color-sea-green);
}

input[type='range'] {
  appearance: none;

  background: transparent;

  width: 100%; // this may be reset in case we have to support vertical slider

  &::-webkit-slider-runnable-track {
    @include track;
  }
  &::-ms-track {
    @include track;
  }
  &::-moz-range-progress {
    @include track;
  }
  &::-moz-range-track {
    background-color: var(--color-mint-green-50);
  }
  &::-webkit-slider-thumb {
    @include thumb;
    transform: translateY(-50%);
  }
  &::-moz-range-thumb {
    @include thumb;
  }
  &::-moz-thumb {
    @include thumb;
  }
  &::-ms-tooltip {
    display: none;
  }
  &:focus {
    @include fakeFocus();

    &::-moz-range-thumb {
      @include fakeFocus();
    }
  }
}
