/*
* Used for snapshot testing
*
*/

@use '../../../style/core/utilities.scss' as *;
@use '../../button/style/deps.scss' as *;
@use '../../tooltip/style/deps.scss' as *;
@use '../../form-label/style/deps.scss' as *;
@use '../../form-status/style/deps.scss' as *;
@use './dnb-slider.scss';
