/*
 * Form element
 *
 */

.dnb-form {
  @include allAbove(medium) {
    padding-bottom: 3rem;
  }
  legend {
    margin: 0 0 1rem 0;
  }

  &__fieldset {
    margin: 2rem 0 0 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

.dnb-form__cell {
  display: flex;
  align-items: center;

  &:first-child {
    margin: 0 0 0.5rem 0;
  }

  &__cell {
    margin-right: 1rem;
  }

  @include allAbove(medium) {
    padding: 0 0 0 1rem;

    &:first-child {
      margin-bottom: 0;
      flex: 0 0 (1/3 * 100%);
      padding: 0;
      display: flex;
      justify-content: flex-end;

      .dnb-form__item--top-align & {
        padding-top: 0.25rem;
      }
    }

    &__cell {
      margin-right: 1rem;
    }
  }
}

.dev-mode .dnb-form__cell {
  border: #{$pixel1} solid;
}

.dnb-form__item {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem 0;

  @include allAbove(medium) {
    flex-direction: row;
    align-items: center;

    &--top-align {
      align-items: flex-start;
    }
  }
}
