/*
* Slider theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-slider {
  &__line {
    background-color: var(--color-sea-green);
    &__after {
      background-color: var(--color-mint-green-50);
    }
  }
  &__state--disabled &__line {
    background-color: var(--color-sea-green-30);
    &__after {
      background-color: var(--color-mint-green-25);
    }
  }

  &__thumb {
    @include defaultDropShadow();
  }
}
