/*
* Slider theme
*
*/

.dnb-slider {
  --slider-line-before: var(--color-sea-green);
  --slider-line-after: var(--color-mint-green-50);
  --slider-line-before--disabled: var(--color-sea-green-30);
  --slider-line-after--disabled: var(--color-mint-green-25);
}
