/*
* Slider theme
*
*/

.dnb-slider {
  --slider-line-before: var(--token-color-stroke-action);
  --slider-line-after: var(--token-color-background-action-hover-subtle);
  --slider-line-before--disabled: var(
    --token-color-stroke-action-disabled
  );
  --slider-line-after--disabled: var(
    --token-color-background-action-disabled
  );

  &__marker:hover,
  &__marker:focus-within {
    background-color: var(--token-color-background-action-pressed);
  }
}
