/*
* Slider theme for Sbanken
*
*/

.dnb-slider {
  --slider-line-before--disabled: var(--sb-color-gray);
  --slider-line-after--disabled: var(--sb-color-gray-light);

  &__marker :hover {
    background-color: var(--sb-color-violet);
  }
}
