/**
 * Styles for WordDefinition
 */

@import '../../../style/core/utilities.scss';

.dnb-word-definition {
  --inner-space: 0.5rem;

  &__trigger {
    text-decoration: underline dotted;
    text-decoration-color: var(--anchor-color);

    &:not(:hover) {
      color: inherit;
    }
  }

  &__portal {
    .dnb-popover {
      // Make shadow a bit sharper
      @include sharpDropShadow();
    }
  }
}
