/*
 * GlobalError component
 *
 */

.dnb-global-error {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* for large screens */
    width: 100%;
    max-width: var(--layout-large);

    padding: var(--spacing-large);

    text-align: center;
    @media screen and (max-width: 40em) {
      padding: 0 var(--spacing-x-small);
    }

    &__content {
      max-width: 37rem; // apr. 600px as per design
    }
  }

  &__back.dnb-button--tertiary {
    position: absolute;
    top: var(--spacing-large);
    left: var(--spacing-large);
    z-index: 1; // make sure to be above the image on small screens
    @media screen and (max-width: 90em) {
      left: var(--spacing-x-small);
    }
  }

  &__gfx {
    margin-top: 9rem; // IE fallback

    shape-rendering: geometricPrecision;
    @media screen and (max-width: 90em) {
      margin-top: 8vw;
      margin-top: calc(4vw + 4vh);
    }
    @media screen and (max-width: 40em) {
      margin-top: 0;
      transform: scale(0.8);
    }

    @supports (color: var(--data-width)) {
      width: calc(var(--data-width, 100%) / 16 * 1em);
      height: calc(var(--data-height, 100%) / 16 * 1em);
    }
  }
  .dnb-h--xx-large.dnb-space__top--xx-large.dnb-space__top--x-small {
    @media screen and (max-width: 40em) {
      margin-top: 0;
      font-size: var(--font-size-x-large);
    }
  }
}
