/*
* DNB Input
*
*/

@import '../../../style/components/imports.scss';

// import dependencies
@import '../../button/style/dnb-button.scss';
@import '../../icon/style/dnb-icon.scss';
@import '../../tooltip/style/dnb-tooltip.scss';
@import '../../form-label/style/dnb-form-label.scss';
@import '../../form-status/style/dnb-form-status.scss';

.dnb-input {
  @include componentReset();
}

@import './_input.scss';
