# dependencies
/node_modules

# testing
/coverage

# misc
package-lock.json
completions.json
.DS_Store
.history
*not_in_use*

# pkm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# enviroment
.env
.env.*
