{
  "printWidth": 75,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "useTabs": false,
  "semi": false,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ".yarnrc.yml",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
