/*
 * Core Styles
 * Mainly only the margins are defined in here
 *
 */

// styles styles are effected within the scope of ".dnb-spacing"
// we also check if there is a class starting with "dnb-*"
// this is to make sure we don't effect these styles inside of components
.dnb-spacing {
  // *:not([class^='dnb-']) > {
  // }

  .dnb-h1,
  .dnb-h2,
  .dnb-h3,
  .dnb-lead,
  .dnb-h4,
  .dnb-h5,
  .dnb-h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0 1rem;
  }

  .dnb-h1,
  h1 {
    margin: 3rem 0 2.5rem;
  }
  .dnb-h2,
  h2 {
    margin: 3rem 0 1rem;
  }

  .dnb-p,
  .dnb-ul,
  .dnb-ol,
  .dnb-dl,
  .dnb-blockquote,
  .dnb-pre,
  p,
  ul,
  ol,
  dl,
  blockquote,
  pre {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  ul li,
  ol li,
  .dnb-ul li,
  .dnb-ol li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    & > p {
      margin-top: 1rem;
    }
  }
  dl dt,
  .dnb-dl dt {
    margin-top: 1rem;
  }
  dl dd,
  .dnb-dl dd {
    margin-bottom: 1rem;
  }

  table,
  .dnb-table {
    /* stylelint-disable-next-line */
    p,
    ul,
    ol,
    dl,
    pre {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  blockquote p:last-child,
  .dnb-blockquote p:last-child {
    margin-bottom: 0;
  }

  .dnb-hr,
  hr {
    margin-bottom: 1rem;
  }

  .dnb-section.dnb-section--content {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
