/*
* Slider theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --slider-track-background: var(--color-sea-green);
  --slider-track-background--after: var(--color-mint-green-50);
  --slider-thumb-background: var(--color-white);
  --slider-thumb-border-color: var(--color-mint-green-50);
}

.dnb-slider {
  &__line {
    background-color: var(--slider-track-background);
    &__after {
      background-color: var(--slider-track-background--after);
    }
  }
  &__state--disabled &__line {
    background-color: var(--color-sea-green-alt-30);
    &__after {
      background-color: var(--color-mint-green-25);
    }
  }

  &__track {
    &::before {
      background-color: var(--slider-track-background);
    }
    &::after {
      background-color: var(--slider-track-background--after);
    }
  }
  &__state--disabled#{&}__track {
    &::before {
      background-color: var(--color-sea-green-alt-30);
    }
    &::after {
      background-color: var(--color-mint-green-25);
    }
  }

  &__thumb {
    @include defaultDropShadow();
  }
}
