/*
 * FormStatus theme
 *
 */

@use '../../../../style/core/utilities.scss';

.dnb-form-status {
  &__shell {
    color: var(--sb-color-text);
  }
  &--error &__shell {
    background-color: var(--sb-color-magenta-light-2);
  }

  &--info &__shell,
  &--marketing &__shell {
    background-color: var(--sb-color-violet-light-4);
  }

  &--warn &__shell {
    background-color: var(--sb-color-yellow-light-3);
  }

  &__variant--outlined#{&}--error &__shell {
    @include utilities.fakeBorder(var(--sb-color-red));
  }
  &__variant--outlined#{&}--warn &__shell {
    @include utilities.fakeBorder(var(--sb-color-yellow-dark));
  }
  &__variant--outlined#{&}--info &__shell,
  &__variant--outlined#{&}--marketing &__shell {
    @include utilities.fakeBorder(var(--sb-color-violet-light));
  }
}
