.dnb-forms-field-postal-code-and-city {
  &__fields {
    display: flex;
    flex-flow: row;
    column-gap: var(--spacing-small);
  }

  &__postal-code {
    flex: 0 5rem;
  }

  &__city {
    flex: 1;
  }
}
