/*
* Tooltip component
*
*/

@import '../../../style/core/utilities.scss';

:root {
  --tooltip-z-index: 1100;
}

.dnb-tooltip {
  --inner-space: 0;
  --tooltip-border-radius: 1rem;

  z-index: var(--tooltip-z-index);
  .dnb-popover--inside-modal & {
    z-index: calc(var(--modal-z-index) + var(--tooltip-z-index));
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: var(--tooltip-border-radius);
  @include defaultDropShadow();

  &--large {
    padding: 0.25rem 1rem;
  }

  .dnb-popover__content {
    min-width: 2rem;
    min-height: 1.5rem;

    padding: 0 1rem;
  }
}
