/*
 * Icon theme
 *
 */

.dnb-icon {
  &--border {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    vertical-align: middle;

    color: inherit;

    border-radius: 50%;
    border: 0.0875em solid; // use 1.4px instead of 1.5 so webkit is rounding down
    border-color: currentColor;

    // default size
    width: 1.5em;
    height: 1.5em;
    svg {
      width: 1em;
      height: 1em;
    }

    & > span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
  &--border#{&}--medium {
    width: 2em;
    height: 2em;
    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}
