/*
 * Icon theme
 *
 */

.dnb-icon {
  &--border {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &--border > &--wrapper {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    height: inherit;

    &::after {
      content: '';
      position: absolute;

      width: 150%;
      height: 150%;

      border-radius: 50%;
      border: 0.0875em solid; // use 1.4px instead of 1.5 so webkit is rounding down
      border-color: currentColor;
    }
  }

  // &--border#{&}--default > &--wrapper {
  //   margin: 0 0.25rem;
  // }
  // &--border#{&}--medium > &--wrapper {
  //   margin: 0 0.5rem;
  // }
}
