/*
* Slider component
*
* ======================================================================== */

$range-line-background: rgba($color-sea-green, 0.5);
// $range-line-background-1: $color-summer-green;
$range-line-height: 0.25rem;
$range-line-border-radius: 0.25rem;

$range-thumb-background: white;
$range-thumb-border-color: $color-mint-green-alt;
$range-thumb-dimension: 1.5rem;

.dnb-slider {
  display: flex;

  .slider__root {
    width: 100%;
    cursor: pointer;
    padding: 1rem 0.5rem;
    position: relative;
    // -webkit-tap-highlight-color: transparent;
  }
  .slider__state--disabled.slider__root,
  .slider__state--disabled .slider__thumb {
    cursor: not-allowed;
  }
  &.slider__reverse .slider__root {
    transform: scaleX(-1);
  }
  &.slider__reverse.slider__vertical .slider__root {
    transform: scaleY(-1);
  }
  &.slider__vertical {
    height: 100%;
    padding: 0.5rem 1rem;

    .slider__root {
      width: inherit;
      height: inherit;
    }
  }

  .slider__line {
    position: absolute;
    top: 50%;
    height: 2px;
    transform: translate(0, -50%);
    background-color: $range-line-background;
  }
  .slider__state--disabled .slider__line {
    background-color: $color-shadow-grey;
  }
  &.slider__vertical .slider__line {
    transform: translate(-50%, 0);
    left: 50%;
    top: initial;
    width: 2px;
  }

  .slider__line__before {
    left: 0;
    z-index: 1;
  }
  .slider__line__after {
    right: 0;
    opacity: 0.24;
  }
  &.slider__vertical .slider__line__before {
    top: 0;
  }
  &.slider__vertical .slider__line__after {
    bottom: 0;
  }

  .slider__thumb {
    position: absolute;
    z-index: 2;

    height: $range-thumb-dimension;
    width: $range-thumb-dimension;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 0;

    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;

    cursor: pointer;
    user-select: none;
    outline: none;

    color: inherit;
    border: 1px solid $range-thumb-border-color;
    border-radius: 50%;

    text-decoration: none;
    appearance: none;
    // -moz-appearance: none;
    // -webkit-appearance: none;
    // -webkit-tap-highlight-color: transparent;

    background-color: $range-thumb-background;

    box-shadow: 1px 1px 2px rgba(0, 135, 137, 0.25),
      0px 0px 1px rgba(0, 160, 163, 0.25);

    &:focus {
      @include fakeFocus();
    }
  }
  .slider__state--disabled .slider__thumb {
    border: none;
    box-shadow: none;
    background-color: $color-shadow-grey;
    height: $range-thumb-dimension/3;
    width: $range-thumb-dimension/3;
  }

  .slider__state--jumped .slider__thumb,
  .slider__state--jumped .slider__line {
    transition: width 250ms ease 0ms, height 250ms ease 0ms,
      left 250ms ease 0ms, top 250ms ease 0ms, box-shadow 250ms ease 0ms;
  }
  // cubic-bezier(0, 0, 0.2, 1)

  .slider__state--activated .slider__thumb {
    border-width: 2px;
  }
}
