/*
* Slider component
*
*/

:root {
  --slider-track-height: 0.25rem;
  --slider-thumb-size: 2rem;
  --slider-button-size: 1.5rem;
  --slider-space: 1rem;
}

.dnb-slider {
  user-select: none;
  -webkit-user-select: none; // Safari / Touch fix

  // use flex to make sure we have the whole space available
  display: flex;

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &--vertical {
    display: flex;
    width: auto;
    height: 100%;

    min-width: inherit;
    min-height: inherit;
  }

  &__wrapper {
    display: inline-flex;
    flex-direction: column;

    flex: 1;
    width: 100%;
  }
  &--vertical &__wrapper {
    align-items: center;

    width: auto;
    height: 100%;
  }

  &__inner {
    display: inline-flex;

    // set a height so it's easier to click on the track
    height: var(--slider-thumb-size);
  }

  &__suffix {
    align-self: center;
    padding-left: 0.5rem;
    line-height: var(--line-height-basis);
  }
  &--vertical &__suffix {
    padding-left: 0;
    padding-top: 0.5rem;
  }

  &__track {
    // make sure we do not alow page scroll on touch devices
    touch-action: none;

    position: relative;
    flex: 1;

    // makre room again for the negative line manipulation
    margin: 0 calc(var(--slider-space) * 1.5);

    // only to make sure we have a visible track
    min-width: 2rem;

    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 50%;

      width: var(--slider-thumb-size);
      height: var(--slider-track-height);

      transform: translate3d(0, -50%, 0);

      border-radius: calc(var(--slider-track-height) / 2);
      background-color: inherit;
    }

    &::before {
      background-color: red;
      left: calc(1px - 1px - var(--slider-space));
      right: auto;
    }
    &::after {
      background-color: blue;
      left: auto;
      right: calc(1px - 1px - var(--slider-space));
    }
  }
  &--vertical &__track {
    margin: calc(var(--slider-space) * 1.5) 0;

    // only to make sure we have a visible track
    min-height: 2rem;
    min-width: auto;

    &::before,
    &::after {
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: var(--slider-track-height);
      height: var(--slider-thumb-size);
    }
    &::before {
      top: calc(1px - 1px - var(--slider-space));
      bottom: auto;
    }
    &::after {
      top: auto;
      bottom: calc(1px - 1px - var(--slider-space));
    }
  }

  &--vertical &__inner {
    flex-direction: column;

    // set a width so it's easier to click on the track
    width: var(--slider-thumb-size);
    height: inherit;

    min-width: inherit;
    min-height: inherit;
  }
  &--reverse &__track {
    transform: scaleX(-1);
  }
  &--reverse#{&}--vertical &__track {
    transform: scaleY(-1);
  }

  &__line {
    position: absolute;

    left: 0;
    top: 50%;

    height: var(--slider-track-height);
    transform: translate3d(0, -50%, 0);

    background-color: grey;
  }
  &--vertical &__line {
    width: var(--slider-track-height);
    height: auto;

    left: 50%;
    top: 0;

    transform: translate3d(-50%, 0, 0);
  }

  &__line__before {
    z-index: 2;
  }
  &__line__after {
    z-index: 1;
    right: 0;
    background-color: #ddd;
  }
  &--vertical &__line__before {
    top: 0;
  }
  &--vertical &__line__after {
    bottom: 0;
  }

  &__button-helper,
  &__thumb {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;

    display: block;
    transform: translate3d(-50%, 0, 0);

    // Becaus of the DropShadow
    border-radius: 50%;

    &,
    .dnb-button {
      height: var(--slider-thumb-size);
      width: var(--slider-thumb-size);
    }
  }
  &--vertical &__thumb {
    transform: translate3d(0, -50%, 0);
  }

  &__button.dnb-button--size-small {
    height: var(--slider-button-size);
    width: var(--slider-button-size);

    line-height: var(--slider-button-size);
    transform: translateY(0.25rem);
  }
  &--vertical &__button.dnb-button--size-small {
    transform: translateX(0.25rem);
  }

  &__state--jumped &__thumb,
  &__state--jumped &__line {
    transition: width 250ms ease 0ms, height 250ms ease 0ms,
      left 250ms ease 0ms, top 250ms ease 0ms, box-shadow 250ms ease 0ms;
  }

  &__state--disabled#{&}__track,
  &__state--disabled &__thumb {
    cursor: not-allowed;
  }

  // make sure the helper is not click able
  &__button-helper {
    pointer-events: none;
    z-index: 2;
    opacity: 0;

    transform: translate3d(0.0625rem, 0, 0);
  }
  &__button-helper:not(:disabled):focus ~ .dnb-button {
    @include fakeFocus();
  }

  > .dnb-form-label {
    margin-right: 1rem;
    line-height: var(--slider-thumb-size);
  }
  &__label--vertical {
    flex-direction: column;
  }
  &__label--vertical#{&}--vertical {
    align-items: center;
    .dnb-form-label {
      text-align: center;
      width: 100%;
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }

  // status
  .dnb-form-status {
    order: 2;
    margin-top: 0.5rem;
  }
  &--vertical .dnb-form-status {
    margin-top: 1rem;
  }

  .dnb-responsive-component & {
    @media screen and (max-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 0.5rem;

      > .dnb-form-label {
        margin-bottom: 0.5rem;
      }
    }
  }

  @include IS_IE {
    &__wrapper {
      flex: none;
    }
  }
}
