/*
* Used for snapshot testing
*
*/

@import '../../../style/core/utilities.scss';

@import '../../input/style/deps.scss';
@import '../../dropdown/style/deps.scss';
@import '../../progress-indicator/style/deps.scss';
@import './_autocomplete.scss';
