/*
* Used for snapshot testing
*
*/

@use '../../../style/core/utilities.scss' as *;
@use '../../input/style/deps.scss' as *;
@use '../../dropdown/style/deps.scss' as *;
@use '../../progress-indicator/style/deps.scss' as *;
@use './dnb-autocomplete.scss';
