/*
 * StepIndicator component
 *
 */

@import '../../../style/core/utilities.scss';

.dnb-step-indicator {
  --padding-top: 0;
  --padding-bottom: 0;

  &__sidebar {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    list-style: none;
  }
  &__trigger {
    // Is needed to make ensure the button stays on top during height animation
    display: flex;
    flex-wrap: wrap;
  }
  &__label {
    font-size: var(--font-size-basis);
    white-space: nowrap;
  }
  &__trigger__button {
    line-height: inherit;
    .dnb-button__text {
      text-align: left;
      margin: 0;
      transform: none;
    }
    .dnb-button__icon {
      --button-icon-margin-top: 0.25rem;
    }
    .dnb-button__alignment {
      order: 2;
    }
  }

  &__item {
    &__wrapper {
      display: flex;
      gap: 1rem;
      padding-bottom: 1rem;
      position: relative;
      white-space: nowrap;

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: var(--color-black-20);
        top: 0.25rem;
        left: 0.71875rem;
      }
    }

    &__bullet {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      z-index: 0;
      border-radius: 50%;

      &--check,
      &--empty,
      &--current {
        background-color: var(--color-pistachio);
        border-width: 0.0625rem;
        border-style: solid;
        border-color: transparent;
      }

      &--check {
        color: var(--color-success-green);
        border-color: var(--color-success-green);
      }

      &--empty {
        color: var(--color-black-20);
        background-color: var(--color-white);
        border-color: var(--color-black-20);
      }

      &--current {
        border-width: 0.1875rem;
        border-color: var(--color-black-80);
      }
    }

    &__text {
      font-size: var(--font-size-basis);
      white-space: nowrap;
    }

    &__number {
      vertical-align: top;
    }

    &__icon {
      opacity: 1;
      transition: opacity 400ms ease-in-out;

      &--hidden {
        opacity: 0;
        transition-timing-function: ease-out;
      }
    }

    &:last-child &__wrapper {
      &::before {
        display: none;
      }
    }

    html[data-visual-test] &__icon {
      transition-duration: 1ms !important;
    }
  }

  &__button {
    white-space: normal;
    text-align: left;
    &.dnb-anchor {
      padding: 0;
      line-height: inherit;
    }
    &--has-status .dnb-step-indicator__item-content {
      &__status {
        color: var(--color-black-80);
        font-size: var(--font-size-x-small);
      }
    }
  }
}
