/*
 * StepIndicator component
 *
 */

@import '../../../style/core/utilities.scss';

.dnb-step-indicator__sidebar {
  display: none;
}
.dnb-step-indicator-wrapper {
  --padding-top: 0;
  --padding-bottom: 0;
}

.dnb-step-indicator-wrapper .dnb-step-indicator {
  &__list {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    list-style: none;
  }
  &__trigger {
    // Is needed to make ensure the button stays on top during height animation
    display: flex;
    flex-wrap: nowrap;
  }
  &__label {
    white-space: nowrap;
  }
  &__trigger__button,
  &__item .dnb-button {
    line-height: normal;
    padding-left: 0;
    overflow: hidden; // only needed when text is large and it overflows during animation (from small to large)

    .dnb-button__text {
      text-align: left;
      margin: 0;
    }
    .dnb-button__icon {
      --button-icon-margin-top: 0.25rem;
    }
    .dnb-button__alignment {
      order: 2;
    }

    justify-content: space-between;
    border-radius: 0.25rem;
  }

  &__item {
    margin-bottom: 1rem;

    .dnb-button__icon {
      opacity: 1;
      transition: opacity 1400ms ease-in-out;

      html[data-visual-test] & {
        transition-duration: 1ms !important;
      }
    }

    &:not(.dnb-step-indicator__item--visited)
      .dnb-button:not(.dnb-step-indicator__button__status)
      .dnb-button__icon {
      opacity: 0;
    }
  }

  &__button__status .dnb-step-indicator__item-content {
    &__status {
      color: var(--color-black-80);
      font-size: var(--font-size-x-small);
    }
  }
}
