/*
* ToggleButton theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-toggle-button {
  &__button {
    // checkbox button
    .dnb-checkbox {
      .dnb-checkbox__input {
        pointer-events: none;
      }
      .dnb-checkbox__button {
        width: calc(var(--checkbox-width) - 0.5rem);
        height: calc(var(--checkbox-width) - 0.5rem);
        border-width: 0.0625rem; // to get 1.5px we use 1px here, and 0.5px with box-shadow
        box-shadow: 0 0 0 0.03125rem var(--color-sea-green-alt);
      }
      .dnb-checkbox__dot {
        width: calc(var(--checkbox-width) - 1rem);
        height: calc(var(--checkbox-width) - 1rem);
      }
      .dnb-checkbox__gfx {
        width: calc(var(--checkbox-width) - 0.25rem);
        height: calc(var(--checkbox-width) - 0.25rem);
      }
    }

    // radio button
    .dnb-radio {
      .dnb-radio__input {
        pointer-events: none;
      }
      .dnb-radio__button {
        width: calc(var(--radio-width) - 0.5rem);
        height: calc(var(--radio-width) - 0.5rem);
        border-width: 0.0625rem; // to get 1.5px we use 1px here, and 0.5px with box-shadow
        box-shadow: 0 0 0 0.03125rem var(--color-sea-green-alt);
      }
      .dnb-radio__dot {
        width: calc(var(--radio-width) - 1rem);
        height: calc(var(--radio-width) - 1rem);
      }
    }
  }

  &--checked &__button,
  &--checked &__button:not([disabled]):focus,
  &--checked &__button:not([disabled]):hover {
    background-color: var(--color-emerald-green);
    color: var(--color-mint-green);

    // do not hide the box-shadow, due to the focus ring
    // box-shadow: none;

    // radio button
    .dnb-radio {
      .dnb-radio__button {
        background-color: transparent;
        border-color: var(--color-mint-green);
        box-shadow: 0 0 0 0.03125rem var(--color-mint-green);
      }
      .dnb-radio__dot {
        background-color: var(--color-mint-green);
      }
    }

    // checkbox button
    .dnb-checkbox {
      .dnb-checkbox__button {
        background-color: var(--color-mint-green);
        box-shadow: 0 0 0 0.03125rem var(--color-mint-green);
      }
      .dnb-checkbox__dot {
        // background-color: var(--color-mint-green);
      }
      .dnb-checkbox__gfx {
        color: var(--color-emerald-green);
      }
    }
  }

  /*
    * On error state
    *
    */
  // change button color
  // fake border outside
  /* stylelint-disable */
  &__status--error &__button:not([disabled]):not(:focus):not(:active) {
    background-color: var(--color-white);
    color: var(--color-cherry-red);
    @include fakeBorder(var(--color-cherry-red), 0.0625rem, inset);
  }
  &--checked#{
    &}__status--error
    &__button:not([disabled]):not(:focus):not(:active) {
    background-color: var(--color-cherry-red);
    color: var(--color-white);
    @include fakeBorder(var(--color-cherry-red), 0.0625rem, inset);
  }
  /* stylelint-enable */

  // ajust the form-status to the inner border for 3px
  > .dnb-form-status {
    transform: translateY(0.1875rem);
  }
}
