/*
* ToggleButton theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-toggle-button {
  /* stylelint-disable */
  &--checked &__button,
  &--checked &__button:focus,
  &--checked &__button:hover {
    &:not([disabled]):not(:active) {
      background-color: var(--color-emerald-green);
      color: var(--color-mint-green);
      &:not(:hover) {
        @include fakeBorder(var(--color-emerald-green), $pixel1, inset);
      }
    }

    .dnb-icon {
      color: inherit;
    }

    // chrome has focus after click, firefox/safari not
    // TODO: The hover will anyway show up, so this makes the experiance worse
    // &:focus:hover {
    //   box-shadow: none;
    // }

    &:not([disabled]) {
      // radio button
      .dnb-radio {
        &__button {
          background-color: transparent;
          border-color: var(--color-mint-green);
          // extend the broder to be 1.5px
          box-shadow: 0 0 0 0.0318rem var(--color-mint-green);
        }
        &__dot {
          background-color: var(--color-mint-green);
        }
      }

      // checkbox
      .dnb-checkbox {
        &__button {
          background-color: var(--color-mint-green);
        }
        &__gfx {
          color: var(--color-emerald-green);
        }
      }
    }
    &[disabled] {
      .dnb-radio__button,
      .dnb-checkbox__button {
        box-shadow: none;
      }
    }

    html[data-whatinput='keyboard']
      &:not([disabled]):not(:active):not(:hover):focus {
      color: var(--color-emerald-green);
      background-color: var(--color-mint-green);
    }
    &:not([disabled]):not(:active):not(:hover):focus {
      @include fakeFocus(null, var(--color-emerald-green), inset);
    }
  }

  &__button,
  &--checked &__button {
    &:not([disabled]):active {
      // radio button
      .dnb-radio {
        &__button {
          background-color: transparent;
          border-color: var(--color-sea-green);
          // extend the broder to be 1.5px (use .0318rem instead of .03125rem because of Windows)
          box-shadow: 0 0 0 0.0318rem var(--color-sea-green);
        }
        &__dot {
          background-color: var(--color-sea-green);
        }
      }

      // checkbox
      .dnb-checkbox {
        &__button {
          background-color: transparent;
          border-color: var(--color-sea-green);
          // extend the broder to be 1.5px (use .0318rem instead of .03125rem because of Windows)
          box-shadow: 0 0 0 0.0318rem var(--color-sea-green);
        }
        &__gfx {
          color: var(--color-sea-green);
        }
      }
    }
  }
  /* stylelint-enable */

  /*
    * On error state
    *
    */
  // change button color
  // fake border outside
  /* stylelint-disable */
  &__status--error &__button:not([disabled]):not(:focus):not(:active) {
    background-color: var(--color-white);
    color: var(--color-fire-red);
    @include fakeBorder(var(--color-fire-red), $pixel1, inset);

    &:hover {
      box-shadow: 0 0 0 #{$pixel2} var(--color-fire-red);
    }
  }
  &--checked#{&}__status--error
    &__button:not([disabled]):not(:focus):not(:active) {
    background-color: var(--color-fire-red);
    color: var(--color-white);

    &:hover {
      box-shadow: 0 0 0 #{$pixel2} var(--color-fire-red);
    }
  }

  &--checked#{&}__status--error {
    // radio button
    .dnb-radio {
      &__input:not([disabled]):not(:focus):not(:active) {
        & ~ .dnb-radio__focus {
          box-shadow: 0 0 0 #{$pixel2} /* 2px */ var(--color-white);
        }
        &:not(:hover) ~ .dnb-radio__dot {
          background-color: var(--color-white);
        }
      }
    }

    // checkbox
    .dnb-checkbox {
      &__input:not([disabled]):not(:focus):not(:active) {
        & ~ .dnb-checkbox__button .dnb-checkbox__focus {
          box-shadow: 0 0 0 $pixel1 var(--color-white);
        }
        &:not(:hover) ~ .dnb-checkbox__gfx path {
          stroke: var(--color-white);
        }
      }
    }
  }
  /* stylelint-enable */

  // ajust the form-status to the inner border for 3px
  > .dnb-form-status {
    transform: translateY(0.1875rem);
  }
}
