@import '../../../../style/core/utilities.scss';

.dnb-forms-wizard-layout {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--spacing-medium);

  &--drawer {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  &__sidebar {
    flex: 0;
    margin-bottom: 2rem;
  }

  &__contents {
    flex: 1;

    .dnb-forms-step {
      outline: none;
    }

    .dnb-card {
      --border-color: var(--color-pistachio);
      max-width: var(--forms-card-max-width);
    }

    .dnb-forms-step > .appear-fx,
    .dnb-forms-button-row > .appear-fx {
      --appear-opacity: 0;
      --appear-offset: -0.25rem;

      opacity: var(--appear-opacity);
      transform: translate3d(var(--appear-offset), 0, 0);

      animation: appear 600ms var(--easing-default) forwards;
      animation-delay: calc(var(--element-index, 0) * 30ms);

      @keyframes appear {
        0% {
          opacity: var(--appear-opacity);
          transform: translate3d(var(--appear-offset), 0, 0);
        }
        80% {
          opacity: 1;
        }
        100% {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  // FormStatus as part of the Form.Handler
  & + .dnb-form-status,
  & + .dnb-form-status + .dnb-form-status {
    @include allAbove(small) {
      &:not([class*='space__left']) {
        margin-left: var(--spacing-medium);
      }
    }
  }

  @include allBelow('medium') {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    &__contents {
      flex-basis: auto;
    }
  }

  .dnb-step-indicator__sidebar {
    margin-right: 0;
  }
}

@include allAbove('medium') {
  .dnb-forms-form:has(.dnb-forms-wizard-layout--sidebar)
    .dnb-forms-status {
    margin-left: 23rem;
  }
}
