/*
 * Anchor
 *
 */

@import './anchor-mixins.scss';

button.dnb-anchor {
  cursor: pointer;

  // to get the button to 32px
  line-height: calc(var(--line-height-basis) + 0.125rem); // 26px

  border: none;
  background: none; // because we have "appearance: button" in reset.scss // and use prefix to make sure webkit does  a good job
  appearance: none; // and use prefix to make sure webkit does  a good job
}

:where(:not(.dnb-anchor--no-style)) {
  &.dnb-anchor {
    --anchor-underline-thickness: 0.0938rem;
    @include anchorStyle();

    &.dnb-anchor--contrast {
      @include useAnchorContrastStyle();
    }
  }
}

.dnb-anchor--hover {
  @include anchorHoverStyle();
}

.dnb-anchor--active {
  @include anchorActiveStyle();
}

.dnb-anchor--focus {
  @include anchorFocusStyle();
}

// no use case for that yet
// .dnb-anchor--style {
//   @include anchorDefaultStyle();
// }

.dnb-anchor--no-underline {
  @include resetUnderlineStyle();
}

.dnb-anchor--no-radius {
  @include resetBorderRadius();
}

.dnb-anchor--no-animation {
  @include resetAnimationStyle();
}

// make sure we style an Anchor like a button
a.dnb-button {
  // reset the anchor style
  @include resetAnimationStyle();
}

// because of the underline, we hide anchors
.dnb-skeleton > .dnb-anchor,
.dnb-anchor.dnb-skeleton {
  text-decoration: none;

  &::after {
    filter: grayscale(100%) opacity(0.3);
  }
}
