/*
 *  Shared global rules across all themes.
 */

:root,
.eufemia-theme {
  // Scrollbar
  --scrollbar-track-width: 0.5rem;
  --scrollbar-thumb-width: 0.5rem;
  --scrollbar-track-color: var(--token-color-background-neutral-subtle);
  --scrollbar-thumb-color: var(--token-color-background-action);
  --scrollbar-thumb-hover-color: var(
    --token-color-background-action-hover
  );
}
