/*
 * Notification element
 *
 * ========================================================================== */

// .dnb-notification,
// .dnb-notification__inner {
//   //border: 1px solid;
// }

.dnb-notification {
  position: relative;
  display: inline-block;

  &__button {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: 2px;

    cursor: pointer;

    background: transparent;
    border: none;
    outline: none;

    &:focus {
      @include fakeFocus();
    }
  }

  &__inner {
    display: block;
    position: relative;
    height: 100%;
  }

  &__icon {
    display: block;
  }

  svg {
    fill: var(--color-sea-green);
  }

  &__amount {
    position: absolute;
    top: 1px;
    right: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;

    background: transparent;
    border: 1px solid var(--color-sea-green);
    border-radius: 50%;

    color: var(--color-sea-green);
    text-align: center;
  }

  &__amount__inner {
    font-size: 0.8rem;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    // line-height: 0.8rem;
    line-height: 1;
  }
}

.dnb-notification--has-notification .dnb-notification__icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
