/*
 *  Global rules, a place to put rules, overrides and customizations that don't fit elsewhere.
 */

:root {
  // Focus Ring
  --focus-ring-width: 0.125rem;
  --focus-ring-color: var(--color-emerald-green);

  // Scrollbar
  --scrollbar-track-width: 0.5rem;
  --scrollbar-thumb-width: 0.5rem;
  --scrollbar-track-color: var(--color-black-8);
  --scrollbar-thumb-color: var(--color-sea-green);
  --scrollbar-thumb-hover-color: var(--color-emerald-green);

  // Skeleton
  --skeleton-color: var(--color-black-8);
  --skeleton-color--contrast: var(--color-white);
}

// ::selection appearance helper
.dnb-selection::selection,
.dnb-selection ::selection,
[class^='dnb-']::selection,
[class^='dnb-'] ::selection {
  background-color: var(--color-mint-green);
  color: var(--color-black);
  text-shadow: none;
}
