/**
 * HTML Element Tags
 * NB: There is a visual test with a page called "elements-without-classes".
 * It should cover all cases.
 */

@use '../../../components/anchor/style/anchor-mixins.scss' as *;
@use '../../../elements/blockquote/style/blockquote-mixins.scss' as *;
@use '../../../elements/typography/style/typography-mixins.scss' as *;
@use '../../../elements/label/style/label-mixins.scss' as *;
@use '../../../elements/lists/style/lists-mixins.scss' as *;
@use '../../../elements/code/style/code-mixins.scss' as *;
@use '../../../elements/img/style/img-mixins.scss' as *;
@use '../../../elements/hr/style/hr-mixins.scss' as *;

// Import themes
@use '../../../components/anchor/style/themes/dnb-anchor-theme-ui.scss'
  with (
  $useClasses: false
);
@use '../../../elements/typography/style/themes/dnb-typography-theme-ui.scss'
  with (
  $useClasses: false
);
@use '../../../elements/img/style/themes/dnb-img-theme-ui.scss' with (
  $useClasses: false
);

.dnb-core-style {
  // div
  @include anchorTag();
  @include imageTag();
  @include blockquoteTag();
  @include hrTag();

  // typography
  @include typographyTags();

  // lists
  @include ulTag();
  @include olTag();
  @include dlTag();

  // form
  @include labelTag();

  // additional
  @include codeTag();
  @include preTag();

  // handle themes
  @include dnb-anchor-theme-ui.anchorThemeTag();
  @include dnb-typography-theme-ui.typographyThemeTag();
  @include dnb-img-theme-ui.imgThemeTag();
}
