@use './dnb-typography-theme-ui.scss';
@use '../typography-mixins.scss' as typography;

@include typography.typographySelectors() {
  --typography-h-xx-large-weight: var(--font-weight-regular);
  --typography-h-x-large-weight: var(--font-weight-regular);
  --typography-h-large-weight: var(--font-weight-regular);
  --typography-h-medium-weight: var(--font-weight-regular);
  --typography-h-basis-weight: var(--font-weight-regular);
  --typography-h-small-weight: var(--font-weight-regular);
  --typography-h-x-small-weight: var(--font-weight-regular);
}
