@use '../typography-mixins.scss' as typography;
@use '../../../../style/core/utilities.scss' as utilities;

// Paragraphs
.dnb-p {
  color: var(--sb-color-text);
}

// Setting the default headings color
@include typography.headingTags() {
  color: var(--sb-color-text);
}

// Headings
@include typography.headingClasses() {
  color: var(--sb-color-text);
  font-variant-ligatures: none;
}

@include typography.typographySelectors() {
  --typography-h-xx-large-weight: var(--font-weight-regular);
  --typography-h-x-large-weight: var(--font-weight-regular);
  --typography-h-large-small-font-size: var(--sb-font-size-medium--plus);
  --typography-h-large-weight: var(--font-weight-regular);
  --typography-lead-small-font-size: var(--font-size-basis);
  --typography-lead-small-line-height: var(--line-height-basis);
  --typography-lead-weight: var(--font-weight-regular);
  --typography-h-medium-font-size: var(--sb-font-size-medium--plus);
  --typography-h-medium-small-font-size: var(--font-size-medium);
  --typography-h-medium-weight: var(--font-weight-regular);

  @include utilities.allBelow(small) {
    // xx-large
    --typography-h-xx-large-font-size: var(--font-size-x-large);
    --typography-h-xx-large-line-height: var(--line-height-x-large);
    --typography-h-xx-large-small-font-size: var(--font-size-large);
    --typography-h-xx-large-small-line-height: var(--line-height-large);
    // x-large
    --typography-h-x-large-font-size: var(--font-size-large);
    --typography-h-x-large-line-height: var(--line-height-large);
    --typography-h-x-large-small-font-size: var(
      --sb-font-size-medium--plus
    );
    --typography-h-x-large-small-line-height: var(--line-height-medium);
    // large
    --typography-h-large-font-size: var(--sb-font-size-medium--plus);
    --typography-h-large-line-height: var(--line-height-medium);
    --typography-h-large-small-font-size: var(--font-size-medium);
    --typography-h-large-small-line-height: var(--line-height-lead);
    // medium
    --typography-h-medium-font-size: var(--font-size-medium);
    --typography-h-medium-line-height: var(--line-height-lead);
    --typography-h-medium-small-font-size: var(--font-size-basis);
    --typography-h-medium-small-line-height: var(--line-height-basis);
  }
}
