@use '../typography-mixins.scss' as typography;

// Paragraphs
.dnb-p {
  color: var(--sb-color-text);
}

// Setting the default headings color
@include typography.headingTags() {
  color: var(--sb-color-text);
}

// Headings
@include typography.headingClasses() {
  color: var(--sb-color-text);
}
