@use '../typography-mixins.scss' as typography;

@mixin typographyStyle() {
  color: var(--theme-color-black-80, currentColor);
}

// Setting the default headings color
@include typography.headingTags() {
  color: var(--theme-color-black-80, currentColor);
}

// Headings
@include typography.headingClasses() {
  color: var(--theme-color-black-80, currentColor);
}

$useClasses: true !default;
@if $useClasses {
  .dnb-p {
    @include typographyStyle();
  }
}

@mixin typographyThemeTag() {
  @include typography.headingTags() {
    @include typographyStyle();
  }

  p {
    @include typographyStyle();
  }
}
