@use '../typography-mixins.scss' as typography;

@include typographySelectors() {
--typography-heading-xx-large-weight: var(--font-weight-regular);
--typography-heading-x-large-weight: var(--font-weight-regular);
--typography-heading-large-weight: var(--font-weight-regular);
--typography-heading-medium-weight: var(--font-weight-regular);
--typography-heading-basis-weight: var(--font-weight-regular);
--typography-heading-small-weight: var(--font-weight-regular);
}