/*
* Button theme
*
*/

@import './dnb-button-theme-ui.scss';

:root {
  --button-width: 3.5rem;
  --button-height: 3.5rem;
  --button-width--large: 4.5rem;
  --button-height--large: 4.5rem;
  --button-icon-size: 1.5rem;
}

.dnb-button--primary {
  color: var(--color-open-banking-green);
  background-color: var(--color-open-banking-emerald);
}
