/*
* Button theme
*
*/

@import '../../../../style/themes/imports.scss';
@import '../_button-mixins.scss';

.dnb-button {
  border: none;
  box-shadow: none;

  // no animation yet
  // transition: background-color 100ms ease-out, box-shadow 100ms ease-out;

  &--primary {
    color: var(--color-white);
    background-color: var(--color-sea-green);

    @include buttonHover(var(--color-sea-green), var(--color-white));
    @include buttonFocus(var(--color-sea-green), var(--color-white));
    @include buttonActive(
      var(--color-sea-green),
      var(--color-mint-green-50)
    );

    &[disabled] {
      color: var(--color-white);
      background-color: var(--color-sea-green-alt-30);
    }
  }

  &--secondary {
    color: var(--color-sea-green);
    background-color: var(--color-white);

    &:not([disabled]) .dnb-button__icon {
      color: var(--color-emerald-green);
    }

    @include fakeBorder(
      var(--color-sea-green),
      0.0625rem,
      inset,
      true
    );

    @include buttonHover(var(--color-sea-green), var(--color-white));
    @include buttonFocus(var(--color-sea-green), var(--color-white));
    @include buttonActive(
      var(--color-sea-green),
      var(--color-mint-green-50)
    );

    &[disabled],
    &[disabled]:focus // only because of href/anchor button
 {
      color: var(--color-sea-green-alt-30);
      background-color: var(--color-white);

      // only because of href/anchor button
      @include fakeBorder(
        var(--color-sea-green-alt-30),
        0.0625rem,
        inset,
        true
      );
    }
  }
  &:not([disabled])#{&}--secondary#{&}__status {
    &--error {
      color: var(--color-fire-red);

      @include fakeBorder(var(--color-fire-red), 0.0625rem, inset, true);
      .dnb-button__icon {
        color: inherit;
      }
    }
  }

  // simulate active state
  &--active {
    @include fakeBorder(var(--color-emerald-green), 0.125rem /*2px*/);
  }

  &--tertiary {
    position: relative; // because  of the focus ring

    color: var(--color-sea-green);
    background-color: transparent;

    &.dnb-button--has-text {
      padding: 0 0.5rem;
    }

    .dnb-button__text {
      position: relative; // because of the underline

      padding: 0.125rem 0;
      line-height: var(--line-height-xx-small--em);

      @include drawUnderlineBorder() {
        bottom: -0.125rem;
        color: transparent;
        opacity: 0;
        transition: opacity 200ms ease-out, color 200ms ease-out;
        [data-dnb-test-wrapper] & {
          transition: none;
        }
      }
    }

    @include focus() {
      @include removeFakeFocus();
      @include buttonFocusRing();

      // underline
      .dnb-button__text::after {
        visibility: hidden;
      }
    }

    @include hover() {
      // underline
      .dnb-button__text::after {
        visibility: visible;
        opacity: 1;
        color: var(--color-emerald-green);
      }
    }

    @include active() {
      @include removeFakeFocus();

      // underline
      .dnb-button__text::after {
        html[data-is-touch] & {
          transition: none;
          visibility: visible;
          opacity: 1;
          color: var(--color-emerald-green);
        }
        html:not([data-is-touch]) & {
          visibility: hidden;
        }
      }
    }

    // webkit fix
    html[data-whatinput='keyboard']
      &:hover:focus
      .dnb-button__text::after {
      visibility: hidden;
    }

    &.dnb-button--has-icon {
      &.dnb-button--has-text .dnb-button__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
      }

      &.dnb-button--icon-position-left {
        .dnb-button__text {
          padding-left: 1.5rem;
        }
        .dnb-button__icon {
          left: 0.5rem;
          right: auto;
        }
        &.dnb-button--icon-size-medium {
          .dnb-button__text {
            padding-left: 0;
            margin-left: 2rem;
          }
        }
      }
      &.dnb-button--icon-position-right {
        /* stylelint-disable */
        .dnb-button__text {
          padding-right: 1.5rem;
        }
        /* stylelint-enable */
        .dnb-button__icon {
          right: 0.5rem;
          left: auto;
        }
        &.dnb-button--icon-size-medium {
          .dnb-button__text {
            padding-right: 0;
            margin-right: 2rem;
          }
        }
      }

      // even if only icons are not supported by Eufemia, devs are using this
      // therefore we make sure the text don't has spacing
      &:not(.dnb-button--has-text).dnb-button--has-icon .dnb-button__text {
        padding: 0;
        margin: 0;
      }
      &:not(.dnb-button--has-text) {
        @include focus() {
          // make the ring round
          &::before {
            left: 0;
            right: 0;
          }
        }

        @include hover() {
          @include fakeBorder(var(--color-sea-green), 0.0625rem);
        }

        @include active() {
          @include fakeBorder(var(--color-sea-green-alt-30), 0.0625rem);
        }
      }
    }

    &[disabled] {
      color: var(--color-sea-green-alt-30);
    }
  }

  &--signal {
    color: var(--color-ocean-green);
    background-color: var(--color-accent-yellow);

    @include buttonHover(
      var(--color-ocean-green),
      var(--color-accent-yellow),
      'touch'
    );
    @include buttonFocus(
      var(--color-ocean-green),
      var(--color-accent-yellow)
    );
    @include buttonActive(
      var(--color-ocean-green),
      var(--color-accent-yellow)
    );

    // touch helper
    // html[data-is-touch] &:active {
    //   @include fakeBorder(var(--color-emerald-green), 0.125rem /*2px*/);
    // }

    &[disabled] {
      color: var(--color-black-30);
      background-color: var(--color-accent-yellow-30);
    }
  }
}
