/*
* Button theme
*
*/

@import '../../../../style/themes/imports.scss';
@import '../_button-mixins.scss';

.dnb-button {
  &--secondary:not([disabled]):not(.dnb-button--has-text) &__icon {
    color: var(--color-emerald-green);
  }
}

.dnb-button--primary {
  color: var(--color-white);
  background-color: var(--color-sea-green-alt);
  border-color: transparent;

  @include buttonHover(var(--color-sea-green), var(--color-mint-green-50));

  @include buttonFocus(var(--color-sea-green), var(--color-mint-green-50));

  &[disabled] {
    color: var(--color-white);
    background-color: var(--color-sea-green-alt-30);
  }
}

.dnb-button--secondary {
  color: var(--color-sea-green);
  background-color: var(--color-white);
  border-color: var(--color-sea-green-alt);

  @include buttonHover(var(--color-sea-green), var(--color-mint-green-50));

  @include buttonFocus(var(--color-sea-green), var(--color-mint-green-50));

  &[disabled] {
    color: var(--color-sea-green-alt-30);
    background-color: var(--color-white);
    border-color: var(--color-sea-green-alt-30);
  }
}

.dnb-button--tertiary {
  position: relative;
  z-index: 1;
  color: var(--color-sea-green);
  background-color: transparent;
  border-color: transparent;

  &.dnb-button--has-text {
    padding-left: 0.5em;
    padding-right: 0.5em;
    &:not([disabled]) .dnb-button__icon {
      margin: 0 0.5em;
    }
    &.dnb-button--icon-position-left .dnb-button__icon {
      margin-left: 0;
    }
    &.dnb-button--icon-position-right .dnb-button__icon {
      margin-right: 0;
    }
  }

  &.dnb-button--has-text:not([disabled]):hover {
    @include drawUnderlineBorder() {
      left: 0.45em;
      right: 0.45em;
      bottom: 0.5em;
    }
    &.dnb-button--icon-position-left::after {
      left: 0.7em;
    }
    &.dnb-button--icon-position-right::after {
      right: 0.7em;
    }
  }

  // icon only tertiary
  &.dnb-button--has-icon:not(.dnb-button--has-text):hover {
    .dnb-button__icon {
      color: var(--color-sea-green-alt-30);
    }
  }

  &:not([disabled]):active::after,
  html[data-whatinput='keyboard'] &:not([disabled]):focus::after {
    border-bottom: none;
  }

  @include buttonFocus(var(--color-sea-green), transparent);

  &[disabled] {
    color: var(--color-sea-green-alt-30);
  }
}

@mixin buttonHover--signal() {
  box-shadow: 0 0 0 var(--button-border-width--hover)
      var(--color-signal-yellow),
    0 0 0 calc(var(--button-border-width--hover) + 1px) var(--color-black);
  @content;
}

.dnb-button--signal {
  color: var(--color-black);
  background-color: var(--color-signal-yellow);

  @include hover(true) {
    @include buttonHover--signal();

    &:not([disabled]):active {
      @include fakeBorder(transparent);
    }
  }

  @include buttonFocus(var(--color-black), var(--color-signal-yellow));

  &[disabled] {
    color: #b0b0b0;
    background-color: var(--color-signal-yellow-30);
  }
}
