/*
 * FormStatus theme
 *
 */

.dnb-form-status {
  &__shell {
    font-size: var(--font-size-small);
  }
  &--error &__shell {
    color: var(--color-cherry-red);
    background-color: var(--color-cherry-red-80);
  }
  &--info &__shell {
    color: var(--color-emerald-green);
    background-color: var(--color-mint-green-25);
  }
  &:not(#{&}--attention-focus)#{&}--text {
    color: var(--color-emerald-green);
  }

  &--error#{&}--attention-focus &__shell .dnb-icon,
  &--error#{&}:focus &__shell .dnb-icon {
    animation: attention-focus 2s ease-in-out 1 200ms;
  }
}

@keyframes attention-focus {
  0%,
  100% {
    color: var(--color-cherry-red);
    background-color: var(--color-cherry-red-80);
    border-color: var(--color-cherry-red);
  }
  35% {
    color: var(--color-white);
    background-color: var(--color-cherry-red);
    border-color: var(--color-cherry-red);
  }
}
