.dnb-forms-field-expiry {
  .dnb-multi-input-mask {
    width: var(--forms-field-width--small);

    .dnb-input__shell {
      justify-content: center;
    }

    .dnb-input__input {
      // Align for Chrome and Safari
      text-align: center;
    }
  }
}
