/*
* Tabs theme
*
*/

@import '../../../../style/themes/imports.scss';
@import '../../../button/style/themes/_button-mixins.scss';

.dnb-tabs {
  &__tabs {
    &:not(.dnb-section) {
      &::before {
        background-color: var(--color-black-8);
        box-shadow: 100vw 0 0 0 var(--color-black-8);
      }
    }

    &__tablist {
      // Only used on to visualize the tab ring nicer
      &:focus {
        border-radius: 0.5rem;
      }
    }
  }

  &--at-edge &__scroll-nav-button {
    &:first-of-type {
      border-radius: 0 50% 50% 0;
    }
    &:last-of-type {
      border-radius: 50% 0 0 50%;
    }
  }

  &--at-edge &__tabs__tablist:focus {
    border-radius: 0;
  }

  &__content:focus {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;

      top: 0.125rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;

      max-width: 100vw;

      border-radius: 0.5rem;
      @include fakeFocus();
    }
  }

  &__button {
    // should be same as .lead small
    &__title {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-basis);
      text-align: center;

      display: block;
      color: var(--color-sea-green);
      padding: 0.5rem 0 0.25rem 0;
    }

    // hover
    @include hover() {
      background-color: var(--color-mint-green-50);
      &::after {
        height: 2px;
        border-radius: 2px;
        background-color: var(--color-sea-green);
      }
    }

    &:focus {
      @include buttonFocusRing();
      overflow: visible;
      &::before {
        top: 0.5rem;
        left: -0.375rem; // For overflow purposes
        right: -0.375rem; // For overflow purposes
        bottom: 0.5rem;
        border-radius: 1.5rem;
      }
    }

    // disabled
    &[disabled] &__title {
      color: var(--color-sea-green-30);
    }

    // active + selected
    &:not([disabled]):active,
    &:not([disabled]).selected {
      &::after {
        height: 2px;
        border-radius: 2px;
        background-color: var(--color-sea-green);
      }
    }
    &:not([disabled]):active &__title,
    &:not([disabled]).selected &__title {
      color: var(--color-emerald-green);
    }

    // selected only
    &:not([disabled]).selected &__title {
      font-weight: var(--font-weight-medium);
    }

    // To make sure we have the wider width on every item
    // Have to be same as &:not([disabled]).selected
    span[hidden] {
      font-weight: var(--font-weight-medium);
    }
  }
}
