/*
* Tabs theme
*
*/

@use '../../../../style/core/utilities.scss';
@use './dnb-tabs-theme-ui.scss';

.dnb-tabs {
  &__button {
    @include utilities.hover() {
      background-color: var(--color-pistachio);
    }
  }
}
