@import '../../../../style/core/utilities.scss';

.dnb-card {
  &.dnb-section {
    --outline-color: var(--border-color, var(--color-lavender));
    --outline-width: 0.25rem;
    --background-color: var(--color-white);
  }
}
