:root {
  // Keep these outside of the .dnb-card class so they can be used globally (dnb-help-button-inline)
  --card-outline-width: 0.0625rem;
}

.dnb-card {
  // Nested Cards
  & .dnb-card {
    --outline-width: 0.0625rem;
    --rounded-corner: 1rem;
  }

  // Third level and deeper nested Cards
  & .dnb-card .dnb-card {
    --rounded-corner: 0.5rem;
  }
}
