.dnb-card {
  --card-outline-color: var(--border-color, var(--color-lavender));
  --card-outline-width: 0.25rem;
  --card-background-color: var(--color-white);

  // Nested Cards
  & .dnb-card {
    --card-outline-color: var(--color-black-8);
    --outline-width: 0.0625rem;
    --rounded-corner: 0.375rem;
  }
}
