/*
* Used for snapshot testing
*
*/

@use '../../../style/core/utilities.scss' as *;
@use '../../icon/style/deps.scss' as *;
@use '../../tooltip/style/deps.scss' as *;
@use '../../form-status/style/deps.scss' as *;
@use './dnb-button.scss';
