/*
* Button component
*
*/

@use '../../../style/core/utilities.scss';

:root {
  --button-icon-size: 1rem;
  --button-height: 2.5rem;
}

.dnb-button {
  --button-font-size: var(--font-size-basis);
  --button-font-size-small: var(--font-size-small);
  --button-icon-size--small: 0.75rem;
  --button-icon-size--medium: 1.5rem;
  --button-icon-size--large: 2rem;
  --button-icon-gutter: 0.5rem;
  --button-width: 2.5rem;
  --button-width--small: 1.5rem;
  --button-height--small: 1.5rem;
  --button-width--medium: 2rem;
  --button-height--medium: 2rem;
  --button-width--large: 3rem;
  --button-height--large: 3rem;
  --button-border-width: 0.0625rem;
  --button-border-width--hover: 0.1875rem;
  --button-border-radius: calc(var(--button-height) / 2);
  --button-border-radius--control-button: 0.25rem;
  --button-padding-left: 0;
  --button-padding-right: 0;
  --button-padding-icon: 1rem;
  --button-padding--default: 1.5rem;
  --button-padding--small: 1rem;
  --button-padding--medium: 1rem;
  --button-padding--large: 2rem;
  --button-icon-margin-top: 0;
  --button-icon-margin-left: 0;
  --button-icon-margin-right: 0;

  position: relative;

  user-select: none;

  /* stylelint-disable-next-line */
  -webkit-user-select: none; // Safari / Touch fix

  cursor: pointer;
  white-space: nowrap;

  &--wrap {
    overflow-wrap: break-word;
    white-space: normal;
  }

  // we use flex, even if they don't has effect in safari and webkit
  display: inline-flex;
  align-items: center; // centering icons
  justify-content: center; // centering icons

  width: var(--button-width);
  height: auto;
  padding: 0 var(--button-padding-right) 0 var(--button-padding-left);

  border: none;
  border-radius: var(--button-border-radius);

  text-align: left;
  font-size: var(--font-size-small); // reset
  text-decoration: none;

  box-shadow: none;

  // Safari needs a correct CSS specificity
  &,
  .dnb-core-style & {
    line-height: var(--button-height);
  }

  &__text {
    margin: 0.5rem 0;
    font-size: var(--button-font-size);
    line-height: var(--line-height-basis);
    color: inherit;

    // vertical alignment
    transform: translateY(-0.03125rem); // 0.5px

    [data-os='linux'] {
      transform: translateY(-0.035rem); // 0.5px
    }
  }

  &__alignment {
    display: inline-block;
    width: 0;
  }

  &__bounding {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    transform: scale(1.1, 1.4);

    background-color: transparent;
    border-radius: var(--button-border-radius);
  }

  // size small
  &--size-small {
    --button-height: var(--button-height--small);
    width: var(--button-width--small);
    font-size: var(--button-font-size-small);
  }
  &--size-small &__text {
    margin: 0;
  }
  &--has-text#{&}--size-small {
    --button-padding-left: var(--button-padding--small);
    --button-padding-right: var(--button-padding--small);
  }

  // size medium
  &--size-medium {
    --button-height: var(--button-height--medium);
    width: var(--button-width--medium);
  }
  &--size-medium &__text {
    margin: 0;
  }
  &--has-text#{&}--size-medium {
    --button-padding-left: var(--button-padding--medium);
    --button-padding-right: var(--button-padding--medium);
  }
  &--control-before#{&}--size-medium {
    line-height: var(--button-height);
  }
  &--control-after#{&}--size-medium {
    line-height: var(--button-height);
  }

  // size large
  &--size-large {
    --button-height: var(--button-height--large);
    --button-padding-icon: 1.5rem;
    width: var(--button-width--large);
  }
  &--has-text#{&}--size-large {
    --button-padding-left: var(--button-padding--large);
    --button-padding-right: var(--button-padding--large);
  }

  // size default

  /* stylelint-disable-next-line */
  &--has-text {
    --button-padding-left: var(--button-padding--default);
    --button-padding-right: var(--button-padding--default);
    width: auto;
  }
  &__icon {
    margin: var(--button-icon-margin-top) var(--button-icon-margin-right) 0
      var(--button-icon-margin-left);
  }
  &--has-text#{&}--icon-position-left {
    --button-padding-left: var(--button-padding-icon);
    --button-icon-margin-right: var(--button-icon-gutter);
  }
  &--has-text#{&}--icon-position-right {
    --button-padding-right: var(--button-padding-icon);
    --button-icon-margin-left: var(--button-icon-gutter);
  }

  // Icon sizes
  &--icon-size-small {
    --button-icon-size: var(--button-icon-size--small);
  }
  &--icon-size-medium {
    --button-icon-size: var(--button-icon-size--medium);
  }
  &--icon-size-large {
    --button-icon-size: var(--button-icon-size--large);
  }

  // Default -- icon set to right side
  &--has-text#{&}--has-icon {
    .dnb-button__icon {
      order: 2;
    }
    .dnb-button__text {
      order: 1;
    }
  }

  &:not(.dnb-button--has-text) &__icon {
    width: inherit;
  }
  &__icon.dnb-icon svg:not([width]):not([height]) {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
  }
  [href] > &__icon.dnb-icon {
    // has same as &__text
    // only on a.dnb-button it have to be the same, else the icon will push down the button 1px
    line-height: var(--button-font-size);
  }

  // Button with icon and text - icon on LEFT side
  &--has-text#{&}--has-icon#{&}--icon-position-left,
  &--has-text#{&}--has-icon#{&}--icon-position-top {
    .dnb-button__icon {
      order: 1;
    }
    .dnb-button__text {
      order: 2;
    }
  }

  &--stretch {
    width: 100%;
  }

  &--control-before {
    border-radius: var(--button-border-radius--control-button) 0 0
      var(--button-border-radius--control-button);
  }
  &--control-after {
    border-radius: 0 var(--button-border-radius--control-button)
      var(--button-border-radius--control-button) 0;
  }

  &--reset {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    overflow: visible;

    border: none;
    border-radius: 0;
    background-color: transparent;
    appearance: none;
    box-shadow: none;

    color: inherit;
    font: inherit;
    text-align: inherit;
    line-height: inherit;

    @include utilities.hover() {
      box-shadow: none;
      border: none;
    }

    &:not([disabled]):focus,
    &:not([disabled]):active {
      @include utilities.focusRing();
    }

    html[data-whatinput='mouse'] &:not([disabled]):focus,
    html[data-whatinput='mouse'] &:not([disabled]):active {
      box-shadow: none;
      color: inherit;
      border: none;
    }
  }

  // because we have "appearance: button" in some css resets (not our)
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    appearance: none;

    /* stylelint-disable-next-line */
    -moz-appearance: none;

    /* stylelint-disable-next-line */
    -webkit-appearance: none;
  }

  &[disabled] {
    cursor: not-allowed;
    outline: none; // when state goes from enabled to disabled and the focus is set, the outline (Safari) will show up, because it already had focus
  }

  .dnb-form-row--vertical .dnb-form-row__content > & {
    align-self: flex-start;
  }
  .dnb-form-row--horizontal .dnb-form-row__content &__text {
    white-space: nowrap;
  }

  & + .dnb-form-status {
    margin-top: 0.5rem;
  }
}

/* Firefox includes a hidden border which messes up button dimensions */
button.dnb-button::-moz-focus-inner {
  border: none;
}
