/*
* Badge theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-badge {
  color: var(--color-white);

  &--variant-information {
    background-color: var(--color-emerald-green);
  }
  &--variant-notification {
    background-color: var(--color-fire-red);
  }
}
