.branchBanner {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;

  padding: 0 1rem;

  font-size: 0.75rem;
  line-height: 1rem;
  font-family: monospace;
  pointer-events: none;

  color: #fff;
  background-color: #000;
}
