@use '@dnb/eufemia/src/style/core/utilities.scss' as utilities;
@use './../parts/PortalStyle.mixins.scss';

.liItemStyle {
  --card-selected-bg: var(--color-mint-green);
  --card-hover-bg: var(--color-mint-green-50);

  /* stylelint-disable no-descending-specificity */
  :global(.eufemia-theme__sbanken) & {
    --card-selected-bg: var(--sb-color-violet-light-2);
    --card-hover-bg: var(--sb-color-violet-light-3);
  }

  :global(.eufemia-theme__carnegie) & {
    --card-selected-bg: var(--ca-color-pale-red);
    --card-hover-bg: var(--ca-color-classic-beige);
  }

  list-style-type: none;
  width: calc(33.333333% - 1rem);

  margin: 0.5rem;
  padding: 0;

  box-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);

  &,
  a {
    border-radius: 0.5rem;
  }

  &.is-selected a {
    background-color: var(--card-selected-bg);
  }

  a:focus,
  a:hover {
    background-color: var(--card-hover-bg);
  }
  /* stylelint-enable no-descending-specificity */

  /* mobile view */
  @include utilities.allBelow(small) {
    & {
      min-width: calc(100% - 1rem);
      transition: 0.5s;
    }
  }

  [data-whatinput='keyboard'] &:focus {
    box-shadow: none;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale3d(0.9, 0.9, 1) translate3d(0, -8%, 0);
    }

    40% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }

    100% {
      opacity: 0;
      transform: scale3d(0.9, 0.9, 1) translate3d(0, -8%, 0);
    }
  }
}

.linkStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  color: var(--color-black-80);
  text-decoration: none;
  text-align: center;
  font-weight: var(--font-weight-basis);

  background-color: var(--color-white);
  transition: background-color 0.5s ease;

  &:focus {
    outline: none;
  }

  html[data-whatinput='keyboard'] &:focus {
    @include utilities.focusRing();
  }
}

.linkInnerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxStyle {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1rem;

  svg {
    width: 3rem;
    height: 3rem;
    margin: 3rem 0 2rem;
  }
}
