@use '@dnb/eufemia/src/style/core/utilities.scss';

.buttonStyle {
  @include utilities.allBelow(medium) {
    display: none;
  }

  &:global(.hideWhenMediaLarge) {
    @include utilities.allBelow(medium) {
      display: block;
    }
    @include utilities.allAbove(medium) {
      display: none;
    }
  }
}
