@use '@dnb/eufemia/src/style/core/utilities.scss' as utilities;

.buttonStyle {
  @include utilities.all-below(medium) {
    display: none;
  }

  &:global(.hideWhenMediaLarge) {
    @include utilities.all-below(medium) {
      display: block;
    }
    @include utilities.all-above(medium) {
      display: none;
    }
  }
}
