@use '@dnb/eufemia/src/style/core/utilities.scss' as utilities;

.searchWrapperStyle {
  position: relative;
  display: inline-flex;
  align-items: center;

  margin-right: 1rem;

  @include utilities.allBelow(small) {
    margin-right: 0.5rem;
  }
}

.autocompleteStyle {
  :global {
    .dnb-autocomplete__shell {
      &,
      input {
        width: 40vw;

        @include utilities.allBelow(small) {
          width: 50vw;
        }
      }
    }
  }
}

.shortcutHintStyle {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);

  display: inline-flex;
  align-items: center;
  height: 1.5rem;
  padding: 0 0.375rem;

  border: 0.0625rem solid currentcolor;
  border-radius: 0.25rem;

  font-family: inherit;
  font-size: var(--font-size-x-small);

  opacity: 0.6;
  pointer-events: none;
}

.portalClassStyle {
  z-index: 6000;
}

.drawerClassStyle {
  :global {
    .search-logo {
      min-width: 4rem;
      height: 1rem;
      margin: 1rem;

      filter: grayscale(1);
    }
  }
}
