@import '@dnb/eufemia/src/style/core/utilities.scss';

:global {
  :root {
    --aside-width: calc(25vw + 5rem);
  }

  .dnb-sidebar-menu {
    --is-inside-bg: var(--color-mint-green-12);
    --is-inside-active-path-color: var(--color-emerald-green);
    --is-inside-active-path-bg: var(--color-mint-green-50);
    --is-inside-active-path-bg-l-3: var(--color-sea-green-30);
    --dnb-sidebar-menu-text-color: var(--color-emerald-green);
    --dnb-sidebar-menu-hover-bg: transparent;
    --dnb-sidebar-menu-focus-bg: var(--color-emerald-green);

    :global(.eufemia-theme__sbanken) & {
      --is-inside-bg: var(--sb-color-violet-light-4);
      --is-inside-active-path-color: var(--sb-color-violet);
      --is-inside-active-path-bg: var(--sb-color-violet-light-3);
      --is-inside-active-path-bg-l-3: var(--sb-color-violet-light-2);
      --dnb-sidebar-menu-text-color: var(--sb-color-purple-alternative);
      --dnb-sidebar-menu-hover-bg: var(--sb-color-violet-light-3);
      --dnb-sidebar-menu-focus-bg: var(--sb-color-purple);
    }

    --level-offset: 3vw;
    @include allBelow(medium) {
      --level-offset: 2rem;
    }

    --delay: 0; /* polyfill fallback */

    /* 2.5rem - but we don't want it to be responsive */
    --level-icon-adjust: -40px;
    --level: 2vw;

    @include allBelow(medium) {
      --level: 1.3rem;
    }

    background-color: var(--color-white);
    color: var(--dnb-sidebar-menu-text-color);
    font-weight: var(--font-weight-regular);
    list-style: none;
    margin: 0;

    .show-mobile-menu & {
      opacity: 0.3;
      animation: show-mobile-menu 600ms cubic-bezier(0.19, 1, 0.22, 1) 1
        var(--delay) forwards;
    }
    .hide-mobile-menu & {
      opacity: 1;
      animation: hide-mobile-menu 300ms cubic-bezier(0.19, 1, 0.22, 1) 1
        calc(10ms - var(--delay)) forwards;
    }

    html[show-dev-grid] :global(.dev-grid) & {
      background-color: transparent;
    }

    .dnb-anchor {
      position: relative;
      padding: 0;
      min-height: 40px;

      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      color: inherit;
      background-color: inherit;
      font-size: inherit;
      font-weight: inherit;
      border-radius: 0;
      transition: none;
    }

    &.is-inside,
    &.is-inside-active-path {
      background-color: var(--is-inside-bg);
    }

    &.is-active {
      background-color: var(--is-inside-active-path-bg);
    }

    &.l-1 {
      &.is-inside-active-path {
        background-color: transparent;
      }
      > .dnb-sidebar-menu__item .dnb-anchor {
        background-color: transparent;
        margin-left: var(--level-icon-adjust);
        margin-bottom: 1rem;
        padding-left: calc(var(--level-offset) + var(--level) * 2);
        min-height: 64px;
        color: var(--color-ocean-green);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-large);
        line-height: var(--line-height-large) !important;
      }
    }

    &.l-2 {
      > .dnb-sidebar-menu__item .dnb-anchor {
        padding-left: calc(var(--level-offset) + var(--level) * 2);
        min-height: 56px;

        .dnb-icon {
          margin-right: 1rem;
          margin-left: var(--level-icon-adjust);
          color: var(--color-black-80);
        }
      }

      &.is-inside-active-path {
        color: var(--is-inside-active-path-color);
        font-weight: var(--font-weight-medium);
      }
    }

    &.l-3 {
      > .dnb-sidebar-menu__item .dnb-anchor {
        padding-left: calc(var(--level-offset) + var(--level) * 3);
      }

      &.is-inside-active-path {
        background-color: var(--is-inside-active-path-bg-l-3);
        color: var(--is-inside-active-path-color);
        font-weight: var(--font-weight-medium);
      }
    }

    &.l-4 > .dnb-sidebar-menu__item .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 4);
    }
    &.l-5 > .dnb-sidebar-menu__item .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 5);
    }
    &.l-6 > .dnb-sidebar-menu__item .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 6);
    }

    .dnb-sidebar-menu__item .dnb-anchor:hover {
      --anchor-background: var(--dnb-sidebar-menu-hover-bg);
      color: var(--color-black);
      > span:first-child {
        text-decoration: underline;
      }
    }

    .dnb-anchor:focus-visible:not(:active) {
      color: var(--color-white);
      background-color: var(--dnb-sidebar-menu-focus-bg);
      box-shadow: none;

      svg {
        color: var(--color-white);
      }
    }

    @keyframes show-mobile-menu {
      0% {
        opacity: 0.3;
        transform: translate3d(0, -20%, 0);
      }
      40% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    @keyframes hide-mobile-menu {
      0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      60% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
      }
      100% {
        opacity: 0.3;
        transform: translate3d(0, -20%, 0);
      }
    }

    .dnb-sidebar-menu__theme-badge {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 1.5em;
      height: 1.5em;
      padding: 0.5em;

      white-space: nowrap;

      background-color: var(--dnb-sidebar-menu-text-color);
      border-radius: 0.75em;

      transform: translateX(calc(-100% - 0.5rem));

      .dnb-sidebar-menu__theme-badge__title {
        color: white;
      }

      &.dnb-sidebar-menu__theme-badge--sbanken {
        padding: 0;
        font-family: var(--font-family-heading);
        font-weight: normal;

        .dnb-sidebar-menu__theme-badge__title {
          width: 0.7em;
          height: 1.5rem;
          overflow: hidden;
          padding: 0.0625rem;
        }
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
    }

    &__expand-button {
      align-self: center;
      margin-right: 0.5rem;
      &:hover {
        background-color: white;
        outline: 1px solid currentcolor;
      }
    }

    &--accordion {
      &.dnb-sidebar-menu--expanded {
        border-right: 0.25rem solid var(--is-inside-active-path-color);

        &,
        > ul .dnb-sidebar-menu {
          background-color: var(--is-inside-active-path-bg);

          &.is-active {
            background-color: var(--is-inside-active-path-bg-l-3);
          }
        }

        > .dnb-sidebar-menu__item .dnb-sidebar-menu__expand-button {
          margin-right: 0.25rem;
        }
      }
    }
  }
  #portal-sidebar-menu {
    /*
    Good for a mobile menu instead
    make sure that Content main "styled.main" gets the same max-width
    */
    &:not(.show-mobile-menu) {
      @include allBelow(medium) {
        display: none;
      }
    }
  }
}

.navStyle {
  position: fixed;

  /* 
	We use this to make header appear "over" content and sidebar
	Lower than styled.main and header
	*/
  z-index: 1;

  @include scrollY(auto);

  @include allBelow(medium) {
    position: relative;

    width: 100%;
    height: auto;
  }

  @include allAbove(medium) {
    width: var(--aside-width); // has to be the same value as margin-left
    height: calc(100vh - 4rem); // height of StickyMenuBar
  }

  margin: 4rem 0 0;
  ul {
    padding: 0;
  }
  > ul {
    padding: 2rem 0 1rem;
  }

  background-color: var(--color-white);
}
