@use '@dnb/eufemia/src/style/core/utilities.scss' as utilities;

:global {
  :root {
    --aside-width: calc(25vw + 5rem);
  }

  .dnb-sidebar-menu {
    --is-inside-bg: var(--token-color-background-neutral-subtle);
    --is-inside-active-path-color: var(--token-color-text-neutral);
    --is-inside-active-path-bg: var(
      --token-color-background-selected-subtle
    );
    --is-inside-active-path-bg-l-3: var(
      --token-color-background-neutral-base
    );
    --dnb-sidebar-menu-text-color: var(--token-color-text-neutral);
    --dnb-sidebar-menu-hover-bg: transparent;
    --level-offset: 3vw;

    @include utilities.allBelow(medium) {
      --level-offset: 2rem;
    }

    --delay: 0; /* polyfill fallback */

    /* 2.5rem - but we don't want it to be responsive */
    --level-icon-adjust: -40px;
    --level: 2vw;

    @include utilities.allBelow(medium) {
      --level: 1.3rem;
    }

    background-color: var(--token-color-background-neutral);
    color: var(--dnb-sidebar-menu-text-color);
    font-weight: var(--font-weight-regular);
    list-style: none;
    margin: 0;

    .show-mobile-menu & {
      opacity: 0.3;
      animation: show-mobile-menu 600ms cubic-bezier(0.19, 1, 0.22, 1) 1
        var(--delay) forwards;
    }
    .hide-mobile-menu & {
      opacity: 1;
      animation: hide-mobile-menu 300ms cubic-bezier(0.19, 1, 0.22, 1) 1
        calc(10ms - var(--delay)) forwards;
    }

    html[show-dev-grid] :global(.dev-grid) & {
      background-color: transparent;
    }

    .dnb-anchor {
      position: relative;
      padding: 0;
      min-height: 40px;

      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      color: inherit;
      background-color: inherit;
      font-size: inherit;
      font-weight: inherit;
      border-radius: 0;
      transition: none;
    }

    &.is-inside,
    &.is-inside-active-path {
      background-color: var(--is-inside-bg);
    }

    &.l-1 {
      &.is-inside-active-path {
        background-color: transparent;
      }
      > .dnb-sidebar-menu__item .dnb-anchor {
        margin-left: var(--level-icon-adjust);
        padding-block: 2rem;
        padding-left: calc(var(--level-offset) + var(--level) * 2);

        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-large);

        background-color: transparent;
      }
    }

    &.l-2 {
      > .dnb-sidebar-menu__item .dnb-anchor {
        padding-left: calc(var(--level-offset) + var(--level) * 2);
        min-height: 56px;

        .dnb-icon {
          margin-right: 1rem;
          margin-left: var(--level-icon-adjust);

          color: var(--token-color-icon-neutral);
        }
      }

      &.is-inside-active-path {
        font-weight: var(--font-weight-medium);
      }
    }

    &.l-3 {
      > .dnb-sidebar-menu__item .dnb-anchor {
        padding-left: calc(var(--level-offset) + var(--level) * 3);
      }

      &.is-inside-active-path {
        background-color: var(--is-inside-active-path-bg-l-3);
        font-weight: var(--font-weight-medium);
      }
    }

    &.l-4 > .dnb-sidebar-menu__item .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 4);
    }
    &.l-5 > .dnb-sidebar-menu__item .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 5);
    }
    &.l-6 > .dnb-sidebar-menu__item .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 6);
    }

    &.is-active {
      color: var(--is-inside-active-path-color);
      background-color: var(--is-inside-active-path-bg);

      > .dnb-sidebar-menu__item .dnb-anchor .dnb-icon {
        color: var(--is-inside-active-path-color);
      }
    }

    .dnb-sidebar-menu__item .dnb-anchor:hover {
      --anchor-background: var(--dnb-sidebar-menu-hover-bg);
      > span:first-child {
        text-decoration: underline;
      }
    }

    .dnb-anchor:focus-visible:not(:active) {
      color: var(--token-color-text-action-focus);
      background-color: var(--token-color-background-action-focus-subtle);
      box-shadow: none;
    }
    /* stylelint-disable-next-line no-descending-specificity */
    .dnb-anchor:active {
      --anchor-bg--active: var(
        --token-color-background-action-pressed-subtle
      );
    }

    @keyframes show-mobile-menu {
      0% {
        opacity: 0.3;
        transform: translate3d(0, -20%, 0);
      }
      40% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    @keyframes hide-mobile-menu {
      0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      60% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
      }
      100% {
        opacity: 0.3;
        transform: translate3d(0, -20%, 0);
      }
    }

    .dnb-sidebar-menu__theme-badge {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.5em;
      height: 1.5em;

      white-space: nowrap;

      background-color: currentcolor;
      border-radius: 0.75em;

      transform: translateX(calc(-100% - 0.5rem));

      &--sbanken {
        &::before {
          content: 'Sbanken';
          font-family: var(--font-family-heading);
          font-weight: normal;
          color: var(--token-color-icon-neutral-inverse);
          width: 0.7em;
          height: 1.5rem;
          overflow: hidden;
          padding: 0.0625rem;
        }
      }

      &--carnegie {
        background-image: url('/images/carnegie_badge.png');
        background-size: contain;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
    }

    &__expand-button {
      align-self: center;
      margin-right: 1rem;
    }

    &--accordion {
      &.dnb-sidebar-menu--expanded {
        border-right: 0.25rem solid var(--token-color-stroke-action-focus);

        &,
        > ul .dnb-sidebar-menu {
          background-color: var(--is-inside-bg);

          &.is-active {
            color: var(--is-inside-active-path-color);
            background-color: var(--is-inside-active-path-bg);
          }
        }

        > .dnb-sidebar-menu__item .dnb-sidebar-menu__expand-button {
          margin-right: 0.75rem;
        }
      }
    }
  }

  #portal-sidebar-menu {
    /*
    Good for a mobile menu instead
    make sure that Content main "styled.main" gets the same max-width
    */
    &:not(.show-mobile-menu) {
      @include utilities.allBelow(medium) {
        display: none;
      }
    }
  }
}

.navStyle {
  position: fixed;

  /* 
	We use this to make header appear "over" content and sidebar
	Lower than styled.main and header
	*/
  z-index: 1;

  @include utilities.scrollY(auto);

  @include utilities.allBelow(medium) {
    position: relative;

    width: 100%;
    height: auto;
  }

  @include utilities.allAbove(medium) {
    width: var(--aside-width); // has to be the same value as margin-left
    height: calc(100vh - 4rem); // height of StickyMenuBar
  }

  margin: 3.5rem 0 0;

  ul {
    margin: 0;
    padding: 0;
  }

  background-color: var(--token-color-background-neutral);
}
