@import '@dnb/eufemia/src/style/core/utilities.scss';

:global {
  :root {
    --aside-width: calc(25vw + 5rem);
  }

  .dnb-sidebar-menu {
    --level-offset: 3vw;
    @include allBelow(medium) {
      --level-offset: 2rem;
    }

    --delay: 0; /* polyfill fallback */

    /* 2.5rem - but we don't want it to be responsive */
    --level-icon-adjust: -40px;
    --level: 2vw;

    @include allBelow(medium) {
      --level: 1.3rem;
    }

    list-style: none;
    margin: 0;

    .show-mobile-menu & {
      opacity: 0.3;
      animation: show-mobile-menu 600ms cubic-bezier(0.19, 1, 0.22, 1) 1
        var(--delay) forwards;
    }
    .hide-mobile-menu & {
      opacity: 1;
      animation: hide-mobile-menu 300ms cubic-bezier(0.19, 1, 0.22, 1) 1
        calc(10ms - var(--delay)) forwards;
    }

    &:first-of-type {
      margin-bottom: 1rem;
      font-size: var(--font-size-large);
      background-color: transparent;
    }

    html:not([show-dev-grid]) & {
      background-color: var(--color-white);
    }

    .dnb-anchor {
      position: relative;
      padding: 0;
      height: 2.5rem;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      transform: translateY(1px);
      color: var(--color-emerald-green);
      background-color: inherit;
      font-size: inherit;
    }

    &.l-1 .dnb-anchor {
      margin-left: var(--level-icon-adjust);
      padding-left: calc(var(--level-offset) + var(--level) * 2);
      height: 4rem;
      color: var(--color-ocean-green);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-large);
    }
    &.l-2 {
      .dnb-anchor {
        padding-left: calc(var(--level-offset) + var(--level) * 2);
        height: 3.5rem;

        .dnb-icon {
          margin-right: 1rem;
          margin-left: var(--level-icon-adjust);
          color: var(--color-black-80);
        }
      }
      &.is-inside {
        html:not([show-dev-grid]) & {
          background-color: var(--color-mint-green-12);
        }
        font-weight: var(--font-weight-medium);
      }
    }

    &.l-3 {
      font-size: var(--font-size-small); /* small size */
      .dnb-anchor {
        padding-left: calc(var(--level-offset) + var(--level) * 3);
      }
      &.is-inside {
        html:not([show-dev-grid]) & {
          background-color: var(--color-sea-green-30);
        }
        font-weight: var(--font-weight-medium);
      }
    }

    &.l-4 .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 4);
    }
    &.l-5 .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 5);
    }
    &.l-6 .dnb-anchor {
      padding-left: calc(var(--level-offset) + var(--level) * 6);
    }

    &.l-4,
    &.l-5,
    &.l-6 {
      font-size: var(--font-size-small); /* small size */
      &.is-inside {
        html:not([show-dev-grid]) & {
          background-color: var(--color-mint-green-12);
        }
      }
    }

    &.l-1,
    &.l-2,
    &.l-3,
    &.l-4,
    &.l-5,
    &.l-6 {
      &.is-active {
        html:not([show-dev-grid]) & {
          background-color: var(--color-mint-green-50);
        }
      }
    }

    .dnb-anchor:hover {
      color: var(--color-black);
      background-color: transparent;
    }

    .dnb-anchor:focus:not(:active) {
      color: var(--color-white);
      svg {
        color: var(--color-white);
      }
      background-color: var(--color-emerald-green);
    }

    @keyframes show-mobile-menu {
      0% {
        opacity: 0.3;
        transform: translate3d(0, -20%, 0);
      }
      40% {
        opacity: 1;
      }
      100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    @keyframes hide-mobile-menu {
      0% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      60% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
      }
      100% {
        opacity: 0.3;
        transform: translate3d(0, -20%, 0);
      }
    }

    .main-menu-toggle {
      margin-left: var(--level-offset);

      .dnb-icon:nth-of-type(1) {
        color: var(--color-sea-green);
        margin-right: 0.5rem;

        &.dnb-icon--small {
          margin-left: 0.5rem;
        }
      }

      &.dnb-button__text {
        color: var(--color-sea-green);
      }
      &.dnb-button:hover {
        color: var(--color-black);
        .dnb-button__text,
        .dnb-icon {
          color: inherit;
        }
      }

      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .status-badge {
      margin-right: 1rem;

      display: flex;
      justify-content: center;
      align-items: baseline; /* then we can set line-height */

      font-size: 0.4375rem; /* safari handles rem value incorrectly */
      line-height: 1.3125rem; /* same as height + 1px */
      font-weight: var(--font-weight-basis);
      text-align: center;
      text-transform: uppercase;
      color: var(--color-black);

      /* bg */
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;

      background-color: var(--color-mint-green-25);
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
      }
    }
    &.status-dep .status-badge {
      color: var(--color-black-80);
      background-color: var(--color-fire-red-8);
    }
    &.status-new .status-badge {
      color: var(--color-sea-green);
      background-color: transparent;
    }
    &.status-beta .status-badge {
      color: var(--color-fire-red);
      background-color: transparent;
    }
    &.status-imp .status-badge {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  #portal-sidebar-menu {
    /*
    Good for a mobile menu instead
    make sure that Content main "styled.main" gets the same max-width
    */
    &:not(.show-mobile-menu) {
      @include allBelow(medium) {
        display: none;
      }
    }
  }
}

.navStyle {
  position: fixed;

  /* 
	We use this to make header appear "over" content and sidebar
	Lower than styled.main and header
	*/
  z-index: 1;

  @include scrollY(auto);

  @include allBelow(medium) {
    position: relative;

    width: 100%;
    height: auto;
  }

  @include allAbove(medium) {
    width: var(--aside-width); // has to be the same value as margin-left
    height: calc(100vh - 4rem); // height of StickyMenuBar
  }

  margin: 4rem 0 0;

  ul {
    padding: 2rem 0 1rem;
  }

  background-color: var(--color-white);
}
