@import '@dnb/eufemia/src/style/core/utilities.scss';

.headerStyle {
  position: fixed;

  /* 
    - Higher than z-index of 2 by ContentWrapper (.dnb-app-content)
    - and higher than z-index of 3200 by .dnb-drawer-list__portal__style 
  */
  z-index: 3201;

  /* stylelint-disable-next-line */
  html[data-dnb-modal-active] & {
    /* Now, when the drawer tools are opened, we lower it back to appear behind the modal  */
    z-index: 3000;
  }
  html[data-dnb-drawer-list-active='portal-search'] & {
    /* Now, when the drawer tools are opened, we lower it back to appear behind the modal  */
    z-index: 3200;
  }

  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: center;

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black-border);

  white-space: nowrap;

  :global {
    #toggle-sidebar-menu {
      display: none;
    }

    /*
    God for a mobile menu instead
    make sure that Content main "styled.main" gets the same max-width
   */
    @include allBelow(medium) {
      #toggle-sidebar-menu {
        display: flex;
      }
    }
    @include allBelow(small) {
      /* make the button round */
      .dnb-button:nth-of-type(1) {
        padding: 0 0.25rem;
        .dnb-button__text {
          display: none;
        }
        .dnb-button__icon {
          transform: translateY(0);
        }
      }
    }
  }
}

.portalHeaderWrapperStyle {
  display: flex;
  justify-content: space-between;

  width: 100%;

  /* make sure we are on 64px instead of 65px */
  padding: 0.5rem 2rem;

  @include allBelow(small) {
    padding: 0.5rem 5vw;
  }

  html[data-dnb-modal-active] & {
    margin-right: var(--scrollbar-width);
  }

  align-items: center;
}

.centerWrapperStyle {
  display: flex;
  align-items: center;

  font-size: var(--font-size-basis);

  :global {
    .dnb-icon:nth-of-type(1) {
      color: var(--color-sea-green);
    }
  }

  @include allBelow(small) {
    display: none;
  }
}

.toolsStyle {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.sloganStyle {
  @include allBelow(small) {
    display: none;
  }
}

.hideSidebarToggleButtonStyle {
  #toggle-sidebar-menu {
    display: none;
  }
}
