@use '@dnb/eufemia/src/style/core/utilities.scss' as utilities;

:global {
  html {
    scroll-padding-top: 6rem;
  }
}

.headerStyle {
  position: fixed;

  // When using view transitions, like in the table component,
  // we use view-transition-name on every tr when there are accordion rows,
  // but then they appear above the header. We don't want that,
  // so we add view-transition-name here as well to create a new stacking context.
  view-transition-name: header;

  /* 
    - Higher than z-index of 2 by ContentWrapper (.dnb-app-content)
    - and higher than z-index of 3200 by .dnb-drawer-list__portal__style 
  */
  z-index: 3201;

  /* stylelint-disable-next-line */
  html[data-dnb-modal-active] &,
  html[data-portal-tools-open] & {
    /* When a modal/drawer is open, lower the header behind it */
    z-index: 2999;
  }
  html[data-dnb-drawer-list-active='portal-search'] & {
    /* Now, when the drawer tools are opened, we lower it back to appear behind the modal  */
    z-index: 3200;
  }

  top: 0;

  /* --aside-width is shared with the resizable SidebarMenu module. */
  /* stylelint-disable-next-line eufemia/no-undefined-custom-property */
  left: var(--aside-width);
  /* stylelint-disable-next-line eufemia/no-undefined-custom-property */
  width: calc(100% - var(--aside-width));

  display: flex;
  justify-content: center;

  white-space: nowrap;

  :global {
    #toggle-sidebar-menu {
      display: none;
    }
    #github-button,
    #figma-button {
      display: inline-flex;
    }

    /*
    God for a mobile menu instead
    make sure that Content main "styled.main" gets the same max-width
   */
    @include utilities.allBelow(medium) {
      left: 0;
      width: 100%;

      #toggle-sidebar-menu {
        display: flex;
      }
      #github-button,
      #figma-button {
        display: none;
      }
    }
  }
}

.portalHeaderWrapperStyle {
  display: flex;
  justify-content: flex-end;

  width: 100%;

  /* make sure we are on 64px instead of 65px */
  padding: 0.5rem 2rem;

  @include utilities.allBelow(medium) {
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  html[data-dnb-modal-active] & {
    margin-right: var(--scrollbar-width);
  }

  align-items: center;
}

.leadingStyle {
  display: none;

  @include utilities.allBelow(medium) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.mobileLogoStyle {
  display: flex;
  align-items: center;

  font-size: var(--font-size-basis);

  :global(svg path) {
    stroke: none;
    fill: var(--token-color-icon-neutral);
  }

  :global(svg) {
    width: 6rem;
  }
}

.mobileMenuTriggerStyle {
  position: relative;
  top: 0.125rem;
}

.toolsStyle {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 0;
}

.searchStyle {
  @media screen and (max-width: 70rem) {
    display: none;
  }
}
