.dnb-forms-field-selection {
  &__variant--dropdown {
    .dnb-forms-field-block {
      &--layout-horizontal .dnb-form-label {
        align-self: center;
      }
    }
  }
  &__variant--dropdown,
  &__options-layout--horizontal {
    .dnb-forms-field-block {
      &--layout-horizontal .dnb-form-label {
        margin-bottom: 0;
      }
    }
  }
  &--options-layout--vertical#{&}--layout-horizontal {
    .dnb-forms-field-block__label {
      align-items: flex-start;
    }
  }
  &__variant--button {
    .dnb-forms-field-block {
      &--layout-horizontal .dnb-form-label {
        line-height: 2.5rem;
      }
    }
  }

  // In order to stretch nested Section components
  // Because __contents is not a flex container by default (and should not be)
  .dnb-forms-field-block__contents {
    display: flex;
  }

  .dnb-radio-group,
  .dnb-toggle-button-group {
    // On order to stretch a nested Section component
    .dnb-height-animation,
    & > .dnb-flex-container {
      width: 100%;
      flex-grow: 1;
    }
  }
}
