.dnb-forms-field-selection {
  &__variant--dropdown {
    .dnb-forms-field-block {
      &--layout-horizontal .dnb-form-label {
        align-self: center;
      }
    }
  }
  &__variant--dropdown,
  &__options-layout--horizontal {
    .dnb-forms-field-block {
      &--layout-horizontal .dnb-form-label {
        margin-bottom: 0;
      }
    }
  }
  &__variant--button {
    .dnb-forms-field-block {
      &--layout-horizontal .dnb-form-label {
        line-height: 2.5rem;
      }
    }
  }
}
