/*
 * Section component
 *
 */

@mixin SectionStyle() {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -50vw;
    top: 0;
    width: 100vw;
    height: 100%;
    color: var(--color-mint-green-12);
    background-color: currentColor;

    // we use box-shadow to avoid a horizontal scrollbar
    box-shadow: 100vw 0 0 0 currentColor;
  }

  &--spacing-s,
  &--spacing-small {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
  }

  &--spacing-m,
  &--spacing-medium {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
  }

  // spacing-default
  &--spacing,
  &--spacing-default,
  &--spacing-l,
  &--spacing-large {
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
  }

  &--spacing-xl,
  &--spacing-x-large {
    padding-top: var(--spacing-xl);
    // larger than top
    padding-bottom: var(--spacing-xxl);
  }

  &--spacing-xxl,
  &--spacing-xx-large {
    padding-top: var(--spacing-xxl);
    // larger than top
    padding-bottom: calc(var(--spacing-xxl) + var(--spacing-s));
  }
}

.dnb-section {
  @include SectionStyle();
}
