/*
 * Section component
 *
 */

@mixin SectionStyle() {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -50vw;
    top: 0;
    width: 100vw;
    height: 100%;
    color: var(--color-mint-green-12);
    background-color: currentColor;

    // we use box-shadow to avoid a horizontal scrollbar
    box-shadow: 100vw 0 0 0 currentColor;
  }

  // spacing-default
  &--spacing,
  .dnb-spacing &--spacing,
  &--spacing-default,
  .dnb-spacing &--spacing-default {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &--spacing-small,
  .dnb-spacing &--spacing-small {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &--spacing-medium,
  .dnb-spacing &--spacing-medium {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  &--spacing-large,
  .dnb-spacing &--spacing-large {
    padding-top: 3rem;
    padding-bottom: 3.5rem;
  }
}

.dnb-section {
  @include SectionStyle();
}
