/*
* Switch theme for Sbanken
*
*/

@use '../../../../style/core/utilities.scss' as utilities;

.dnb-switch {
  &__background {
    height: 100%;

    border-radius: 1.5rem;

    .dnb-switch--large & {
      height: 100%;

      border-radius: 1.5rem;

      &::after {
        font-size: var(--sb-font-size-basis);
      }
    }
  }

  /* stylelint-disable no-descending-specificity */

  /*
   * On focus state
   *
   */
  &__input:not([disabled]):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      @include utilities.removeFocusRing();
    }
  }

  &__input:not([disabled]):checked:focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      background-color: var(--focus-ring-color);
    }
  }

  &__input:not([disabled]):not(:checked):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      @include utilities.removeFocusRing();
    }
  }

  &__input:not([disabled]):focus ~ &__background {
    html[data-whatinput='keyboard'] & {
      background-color: var(--sb-color-blue-light-3);
      &::after {
        color: var(--focus-ring-color);
        font-weight: var(--sb-font-weight-bold);
      }
    }
  }

  &__input:not([disabled]):focus ~ &__button &__focus {
    html[data-whatinput='keyboard'] & {
      @include utilities.fakeBorder(var(--focus-ring-color), 0.0625rem);
    }
  }

  /*
   * On hover state
   *
   */
  &__background:hover,
  &__input:not([disabled]):not(:focus):not(:active):not(:checked):hover
    ~ &__background {
    color: var(--sb-color-violet);

    background-color: var(--sb-color-violet-light-3);
    @include utilities.fakeBorder(var(--sb-color-violet), 0.0625rem);

    &::after {
      color: var(--sb-color-violet);
    }
  }

  &__input:not([disabled]):not(:focus):not(:active):checked:hover
    ~ &__background {
    background-color: var(--sb-color-violet);
  }

  /*
   * On error state
   *
   */
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active)
    ~ &__background {
    background-color: var(--sb-color-white);
    @include utilities.fakeBorder(var(--sb-color-red), 0.0625rem);
  }

  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):hover
    ~ &__background {
    background-color: var(--sb-color-magenta-light-2);
    @include utilities.fakeBorder(var(--sb-color-red), 0.0625rem);
  }

  &__status--error
    &__input:not(:focus):not([disabled]):not(:active):not(:checked)
    ~ &__background {
    &::after {
      color: var(--sb-color-red);
    }
  }

  &__status--error
    &__input:not(:focus):not([disabled]):not(:active):checked
    ~ &__background {
    background-color: var(--sb-color-magenta);
    box-shadow: none;
  }

  &__status--error
    &__input:not(:focus):not([disabled]):not(:active):checked:hover
    ~ &__background {
    background-color: var(--sb-color-red);
  }

  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):not(:checked)
    ~ &__button
    &__focus {
    @include utilities.fakeBorder(var(--sb-color-red), 0.0625rem);
  }

  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):checked
    ~ &__button
    &__focus {
    box-shadow: none;
  }
  /* stylelint-enable no-descending-specificity */
}
