/*
* Switch theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-switch {
  &__background {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow: hidden;

    background-color: var(--color-sea-green-30);

    &::after {
      content: '';
      position: absolute;
      transition: transform 0.3s ease-out, position 0.3s ease-out;

      @include IS_IE {
        top: 0.25rem; // because IE is not using flex to center here
      }
    }
  }

  /*
    * When switched OFF
    * aka when the checkbox is not :checked
    */
  &__input:not(:checked) ~ &__button {
    background-color: var(--color-white);
    border-color: var(--color-sea-green);
  }

  /*
    * When switched ON
    * aka when the checkbox is :checked
    */
  &__input:checked ~ &__button {
    background-color: var(--color-sea-green);
  }

  /*
    * Draw the circle / line
    *
    */
  &__input:not(:checked) ~ &__background::after {
    right: 0;

    width: 0.5rem;
    height: 0.5rem;
    border: 0.0625rem solid var(--color-sea-green);

    border-radius: 50%;
    transform: translateX(calc(var(--switch-width--medium) - 2.8rem));
  }

  &__input:checked ~ &__background::after {
    left: 0;

    width: 0.0625rem;
    height: 0.5rem;
    background-color: var(--color-sea-green);
    border-radius: 0.0625rem;
    transform: translateX(calc(var(--switch-width--medium) - 1.87rem));
  }

  &--large &__input:not(:checked) ~ &__background::after {
    width: 0.625rem;
    height: 0.625rem;
    transform: translateX(calc(var(--switch-width--large) - 3.7rem));
  }
  &--large &__input:checked ~ &__background::after {
    height: 0.625rem;
    transform: translateX(calc(var(--switch-width--large) - 2.5rem));
  }

  /*
    * On disabled
    *
    */
  // &__input[disabled] ~ &__button,
  // &__input[disabled] ~ &__background {
  // }
  &__input[disabled] ~ &__background {
    background-color: var(--color-mint-green-25);
  }
  &__input[disabled]:checked ~ &__background {
    &::after {
      background-color: var(--color-sea-green-30);
    }
  }
  &__input[disabled]:not(:checked) ~ &__background {
    &::after {
      border-color: var(--color-sea-green-30);
    }
  }
  &__input[disabled] ~ &__button {
    border-color: var(--color-sea-green-30);
  }
  &__input[disabled]:checked ~ &__button {
    background-color: var(--color-sea-green-30);
  }

  /*
    * On focus
    *
    */
  &__input:not([disabled]):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      border: none;
    }
  }
  /* stylelint-disable-next-line */
  &__input:not([disabled]):not(:checked):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      background-color: var(--color-mint-green-50);
    }
  }
  &__input:not([disabled]):focus ~ &__background,
  &__input:not([disabled]):active ~ &__background {
    @include fakeFocus();
  }
  &__input:not([disabled]):focus ~ &__button &__focus,
  &__input:not([disabled]):active ~ &__button &__focus {
    display: block;
  }
  &__input:not([disabled]):checked ~ &__button &__focus {
    transform: rotate(180deg);
  }

  /*
    * On hover
    *
    */
  /* stylelint-disable-next-line */
  &__input:not([disabled]):not(:focus):not(:active):hover ~ &__button {
    background-color: var(--color-mint-green-50);
    border-color: var(--color-sea-green);
  }

  /*
    * On active
    *
    */
  /* stylelint-disable-next-line */
  &__input:not([disabled]):active ~ &__button {
    background-color: var(--color-mint-green-50);
    border-color: transparent;
  }

  /*
    * On error state
    *
    */
  /* stylelint-disable-next-line */
  &__status--error &__input:not([disabled]):not(:focus):hover ~ &__button {
    background-color: var(--color-fire-red-8);
    // change button color
    border-color: var(--color-fire-red);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):not(:hover)
    ~ &__button {
    border-color: var(--color-fire-red-8);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):not(:hover):checked
    ~ &__button {
    background-color: var(--color-fire-red);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active)
    ~ &__background {
    // change background color
    background-color: var(--color-fire-red-8);
    @include fakeBorder(var(--color-fire-red), $focusRingWidth);
  }
  // change gfx 1 color
  &__status--error
    &__input:not(:focus):not([disabled]):not(:active):checked
    ~ &__background {
    &::after {
      background-color: var(--color-fire-red);
    }
  }
  // change gfx 0 color
  &__status--error
    &__input:not(:focus):not([disabled]):not(:active):not(:checked)
    ~ &__background {
    &::after {
      border-color: var(--color-fire-red);
    }
  }
  // fake border outside
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active)
    ~ &__button
    &__focus {
    display: block;
    @include fakeBorder(var(--color-fire-red), $focusRingWidth);
  }
  // and rotate in checked state
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):checked
    ~ &__button
    &__focus {
    transform: rotate(180deg);
  }

  // adjust the form-status to the inner border for 3px
  > .dnb-form-status {
    transform: translateY(0.1875rem);
  }
}
