/*
 * VippsWalletButton component
 *
 */

@use '../../../style/core/utilities.scss' as utilities;

.dnb-vipps-wallet-button.dnb-button--primary {
  &,
  &.dnb-button--surface-dark {
    --vipps-primary-color: #ff5b24;
    --vipps-primary-color--active: #eb5320;

    // Background
    --btn-color-bg--default: var(--vipps-primary-color);
    --btn-color-bg--hover: var(--vipps-primary-color);
    --btn-color-bg--active: var(--vipps-primary-color--active);

    // Border
    --btn-color-border--hover: var(--vipps-primary-color);

    // Text
    --btn-color-text--default: var(--color-white);

    font-weight: var(--font-weight-medium);

    svg {
      padding-left: 0.125rem;

      path {
        fill: currentcolor;
      }
    }
  }

  &[disabled] {
    background-color: var(--vipps-primary-color);
    color: var(--color-white);

    --border-color: initial;
  }
}
