/*
* DatePicker component
*
*/

:root {
  --date-picker-day-width: 2rem;
  --date-picker-day-horizontal-spacing: 4px;
}

.dnb-date-picker {
  position: absolute;

  &__input {
    display: inline-block;
    outline: none;

    width: auto;

    text-align: center;
    border: none;
    background: transparent;
    overflow: visible;

    white-space: nowrap;
  }
  &__input:first-of-type {
    margin-left: 0.8rem;
  }
  &__input:last-of-type {
    margin-right: 2.2rem;
  }

  &--separator {
    margin: 0 -0.1rem;
  }

  // stylelint-disable-next-line
  &__input,
  .dnb-core-style &__input {
    font-family: /* macOS 10.10+ */ Menlo, /* Windows 6+ */ Consolas,
      /* Android 4+ */ Roboto Mono, /* Ubuntu 10.10+ */ Ubuntu Monospace,
      /* KDE Plasma 5+ */ Noto Mono, /* KDE Plasma 4+ */ Oxygen Mono,
      /* Linux/OpenOffice fallback */ Liberation Mono,
      /* fallback */ monospace; /* 1 */
  }

  &__range {
    display: flex;
    user-select: none;
  }

  &__calendar {
    position: relative;
    padding: 1rem;

    // border
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: calc(100% - 2rem);
      height: 1px;
    }
  }

  &__header {
    position: relative;

    display: flex;
    padding-bottom: 1rem;

    // border
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
    }

    &__nav,
    &__title {
      display: flex;
      justify-content: center;
      flex-basis: percentage(1 / 7);
    }
    &__title {
      flex-basis: percentage(5 / 7);
    }
  }

  &__footer {
    position: relative;

    display: flex;
    justify-content: space-between;
    padding: 1rem;

    background-color: var(--color-white);
  }

  &__labels {
    &__day {
      padding: 1.5rem 0 0.5rem;
    }
  }

  &__labels,
  &__days {
    min-width: 12rem;
    max-width: 18rem;

    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__day,
  &__labels__day {
    display: flex;
    flex-basis: percentage(1 / 7);
    justify-content: center;
  }

  &__day {
    position: relative;

    width: var(--date-picker-day-width); // medium size
    height: var(--date-picker-day-width); // medium size
    margin: var(--date-picker-day-horizontal-spacing) 0;

    .dnb-button {
      position: absolute;
      top: 0;
      width: var(--date-picker-day-width); // medium size
      height: var(--date-picker-day-width); // medium size
    }

    &--selectable:hover {
      z-index: 2;
      // cursor: pointer;
    }

    &--start-date .dnb-button,
    &--end-date .dnb-button {
      z-index: 1;
    }

    &--start-date,
    &--end-date {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        width: calc(var(--date-picker-day-width) / 2);
        height: 100%;
      }
    }
    &--start-date::after {
      left: auto;
      right: 0;
    }
    &--end-date::after {
      left: 0;
      right: auto;
    }
    &--start-date#{&}--end-date::after {
      content: none;
    }
  }

  .rtl {
    direction: rtl;

    .dnb-date-picker__prev::before {
      transform: scaleX(-1);
    }

    .dnb-date-picker__next::before {
      transform: scaleX(-1);
    }
  }
}
