/*
 * CSS Properties
 *
 */

@mixin getDefaultProperties() {
  // Typography Family
  --font-family-default: 'DNB', sans-serif;
  --font-family-monospace: 'DNBMono', 'Menlo', 'Consolas', 'Roboto Mono',
    'Ubuntu Monospace', 'Noto Mono', 'Oxygen Mono', 'Liberation Mono',
    monospace;

  // Deprecated
  --font-family-book: 'DNB', sans-serif; // Deprecated
  --font-family-demi: 'DNB', sans-serif; // Deprecated

  // Typography Weights
  --font-weight-basis: normal;
  --font-weight-regular: normal;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  // Deprecated
  --font-weight-default: normal; // Deprecated
  --font-weight-book: normal; // Deprecated
  --font-weight-demi: 500; // Deprecated

  // Typography Sizes
  --font-size-x-small: 0.875rem; // 14px
  --font-size-small: 1rem; // 16px
  --font-size-basis: 1.125rem; // 18px
  --font-size-basis--em: 1em; // 16px
  --font-size-medium: 1.25rem; // 20px
  --font-size-large: 1.625rem; // 26px
  --font-size-x-large: 2.125rem; // 34px
  --font-size-xx-large: 3rem; // 48px

  // Typography Line heights
  --line-height-xx-small--em: 1em; // 16px
  --line-height-x-small: 1.125rem; // 18px
  --line-height-small: 1.25rem; // 20px
  --line-height-basis: 1.5rem; // 24px
  --line-height-basis--em: 1.333em; // 1.33333333333*18 = 24
  --line-height-medium: 2rem; // 32px
  --line-height-large: 2.5rem; // 40px
  --line-height-x-large: 3.5rem; // 56px

  // UX colors
  --color-mint-green-50: #d2f0e9;
  --color-mint-green-25: #e9f8f4;
  --color-mint-green-12: #f4fbf9;
  --color-sea-green-30: #b3dada;
  --color-sea-green-alt-30: #b3dada; // Deprecated
  --color-signal-yellow-30: #ffffd7; // Deprecated
  --color-accent-yellow-30: #feebc1;
  --color-signal-orange: #ff5400;
  --color-fire-red: #dc2a2a;
  --color-success-green: #008000;
  --color-fire-red-8: #fdeeee;
  --color-black: #000;
  --color-black-80: #333;
  --color-black-55: #737373;
  --color-black-30: #b3b3b3; // Deprecated
  --color-black-20: #ccc;
  --color-black-8: #ebebeb;
  --color-black-3: #f8f8f8;
  --color-white: #fff;

  // Undefined
  --color-black-border: #cdcdcd;
  --color-black-background: #fafafa;

  // Profile colors
  --color-sea-green: #007272;
  --color-sea-green-alt: #007272; // Deprecated
  --color-mint-green: #a5e1d2;
  --color-summer-green: #28b482;
  --color-emerald-green: #14555a;
  --color-ocean-green: #00343e;
  --color-signal-yellow: #ffff7a; // Deprecated
  --color-accent-yellow: #fdbb31;
  --color-indigo: #23195a;
  --color-violet: #6e2382;
  --color-sky-blue: #4bbed2;
  --color-lavender: #f2f2f5;
  --color-sand-yellow: #fbf6ec;
  --color-pistachio: #f2f4ec;

  // Unused Profile colors
  --color-mint-green-alt: #ebfffa;
  --color-indigo-medium: #6e6491;
  --color-indigo-light: #b9afc8;
  --color-violet-medium: #a06eaf;
  --color-violet-light: #cfb9d7;
  --color-sky-blue-medium: #87d2e1;
  --color-sky-blue-light: #c3ebf0;

  // Spacing
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-x-large: 3rem;
  --spacing-xx-large: 3.5rem;

  // Layout
  --layout-small: 40em; // 640
  --layout-medium: 50em; // 800
  --layout-large: 60em; // 960
  --layout-x-large: 72em; // 1152
  --layout-xx-large: 80em; // 1280
  --layout-xxx-large: 90em; // 1440
}

@mixin setProperties() {
  :root {
    @content;
  }
}

$hasCustomProperties: false !default;
@if $hasCustomProperties == false {
  :root {
    @include getDefaultProperties();
  }
}
