/*
 * Helper Classes
 *
 */

:root {
  --easing-default: #{$defaultEasing};
}

// Focus management
.dnb-no-focus {
  outline: none;
}
.dnb-tab-focus {
  outline: none;
  &:focus {
    @include fakeFocus('keyboard');
  }
}
.dnb-mouse-focus {
  outline: none;
  &:focus {
    @include fakeFocus('mouse');
  }
}
.dnb-focus-ring {
  @include fakeBorder(
    $focusRingColor,
    $focusRingWidth,
    null,
    null,
    !important
  );
}
.dnb-scrollbar-appearance {
  @include scrollbarAppearance();
}
@import './skip-link.scss';

.dnb-alignment-helper {
  @include alignmentHelperClass();
  @include alignmentHelper();
}
.dnb-drop-shadow {
  @include defaultDropShadow();
}
.dnb-sr-only {
  @include srOnly();
}
.dnb-sr-only--inline {
  @include srOnlyInline();
}
.dnb-not-sr-only {
  @include notSrOnly();
}
.dnb-suffix {
  padding-left: 0.5rem;

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);
  word-break: normal; // because of "kr" usage together with "stretch" on a input/textarea
}
