/*
 * Helper Classes
 *
 */

@use '../utilities.scss';
@use './skip-link.scss';

// Focus management
.dnb-no-focus {
  outline: none;
}

.dnb-tab-focus {
  outline: none;

  &:focus {
    @include utilities.focusRing('keyboard');
  }
}

.dnb-mouse-focus {
  outline: none;

  &:focus {
    @include utilities.focusRing('mouse');
  }
}

.dnb-focus-ring {
  @include utilities.fakeBorder(
    var(--focus-ring-color),
    var(--focus-ring-width),
    null,
    !important
  );
}

.dnb-scrollbar-appearance {
  @include utilities.scrollbarAppearance();
}

.dnb-alignment-helper {
  @include utilities.alignmentHelperClass();
  @include utilities.alignmentHelper();
}
.dnb-alignment-helper--pseudo-element-only {
  @include utilities.alignmentHelper();
}

.dnb-drop-shadow {
  @include utilities.defaultDropShadow();
}

.dnb-sharp-drop-shadow {
  @include utilities.sharpDropShadow();
}

.dnb-sr-only {
  @include utilities.srOnly();
}

.dnb-suffix {
  padding-left: 0.5rem;

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);
  word-break: normal; // because of "kr" usage together with "stretch" on a input/textarea
}
