/*
 * Helper Classes
 *
 */

@use 'sass:meta';
@use '../utilities.scss' as utilities;

// Focus management
.dnb-no-focus {
  outline: none;
}

.dnb-tab-focus {
  outline: none;

  &:focus {
    @include utilities.focus-ring('keyboard');
  }
}

.dnb-mouse-focus {
  outline: none;

  &:focus {
    @include utilities.focus-ring('mouse');
  }
}

.dnb-focus-ring {
  @include utilities.fake-border(
    var(--focus-ring-color),
    var(--focus-ring-width),
    null,
    !important
  );
}

.dnb-scrollbar-appearance {
  @include utilities.scrollbar-appearance();
}

@include meta.load-css('skip-link');

.dnb-alignment-helper {
  @include utilities.alignment-helper-class();
  @include utilities.alignment-helper();
}
.dnb-alignment-helper--pseudo-element-only {
  @include utilities.alignment-helper();
}

.dnb-drop-shadow {
  @include utilities.default-drop-shadow();
}

.dnb-sharp-drop-shadow {
  @include utilities.sharp-drop-shadow();
}

.dnb-sr-only {
  @include utilities.sr-only();
}

.dnb-suffix {
  padding-left: 0.5rem;

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);
  word-break: normal; // because of "kr" usage together with "stretch" on a input/textarea
}
