/*
 * Section theme
 *
 */

@import '../../../../components/anchor/style/anchor-mixins.scss';

.dnb-section {
  &--divider {
    color: var(--color-black-80);

    &::after {
      color: var(--color-white);
      box-shadow:
        99vw 0 0 0 currentcolor,
        198vw 0 0 0 currentcolor,
        297vw 0 0 0 currentcolor,
        396vw 0 0 0 currentcolor,
        0 0.0625rem 0 0 var(--color-mint-green-50),
        99vw 0.0625rem 0 0 var(--color-mint-green-50),
        0 -0.0625rem 0 0 var(--color-mint-green-50),
        99vw -0.0625rem 0 0 var(--color-mint-green-50),
        198vw 0.0625rem 0 0 var(--color-mint-green-50),
        198vw -0.0625rem 0 0 var(--color-mint-green-50);
    }
  }

  &--transparent {
    &::after {
      color: transparent;
    }
  }

  /** deprecated: default should be white in v11 */
  &--mint-green-12,
  &--default {
    color: var(--color-black-80);

    &::after {
      color: var(--color-mint-green-12);
    }
  }

  &--white {
    color: var(--color-black-80);

    &::after {
      color: var(--color-white);
    }
  }

  /** deprecated */
  &--mint-green {
    color: var(--color-black-80);

    &::after {
      color: var(--color-mint-green);
    }
  }

  /** deprecated */
  &--lavender {
    color: var(--color-black-80);

    &::after {
      color: var(--color-lavender);
    }
  }

  &--sand-yellow,/** deprecated */
  &--warning {
    color: var(--color-black-80);

    &::after {
      color: var(--color-sand-yellow);
    }
  }

  &--pistachio,/** deprecated */
  &--info {
    color: var(--color-black-80);

    &::after {
      color: var(--color-pistachio);
    }
  }

  /** deprecated */
  &--black-3 {
    color: var(--color-black-80);

    &::after {
      color: var(--color-black-3);
    }
  }

  /** deprecated */
  &--emerald-green {
    color: var(--color-mint-green);

    &::after {
      color: var(--color-emerald-green);
    }
  }

  /** deprecated */
  &--sea-green {
    color: var(--color-white);

    &::after {
      color: var(--color-sea-green);
    }
  }

  /** deprecated */
  &--fire-red {
    color: var(--color-white);

    &::after {
      color: var(--color-fire-red);
    }
  }

  &--fire-red-8,/** deprecated */
  &--error {
    color: var(--color-black-80);

    &::after {
      color: var(--color-fire-red-8);
    }
  }

  &--success {
    color: var(--color-white);

    &::after {
      color: var(--color-success-green);
    }
  }

  // Contrast styles
  &--fire-red .dnb-anchor,/** deprecated */
  &--emerald-green .dnb-anchor,/** deprecated */
  &--sea-green .dnb-anchor,/** deprecated */
  &--success .dnb-anchor {
    @include useAnchorContrastStyle();
  }

  &--fire-red .dnb-button--tertiary,/** deprecated */
  &--emerald-green .dnb-button--tertiary,/** deprecated */
  &--sea-green .dnb-button--tertiary /** deprecated */ {
    color: var(--color-white);

    &:hover {
      color: var(--color-white);
    }

    &:hover .dnb-button__text::after {
      color: var(--color-white) !important;
    }

    &:focus {
      color: var(--color-white);

      &::before {
        @include focusRing(null, var(--color-white));
      }
    }
  }

  // contrast color
  &--fire-red,/** deprecated */
  &--mint-green /** deprecated */ {
    ::selection {
      background-color: var(--color-white);
    }
  }
}
