.dnb-section {
  &--transparent {
    &::after {
      color: transparent;
    }
  }

  &--default,
  &--divider {
    color: var(--sb-color-text);

    &::after {
      color: var(--sb-color-violet-light-4);
    }
  }

  &--white {
    color: var(--sb-color-text);

    &::after {
      color: var(--sb-color-white);
    }
  }

  &--error {
    color: var(--sb-color-text);

    &::after {
      color: var(--sb-color-magenta-light-2);
    }
  }

  &--info {
    color: var(--sb-color-text);

    &::after {
      color: var(--sb-color-gray-light-2);
    }
  }

  &--warning {
    color: var(--sb-color-text);

    &::after {
      color: var(--sb-color-yellow-light-3);
    }
  }

  &--success {
    color: var(--sb-color-text);

    &::after {
      color: var(--sb-color-green-light-2);
    }
  }
}
