.dnb-section {
  --outline-color--value: var(--sb-color-gray-light-2);

  &--transparent {
    --background-color: transparent;
  }

  &--default,
  &--divider {
    --text-color: var(--text-color--value, var(--sb-color-text));
    --background-color: var(
      --background-color--value,
      var(--sb-color-violet-light-4)
    );
  }

  &--white {
    --text-color: var(--sb-color-text);
    --background-color: var(--sb-color-white);
  }

  &--error {
    --text-color: var(--sb-color-text);
    --background-color: var(--sb-color-magenta-light-2);
  }

  &--info {
    --text-color: var(--sb-color-text);
    --background-color: var(--sb-color-gray-light-2);
  }

  &--warning {
    --text-color: var(--sb-color-text);
    --background-color: var(--sb-color-yellow-light-3);
  }

  &--success {
    --text-color: var(--sb-color-text);
    --background-color: var(--sb-color-green-light-2);
  }
}
