/*
 * Section theme
 *
 */

@import '../../../../components/anchor/style/anchor-mixins.scss';

.dnb-section {
  --background-color: var(--color-white);
  --outline-color--value: var(--color-black-8);

  &--divider {
    --text-color: var(--color-black-80);
    --background-color: var(--color-white);

    // will else cover parts of the divider lines
    z-index: 0;

    // Separator color
    --sc: var(--color-mint-green-50);

    &::after {
      --box-shadow: 99vw 0 0 0 currentcolor, 198vw 0 0 0 currentcolor,
        297vw 0 0 0 currentcolor, 396vw 0 0 0 currentcolor,
        0 0.0625rem 0 0 var(--sc), 99vw 0.0625rem 0 0 var(--sc),
        0 -0.0625rem 0 0 var(--sc), 99vw -0.0625rem 0 0 var(--sc),
        198vw 0.0625rem 0 0 var(--sc), 198vw -0.0625rem 0 0 var(--sc);
    }
  }

  &--transparent {
    --background-color: transparent;
  }

  &--white,
  &--default {
    --text-color: var(--color-black-80);
    --background-color: var(--color-white);
  }

  &--warning {
    --text-color: var(--color-black-80);
    --background-color: var(--color-sand-yellow);
  }

  &--info {
    --text-color: var(--color-black-80);
    --background-color: var(--color-pistachio);
  }

  &--error {
    --text-color: var(--color-black-80);
    --background-color: var(--color-fire-red-8);
  }

  &--success {
    --text-color: var(--color-white);
    --background-color: var(--color-success-green);
  }

  // Contrast styles
  &--success .dnb-anchor {
    @include useAnchorContrastStyle();
  }
}
