// WIP: A very first POC for dark mode

:root {
  --theme-brand: #a5e1d2;
  --theme-brand-accent: #d7d5d1;
  --theme-brand-heavy: #d7d5d1;
  --theme-dark: #1c1c1e;
  --theme-light: #fafafa;

  // UX colors
  --color-mint-green-50: #d2f0e9; // #d2f0e9
  --color-mint-green-25: #e9f8f4; // #e9f8f4
  --color-mint-green-12: #f4fbf9; // #f4fbf9
  --color-sea-green-30: #b3dada; // #b3dada
  --color-accent-yellow-30: #feebc1; // #feebc1
  --color-signal-orange: #ff5400; // #ff5400
  --color-fire-red: #dc2a2a; // #dc2a2a
  --color-success-green: #008000; // #008000
  --color-fire-red-8: #fdeeee; // #fdeeee
  --color-black: var(--theme-light); // #000
  --color-black-80: var(--theme-light); // #333
  --color-black-55: #737373; // #737373
  --color-black-20: #ccc; // #ccc
  --color-black-8: #ebebeb; // #ebebeb
  --color-black-3: #f8f8f8; // #f8f8f8
  --color-white: var(--theme-dark); // #fff

  // Undefined
  --color-black-border: #cdcdcd; // #cdcdcd
  --color-black-background: var(--theme-dark); // #fafafa

  // Profile colors
  --color-sea-green: var(--theme-brand); // #007272
  --color-mint-green: #a5e1d2; // #a5e1d2
  --color-summer-green: #28b482; // #28b482
  --color-emerald-green: var(--theme-brand-accent); // #14555a
  --color-ocean-green: var(--theme-brand-heavy); // #00343e
  --color-accent-yellow: #fdbb31; // #fdbb31
  --color-indigo: #23195a; // #23195a
  --color-violet: #6e2382; // #6e2382
  --color-sky-blue: #4bbed2; // #4bbed2
  --color-lavender: #f2f2f5; // #f2f2f5
  --color-sand-yellow: #fbf6ec; // #fbf6ec
  --color-pistachio: #f2f4ec; // #f2f4ec

  // Unused Profile colors
  --color-mint-green-alt: #ebfffa; // #ebfffa
  --color-indigo-medium: #6e6491; // #6e6491
  --color-indigo-light: #b9afc8; // #b9afc8
  --color-violet-medium: #a06eaf; // #a06eaf
  --color-violet-light: #cfb9d7; // #cfb9d7
  --color-sky-blue-medium: #87d2e1; // #87d2e1
  --color-sky-blue-light: #c3ebf0; // #c3ebf0
}
