/*
 * FormSummary element
 *
 * ========================================================================== */

.dnb-form-summary {
  margin: 2rem 0;

  &__header {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__info {
    font-size: 0.75rem;
  }

  &__list {
    padding: 0.25rem 0 0 0;
  }
}
