/*
* ProgressIndicator theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-progress-indicator {
  // to get a reverse #v3 - use the following setup, strokeDashoffset has also to be:
  // const strokeDashoffset = -((maxOffset / 100) * progress-indicator)
  // --progress-indicator-circular-circle: 88;
  // --progress-indicator-circular-circle-offset--min: -1;
  // --progress-indicator-circular-circle-offset--max: -88;

  --progress-indicator-circular-background-color: var(--color-mint-green);
  --progress-indicator-circular-bar-color: var(--color-emerald-green);
  --progress-indicator-linear-background-color: var(--color-black-8);
  --progress-indicator-linear-bar-color: var(--color-sea-green);
}
