/*
* ProgressIndicator theme
*
*/

@import '../../../../style/core/utilities.scss';

// to get a reverse #v3 - use the following setup, strokeDashoffset has also to be:
// const strokeDashoffset = -((maxOffset / 100) * progress-indicator)
// :root {
//   --progress-indicator-circular-circle: 88;
//   --progress-indicator-circular-circle-offset--min: -1;
//   --progress-indicator-circular-circle-offset--max: -88;
// }

.dnb-progress-indicator {
  // circular variant
  &__circular {
    &--small {
      width: 1rem;
      height: 1rem;
    }
    &--medium {
      width: 1.5rem;
      height: 1.5rem;
    }
    &--large {
      width: 3.5rem;
      height: 3.5rem;
    }
    &--huge {
      width: 20rem;
      height: 20rem;
    }

    &__line {
      animation-duration: 2s;
    }

    &__line.light &__circle {
      stroke: var(--color-mint-green);
    }
    &__line.dark &__circle {
      stroke: var(--color-emerald-green);
    }

    // compensate for 'aliasing artifacts' seen when rendering same sized, lighter on dark elements
    &--small &__line.dark &__circle {
      stroke-width: 3.1;
    }
    &--medium &__line.dark &__circle {
      stroke-width: 3.3;
    }
    &--default &__line.dark &__circle {
      stroke-width: 3.5;
    }
    &--large &__line.dark &__circle {
      stroke-width: 3.7;
    }
    &--huge &__line.dark &__circle {
      stroke-width: 3.9;
    }
  }

  // linear variant
  &__linear {
    background-color: var(--color-black-8);
    &--small {
      height: 0.25rem;
      border-radius: 0.125rem;
    }
    &--medium {
      height: 1rem;
      border-radius: 0.5rem;
    }
    &--large {
      height: 1.5rem;
      border-radius: 0.75rem;
    }
    &--huge {
      height: 2rem;
      border-radius: 1rem;
    }

    &__bar {
      background-color: var(--color-sea-green);
    }
  }
}
