/*
* HeightAnimation component
*
*/

@import '../../../style/core/utilities.scss';

.dnb-height-animation {
  transition: height var(--duration, 400ms) var(--easing-default);

  &--animating {
    overflow: hidden;
  }
  &--show-overflow {
    overflow: visible;
  }
}
