/*
* HeightAnimation component
*
*/

@use '../../../style/core/utilities.scss';

.dnb-height-animation {
  --height-animation-duration: var(--duration, 400ms);
  --height-animation: height var(--height-animation-duration)
    var(--easing-default) var(--delay, 0ms);

  will-change: height;
  transition: var(--height-animation);

  html[data-visual-test] &,
  html[data-visual-test] & * {
    transition: none !important;
  }

  &--animating {
    overflow-y: hidden;

    @supports (overflow-y: clip) {
      overflow-y: clip;
    }
  }

  &--hidden {
    display: none;
  }

  &--show-overflow {
    overflow: visible;
  }
}
