/*
 * Tabs component
 *
 */

.dnb-tabs {
  &__tabs {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &__tablist {
      display: flex;
      flex-direction: row;
    }

    &--left &__tablist {
      justify-content: flex-start;
    }
    &--right &__tablist {
      justify-content: flex-end;
    }
    &--center &__tablist {
      justify-content: center;
    }

    // we may wrap this &::after in allAbove to now show for mobile
    // @include allAbove(medium) {}

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: -50vw;
      right: -50vw;
      bottom: 0;
      width: 200vw;
      height: 1px;
    }

    .dnb-tablink {
      position: relative;
      z-index: 1;

      margin: 0;
      margin-left: 4.5rem;
      padding: 0.25rem 0; /* 1/16*4 */

      background-color: transparent;
      border-bottom: 1px solid transparent;

      cursor: pointer;
      outline: none;
      border: none;

      // should be same as .lead small
      &-title {
        font-size: var(--font-size-default);
        white-space: nowrap;
      }

      // we use "aria-hidden" SPAN to simulate a wider width for each tab
      & > span[hidden] {
        display: flex;
        flex-direction: column;

        visibility: hidden;
        height: 0;
        overflow: hidden;

        letter-spacing: 2px;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
      }
    }
    .dnb-tablink:first-child {
      margin-left: 0;
    }

    @include allBelow(medium) {
      .dnb-tablink {
        margin-left: 2.5rem;
      }
    }

    @include allBelow(small) {
      &__tablist {
        display: block;
      }
      .dnb-tablink {
        margin-top: 0.5rem; /* because of wrappering */
        margin-left: 1rem;
      }
    }
  }

  &__content {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
}
