/*
 * Tabs component
 *
 */

.dnb-tabs {
  &__tabs {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;

    &__tablist {
      display: flex;
      flex: 1 1 auto;

      &:focus {
        @include fakeFocus();
      }
    }

    &--left &__tablist {
      justify-content: flex-start;
    }
    &--right &__tablist {
      justify-content: flex-end;
    }
    &--center &__tablist {
      justify-content: center;
    }

    .dnb-tabs__button,
    .dnb-core-style & .dnb-tabs__button {
      position: relative;
      z-index: 1;

      user-select: none;
      -webkit-user-select: none; // Safari / Touch fix

      margin: 0;
      margin-left: 4.5rem;
      padding: 0.25rem 0.125rem; /* 1/16*4 */

      background-color: transparent;
      border-bottom: 1px solid transparent;

      cursor: pointer;
      outline: none;
      border: none;

      font-size: var(--font-size-basis);
      line-height: var(--line-height-basis);

      // should be same as .lead small
      &__title {
        // Here we had "white-space: nowrap;" before
        // but now we alow wrapping, but make it a little nicer than the default
        word-break: normal;

        .dnb-icon {
          font-size: var(--font-size-small); // has to be 16px

          // vertical alignment
          transform: translateY(-0.125rem);
        }
      }

      @include dummySpacing();

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
      }
    }
    .dnb-tabs__button:first-child {
      margin-left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -100vw;
      bottom: 0;
      width: 100vw;
      height: 1px;
    }

    @include allBelow(medium) {
      .dnb-tabs__button,
      .dnb-core-style & .dnb-tabs__button {
        margin-left: 2.5rem;
      }
      .dnb-tabs__button:first-child,
      .dnb-core-style & .dnb-tabs__button:first-child {
        margin-left: 0;
      }
    }

    @include allBelow(small) {
      &__tablist {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
      }
      .dnb-tabs__button,
      .dnb-core-style & .dnb-tabs__button {
        margin-left: 0;
      }
    }
  }

  &__content {
    margin-top: 2rem;
  }
}
