/*
 * Tabs component
 *
 */

.dnb-tabs {
  &__tabs {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;

    &__tablist {
      display: flex;
      flex: 1 1 auto;

      // Only used on to visualize the tab ring nicer
      margin-left: -1rem;
      padding: 0 1rem;

      @include allBelow(small) {
        margin-left: 0;
      }

      &:focus {
        @include fakeFocus();
      }

      @include scrollX(auto);
      @include hideScrollbar();
      scroll-snap-type: x mandatory;
    }

    &--left &__tablist {
      justify-content: flex-start;
    }
    &--right &__tablist {
      justify-content: flex-end;
    }
    &--center &__tablist {
      justify-content: center;
    }

    .dnb-tabs__scroll-nav-button {
      position: absolute;
      z-index: 2;

      background-color: var(--color-emerald-green);

      &:first-of-type {
        left: 0;
        border-radius: 0 50% 50% 0;
      }
      &:last-of-type {
        right: 0;
        border-radius: 50% 0 0 50%;
      }

      display: none;
      opacity: 0;
      transition: opacity 600ms ease-out;

      &--visible {
        display: flex;
        opacity: 1;
      }

      &--hide {
        pointer-events: none;
        opacity: 0 !important;
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -100vw;
      bottom: 0;
      width: 100vw;
      height: 1px;
    }

    @include allBelow(medium) {
      .dnb-tabs__button:not(:first-of-type),
      .dnb-core-style & .dnb-tabs__button:not(:first-of-type) {
        margin-left: 2.5rem;
      }
    }
  }

  &__button__snap {
    display: flex;
    padding: 0 2rem 0 2.5rem;

    @include allBelow(medium) {
      padding: 0 1rem 0 1.5rem;
    }
    @include allBelow(small) {
      padding: 0 1rem;
    }

    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }

    /** Scrolling related */
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

  &--has-scrollbar &__button__snap {
    padding: 0 1rem 0 3rem;

    @include allBelow(medium) {
      padding: 0 0 0 2.5rem;
    }

    &:first-of-type {
      padding-left: 3rem;
    }
    &:last-of-type {
      padding-right: 3rem;
    }
  }

  &--has-scrollbar &__tabs__tablist {
    // Only used on to visualize the tab ring nicer
    margin-left: 0;
    padding: 0;

    &:focus {
      border-radius: 0;
    }
  }

  // Tab Button
  &__button,
  .dnb-core-style & &__button {
    position: relative;
    z-index: 1;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    margin: 0;
    padding: 0.25rem 0.125rem; /* 1/16*4 */

    background-color: transparent;
    border-bottom: 1px solid transparent;

    cursor: pointer;
    outline: none;
    border: none;

    font-size: var(--font-size-basis);
    line-height: var(--line-height-basis);

    white-space: nowrap;

    // should be same as .lead small
    &__title {
      .dnb-icon {
        font-size: var(--font-size-small); // has to be 16px

        // vertical alignment
        transform: translateY(-0.125rem);
      }
    }

    @include dummySpacing();

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
    }
  }

  &__content {
    margin-top: 2rem;
  }
}
