/*
* Input theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-input {
  color: var(--color-sea-green);

  &__inner {
    color: inherit;
  }

  &__shell {
    color: inherit;
    background-color: var(--color-white);
    border: none;

    @include fakeBorder(
      var(--color-sea-green),
      var(--input-border-width),
      inset,
      true
    );

    &[data-input-state='dirty'] {
      // Background color of input when it has content
      color: var(--color-emerald-green);
      background-color: var(--color-white);
    }

    &[data-input-state='disabled'] {
      &,
      .dnb-icon {
        color: var(--color-sea-green-30);
      }
      -webkit-text-fill-color: currentColor;
      @include fakeBorder(
        var(--color-sea-green-30),
        var(--input-border-width),
        inset,
        true
      );
      background-color: var(--color-mint-green-12);
    }

    &:not([data-input-state='disabled']):hover,
    &[data-input-state='focus'] {
      color: var(--color-sea-green);
      background-color: var(--color-white);
      @include fakeBorder(var(--color-emerald-green), 0.125rem);
    }
  }

  &:not([data-input-state='disabled'])#{&}__submit-button svg {
    color: var(--color-sea-green);
  }

  // Icon
  &__icon {
    color: var(--color-emerald-green);
  }

  // with status_state = "error"
  &__status--error &__shell:not([data-input-state='focus']) {
    @include fakeBorder(var(--color-fire-red), 0.125rem);
  }
  &__status--error
    &__shell:not([data-input-state='focus'])
    ~ &__submit-element {
    .dnb-button--secondary .dnb-button__icon {
      color: var(--color-fire-red);
    }
    .dnb-button {
      @include fakeBorder(var(--color-fire-red), 0.125rem);
    }
  }
  &__status--error,
  &__status--error &__shell[data-input-state='dirty'] {
    color: var(--color-fire-red);
  }

  &__input::selection {
    background-color: var(--color-mint-green);
    color: var(--color-sea-green);
    text-shadow: none;
  }

  &__shell[data-input-state='focus'] .dnb-input__placeholder {
    display: none;
  }
  &--keep-placeholder
    &__shell[data-input-state='focus']
    .dnb-input__placeholder {
    display: block;
    opacity: 0.6;
  }

  // TODO: This has to be considdered with Jens
  // &__description {
  //   color: var(--color-sea-green);
  // }
}
