/*
* Input theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-input {
  --input-height: 2.5rem;
  --input-border-radius: 0.5rem;
  --input-border-width-hover: 0.125rem;

  &__shell {
    background-color: var(--color-white);
    transition: border-radius 0.25s ease-out;
    border: none;
    @include fakeBorder(
      var(--sb-color-gray-dark-2),
      var(--input-border-width),
      inset
    );
  }

  &__submit-element {
    .dnb-button--input-button {
      box-shadow: none;
      background-color: transparent;
    }
  }

  &__submit-button {
    &__button {
      color: var(--sb-color-violet);
    }
  }

  &__placeholder {
    color: var(--sb-color-gray-dark-3);
  }

  &[data-input-state='disabled'] &__shell {
    &,
    .dnb-icon,
    .dnb-input__placeholder {
      color: var(--sb-color-gray-dark-2);
    }

    -webkit-text-fill-color: currentcolor;

    @include fakeBorder(
      var(--sb-color-gray),
      var(--input-border-width),
      inset
    );
    background-color: var(--sb-color-gray-light);
  }

  &__status--error {
    &:not([data-input-state='disabled']) {
      .dnb-input__shell {
        @include fakeBorder(var(--sb-color-red));
      }
      &:not([data-input-state='focus']) .dnb-input__shell {
        color: var(--sb-color-red);
      }

      &[data-input-state='focus'] .dnb-input__shell {
        @include fakeBorder(var(--sb-color-red));
        @include focusRing(null, var(--sb-color-red), inset);
      }

      .dnb-input__shell:hover {
        @include fakeBorder(
          var(--sb-color-red),
          var(--input-border-width-hover)
        );
      }
    }

    html:not([data-whatintent='touch']) & {
      .dnb-input__submit-button__button.dnb-button--secondary:not(.dnb-button--has-text, [disabled]) {
        &:hover,
        &:focus {
          &,
          &::after {
            background-color: var(--sb-color-red);
          }

          &:active {
            color: var(--color-white);
          }
        }
      }
    }

    .dnb-input__icon {
      color: var(--sb-color-red);
    }
  }

  &:not([data-input-state='disabled']) {
    // Focus
    &[data-input-state='focus'] {
      .dnb-input__shell {
        border-radius: 1.5rem;
      }
      &:not(.dnb-input__status--error) .dnb-input__shell {
        @include fakeBorder(
          var(--sb-color-violet),
          var(--input-border-width),
          inset
        );
        @include focusRing(null, null, inset); // keyboard only
      }
    }

    // Hover
    &:not(.dnb-input__status--error) {
      .dnb-input__shell:hover {
        @include fakeBorder(
          var(--sb-color-violet),
          var(--input-border-width-hover),
          inset
        );
      }
    }
  }
}
