/* Variables for responsive-pp */
/* Base css */
/* Accessibility - must be part of DOM but not show in page */
.skipLinks a,
.skipLinks a:hover,
.skipLinks a:visited {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
#wrapper {
  margin-top: 62px;
  padding: 29px 0 0 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.pageTitle .headline {
  font-size: 1.6rem;
}
/*font-typer*/
.font-fedra-light {
  font-family: fedralight;
}
.font-fedra-book {
  font-family: fedrabook;
}
/*  column_top */
#column_top {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  background: #ffffff;
  width: 100%;
  top: 0;
  box-shadow: 0 -2px 7px 5px #dedede;
  z-index: 1000;
  font-family: FedraBook;
}
#logo {
  width: 85px;
}
#navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 875px;
  font-size: 0.8rem;
}
#navBar .homeHouse {
  width: 22px;
  height: 22px;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  margin-left: 10px;
}
#notificationsButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
  width: 51px;
  height: 46px;
}
#notificationsButton .info {
  height: 32px;
  text-indent: -10000px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  /*margin-top: 7px;*/
  margin-top: -7px;
}
#notificationsButton .info:hover,
#notificationsButton .info.active {
  background-position: 0 100%;
}
#notificationsButton .counter {
  background: #e76a0b;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0.8em;
  margin-left: 28px;
  padding: 3px 4px 1px;
  width: 20px;
  z-index: 1;
}
#notificationsButton .inboxCtr,
#notificationsButton .eFakturaCtr,
#notificationsButton .archiveCtr,
#notificationsButton .signatureCtr {
  /*position: absolute;
    right: 4px;
    top: 2px; */
  position: relative;
  top: -31px;
  left: 121px;
}
#notificationsButton .inboxCtr {
  display: none;
}
#notificationsButton #notificationList li {
  display: block;
}
.topNavigationDropdown {
  display: none;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  width: 170px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #a0a0a0;
  position: absolute;
  top: 50px;
  overflow: hidden;
}
.topNavigationDropdown li {
  border-bottom: 1px solid #dedede;
}
.topNavigationDropdown li:hover {
  background: #007272;
}
.topNavigationDropdown li:hover a {
  background-position: right -27px;
}
.topNavigationDropdown li a {
  display: block;
  text-decoration: none;
  color: #007272;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 5px;
}
.topNavigationDropdown li a:hover {
  color: #ffffff;
}
.topNavigationDropdown li span {
  display: inline;
}
.topNavigationDropdown .inboxItem a {
}
.topNavigationDropdown .eFakturaItem a {
}
.topNavigationDropdown .eFakturaItem .counter {
  display: none;
}
.topNavigationDropdown .signatureItem a {
}
.topNavigationDropdown .signatureItem .counter {
  display: none;
}
.topNavigationDropdown .archiveItem a {
}
.topNavigationDropdown .archiveItem .counter {
  display: none;
}
#buttonRowWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
#logOutButton {
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 10px;
  text-shadow: 0.1em 0.1em #ffffff;
}
#logOutButton .logOut {
  color: #585959;
  text-decoration: none;
}
#logOutButton:hover {
  background-position: 0 100%;
  text-shadow: none;
}
#logOutButton:hover .logOut {
  color: #ffffff;
  text-decoration: none;
}
/*  Menu  */
/* Menu */
#menuLoggedIn > ul {
  position: relative;
}
#menuLoggedIn > ul > li {
  display: inline-block;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 10px 2px;
  background: transparent;
}
#menuLoggedIn > ul > li:hover {
  background-position: right -34px;
}
#menuLoggedIn > ul > li.active {
  background-position: right -67px;
}
#menuLoggedIn a {
  text-decoration: none;
  color: #585959;
  margin-right: 33px;
}
#menuLoggedIn a:hover {
  color: #007272;
}
#menuLoggedIn .menuSection {
  display: block;
  text-align: left;
  background: #aa9e93;
  border-radius: 5px;
  padding: 10px;
  width: auto;
}
#menuLoggedIn .parentArrowPointer {
  display: block;
  height: 30px;
  margin-top: -27px;
  width: auto;
}
#menuLoggedIn dl {
  border-left: 1px solid #dedede;
  width: 159px;
  margin: 0 10px 0 0;
  padding: 0 0 0 10px;
}
#menuLoggedIn .right {
  background: #f0f0f0;
  margin: 0;
}
#menuLoggedIn .right dt {
  color: #585959;
  font-weight: normal;
}
#menuLoggedIn .right dt a {
  color: #585959;
  font-weight: bold;
}
#menuLoggedIn .wide {
  width: 270px;
}
#menuLoggedIn dt {
  font-weight: bold;
  font-family: fedraLight;
  border-bottom: 1px solid #dedede;
  padding: 10px 0 5px;
}
#menuLoggedIn dt a {
  color: #007272;
}
#menuLoggedIn dt a:hover {
  color: #585959;
}
#menuLoggedIn dd {
  margin: 5px 0;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
#menuLoggedIn .menuWrapTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 0.8rem;
}
#menuLoggedIn .menuWrapTop li {
  margin: 10px 10px 0 0;
}
#menuLoggedIn .menuWrapTop li.houseLoan,
#menuLoggedIn .menuWrapTop li.creditCard,
#menuLoggedIn .menuWrapTop li.bankIdMobile,
#menuLoggedIn .menuWrapTop li.openAccount,
#menuLoggedIn .menuWrapTop li.stockTrading,
#menuLoggedIn .menuWrapTop li.fundSavings,
#menuLoggedIn .menuWrapTop li.savingsAccount,
#menuLoggedIn .menuWrapTop li.investmentAccount {
  padding: 5px 0 10px 33px;
}
#menuLoggedIn .menuWrapTop a {
  margin-right: 0;
}
#menuLoggedIn .menuWrapTop a:hover {
  color: #e76a0b;
  text-decoration: underline;
}
#menuLoggedIn .menuWrapBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 0.8rem;
}
#menuLoggedIn .menuWrapBottom > ul {
  padding: 4px 0 0 0;
}
#menuLoggedIn .menuWrapBottom .calcMenu {
  padding: 0 0 4px 0;
}
#menuLoggedIn .menuWrapBottom a {
  color: #007272;
}
#menuLoggedIn .menuWrapBottom a:hover {
  text-decoration: underline;
}
#menuLoggedIn .houseLoan {
}
#menuLoggedIn .creditCard {
}
#menuLoggedIn .bankIdMobile {
}
#menuLoggedIn .openAccount {
}
#menuLoggedIn .stockTrading {
}
#menuLoggedIn .fundSavings {
}
#menuLoggedIn .savingsAccount {
}
#menuLoggedIn .investmentAccount {
}
#menuLoggedIn .quickMenuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: #ffffff;
  padding: 10px 0 20px;
  font-size: 0.8rem;
}
#menuLoggedIn .quickMenuList a {
  text-align: center;
  display: block;
}
#menuLoggedIn .quickMenuList a img {
  display: block;
  margin: 10px auto 0;
  position: relative;
  text-align: center;
}
/*  MegaDropDown */
.mainMenuContentWrapperTop {
  border-bottom: 1px solid #dedede;
  border-radius: 5px 5px 0 0;
  background: #ffffff;
  overflow: hidden;
  padding-top: 0;
}
.mainMenuContentWrapperBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* column content */
#column_content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #ffffff;
  padding: 10px;
  font-size: 0.8rem;
}
#column_content .pageTitle {
  height: 30px;
  border-bottom: 1px solid #dedede;
  color: #585959;
  margin-bottom: 20px;
}
/*  Footer styles */
#footer {
  background: #ffffff;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #dedede;
  padding: 10px;
}
#footerNav {
  display: none;
}
/* place at bottom of page */
#footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  font-size: 0.8rem;
}
#footerContainer .ui-corner-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  border: 1px solid #dedede;
}
#footerContainer li {
  padding: 6px 10px;
  border-right: 1px solid #dedede;
}
#footerContainer .lastItem {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  border-right: none;
}
#footerContainer img {
  height: 29px;
  width: auto;
  margin-right: 10px;
}
#josteinWrapper {
  box-shadow: 3px 4px 19px 3px #dedede;
  position: fixed;
  right: 0;
  top: 62px;
}
#josteinWrapper .JosteinIcon {
  box-shadow: -9px 3px 19px 3px #dedede;
  height: 70px;
  width: 55px;
  position: absolute;
  left: -55px;
  cursor: pointer;
  overflow: hidden;
}
#josteinWrapper .JosteinIcon .JosteinIconDescription {
  position: absolute;
  left: 4px;
  top: 54px;
  color: #585959;
}
#josteinWrapper .moduleContact {
  border-top: 4px solid #e6e2df;
  background: #fafafa;
  overflow: hidden;
}
#josteinWrapper .moduleContact .moduleHeadline {
  color: #585959;
  font-size: var(--font-size-basis);
  border-bottom: 1px solid #dedede;
  margin: 5px 10px 10px;
  padding: 5px 0;
}
#josteinWrapper .moduleContact .moduleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#josteinWrapper .moduleContact .boxElement {
  padding: 5px 10px 10px;
  width: 193px;
}
#josteinWrapper .contactList li a {
  display: block;
  border-radius: 7px;
  color: #585959;
  text-decoration: none;
  padding: 13px 10px 13px 55px;
}
#josteinWrapper .contactList li a:hover {
  color: #ffffff;
}
#josteinWrapper .contactList li.chatButton a {
  background-position: 0 -205px;
}
#josteinWrapper .contactList li.chatButton a:hover {
  background-position: 0 -246px;
}
#josteinWrapper .contactList li.doItYourself a {
  background-position: 0 -656px;
}
#josteinWrapper .contactList li.doItYourself a:hover {
  background-position: 0 -697px;
}
#josteinWrapper .contactList li.applyButton a {
  background-position: 0 -533px;
}
#josteinWrapper .contactList li.applyButton a:hover {
  background-position: 0 -574px;
}
/*  media queries */
@media screen and (max-width: 960px) {
  #menuLoggedIn li {
    margin: 10px 5px;
  }
}
@media screen and (min-width: 960px) {
}
@media screen and (max-width: 960px) {
  #logo {
    width: 70px;
  }
  #logo img {
    margin-top: 5px;
    width: 70px;
  }
  #navBar {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  #navBar .homeHouse {
    display: none;
  }
  #menuLoggedIn a {
    margin-right: 0;
  }
  #menuLoggedIn > ul > li {
    background: none;
    border: none;
    margin: 10px 4px;
    padding: 6px 5px;
  }
  #menuLoggedIn > ul > li:hover,
  #menuLoggedIn > ul > li.active {
    background: none;
  }
  #column_content {
    width: 740px;
  }
}
@media screen and (max-width: 768px) {
  #column_content {
    width: 540px;
  }
}
@media screen and (max-width: 600px) {
  #column_content {
    width: 100%;
  }
}
