/* DNB KUNDEPORTAL GLOBAL CSS */

/* GUI-TEAM PORTAL-RELEASE 2014q2 - */

/* innloggede stiler */

body {
  font-size: 80%;
}
@font-face {
  font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
  background: transparent
    url(/portalfront/dnb/images/gfx/wrapperLineBg.png) repeat-y 0 top;
  padding-bottom: 20px;
}
body#dnbLayoutDefault .pageTitle h1.headline,
body#dnbLayoutDefaultStartPage .pageTitle h1.headline,
body#dnbLayoutFullWidth .pageTitle h1.headline,
body#dnbLayoutLarge .pageTitle h1.headline,
body#dnbLayoutExtraLarge .pageTitle h1.headline {
  font-size: 1.8em;
}
body#dnbLayoutDefault .pageTitle,
body#dnbLayoutDefaultStartPage .pageTitle,
body#dnbLayoutFullWidth .pageTitle,
body#dnbLayoutLarge .pageTitle,
body#dnbLayoutExtraLarge .pageTitle {
  margin-top: 20px;

  /* margin-bottom:10px; */
  height: 30px;
}
body#dnbLayoutDefault,
body#dnbLayoutFullWidth,
body#dnbLayoutDefaultStartPage,
body#dnbLayoutLarge,
body#dnbLayoutExtraLarge {
  background: #f2f0ee url(/portalfront/dnb/images/gfx/bodyBgTop.png)
    repeat-x top;
  font-family: Arial, Helvetica, sans-serif;
}
body#dnbLayoutDefault #wrapper,
body#dnbLayoutDefaultStartPage #wrapper {
  padding-top: 58px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
body#dnbLayoutDefaultStartPage #wrapper #column_left {
  padding-top: 0;
}
#dnbLayoutDefault #column_all {
  background: none !important;
}
#column_left {
  /* background:#fff url(/portalfront/dnb/images/gfx/bgColumnLeft.png) 5px top no-repeat !important; */

  /* border-right: 1px solid #dedede; */
}
body#dnbLayoutLarge #column_left {
  /* background:#fff url(/portalfront/dnb/images/gfx/bgColumnLeftLarge.png) 5px top no-repeat !important; */
  border-right: 0 solid #dedede;
}
body#dnbLayoutLarge #column_all #column_left {
  background: none !important;
  border-right: 0 solid #dedede;
}
body#dnbLayoutExtraLarge #column_all #column_left {
  background: none !important;
  border-right: 0 solid #dedede;
}
body#dnbLayoutExtraLarge #column_left {
  /* background:#fff url(/portalfront/dnb/images/gfx/bgColumnLeftExtraLarge.png) 5px top no-repeat !important; */
  border-right: 0 solid #dedede;
}
#column_right.background {
  background: none !important;
}
#column_right {
  width: 239px;
}
#minitep {
  margin-left: 10px !important;
}
#column_right div.small,
#column_right div.medium,
#column_right div.large,
#wrapper #column_right div.full,
#column_right article.full {
  width: 219px;
}
body#dnbLayoutLarge #wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  background: transparent;
  margin-bottom: 20px;
  padding-top: 58px;
}
body#dnbLayoutLarge #column_content {
  width: 1200px;

  /* background:transparent url(/portalfront/dnb/images/gfx/bgColumnContentLarge.png) !important; */
}
body#dnbLayoutExtraLarge #column_content {
  width: 1440px;

  /* background:transparent url(/portalfront/dnb/images/gfx/bgColumnContentExtraLarge.png) !important; */
}
#column_content {
  /* background:transparent url(/portalfront/dnb/images/gfx/bgColumnContent.png) !important; */
  margin-top: 30px;
  width: 960px;
}
body#dnbLayoutExtraLarge #wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  background: transparent;
  margin-bottom: 20px;
  padding-top: 58px;
}

/* body#dnbLayoutExtraLarge #column_top, */
body#dnbLayoutExtraLarge #column_content {
  width: 1440px;
}
#dnbLayoutDefault .moduleWhite,
#dnbLayoutFullWidth .moduleWhite,
#dnbLayoutDefaultStartPage .moduleWhite {
  padding-bottom: 10px;
}
#dnbLayoutDefault #htmlBackground,
#dnbLayoutDefaultStartPage #htmlBackground,
#dnbLayoutFullWidth #htmlBackground,
#dnbLayoutLarge #htmlBackground,
#dnbLayoutLarge,
#dnbLayoutExtraLarge #htmlBackground,
#dnbLayoutExtraLarge {
  background: transparent
    url(/portalfront/dnb/images/gfx/menu/LoggedInnBg.png);
  background-repeat: repeat-x;
  height: 62px;
}
#dnbLayoutDefault #column_top,
#dnbLayoutDefaultStartPage #column_top,
#dnbLayoutFullWidth #column_top,
#dnbLayoutLarge #column_top,
#dnbLayoutExtraLarge #column_top {
  height: 68px;
  background: none;
  background-repeat: no-repeat;
  background-position: bottom;

  /*  lagt til for utvidet hvit bakgrunn  */
  width: 960px;
  padding: 0;
}
#dnbLayoutDefault #breadcrums,
#dnbLayoutFullWidth #breadcrums {
  display: none;
}
#dnbLayoutDefault #header,
#dnbLayoutDefaultStartPage #header,
#dnbLayoutLarge #header,
#dnbLayoutExtraLarge #header,
#dnbLayoutFullWidth #header {
  height: 78px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: none repeat scroll 0 0 transparent;
}
#dnbLayoutDefault #navBar #logo,
#dnbLayoutDefaultStartPage #navBar #logo,
#dnbLayoutLarge #navBar #logo,
#dnbLayoutExtraLarge #navBar #logo,
#dnbLayoutFullWidth #navBar #logo {
  border-left: 1px solid #ccc;
  display: block;
  float: left;
  height: 47px;
  padding: 14px 0 7px 0;
  width: 56px;
  margin: 0;
}
#dnbLayoutDefault #logo,
#dnbLayoutFullWidth #logo,
#dnbLayoutLarge #logo,
#dnbLayoutExtraLarge #logo,
#dnbLayoutDefaultStartPage #logo {
  display: block;
  height: 47px;
  padding: 0;
  width: 80px;
  margin: 0 0 0 10px;
}
#logo::before {
  height: 0;
}
#dnbLayoutLarge #column_content .article {
  margin: 0 10px 0 10px;
}
div.articleContent img.ui-datepicker-trigger {
  float: none;
  margin: 2px 0 5px -6px;
}
#dnbLayoutLarge #column_content .articleContent {
  padding: 10px;

  /* margin: 0 10px 0 10px; */
  background-color: #fff;
}

/* dnbLayoutPlain */
body#dnbLayoutPlain {
  background: #fff;
}
body#dnbLayoutPlain #wrapper {
  margin-bottom: 0;
  padding-top: 15px;
}
body#dnbLayoutPlain #wrapper div.full {
  width: auto;
}
p.faneMorePages {
  border: 0 none;
  float: right;
  margin: -7px 0 0;
  padding: 7px 3px 7px 10px;
  text-align: right;
  border-left: 0 solid #ccc;
  padding-left: 10px;
}
p.faneMorePages span {
  margin-right: 5px;
}
#iconList li a {
  border-right: 0 solid #ebebeb;
}
.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* overwriting style_global_segp 2010 */
div.formsButtonContainer {
  float: noen;
  height: auto;
  margin: 0;
  padding: 10px 0;
  display: block; /* overwriting display table , ie8 problems mark the hole div */
}
div.formsButtonContainer a,
div.formsButtonContainer input {
  margin-left: 10px;
}
hr {
  background-color: #dedede;
  border: 0 solid black;
  clear: both;
  color: #a3a5b2;
  display: block;
  height: 1px;
  margin: 10px 0;
  padding: 0;
}
p {
  text-align: left;
}

/* NAVBAR */
#navBar {
  float: right;
  height: 47px;
  margin: 15px 0 0;
  padding: 0;
  width: 820px;
  _width: 820px;
}

/* #dnbLayoutLarge #navBar {
	height: 60px;
	width:1060px;
	float:right;
	margin: 15px 20px 0 0px;
} */
#navBar .homeHouse {
  background: transparent
    url(/portalfront/dnb/images/gfx/menu/homeHouseNew.png) no-repeat;
  width: 22px;
  height: 22px;
  float: left;
  margin: 6px 0 0 -33px;
}
#navBar .homeHouse a {
  display: block;
  height: 22px;
  padding: 0;
  width: 100%;
}
#navBar .homeHouse a:hover {
  background: transparent
    url(/portalfront/dnb/images/gfx/menu/homeHouseHoverNew.png) no-repeat;
  color: #fff;
  text-decoration: none;
}

/* new menu styles innlogget */
#navBar #menuLoggedIn #controls {
  float: right;
  text-align: right;
  width: 200px;
}
#navBar #menuLoggedIn #controls p {
  display: inline;
}
#navBar #menuLoggedIn {
  float: left;
  width: auto;
  margin-right: 10px;
}
#navBar #menuLoggedIn ul {
  margin: 0;
  width: auto;
  clear: none;
  display: inline;
}
#navBar .buttonRow {
  width: 51px;
  height: 30px;
  float: left;
}
#navBar #buttonRowWrapper {
  float: right;
  margin: 0 10px 0 0;
  padding: 0;
  width: auto;
}
#navBar .buttonRow a.info {
  display: block;
  padding: 5px 10px;
  height: 22px;
  text-indent: -1000px;
  overflow: hidden;
}

/*
#navBar a.logOut:hover, #navBar a.info:hover, #navBar a.logOut.active:hover, #navBar a.info.active:hover {
	background-position:0 32px;
} */
#navBar #logOutButton.buttonRow {
  width: auto;
  height: 32px;
  float: right;
}
#navBar #notificationsButton.buttonRow a.info {
  background: url('/portalfront/dnb/images/gfx/menu/infoIconBar.png');
  background-repeat: no-repeat;
}
#navBar div#buttonRowWrapper div#logOutButton.buttonRow a.popupControl {
  background: url('/portalfront/dnb/images/gfx/bgButton.gif') repeat-x
    scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  color: #58595b;
  cursor: pointer;
  float: right;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 4px;
  padding: 7px;
  text-shadow: 0.1em 0.1em #fff;
}
#navBar
  div#buttonRowWrapper
  div#logOutButton.buttonRow
  a.popupControl:hover {
  background-color: #007272;
  background-position: 0 -32px;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
}
#navBar #notificationsButton.buttonRow a.info:hover,
#navBar #logOutButton.buttonRow a.logOut:hover,
#navBar #notificationsButton.buttonRow a.info.active,
#navBar #logOutButton.buttonRow a.logOut.active {
  background-position: 0 100%;
}

/* middeltidig fix */
#navBar div#logOutButton.buttonRow ul.topNavigationDropdown {
  display: block;
  margin-right: 0;
  margin-top: -1px;
  width: 64px;
}
#programLogo {
  background: none repeat scroll 0 0 transparent;
  float: right;
  margin-right: 10px;
  margin-top: -30px;
  right: 20px;
  text-align: right;
  width: auto;
  display: none;
}
.popupDialog {
  display: none;
}

/* NAVBAR */
#menuLoggedIn .mainMenuContentWrapperTop,
#mainMenu .mainMenuContentWrapperTop {
  border-bottom: 1px solid #ececec;
  border-radius: 5px 5px 0 0;
}
#menuLoggedIn ul li {
  display: inline;
  float: left;
  height: 32px;
  margin: 0 5px 0;
  background: url('/portalfront/dnb/images/gfx/menu/menubgLeft.png');
  background-position: left 0;
  background-repeat: no-repeat;
}
#menuLoggedIn ul li.active {
  background-position: left -32px;
  background-repeat: no-repeat;
  _padding-top: 0;
}
#menuLoggedIn li a,
#menuLoggedIn li a:link,
#menuLoggedIn li a.link:visited {
  display: block;
  padding: 14px 0;
  background: url('/portalfront/dnb/images/gfx/menu/menubgRight.png')
    no-repeat scroll right 0 transparent;
  text-align: center;
  color: #555;
  height: 24px;
  padding: 8px 40px 0 12px;
  font-size: 0.9em;
  margin-right: -2px;
  text-decoration: none;
}

/* ie6 fix */
* html #menuLoggedIn ul li a,
* html #menuLoggedIn ul li a:link {
  display: inline-block;
  margin-right: 0;
  width: auto;
}
#menuLoggedIn li a:hover,
#menuLoggedIn li a:link:hover {
  background: url('/portalfront/dnb/images/gfx/menu/menubgRight.png')
    no-repeat scroll right -32px transparent;
  color: #007272;
}
#menuLoggedIn li.active a,
#menuLoggedIn li.active a:link {
  background: url('/portalfront/dnb/images/gfx/menu/menubgRight.png')
    no-repeat scroll right -64px transparent;
}

/* menuSection */
#menuLoggedIn dd {
  line-height: 1.1em;
  margin: 5px 0;
}
#menuLoggedIn .menuSection a,
#menuLoggedIn .menuSection a:link,
#menuLoggedIn li.active .menuSection a,
#menuLoggedIn li.active .menuSection a:link {
  background: none;
  display: block;
  padding: 2px 10px;
  text-decoration: none;
  height: auto;
  text-align: left;
  font-weight: normal;
}
#menuLoggedIn .menuSection a.link:visited,
#menuLoggedIn .menuSection a:link:hover,
#menuLoggedIn li.active .menuSection a.link:visited,
#menuLoggedIn li.active .menuSection a:link:hover,
#menuLoggedIn .menuSection a:hover,
#menuLoggedIn .menuSection .active a,
#menuLoggedIn .menuSection .active a:link {
  background: none;
  background-color: #ececec;
  color: #575959;
  display: block;
  padding: 2px 10px;
  text-decoration: none;
  height: auto;
  text-align: left;
}

/* menu right side */
#navBar #menuLoggedIn .mainMenuContentWrapperBottom dl div.right {
  display: inline;
  margin-bottom: -2000px;
  padding: 0 0 2000px 0;
  width: 159px;
  height: auto;
  background-color: #f0f0f0;
}
#navBar #menuLoggedIn dt a {
  font-weight: bold;
  padding: 0;
  margin-top: 14px;
}
#navBar #menuLoggedIn dt a:hover {
  font-weight: bold;
  font-size: 1em;
  background: none;
}
#navBar #menuLoggedIn dd a,
#navBar #menuLoggedIn .right dt a,
#navBar #menuLoggedIn .right a {
  color: #58595b;
}
#navBar #menuLoggedIn dd a:hover,
#navBar #menuLoggedIn dd a:link:hover,
#navBar #menuLoggedIn dd a:active:hover,
#navBar #menuLoggedIn dd a:visited:hover {
  background-color: #ececec;
}
#navBar #menuLoggedIn .right ul {
  clear: none;
  float: left;
  font-size: 1em;
  list-style: none outside none;
  margin: 0;
  padding: 4px 16px 2px 6px;
  width: 110px;
  border-right: 0 solid #ccc;
}
#navBar #menuLoggedIn .right li {
  background: none
    /*url("/portalfront/dnb/images/icons/menyikon-.png") no-repeat scroll 0 top transparent*/;
  display: block;
  margin: 0;
  min-height: 36px;
  padding: 5px 2px 10px 0;
  border-left: 0 solid #ccc;
  border-top: 0 solid #ccc;
  height: 36px;
}
#navBar #menuLoggedIn .right li.infant {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-fa-barn.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.union {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-foreninger.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.startBusiness {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-starte-bedrift.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.loan {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-lan.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.carLoan {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-bil.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.houseLoan {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-bolig.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.insurance {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-forsikring.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.lifeInsurance {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-forsikring-liv.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.designCard {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-design-kort.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.debetCard {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-debetkort.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.creditCard {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-kredittkort.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.freePolise {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-bytt-fripolise.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.investmentAccount {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-investering.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.bsuAccount {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-bsu-konto.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.savingsAccount {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-spare.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.pensionAccount {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-pensjon.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.bankIdMobile {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-bankid-mobil.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.notify {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-varslinger.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.fixedRateSavings {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-fastrenteinnskudd.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.fundSavings {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-spare-fond.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.stockTrading {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-aksjehandel.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.openAccount {
  background: url('/portalfront/dnb/images/icons/menu/menyikon-apne-konto.png')
    no-repeat 0 top;
  padding: 5px 2px 10px 33px;
}
#navBar #menuLoggedIn .right li.ibanCalc {
  background: none repeat scroll 0 0 transparent;
  min-height: 25px;
  padding: 0 2px 0 0;
}
#navBar #menuLoggedIn .right li a {
  font-size: 0.9em;
  padding: 5px;
  font-weight: normal;
}
#navBar #menuLoggedIn .right li a:hover {
  color: #e76a0b;
  text-decoration: underline;
  background: none;
  font-weight: normal;
}
#navBar #menuLoggedIn .right li a span {
  display: inline-block;
  padding: 5px 0 5px 5px;
}
#navBar #menuLoggedIn .right li.calcMenu {
  background: none;
  min-height: 25px;
  _height: 25px;
  height: 25px;
  padding: 0 2px 0 0;
}
#navBar #menuLoggedIn .right li.calcMenu a:link,
#navBar #menuLoggedIn .right li.calcMenu a:visited {
  display: inline-block;
  background: none repeat scroll 0 0 transparent;
  color: #007272;
  font-size: 0.9em;
  padding: 3px;
  text-transform: inherit;
}
.right dl dt {
  color: #000;
}

/* topNavigationDropdown */
#navBar .topNavigationDropdown {
  list-style-type: none;
  position: absolute;
  right: 0;
  display: none;
}
#navBar ul.topNavigationDropdown {
  opacity: 1;
  -moz-box-shadow: 0 0 10px 1px #a0a0a0;
  -webkit-box-shadow: 0 0 5px #a8a8a8;
  box-shadow: 0 0 10px 1px #a0a0a0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #ccc;
  overflow: hidden;
}
#navBar ul#notificationList {
  margin-right: 78px;
}
#navBar ul.topNavigationDropdown li {
  width: 170px;
  height: 30px;
  margin: 0;
  background-color: #fff;
  padding: 0;
  display: block;
}
#navBar ul.topNavigationDropdown li:hover,
#navBar ul.topNavigationDropdown li a:hover,
#navBar ul.topNavigationDropdown li:hover a {
  background: url(/portalfront/dnb/images/gfx/menu/topNavigationBg.png);
  background-repeat: repeat-x;
  color: #fff;
  text-decoration: none;
}
#navBar ul.topNavigationDropdown li,
#navBar ul.topNavigationDropdown ul {
  list-style-type: none;
  margin: 0;
}
#navBar ul.topNavigationDropdown li a {
  display: block;
  padding: 7px 0 0 5px;
  height: 22px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #ebebeb;
}
#navBar ul.topNavigationDropdown li.inboxItem a {
  background: url(/portalfront/dnb/images/gfx/menu/inboxItem.png);
  background-repeat: no-repeat;
  background-position: right 0;
}
#navBar ul.topNavigationDropdown li.eFakturaItem a {
  background: url(/portalfront/dnb/images/gfx/menu/eFacturaItem.png);
  background-repeat: no-repeat;
  background-position: right 0;
}
#navBar ul.topNavigationDropdown li.signatureItem a {
  background: url(/portalfront/dnb/images/gfx/menu/signatureItem.png);
  background-repeat: no-repeat;
  background-position: right 0;
}
#navBar ul.topNavigationDropdown li.archiveItem a {
  background: url(/portalfront/dnb/images/gfx/menu/archiveItem.png);
  background-repeat: no-repeat;
  background-position: right 0;
}
#navBar ul.topNavigationDropdown li.inboxItem:hover a,
#navBar ul.topNavigationDropdown li.eFakturaItem:hover a,
#navBar ul.topNavigationDropdown li.signatureItem:hover a,
#navBar ul.topNavigationDropdown li.archiveItem:hover a,
#navBar ul.topNavigationDropdown li.logoutItem:hover a {
  background-position: right -29px;
  color: #fff;
  border-bottom: 1px solid #00565b;
  text-decoration: none;
}
#navBar #notificationsButton span.counter,
#navBar #notificationsButton li.inboxItem span.counter,
#navBar #notificationsButton li.eFakturaItem span.counter,
#navBar #notificationsButton li.signatureItem span.counter {
  background-color: #f47b20;
  color: #fff;
  float: right;
  font-size: 0.8em;
  height: 12px;
  margin-right: 4px;
  padding: 2px 3px;
  display: none;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#navBar #notificationsButton span.counter {
  margin-top: -35px;
}
#navBar #notificationsButton ul.topNavigationDropdown span.counter {
  margin-top: -26px;
}

/* personalMessagesBox */
div.personalMessagesBox,
div.personalMessagesBox li,
#notificationsButton,
#notificationsButton li {
  display: none;
}
#notificationsButton li.signatureItem {
  display: block;
}
.personalMessagesBox ul {
  margin-left: 0;
}
.personalMessagesBox li.unreadMessagesItem span.counter,
.personalMessagesBox li.unreadEFakturaItem span.counter,
.personalMessagesBox li.unreadSignaturesItem span.counter {
  margin-right: 5px;
}
.personalMessagesBox li {
  background: url('/portalfront/dnb/images/icons/topNavigationItems.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 20px;
  margin-left: 0;
  padding-left: 35px;
  padding-top: 7px;
  list-style-type: none;
}
.personalMessagesBox li a {
  margin-left: -45px;
  padding: 5px 2px 5px 45px;
}
.personalMessagesBox li.unreadMessagesItem {
  background-position: 0 0;
}
.personalMessagesBox li.unreadEFakturaItem {
  background-position: 0 -30px;
}
.personalMessagesBox li.unreadSignaturesItem {
  background-position: 0 -60px;
}

/*  */

/* MENY CONTENT */
span.parentArrowPointer {
  background: url('/portalfront/dnb/images/gfx/menu/parentArrowPointer.png')
    no-repeat scroll 0 0 transparent;
  width: 34px;
  height: 16px;
  margin-top: -26px;
  z-index: 1100;
  position: absolute;
}
.popupDialog {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  left: 330px;
  top: 200px;
  z-index: 1200;
}
.popupDialog h2 {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}

/* logoutBox advisorBox personalMessagesBox */
.logoutBox .username #innlogget {
  float: left;
  font-size: 1em;
  font-weight: bold;
  margin: 5px 5px 5px 0;
  width: 200px;
}
.advisorBox .advisor {
  float: left;
  font-size: 1.4em;
  font-weight: bold;
  margin: 5px 5px 5px 0;
  width: 200px;
}
.logoutBox .formsButton {
  float: left;
  font-size: 1em;
  margin: 10px 0 0 0;
}
.advisorBox .moduleContent,
.logoutBox .moduleContent,
.personalMessagesBox .moduleContent {
  _padding-right: 0;
}

/* FOOTER */
#dnbLayoutDefault #footer,
#dnbLayoutFullWidth #footer,
#dnbLayoutLarge #footer,
#dnbLayoutExtraLarge #footer {
  background-color: #fff;
  background-image: none;
  text-align: center;
  padding-top: 0;
  font-weight: bold;
  color: #007272;
  height: 150px;
  margin-top: 0 !important;
}
#dnbLayoutDefault #footer #footerLink img,
#dnbLayoutLarge #footer #footerLink img,
#dnbLayoutExtraLarge #footer #footerLink img,
#dnbLayoutFullWidth #footer #footerLink img {
  margin-right: 5px;
}
#dnbLayoutDefault #footer #footerLink a,
#dnbLayoutDefault #footer #footerLink a.link:link,
#dnbLayoutDefault #footer #footerLink a.link:visited,
#dnbLayoutFullWidth #footer #footerLink a,
#dnbLayoutFullWidth #footer #footerLink a.link:link,
#dnbLayoutFullWidth #footer #footerLink a.link:visited {
  color: #007272;
  text-decoration: underline;
}
#dnbLayoutDefault #footer #footerBottom,
#dnbLayoutDefaultStartPage #footer #footerBottom,
#dnbLayoutLarge #footer #footerBottom,
#dnbLayoutExtraLarge #footer #footerBottom,
#dnbLayoutFullWidth #footer #footerBottom {
  font-style: normal;
  font-size: 1em;
  clear: left;
  margin: 0 auto;
  padding-top: 0;
  font-weight: normal;
  color: #58595b;
  background-color: #fff;
}
#dnbLayoutDefault #footer #footerBottom ul li p.LeftRightStandardLoggedIn {
  font-size: 0.9em;
  font-style: italic;
}
#footerBottom ul {
  border: 1px solid #ececec;
  width: 860px;
  background: #fff;
}
#dnbLayoutDefaultStartPage #footer #footerBottom ul {
  border: 1px solid #ececec;
  width: 860px;
  background: #fff;
}
#dnbLayoutLarge #footer #footerBottom ul {
  border: 1px solid #ececec;
  width: 1100px;
  background: #fff;
}
#dnbLayoutExtraLarge #footer #footerBottom ul {
  border: 1px solid #ececec;
  width: 1400px;
  background: #fff;
}
#footerContainer {
  margin: 0 auto;
  display: block;
  position: relative;
}
#footerContainer img {
  top: 23px;
  left: 10px;
  position: absolute;
}
#footerContainer ul {
  top: 25px;
  left: 80px;
  position: absolute;
}
#footerContainer {
  width: auto;
}
#dnbLayoutDefault #footer #footerBottom,
#dnbLayoutDefaultStartPage #footer #footerBottom,
#dnbLayoutDefault #footer #footerContainer,
#dnbLayoutDefaultStartPage #footer #footerContainer {
  width: 960px;
}
#dnbLayoutLarge #footer #footerBottom,
#dnbLayoutDefault #footer #footerContainer {
  width: 1200px;
}
#dnbLayoutExtraLarge #footer #footerBottom,
#dnbLayoutDefault #footer #footerContainer {
  width: 1440px;
}
h3.headlineTip {
  background: #fff url(/portalfront/dnb/images/icons/tip.gif) no-repeat
    center left;
  margin: 10px 10px 0 5px;
  padding: 12px 0 0 25px;
  font-size: 1.1em;
  font-weight: bold;
  clear: both;
  color: #58595b;
  height: 20px;
}

/* custodyEfront  */

.column_all_MainColumn {
  float: left;
  display: block;
  clear: left;
  width: 720px;
}
.column_all_RightColumn {
  float: right;
  display: block;
  clear: right;
  width: 240px;
}
#column_all {
  padding-top: 0;
}
table.tableWithHeader .buttonAlignInFrame a.formsButton {
  background: none;
  color: #007272;
  float: left;
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
  margin-right: 6px;
  padding: 4px 4px;
  text-decoration: none;

  /* -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	text-shadow:0.1em 0.1em #FFFFFF;
	filter:DropShadow(Color=#FFFFFF, OffX=1, OffY=1);
	filter:chroma(color=#000000);
	_border:none; */
  border: 0 solid #dbdbdb;
}
table.tableWithHeader .buttonAlignInFrame input.formsButton {
  float: left;
}
table.tableWithHeader .buttonAlignInFrame a.formsButton:hover {
  text-decoration: underline;
}
.pageTitle {
  margin-left: 10px;
  padding: 5px 0;
  width: 940px;
  background: transparent url(/portalfront/dnb/images/gfx/bgPageTitle.png)
    no-repeat bottom left;
  margin-bottom: 0 !important;
}
body#dnbLayoutLarge .pageTitle {
  width: 1180px;
  background: transparent
    url(/portalfront/dnb/images/gfx/bgPageTitleLarge.png) no-repeat bottom
    left;
}
body#dnbLayoutExtraLarge .pageTitle {
  width: 1420px;
  background: transparent
    url(/portalfront/dnb/images/gfx/bgPageTitleExtraLarge.png) no-repeat
    bottom left;
}
#mailbox_settings_content {
  margin: 0 10px;
}
#dnbLayoutDefault #column_left div.tableHeader,
#dnbLayoutDefault #column_left div.tableHeaderFane {
  width: 678px;
  margin: 0 10px 0 20px;
}
#dnbLayoutDefault #column_all div.tableHeader,
#dnbLayoutDefault #column_all div.tableHeaderFane {
  width: 918px;
  margin: 0 10px 0 20px;
  background: none repeat scroll 0 0 #fdfcfc;
}
#dnbLayoutDefault #column_all #nbbApps div.tableHeader,
#dnbLayoutDefault #column_all #nbbApps div.tableHeaderFane {
  margin: 0 10px 0 0;
}
#dnbLayoutDefault #column_left .tableWithHeader {
  width: 680px;
  margin: 0 10px 0 20px;
  border-top: 0;
}
#dnbLayoutDefault #column_all .tableWithHeader {
  width: 920px;
  margin: 0 10px 0 20px;
  border-top: 0;
}

/*  LARGE  */
#dnbLayoutLarge #column_left div.tableHeader,
#dnbLayoutLarge #column_left div.tableHeaderFane {
  width: 920px;
  margin: 0 10px 0 20px;
}
#dnbLayoutLarge #column_all div.tableHeader,
#dnbLayoutLarge #column_all div.tableHeaderFane {
  width: 1160px;
  margin: 0 10px 0 10px;
}
#dnbLayoutLarge #column_all #nbbApps div.tableHeader,
#dnbLayoutLarge #column_all #nbbApps div.tableHeaderFane {
  margin: 0 10px 0 0;
}
#dnbLayoutLarge #column_left .tableWithHeader {
  width: 920px;
  margin: 0 10px 0 10px;
  border-top: 0;
}
#dnbLayoutLarge #column_all .tableWithHeader {
  width: 1160px;
  margin: 0 10px 0 10px;
  border-top: 0;
}

/*  EXTRA LARGE  */
#dnbLayoutExtraLarge #column_left div.tableHeader,
#dnbLayoutExtraLarge #column_left div.tableHeaderFane {
  width: 1160px;
  margin: 0 10px 0 10px;
}
#dnbLayoutExtraLarge #column_all div.tableHeader,
#dnbLayoutExtraLarge #column_all div.tableHeaderFane {
  width: 1400px;
  margin: 0 10px 0 10px;
}
#dnbLayoutExtraLarge #column_left .tableWithHeader {
  width: 1160px;
  margin: 0 10px 0 10px;
  border-top: 0;
}
#dnbLayoutExtraLarge #column_all .tableWithHeader {
  width: 1400px;
  margin: 0 10px 0 10px;
  border-top: 0;
}
#dnbLayoutDefault .tableWithHeader .tableWithHeader {
  width: 98%;
  margin: 0 10px;
  border-top: 1px solid #ccc;
}
#frameLoan {
  margin: 0 10px;
}
#wrapper .articleImg.imgMedium img {
  width: 440px;
  margin-left: 10px;
}

/* 280912  */
#navBar #loggutKnapp.buttonRow {
  width: auto;
  height: 32px;
  float: right;
}
#navBar #notificationsButton.buttonRow a.info {
  background: url('/portalfront/dnb/images/gfx/menu/infoIconBar.png');
  background-repeat: no-repeat;
}
#navBar div#buttonRowWrapper div#loggutKnapp.buttonRow a.popupControl {
  background: url('/portalfront/dnb/images/gfx/bgButton.gif') repeat-x
    scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  color: #58595b;
  cursor: pointer;
  float: right;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 4px;
  padding: 7px;
  text-shadow: 0.1em 0.1em #fff;
}
#navBar
  div#buttonRowWrapper
  div#loggutKnapp.buttonRow
  a.popupControl:hover {
  background-color: #007272;
  background-position: 0 -32px;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
}
#navBar #notificationsButton.buttonRow a.info:hover,
#navBar #loggutKnapp.buttonRow a.logOut:hover,
#navBar #notificationsButton.buttonRow a.info.active,
#navBar #loggutKnapp.buttonRow a.logOut.active {
  background-position: 0 100%;
}

/* middeltidig fix */
#navBar div#loggutKnapp.buttonRow ul.topNavigationDropdown {
  display: block;
  margin-right: 0;
  margin-top: -1px;
  width: 64px;
}

/* 280912  NEW class */
#navBar .buttonRow.buttonStandard {
  width: auto;
  height: 32px;
  float: right;
}
#navBar #notificationsButton.buttonRow a.info {
  background: url('/portalfront/dnb/images/gfx/menu/infoIconBar.png');
  background-repeat: no-repeat;
}
#navBar div#buttonRowWrapper .buttonRow.buttonStandard a.popupControl {
  background: url('/portalfront/dnb/images/gfx/bgButton.gif') repeat-x
    scroll 0 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px 5px 5px 5px;
  color: #58595b;
  cursor: pointer;
  float: right;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 4px;
  padding: 7px;
  text-shadow: 0.1em 0.1em #fff;
}
#navBar
  div#buttonRowWrapper
  .buttonRow.buttonStandard
  a.popupControl:hover {
  background-color: #007272;
  background-position: 0 -32px;
  color: #fff;
  text-shadow: none;
  text-decoration: none;
}
#navBar #notificationsButton.buttonRow a.info:hover,
#navBar .buttonRow.buttonStandard a.logOut:hover,
#navBar #notificationsButton.buttonRow a.info.active,
#navBar .buttonRow.buttonStandard a.logOut.active {
  background-position: 0 100%;
}

/* middeltidig fix */
#navBar .buttonRow.buttonStandard ul.topNavigationDropdown {
  display: block;
  margin-right: 0;
  margin-top: -1px;
  width: 64px;
}
.hbkCarousel {
  background: none;
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .full {
  background: none;
}
body#dnbLayoutDefaultStartPage #footer {
  margin-top: 0;
}
.hbkCarousel .closeBtn {
  display: none;
}
#footerNav {
  display: none;
}

/*  CHOOSE  STARTPAGE  */
.chooseStartpageContainer {
  margin: 10px 10px;
}
.chooseStartpageContainer .formsButton {
  margin-left: 0;
}
#choose_startpage,
#choose_language {
  margin: 10px 0 0 0;
}
#choose_startpage p,
#choose_language p {
  margin-left: 0;
}
#choose_startpage checkbox,
#choose_language checkbox {
  padding: 20px 20px 20px 0;
}
#choose_startpage .custom-select,
#choose_language .custom-select {
  margin: -4px 0 0 15px;
}
span.current_startpage {
  color: #b65309;
  font-weight: bold;
}
.chooseStartpageContainer .page_deleted {
  color: #e10076;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}
.chooseStartpageContainer input {
  margin: 10px 10px 10px 0;
}

/*  INNLOGGET KARUSELL  */
.spaceCarousel {
  background: url('/portalfront/dnb/images/gfx/carousel/carouselSideBar.png')
    repeat-y scroll 0 bottom transparent;
  display: none;
  height: 225px;
  left: 0;
  position: absolute;
  text-indent: -1000px;
  width: 20px;
  z-index: 10;
}
.spaceCarouselRight {
  background: url('/portalfront/dnb/images/gfx/carousel/carouselSideBar.png')
    repeat-y scroll -20px bottom transparent;
  display: none;
  height: 225px;
  margin-right: 0;
  position: absolute;
  left: 700px;
  text-indent: -1000px;
  width: 20px;
  z-index: 10;
}
#mainMenu dt,
#menuLoggedIn dt {
  border-bottom: 1px solid #ebebeb;
  color: #58595b;
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grande',
    'sans-serif';
  font-size: 1em;
}
#josteinWrapper {
  top: 93px;
}

/* font changes */
a.actionButtonSmall,
a.actionButtonSmall:link {
  height: 13px;
  padding: 5px 10px 6px 40px;
}
.moduleIngressAction .buttonBox a.formsButton,
.buttonBox a.formsButton {
  font-size: 0.9em;
}
.boxElement .contactList li a {
  font-size: 0.9em;
}
.JosteinIconDescription {
  font-size: 1.1em;
  margin-left: 2px;
}
.ui-widget {
  font-family: Arial, sans-serif;
}

/* font-size adjustments open page */
p.fane,
.fane {
  font-size: 1em;
}
a.actionButtonSmall,
a.actionButtonSmall:link {
  padding: 2px 10px 8px 40px;
}
