/*
 *  Global rules, a place to put rules, overrides and customizations that don't fit elsewhere.
 */

:root {
  // Focus Ring
  --focus-ring-width: 0.125rem;
  --focus-ring-color: var(--color-emerald-green);
}

// ::selection appearance helper
.dnb-selection::selection,
.dnb-selection ::selection,
[class^='dnb-']::selection,
[class^='dnb-'] ::selection {
  // Chrome does not support CSS variables in ::selection, so we use a fallback
  background-color: var(--color-mint-green, #a5e1d2);
  color: var(--color-black, #000);
  text-shadow: none;
}
