/*
 *  Global rules, a place to put rules, overrides and customizations that don't fit elsewhere.
 */

:root {
  // Focus Ring
  --focus-ring-width: 0.125rem;
  --focus-ring-color: var(--token-color-stroke-action-pressed);

  // Scrollbar
  --scrollbar-track-width: 0.5rem;
  --scrollbar-thumb-width: 0.5rem;
  --scrollbar-track-color: var(--token-color-background-neutral-base);
  --scrollbar-thumb-color: var(--token-color-background-action);
  --scrollbar-thumb-hover-color: var(
    --token-color-background-action-pressed
  );

  // Skip Link
  --skip-link-color: var(--token-color-text-action);
  --skip-link-color--hover: var(--token-color-text-action);
  --skip-link-color--active: var(--token-color-text-neutral-inverse);
  --skip-link-background: var(--token-color-background-neutral);
  --skip-link-background--hover: var(
    --token-color-background-action-hover-subtle
  );
  --skip-link-background--active: var(
    --token-color-background-action-pressed
  );
}

// ::selection appearance helper
.dnb-selection::selection,
.dnb-selection ::selection,
[class^='dnb-']::selection,
[class^='dnb-'] ::selection {
  // Chrome does not support CSS variables in ::selection, so we use a fallback
  background-color: var(--token-color-decorative-first-subtle, #a5e1d2);
  color: var(--token-color-text-neutral, #000);
  text-shadow: none;
}
