/**
 * HTML Element Tags
 * NB: There is a visual test with a page called "elements-without-classes".
 * It should cover all cases.
 */

@use '../../../components/anchor/style/anchor-mixins.scss';
@use '../../../elements/blockquote/style/blockquote-mixins.scss';
@use '../../../elements/typography/style/typography-mixins.scss';
@use '../../../elements/label/style/label-mixins.scss';
@use '../../../elements/lists/style/lists-mixins.scss';
@use '../../../elements/code/style/code-mixins.scss';
@use '../../../elements/img/style/img-mixins.scss';
@use '../../../elements/hr/style/hr-mixins.scss';

// Import themes
@use '../../../components/anchor/style/themes/dnb-anchor-theme-ui.scss'
  with (
  $useClasses: false
);
@use '../../../elements/typography/style/themes/dnb-typography-theme-ui.scss'
  with (
  $useClasses: false
);
@use '../../../elements/img/style/themes/dnb-img-theme-ui.scss' with (
  $useClasses: false
);

.dnb-core-style {
  // div
  @include anchor-mixins.anchorTag();
  @include img-mixins.imageTag();
  @include blockquote-mixins.blockquoteTag();
  @include hr-mixins.hrTag();

  // typography
  @include typography-mixins.typographyTags();

  // lists
  @include lists-mixins.ulTag();
  @include lists-mixins.olTag();
  @include lists-mixins.dlTag();

  // form
  @include label-mixins.labelTag();

  // additional
  @include code-mixins.codeTag();
  @include code-mixins.preTag();

  // handle themes
  @include dnb-anchor-theme-ui.anchorThemeTag();
  @include dnb-typography-theme-ui.typographyThemeTag();
  @include dnb-img-theme-ui.imgThemeTag();
}
