/*
 * Skeleton Theme
 *
 */

.dnb-skeleton {
  &.dnb-input {
    box-shadow: 0 0 0 0.0625rem var(--color-sea-green-30) !important; // use !important to overwrite error state
  }

  &::before {
    background-color: var(
      --color-sea-green-30
    ) !important; // to take presence
  }
  &::after {
    background: radial-gradient(
      var(--color-black) 9%,
      transparent 10%
    ) !important; // to take presence
    background-size: 0.5rem 0.5rem !important; // to take presence
  }
}
