@use '../../../../../style/core/utilities.scss' as utilities;

.dnb-forms-field-upload {
  .dnb-help-button__content {
    .dnb-section {
      --outset: 1; // Enable outset
      --outset-left: calc(var(--spacing-medium));
      --outset-right: calc(var(--spacing-medium));

      @include utilities.all-below(small) {
        --outset-left: calc(var(--spacing-small));
        --outset-right: calc(var(--spacing-small));
      }
    }
  }
}
