@use '../../../../../style/core/utilities.scss' as utilities;

.dnb-forms-field-upload {
  .dnb-help-button__content {
    .dnb-section {
      --outset: 1; // Enable outset
      --outset-left: 1.5rem;
      --outset-right: 1.5rem;

      @include utilities.allBelow(small) {
        --outset-left: 1rem;
        --outset-right: 1rem;
      }
    }
  }
}
