/*
 * Blockquote
 *
 */

@use '../../../style/elements/ui-spacing.scss';
@use './blockquote-mixins.scss' as *;

.dnb-blockquote {
  @include blockquoteStyle();
}

.dnb-spacing .dnb-blockquote {
  @include ui-spacing.defaultSpacing();
  p:last-child {
    margin-bottom: 0;
  }
}
