/*
 * Hr tag / line
 *
 */

@use '../../../style/elements/ui-spacing.scss';
@import './hr-mixins.scss';

.dnb-hr {
  @include hrStyle();

  &--fullscreen::after {
    left: -100vw;
    width: 200vw;
  }

  &--light::after {
    border-radius: 0.25px;

    /* 
    * 60% and 65% for best result on low res screens, like on Chromebook (Acer)
    * Else the line will disappear!
    */
    background-image: linear-gradient(
      to bottom,
      currentcolor 60%,
      transparent 65%
    );
    background-size: 100% 1px;
    background-color: transparent;
  }

  &--medium::after {
    height: 2px;
    border-radius: 0.75px;

    /* Revert the hairline halv */
    background-image: linear-gradient(
      to bottom,
      currentcolor 51%,
      transparent 51%
    );
    background-size: 100% 3px;
    background-color: transparent;
  }
}

.dnb-spacing .dnb-hr {
  @include ui-spacing.defaultSpacing();
}
