/*
 * Hr tag / line
 *
 */

@use '../../../style/elements/ui-spacing.scss';
@import './hr-mixins.scss';

.dnb-hr {
  @include hrStyle();

  &--fullscreen::after {
    left: -100vw;
    box-shadow: 100vw 0 0 0 currentcolor;
    border-radius: 0;
  }

  --thickness: calc(var(--hr-thickness, 1px) + var(--modifier, 0px));

  &--light {
    --hr-thickness: 0.4px;

    // Modify the thickness, because the screenshot does not pick up the line when its under 1px.
    // This may change in a later Playwright/Firefox version.
    html[data-visual-test] & {
      --modifier: 0.7px;
    }
  }
  &--medium {
    --hr-thickness: 1.5px;
  }

  .dnb-spacing & {
    @include ui-spacing.defaultSpacing();
  }
}
