/*
 * SummaryTable element
 *
 */

.dnb-summary-table {
  padding: 2.5rem 0;
  background: var(--color-mint-green-12);

  &__title,
  &__body {
    @include allAbove(large) {
      padding-left: percentage(1/3);
    }
  }

  &__title__text {
    font-size: var(--font-size-large);
    color: var(--color-sea-green);
    padding-left: 0.5rem;
  }

  &__body {
    border: #{$pixel1} solid var(--color-summer-green);
    border-width: #{$pixel1} 0;
  }

  &__row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 100%;
    padding: 0.5rem;

    align-items: flex-end;

    border-color: var(--color-summer-green);
    border-top: #{$pixel1} solid var(--color-summer-green);

    &:first-child {
      border-width: 0;
    }
  }

  &__key-holder {
    flex: 0 0 55%;
  }

  &__value-holder {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }

  &__key {
    font-size: var(--font-size-medium);
  }
  &__operation,
  &__value {
    font-size: var(--font-size-x-large);
  }
  &__operation {
    flex: 0 0 2rem;
    line-height: var(--line-height-basis);
    text-align: center;
  }
  &__value {
    position: relative;
    bottom: -0.4rem;

    width: 100%;
    padding: 0 1rem 0 0;

    text-align: right;
    color: var(--color-sea-green);
  }
  &__help {
    flex: 0 0 2.5rem;
  }
  &__summary-row {
    padding-top: 1.5rem;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__left {
    align-self: flex-start;
  }
  &__right {
    align-self: flex-end;
  }
  &__left,
  &__right {
    display: flex;
    flex-direction: row;
    padding: 0 0.3rem;
  }
  &__item {
    padding: 0 0.3rem;
  }
}
