/*
 * SummaryTable element
 *
 * ========================================================================== */

.dnb-summary-table {
  padding: 2.5rem 0;
  background: $color-light-grey;

  &__title,
  &__body {
    @include allAbove(large) {
      padding-left: percentage(1/3);
    }
  }

  &__title__text {
    font-size: $font-size-xx-large;
    color: $color-sea-green;
    padding-left: 0.5rem;
  }

  &__body {
    border: 1px solid $color-summer-green;
    border-width: 1px 0;
  }

  &__row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 100%;
    padding: 0.5rem;

    align-items: flex-end;

    border-color: $color-summer-green;
    border-top: 1px solid $color-summer-green;

    &:first-child {
      border-width: 0;
    }
  }

  &__key-holder {
    flex: 0 0 55%;
  }

  &__value-holder {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }

  &__key {
    font-size: $font-size-large;
  }
  &__operation,
  &__value {
    font-size: $font-size-xxx-large;
  }
  &__operation {
    flex: 0 0 2rem;
    line-height: 1.5rem;
    text-align: center;
  }
  &__value {
    position: relative;
    bottom: -0.4rem;

    width: 100%;
    padding: 0 1rem 0 0;

    text-align: right;
    color: $color-sea-green;
  }
  &__help {
    flex: 0 0 2.5rem;
  }
  &__summary-row {
    padding-top: 1.5rem;
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__left {
    align-self: flex-start;
  }
  &__right {
    align-self: flex-end;
  }
  &__left,
  &__right {
    display: flex;
    flex-direction: row;
    padding: 0 0.3rem;
  }
  &__item {
    padding: 0 0.3rem;
  }
}
