@import '../../../../../style/core/utilities.scss';

.dnb-forms-sub-heading {
  // Reset inherited spacing
  .dnb-spacing & {
    &.dnb-h--medium:not([class*='space__']) {
      margin: 0;
    }
  }

  &:has(+ .dnb-flex-stack > .dnb-card, + .dnb-card) {
    &:not([class*='space__bottom']) {
      margin-bottom: var(--spacing-small);
    }
  }
}

.dnb-forms-sub-heading + .dnb-help-button__content {
  .dnb-section {
    margin-top: 1rem;
  }
}
