/*
* Dropdown theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-dropdown {
  // button
  &__trigger {
    @include hover() {
      color: var(--color-emerald-green);
    }
  }

  &__trigger[disabled] {
    color: var(--color-black-55);
    background-color: var(--color-black-3);
    &:not(.dnb-button--tertiary) {
      @include fakeBorder(var(--color-black-55));
    }
  }

  // NB: We may use this medium font in future
  // .dnb-drawer-list--is-popup &__list {
  //   .dnb-drawer-list__option__inner {
  //     font-weight: var(--font-weight-medium);
  //   }
  // }

  // error status
  &__status--error:not(#{&}--opened) &__trigger {
    @include fakeBorder(var(--color-fire-red));
    @include hover() {
      color: var(--color-fire-red);
      @include fakeBorder(var(--color-fire-red), 0.125rem);
      & .dnb-dropdown__icon .dnb-icon {
        color: var(--color-fire-red);
      }
    }
    @include active() {
      color: var(--color-fire-red);
      background-color: var(--color-fire-red-8);
    }
  }
  &__status--error:not(#{&}--opened) &__trigger,
  &__status--error:not(#{&}--opened) &__icon {
    color: var(--color-fire-red);
  }

  // adjust the form-status to the inner border for 2px
  > .dnb-form-status {
    transform: translateY(-0.4375rem);
  }
}
