/*
* Dropdown theme
*
*/

@use '../../../../style/core/utilities.scss';

.dnb-dropdown {
  --dropdown-error-border-width: 0.125rem;
  --dropdown-button-padding: 0 1rem;
  --dropdown-foreground-color-primary: var(--color-black-55);
  --dropdown-foreground-color-error: var(--color-fire-red);
  --dropdown-background-color-disabled: var(--color-black-3);
  --dropdown-background-color-error-active: var(--color-fire-red-8);

  // button
  &__trigger {
    @include utilities.hover() {
      color: var(--color-emerald-green);
    }
  }

  &__trigger[disabled] {
    color: var(--dropdown-foreground-color-primary);
    background-color: var(--dropdown-background-color-disabled);

    &:not(.dnb-button--tertiary) {
      @include utilities.fakeBorder(var(--dropdown-foreground-color-primary));
    }
  }

  // NB: We may use this medium font in future
  // .dnb-drawer-list--is-popup &__list {
  //   .dnb-drawer-list__option__inner {
  //     font-weight: var(--font-weight-medium);
  //   }
  // }
}
