.dnb-code {
  font-family: var(--sb-font-family-default);
  background-color: var(--sb-color-blue-light-3);

  border-radius: 0.5rem;
}

.dnb-pre {
  // Pre is using syntax highlighting to determine the text color, this property works as a fallback color in case of no highlighting
  color: var(--color-mint-green-12);
  background-color: #222;

  &.dnb-pre--focus {
    @include fakeBorder(var(--sb-color-green), 0.25rem);
  }
}
