.dnb-code {
  background-color: var(--token-color-background-positive-subtle);
  box-shadow: inset 0 0 0 0.0625rem
    var(--token-color-stroke-neutral-subtle);
}

.dnb-pre {
  // Pre is using syntax highlighting to determine the text color, this property works as a fallback color in case of no highlighting
  color: var(--color-mint-green-12);
  background-color: #222;
}
