/*
 * CSS Properties Eiendom
 *
 */

:root {
  // eiendom colors
  --color-emerald-green-50: #89aaac;
  --color-emerald-green-25: #c4d4d6;
  --color-emerald-green-10: #e8eeef;

  // eiendom internal colors
  // TODO: remove when design tokens are ready
  --internal-color-background-selected-subtle: #e4eed7;
}
