// Adds all theme properties with this theme being the most prioritized, used by makePropertiesFile.ts to generate properties.js

@import '../all-properties.scss';
@import './properties.scss';
@import './theme-mapping.scss';
