/**
 * Eiendom UI Theme
 * Overrides css variables from the ui theme
 */

// WIP: Remove this import as soon as we have a mapping for all existing properties
@use '../theme-ui/properties.scss';

.eufemia-theme__eiendom,
:root {
  // no overrides
}
