@import '../../variables.scss';

.dnb-forms-flex-item {
  &--grow {
    flex-grow: 1;
  }

  &--shrink {
    flex-shrink: 1;
  }

  &--width {
    &-small {
      width: $forms-field-width-small;
    }

    &-medium {
      width: $forms-field-width-medium;
    }

    &-large {
      width: $forms-field-width-large;
    }
  }

  &--align-self {
    &-flex-start {
      align-self: flex-start;
    }

    &-flex-end {
      align-self: flex-end;
    }

    &-center {
      align-self: center;
    }

    &-baseline {
      align-self: baseline;
    }

    &-stretch {
      align-self: stretch;
    }
  }
}
