/*
 * Grid element
 *
 */

/*
 * Grid and units
 */
$grid-gutter: 0.5rem;
$grid-gutter-l: 1.5rem;
$grid-gutter-xl: 2rem;

.dnb-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dnb-grid__cell {
  flex: 1;
  font-size: var(--font-size-basis--em);
  line-height: var(--line-height-xx-small--em);
  padding: 0;
  margin: 9;
}

.dnb-grid--flex-cells > .dnb-grid__cell {
  display: flex;
}

.dnb-grid--top {
  align-items: flex-start;
}

.dnb-grid--bottom {
  align-items: flex-end;
}

.dnb-grid--center {
  align-items: center;
}

.dnb-grid--justify-center {
  justify-content: center;
}

.dnb-grid--justify-space-between {
  justify-content: space-between;
}

.dnb-grid__cell--top {
  align-self: flex-start;
}

.dnb-grid__cell--bottom {
  align-self: flex-end;
}

.dnb-grid__cell--center {
  align-self: center;
}

.dnb-grid__cell--auto-size {
  flex: none;
}

.dnb-grid--fit > .dnb-grid__cell {
  flex: 1;
}

.dnb-grid--full > .dnb-grid__cell {
  flex: 0 0 100%;
}

.dnb-grid--1of2 > .dnb-grid__cell {
  flex: 0 0 50%;
}

.dnb-grid--1of3 > .dnb-grid__cell {
  flex: 0 0 percentage(1/3);
}

.dnb-grid--1of4 > .dnb-grid__cell {
  flex: 0 0 25%;
}

@include allAbove(small) {
  .dnb-small-grid--fit > .dnb-grid__cell {
    flex: 1;
  }
  .dnb-small-grid--full > .dnb-grid__cell {
    flex: 0 0 100%;
  }
  .dnb-small-grid--1of2 > .dnb-grid__cell {
    flex: 0 0 50%;
  }
  .dnb-small-grid--1of3 > .dnb-grid__cell {
    flex: 0 0 percentage(1/3);
  }
  .dnb-small-grid--1of4 > .dnb-grid__cell {
    flex: 0 0 25%;
  }
}
@include allAbove(medium) {
  .dnb-med-grid--fit > .dnb-grid__cell {
    flex: 1;
  }
  .dnb-med-grid--full > .dnb-grid__cell {
    flex: 0 0 100%;
  }
  .dnb-med-grid--1of2 > .dnb-grid__cell {
    flex: 0 0 50%;
  }
  .dnb-med-grid--1of3 > .dnb-grid__cell {
    flex: 0 0 percentage(1/3);
  }
  .dnb-med-grid--1of4 > .dnb-grid__cell {
    flex: 0 0 25%;
  }
}

@include allAbove(large) {
  .dnb-large-grid--fit > .dnb-grid__cell {
    flex: 1;
  }
  .dnb-large-grid--full > .dnb-grid__cell {
    flex: 0 0 100%;
  }
  .dnb-large-grid--1of2 > .dnb-grid__cell {
    flex: 0 0 50%;
  }
  .dnb-large-grid--1of3 > .dnb-grid__cell {
    flex: 0 0 percentage(1/3);
  }
  .dnb-large-grid--1of4 > .dnb-grid__cell {
    flex: 0 0 25%;
  }
}

.dnb-grid--gutters {
  margin: (-$grid-gutter) 0 $grid-gutter (-$grid-gutter);
}

.dnb-grid--gutters > .dnb-grid__cell {
  padding: $grid-gutter 0 0 $grid-gutter;
}

.dnb-grid--gutters-l {
  margin: (-$grid-gutter-l) 0 $grid-gutter-l (-$grid-gutter-l);
}
.dnb-grid--gutters-l > .dnb-grid__cell {
  padding: $grid-gutter-l 0 0 $grid-gutter-l;
}

.dnb-grid--gutters-xl {
  margin: (-$grid-gutter-xl) 0 $grid-gutter-xl (-$grid-gutter-xl);
}
.dnb-grid--gutters-xl > .dnb-grid__cell {
  padding: $grid-gutter-xl 0 0 $grid-gutter-xl;
}

@include allAbove(small) {
  .dnb-small-grid--gutters {
    margin: (-$grid-gutter) 0 $grid-gutter (-$grid-gutter);
  }
  .dnb-small-grid--gutters > .dnb-grid__cell {
    padding: $grid-gutter 0 0 $grid-gutter;
  }
  .dnb-small-grid--gutters-l {
    margin: (-$grid-gutter-l) 0 $grid-gutter-l (-$grid-gutter-l);
  }
  .dnb-small-grid--gutters-l > .dnb-grid__cell {
    padding: $grid-gutter-l 0 0 $grid-gutter-l;
  }
  .dnb-small-grid--gutters-xl {
    margin: (-$grid-gutter-xl) 0 $grid-gutter-xl (-$grid-gutter-xl);
  }
  .dnb-small-grid--gutters-xl > .dnb-grid__cell {
    padding: $grid-gutter-xl 0 0 $grid-gutter-xl;
  }
}
@include allAbove(medium) {
  .dnb-med-grid--gutters {
    margin: (-$grid-gutter) 0 $grid-gutter (-$grid-gutter);
  }
  .dnb-med-grid--gutters > .dnb-grid__cell {
    padding: $grid-gutter 0 0 $grid-gutter;
  }
  .dnb-med-grid--gutters-l {
    margin: (-$grid-gutter-l) 0 $grid-gutter-l (-$grid-gutter-l);
  }
  .dnb-med-grid--gutters-l > .dnb-grid__cell {
    padding: $grid-gutter-l 0 0 $grid-gutter-l;
  }
  .dnb-med-grid--gutters-xl {
    margin: (-$grid-gutter-xl) 0 $grid-gutter-xl (-$grid-gutter-xl);
  }
  .dnb-med-grid--gutters-xl > .dnb-grid__cell {
    padding: $grid-gutter-xl 0 0 $grid-gutter-xl;
  }
}

@include allAbove(large) {
  .dnb-large-grid--gutters {
    margin: (-$grid-gutter) 0 $grid-gutter (-$grid-gutter);
  }
  .dnb-large-grid--gutters > .dnb-grid__cell {
    padding: $grid-gutter 0 0 $grid-gutter;
  }
  .dnb-large-grid--gutters-l {
    margin: (-$grid-gutter-l) 0 $grid-gutter-l (-$grid-gutter-l);
  }
  .dnb-large-grid--gutters-l > .dnb-grid__cell {
    padding: $grid-gutter-l 0 0 $grid-gutter-l;
  }
  .dnb-large-grid--gutters-xl {
    margin: (-$grid-gutter-xl) 0 $grid-gutter-xl (-$grid-gutter-xl);
  }
  .dnb-large-grid--gutters-xl > .dnb-grid__cell {
    padding: $grid-gutter-xl 0 0 $grid-gutter-xl;
  }
}

.u-full {
  width: 100% !important;
  flex: none !important;
}

.u-1of2 {
  width: 50% !important;
  flex: none !important;
}

.u-1of3 {
  width: percentage(1/3) !important;
  flex: none !important;
}

.u-2of3 {
  width: 66.6667% !important;
  flex: none !important;
}

.u-1of4 {
  width: 25% !important;
  flex: none !important;
}

.u-3of4 {
  width: 75% !important;
  flex: none !important;
}

@include allAbove(small) {
  .u-small-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-small-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-small-1of3 {
    width: percentage(1/3) !important;
    flex: none !important;
  }
  .u-small-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-small-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-small-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@include allAbove(medium) {
  .u-med-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-med-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-med-1of3 {
    width: percentage(1/3) !important;
    flex: none !important;
  }
  .u-med-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-med-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-med-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@include allAbove(large) {
  .u-large-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-large-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-large-1of3 {
    width: percentage(1/3) !important;
    flex: none !important;
  }
  .u-large-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-large-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-large-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}
