/*
 * Upload theme
 *
 */

.dnb-upload {
  background-color: var(--color-white);

  border-radius: 0.5rem;

  // svg element
  &__outline {
    stroke: var(--color-sea-green);
    border-radius: 0.5rem;
    stroke-width: 0.1875rem;
  }

  &--active &__outline {
    stroke: var(--color-emerald-green);

    inset: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);

    rect {
      stroke-width: 0.25rem;
      stroke-dasharray: 0;
    }
  }
  &--active {
    background-color: var(--color-pistachio);
  }

  &__file-cell {
    &--warning &__content__left .dnb-icon {
      color: var(--color-fire-red);
    }
  }

  &__text.dnb-p {
    color: var(--color-black-55);
  }
  &__subtitle.dnb-p {
    color: var(--color-black-55);
  }
}
