/*
 * Upload theme
 *
 */

.dnb-upload {
  --upload-background: var(--token-color-background-neutral);
  --upload-background--active: var(--token-color-decorative-third-muted);
  --upload-border: var(--token-color-stroke-action);
  --upload-border--active: var(--token-color-stroke-action-pressed);
  --upload-list-border: var(--token-color-stroke-neutral-subtle);
  --upload-icon--default: var(--token-color-icon-neutral);
  --upload-icon--warning: var(--token-color-icon-error);
  --upload-highlight: var(--token-color-background-warning-subtle);
  --upload-text--primary: var(--token-color-text-neutral-alternative);
  --upload-text--secondary: var(--token-color-text-neutral-alternative);
}
