/*
* Radio theme
*
*/

.dnb-radio {
  // Normal state
  --radio-color-dot-on: var(--color-sea-green);
  --radio-color-background-on: var(--color-white);
  --radio-color-border-on: var(--color-sea-green);
  --radio-color-background-off: var(--color-white);
  --radio-color-border-off: var(--color-sea-green);
  // Disabled state
  --radio-color-dot-on--disabled: var(--color-sea-green-30);
  --radio-color-border-on--disabled: var(--color-sea-green-30);
  --radio-color-border-off--disabled: var(--color-mint-green-50);
  // Active state
  --radio-color-dot-on--active: var(--color-mint-green-50);
  --radio-color-border-on--active: var(--color-mint-green-50);
  --radio-color-background-off--active: var(--color-mint-green-50);
  --radio-color-border-off--active: transparent;
  // Hover state
  --radio-color-dot-on--hover: var(--color-mint-green-50);
  --radio-color-background-on--hover: var(--color-white);
  --radio-color-background-off--hover: var(--color-mint-green-50);
  // Focus state
  --radio-color-background-on--focus: var(--color-white);
  --radio-color-background-off--focus: var(--color-mint-green-50);
  // Error state
  --radio-color-dot-on--error: var(--color-fire-red);
  --radio-color-border-on--error: var(--color-fire-red);
  --radio-color-border--error-hover: var(--radio-color-border-on--error);
  --radio-color-background-off--error-hover: var(--color-fire-red-8);
  --radio-color-background-on--error-hover: var(--color-white);
  --radio-color-dot-on--error-hover: var(--color-fire-red-8);
}
