/*
* Radio theme
*
*/

.dnb-radio {
  // Normal state
  --radio-color-dot-on: var(--token-color-background-action);
  --radio-color-background-on: var(--token-color-background-neutral);
  --radio-color-border-on: var(--token-color-background-action);
  --radio-color-background-off: var(--token-color-background-neutral);
  --radio-color-border-off: var(--token-color-background-action);
  // Disabled state
  --radio-color-dot-on--disabled: var(
    --token-color-stroke-action-disabled
  );
  --radio-color-background--disabled: var(
    --token-color-background-neutral
  );
  --radio-color-border-on--disabled: var(
    --token-color-stroke-action-disabled
  );
  --radio-color-border-off--disabled: var(
    --token-color-background-action-hover-subtle
  );
  // Active state
  --radio-color-dot-on--active: var(
    --token-color-background-action-hover-subtle
  );
  --radio-color-border-on--active: var(
    --token-color-background-action-hover-subtle
  );
  --radio-color-background-off--active: var(
    --token-color-background-action-hover-subtle
  );
  --radio-color-border-off--active: transparent;
  // Hover state
  --radio-color-dot-on--hover: var(
    --token-color-background-action-hover-subtle
  );
  --radio-color-background-on--hover: var(
    --token-color-background-neutral
  );
  --radio-color-background-off--hover: var(
    --token-color-background-action-hover-subtle
  );
  // Focus state
  --radio-color-dot-on--focus: var(--token-color-background-action);
  --radio-color-background-on--focus: var(
    --token-color-background-neutral
  );
  --radio-color-background-off--focus: var(
    --token-color-background-action-hover-subtle
  );
  // Error state
  --radio-color-dot-on--error: var(--token-color-stroke-error);
  --radio-color-border-on--error: var(--token-color-stroke-error);
  --radio-color-border--error-hover: var(--radio-color-border-on--error);
  --radio-color-background-off--error-hover: var(
    --token-color-background-error-subtle
  );
  --radio-color-background-on--error-hover: var(
    --token-color-background-neutral
  );
  --radio-color-dot-on--error-hover: var(
    --token-color-background-error-subtle
  );
}
