/*
* Radio theme for Sbanken
*
*/

.dnb-radio {
  --radio-dot--medium: 0.875rem;
  --radio-dot--large: 1.5rem;
  // Normal state
  --radio-border-width: 0.0625rem;
  // Disabled state
  --radio-border-width--disabled: 0.0625rem;
  // Hover state
  --radio-border-width-on--hover: 0.0625rem;
  // Focus state
  --radio-border-width--focus: 0.1875rem;
}
