@mixin radioColorScheme($theme: 'ui') {
  @if $theme == 'ui' {
    // normal state
    --radio-color-dot-on: var(--color-sea-green);
    --radio-color-background-on: var(--color-white);
    --radio-color-border-on: var(--color-sea-green);
    --radio-color-background-off: var(--color-white);
    --radio-color-border-off: var(--color-sea-green);
    // disabled
    --radio-color-dot-on--disabled: var(--color-sea-green-30);
    --radio-color-border-on--disabled: var(--color-sea-green-30);
    --radio-color-border-off--disabled: var(--color-mint-green-50);
    // active
    --radio-color-dot-on--active: var(--color-mint-green-50);
    --radio-color-border-on--active: var(--color-mint-green-50);
    --radio-color-background-off--active: var(--color-mint-green-50);
    --radio-color-border-off--active: transparent;
    // hover
    --radio-color-dot-on--hover: var(--color-mint-green-50);
    --radio-color-background-off--hover: var(--color-mint-green-50);
    // focus
    --radio-color-background-on--focus: var(--color-white);
    --radio-color-background-off--focus: var(--color-mint-green-50);
    // error
    --radio-color-dot-on--error: var(--color-fire-red);
    --radio-color-border-on--error: var(--color-fire-red);
    --radio-color-background-off--error: var(--color-fire-red-8);
    // error + hover
    --radio-color-dot-on--error-hover: var(--color-fire-red-8);
  }

  @if $theme == 'sbanken' {
    // normal state
    --radio-color-dot-on: var(--sb-color-violet-light);
    --radio-color-background-on: var(--sb-color-white);
    --radio-color-border-on: var(--sb-color-gray-dark-2-neutral);
    --radio-color-background-off: var(--sb-color-white);
    --radio-color-border-off: var(--sb-color-gray-dark-2-neutral);
    // disabled
    --radio-color-dot-on--disabled: var(--sb-color-gray-dark-2-neutral);
    --radio-color-border-on--disabled: var(--sb-color-gray-dark-2-neutral);
    --radio-color-border-off--disabled: var(
      --sb-color-gray-dark-2-neutral
    );
    // active
    --radio-color-dot-on--active: var(--sb-color-violet-light);
    --radio-color-border-on--active: var(--sb-color-gray-dark-2-neutral);
    --radio-color-background-off--active: var(--sb-color-white);
    --radio-color-border-off--active: var(--sb-color-gray);
    // hover
    --radio-color-dot-on--hover: var(--sb-color-violet);
    --radio-color-background-off--hover: var(--sb-color-white);
    // focus
    --radio-color-background-on--focus: var(--sb-color-blue-light-3);
    --radio-color-background-off--focus: var(--sb-color-blue-light-3);
    // error
    --radio-color-dot-on--error: var(--sb-color-magenta);
    --radio-color-border-on--error: var(--sb-color-magenta);
    --radio-color-background-off--error: var(--sb-color-white);
    // error + hover
    --radio-color-dot-on--error-hover: var(--sb-color-red);
  }
}
