/*
* Icon component
*
* ======================================================================== */

.dnb-icon {
  display: inline;
  vertical-align: baseline;
  font-size: inherit; // only to feed width and height em's

  svg {
    fill: currentColor;
  }
  &:not(.has-custom-size) svg {
    width: inherit;
    height: inherit;
  }

  // defualt size
  width: 1em; // only to feed the svg
  height: 1em; // only to feed the svg

  &--small {
    width: 0.5em;
    height: 0.5em;
  }
  &--default {
    width: 1em;
    height: 1em;
  }
  &--medium {
    width: 1.5em;
    height: 1.5em;
  }
  &--large {
    width: 2em;
    height: 2em;
  }
}
