/*
* Icon component
*
* ======================================================================== */

.dnb-icon {
  display: inline-block;
  font-size: 0;
  width: 100%;

  svg {
    fill: currentColor;
  }
}
