/*
* Icon component
*
*/

.dnb-icon {
  display: inline-block;
  vertical-align: baseline;
  font-size: inherit; // only to feed width and height em's
  line-height: 1; // for vertical alignment, we have to have no line-height

  width: 1em;
  height: 1em;

  // responsive
  img,
  svg {
    width: inherit;
    height: inherit;
  }

  // auto size
  svg[width='100%'] {
    width: inherit;
  }
  svg[height='100%'] {
    height: inherit;
  }

  // color
  svg:not([fill]),
  svg [fill] {
    fill: currentColor;
  }
  svg [stroke] {
    stroke: currentColor;
  }

  // sizes
  &--small {
    width: 0.75rem;
    height: 0.75rem;
  }
  &--default {
    width: 1rem;
    height: 1rem;
  }
  &--medium {
    width: 1.5rem;
    height: 1.5rem;
  }
  &--large {
    width: 2rem;
    height: 2rem;
  }
  &--x-large {
    width: 2.5rem;
    height: 2.5rem;
  }
  &--xx-large {
    width: 3rem;
    height: 3rem;
  }
  &--custom-size {
    width: auto; // only to feed the svg
    height: auto; // only to feed the svg
  }
}
