/*
* Icon component
*
*/

.dnb-icon {
  display: inline-block;
  vertical-align: baseline;
  font-size: inherit; // only to feed width and height em's
  line-height: var(
    --line-height-x-small--em
  ); // for vertical alignment, we have to have no line-height

  width: 1em;
  height: 1em;

  // responsive
  img,
  svg {
    width: inherit;
    height: inherit;
    vertical-align: middle;
    shape-rendering: geometricPrecision;
  }

  // auto size
  svg[width='100%'] {
    width: inherit;
  }
  svg[height='100%'] {
    height: inherit;
  }

  // color
  svg:not([fill]),
  svg [fill] {
    fill: currentColor;
  }
  svg [stroke] {
    stroke: currentColor;
  }

  // sizes
  &--small {
    width: 0.75em;
    height: 0.75em;
  }
  &--default {
    width: 1em;
    height: 1em;
  }
  &--medium {
    width: 1.5em;
    height: 1.5em;
  }
  &--large {
    width: 2em;
    height: 2em;
  }
  &--x-large {
    width: 2.5em;
    height: 2.5em;
  }
  &--xx-large {
    width: 3em;
    height: 3em;
  }
  &--custom-size {
    width: auto; // only to feed the svg
    height: auto; // only to feed the svg
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    flex: none;
  }
}
