/*
* Icon component
*
*/

.dnb-icon {
  display: inline;
  vertical-align: baseline;
  font-size: inherit; // only to feed width and height em's
  line-height: 0; // for vertical centring, we have to have no line-height

  svg:not([fill]),
  svg [fill] {
    fill: currentColor;
  }
  svg [stroke] {
    stroke: currentColor;
  }

  width: 1em;
  height: 1em;

  &--small {
    width: 0.75rem;
    height: 0.75rem;
  }
  &--default {
    width: 1rem;
    height: 1rem;
  }
  &--medium {
    width: 1.5rem;
    height: 1.5rem;
  }
  &--large {
    width: 2rem;
    height: 2rem;
  }
  &--custom-size {
    width: auto; // only to feed the svg
    height: auto; // only to feed the svg
  }

  svg:not([width]):not([height]),
  img:not([width]):not([height]) {
    width: inherit;
    height: inherit;
  }
}
