/*
 * GlobalStatus theme
 *
 */

@import '../../../../style/themes/imports.scss';

.dnb-global-status {
  &:not(#{&}--no-animation)#{&}--fade-in#{&}.dnb-section::after {
    box-shadow: 99vw 0 0 0 currentColor, 198vw 0 0 0 currentColor,
      297vw 0 0 0 currentColor, 396vw 0 0 0 currentColor,
      0 0.0625rem 0 0 var(--color-black-80),
      100vw 0.0625rem 0 0 var(--color-black-80);
  }

  &__icon {
    font-size: 1rem;
  }
  &__message {
    &__content {
      color: var(--color-black-80);
    }

    &.dnb-section--white ::selection {
      background-color: var(--color-mint-green);
    }
  }

  &__content .dnb-hr {
    color: var(--color-fire-red);
  }
  &--info &__content .dnb-hr {
    color: var(--color-sea-green);
  }
}
