/*
 * GlobalStatus theme
 *
 */

@use '../../../../style/core/utilities.scss';

.dnb-global-status {
  &__icon {
    font-size: 1rem;
  }

  &__message {
    &.dnb-section--white ::selection {
      background-color: var(--color-mint-green);
    }
  }

  &__content .dnb-hr {
    --hr-color: var(--color-fire-red);
  }

  &--info &__content .dnb-hr {
    --hr-color: var(--color-sea-green);
  }

  &--warning &__content .dnb-hr {
    --hr-color: var(--color-accent-yellow);
  }

  &--success &__content .dnb-hr {
    --hr-color: var(--color-ocean-green);
  }
}
