/*
* GlobalStatus theme
*
*/

@use '../../../../style/core/utilities.scss';

.dnb-global-status {
  &__close-button {
    display: none;
  }

  &__title {
    @include utilities.allBelow('large') {
      padding-right: 2.5rem;
    }
  }

  &--error &__content .dnb-hr {
    --hr-color: var(--sb-color-red);
  }

  &--info &__content .dnb-hr {
    --hr-color: var(--sb-color-violet-light);
  }

  &--warning &__content .dnb-hr {
    --hr-color: var(--sb-color-yellow-dark);
  }

  &--success &__content .dnb-hr {
    --hr-color: var(--sb-color-green-dark-3);
  }
}
