/*
 * Anchor theme
 *
 */

@use './dnb-anchor-theme-ui.scss';
@use '../anchor-mixins.scss';

.dnb-anchor {
  color: var(--color-emerald-green);

  &:hover,
  &.dnb-anchor--hover {
    box-shadow: none;
  }

  &:active,
  &.dnb-anchor--active {
    color: var(--color-sea-green);
    @include anchor-mixins.anchorBackground(var(--color-pistachio));
  }
}

.dnb-anchor--contrast {
  @include anchor-mixins.useAnchorContrastStyle(var(--color-sea-green));
}
