/*
 * Anchor theme
 *
 */

@use '../anchor-mixins.scss';

@mixin anchorStyle() {
  color: var(--color-sea-green);

  &:hover {
    color: var(--color-sea-green);
    @include anchor-mixins.anchorBackground(var(--color-mint-green-50));
  }

  &:active {
    color: var(--color-mint-green);
    @include anchor-mixins.anchorBackground(var(--color-emerald-green));
  }

  &:focus-visible {
    color: var(--color-sea-green);
  }
}

$useClasses: true !default;
@if $useClasses {
  .dnb-anchor {
    @include anchorStyle();
  }

  .dnb-anchor--hover {
    color: var(--color-sea-green);
    @include anchor-mixins.anchorBackground(var(--color-mint-green-50));
  }

  .dnb-anchor--active {
    color: var(--color-mint-green);
    @include anchor-mixins.anchorBackground(var(--color-emerald-green));
  }

  .dnb-anchor--focus {
    color: var(--color-sea-green);
  }

  .dnb-anchor--contrast {
    @include anchor-mixins.useAnchorContrastStyle();
  }
}

@mixin anchorThemeTag() {
  a {
    --theme-color-black-80: var(--color-sea-green);
    @include anchorStyle();
  }
}
