/*
 * Anchor theme
 *
 */

@use './dnb-anchor-theme-ui.scss';
@use '../anchor-mixins.scss';

@include anchor-mixins.notNoStyle() {
  &.dnb-anchor {
    --anchor-color--default: var(--color-emerald-green);
    --anchor-color--active: var(--color-sea-green);
    --anchor-icon-color--default: var(--color-emerald-green);
    --anchor-icon-color--active: var(--color-sea-green);
    --anchor-bg--hover: transparent;
    --anchor-bg--active: var(--color-pistachio);
  }
}
