/*
 * Anchor theme
 *
 */

@use '../anchor-mixins.scss';

@mixin anchorHover {
  --anchor-color: var(--color-sea-green);
  @include anchor-mixins.anchorBackground(var(--anchor-background--hover));
}

@mixin anchorActive {
  --anchor-color: var(--anchor-color--active);
  @include anchor-mixins.anchorBackground(
    var(--anchor-background--active)
  );
}

@mixin anchorFocus {
  --anchor-color: var(--color-sea-green);
}

@mixin anchorStyle() {
  --anchor-color: var(--anchor-color--default, var(--color-sea-green));
  --anchor-color--active: var(--color-mint-green);
  --anchor-color--contrast: var(--color-emerald-green);
  --anchor-background--hover: var(--color-mint-green-50);
  --anchor-background--active: var(--color-emerald-green);

  color: var(--anchor-color);

  &:hover {
    @include anchor-mixins.notNoHover() {
      @include anchorHover();
    }
  }

  &:active {
    @include anchorActive();
  }

  &:focus-visible {
    @include anchorFocus();
  }

  &--icon-left .dnb-icon:first-child {
    margin-right: 0.25em;
  }
  &--icon-right .dnb-icon:last-child {
    margin-left: 0.25em;
  }
}

$useClasses: true !default;
@if $useClasses {
  @include anchor-mixins.notNoStyle() {
    &.dnb-anchor {
      @include anchorStyle();
    }
  }

  .dnb-anchor--hover {
    @include anchorHover();
  }

  .dnb-anchor--active {
    @include anchorActive();
  }

  .dnb-anchor--focus {
    @include anchorFocus();
  }
}

@mixin anchorThemeTag() {
  a {
    --theme-color-black-80: var(--color-sea-green);
    @include anchorStyle();
  }
}
