@use '../anchor-mixins.scss';

.dnb-anchor {
  // Has to use --sb-font-weight-bold to get correct weighting as --sb-font-weight-medium does nothing at the moment
  font-weight: var(--sb-font-weight-bold);
  color: var(--sb-color-gray-dark-3);
  text-decoration-color: var(--sb-color-green-dark);

  &:hover {
    color: var(--sb-color-text);
    background-color: var(--sb-color-green-dark);

    border-radius: 0.5rem;
  }

  &:active {
    color: var(--sb-color-text);
    background-color: var(--sb-color-green);

    border-radius: 0.5rem;
  }

  &:focus {
    &:not(:active) {
      color: var(--sb-color-blue-dark);
      background-color: var(--sb-color-blue-light-3);

      border-radius: 0.25rem;
    }
  }
}

.dnb-anchor--hover {
  color: var(--sb-color-text);
  background-color: var(--sb-color-green-dark);

  border-radius: 0.5rem;
}

.dnb-anchor--active {
  color: var(--sb-color-text);
  background-color: var(--sb-color-green);

  border-radius: 0.5rem;
}

.dnb-anchor--focus {
  &:not(:active) {
    color: var(--sb-color-blue-dark);
    background-color: var(--sb-color-blue-light-3);

    border-radius: 0.25rem;
  }
}

// TODO: add correct contrast styling when designs are in place
.dnb-anchor--contrast {
  @include anchor-mixins.useAnchorContrastStyle();
}
