/*
 * Anchor theme
 *
 */

@use '../anchor-mixins.scss';

@mixin anchorHover() {
  --anchor-background: var(--sb-color-green-dark);
  color: var(--sb-color-text);

  transition: none;
  border-radius: 0.5em;
}

@mixin anchorActive() {
  --anchor-background: var(--sb-color-green);
  color: var(--sb-color-text);

  transition: none;
  border-radius: 0.5em;
}

@mixin anchorFocus() {
  color: var(--sb-color-blue-dark);
  background-color: var(--sb-color-blue-light-3);
  border-radius: 0.25em;

  &.dnb-anchor--icon-left {
    margin-left: 0;
    .dnb-icon {
      margin-left: 0;
    }
  }

  &.dnb-anchor--icon-right {
    margin-right: 0;
    .dnb-icon {
      margin-right: 0;
    }
  }
}

@include anchor-mixins.notNoStyle() {
  &.dnb-anchor {
    --anchor-underline-thickness: 0.125rem;
    --anchor-background: transparent;
    --anchor-color--contrast: var(--sb-color-text);
    --anchor-background-gutter-left: 0.25rem;
    --anchor-background-gutter-right: 0.25rem;

    font-weight: var(--font-weight-medium);
    color: var(--sb-color-gray-dark-3);
    padding: 0.15625em 0;
    border-radius: 0.5em;

    $anchor-icon-gutter: 0.125em;

    @include anchor-mixins.anchorBackground(var(--anchor-background));

    .dnb-icon {
      display: inline;
      vertical-align: baseline;
      white-space: nowrap; // force icon to line break with word

      &::before,
      &::after {
        // word-joiner character (zero-width non-breaking space) connects icon with word
        content: '\2060';
      }

      svg {
        vertical-align: middle;
        transform: translateY(-0.0625em);
      }
    }

    &--icon-left .dnb-icon:first-child {
      margin-right: 0.25em;
    }

    &--icon-right .dnb-icon:last-child {
      margin-left: 0.25em;
    }
    .dnb-icon--default {
      font-size: 1em;
    }

    &:hover {
      @include anchor-mixins.notNoHover() {
        @include anchorHover();
      }
    }

    &:active {
      @include anchorActive();
    }

    &:focus-visible {
      @include anchorFocus();
    }
  }

  @include anchor-mixins.notInline() {
    &.dnb-anchor--icon-left,
    &.dnb-anchor--icon-right {
      text-decoration-color: var(--sb-color-green-dark);
    }

    &.dnb-anchor--icon-left {
      .dnb-icon:first-child {
        margin-right: 0;
        svg {
          margin-right: 0.125em;
        }
        &::after {
          content: '\00a0';
        }
      }
      &:not(.dnb-anchor--icon-right) {
        --anchor-background-gutter-right: 0rem;
        &::after {
          content: '\00a0';
        }
      }
    }

    &.dnb-anchor--icon-right {
      .dnb-icon:last-child {
        margin-left: 0;
        svg {
          margin-left: 0.125em;
        }
        &::before {
          content: '\00a0';
        }
      }
      &:not(.dnb-anchor--icon-left) {
        --anchor-background-gutter-left: 0rem;
        &::before {
          content: '\00a0';
        }
      }
    }
  }
}

.dnb-anchor--hover {
  @include anchorHover();
}

.dnb-anchor--active {
  @include anchorActive();
}

.dnb-anchor--focus {
  @include anchor-mixins.anchorFocusStyle();
  @include anchorFocus();
}

.dnb-anchor--no-radius {
  @include anchor-mixins.resetBorderRadius();
}

.dnb-anchor--inline {
  text-decoration-color: currentcolor;
}
