/*
* Used for snapshot testing
*
*/

@import '../../../style/core/utilities.scss';

@import '../../form-label/style/deps.scss';
@import '../../form-status/style/deps.scss';

@import './_switch.scss';
