/*
* Used for snapshot testing
*
*/

@use '../../../style/core/utilities.scss' as *;
@use '../../form-label/style/deps.scss' as *;
@use '../../button/style/deps.scss' as *;
@use '../../checkbox/style/deps.scss' as *;
@use '../../radio/style/deps.scss' as *;
@use '../../form-status/style/deps.scss' as *;
@use './dnb-toggle-button.scss';
