/*
* Autocomplete component
*
*/

:root {
  --autocomplete-width: 16rem;
  --autocomplete-height: 2rem;
  --autocomplete-height--small: 1.5rem;
  --autocomplete-height--medium: 2.5rem;
  --autocomplete-height--large: 3rem;
  --autocomplete-padding-horizontal: 1rem;
  --autocomplete-focus-border-width: 0.125rem;
  --autocomplete-text-padding: 0.5rem;
}

@import '../../../fragments/drawer-list/style/_drawer-list.scss';

.dnb-autocomplete {
  display: inline-flex;
  align-items: center;

  font-size: var(--font-size-small);
  line-height: var(--autocomplete-height);

  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0;
    padding: 0;

    width: auto;

    color: inherit;
  }

  &__shell {
    position: relative;

    width: var(--autocomplete-width);
    height: var(--autocomplete-height);

    margin: 0;
    padding: 0;

    color: inherit;
  }

  &__row {
    display: inline-flex;
  }

  &__suffix {
    padding-left: 0.5rem;
    line-height: var(--line-height-basis);
  }

  .dnb-drawer-list {
    position: static;
  }

  .dnb-drawer-list__list {
    top: var(--autocomplete-height);
    bottom: auto;
  }
  .dnb-drawer-list--top .dnb-drawer-list__list {
    bottom: var(--autocomplete-height);
    top: auto;
  }
  &--small {
    line-height: var(--autocomplete-height--small);
    .dnb-drawer-list__triangle {
      margin: 0 calc(var(--autocomplete-padding-horizontal) + 0.25rem);
    }
  }
  &--medium {
    line-height: var(--autocomplete-height--medium);
    .dnb-drawer-list__triangle {
      margin: 0 calc(var(--autocomplete-padding-horizontal) - 0.25rem);
    }
  }
  &--large {
    line-height: var(--autocomplete-height--large);
    .dnb-drawer-list__triangle {
      margin: 0 calc(var(--autocomplete-padding-horizontal) - 0.5rem);
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;

    pointer-events: none;
  }

  // input
  &__input {
    display: inline-flex;
    align-items: center;

    outline: none;
    margin-right: 0.5rem; // because of the submit button
  }

  &__shell,
  &__input {
    border-radius: var(--autocomplete-height);
  }

  &__text {
    order: 1;
    position: relative;
    z-index: 4;

    width: 100%;
    height: inherit;
    line-height: inherit;

    padding: 0 var(--autocomplete-text-padding) 0 0;

    overflow: hidden;

    color: inherit;
    text-align: left;
    text-overflow: ellipsis;
    font-size: var(--font-size-basis);

    &__inner {
      display: inline-block;

      width: 100%;

      height: inherit;
      padding: 0;

      overflow: hidden;
      white-space: nowrap;

      color: inherit;
      text-decoration: none;
      text-overflow: inherit;
      text-align: inherit;
    }
  }

  // &--icon-position-left &__icon {
  //   order: 1;
  // }
  // &--icon-position-left &__text {
  //   order: 2;
  //   padding-right: 0;
  //   padding-left: var(--autocomplete-text-padding);
  // }

  &__outside-value {
    display: block;
    padding: 0.5rem 0 1rem var(--autocomplete-padding-horizontal);
  }

  & > .dnb-form-label {
    margin-right: 1rem;
    line-height: var(--line-height-basis);
  }

  label + &[class*='__form-status'] {
    vertical-align: top;
    .dnb-autocomplete__shell {
      top: -0.375rem;
    }
  }
  &__inner > .dnb-form-status {
    order: 2;
    margin-top: 0.5rem;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &[class*='__status'] {
    align-items: flex-start;
    > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }

  .dnb-responsive-component & {
    @media (max-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 0.5rem;

      > .dnb-form-label {
        margin-bottom: 0.5rem;
      }
      &__helper {
        display: none;
      }
    }
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    flex: none;
    vertical-align: baseline;

    &__shell {
      top: 0;
    }
    &__options {
      // IE has bug where the height can't be calculated propery
      display: block;
    }
  }
}
