/*
* DrawerList component
*
*/

@use '../../../style/core/utilities.scss' as utilities;

@mixin openDrawerList($type: 'slide') {
  z-index: 100; // make sure we are over e.g. switch
  display: flex;
  flex-direction: column;

  @if $type == 'scale' {
    animation: drawer-list-scale-in 200ms ease-out 1 forwards;
  } @else if $type == 'up' {
    animation: drawer-list-slide-bottom-up 200ms ease-out 1 forwards;
  } @else {
    &:not(#{&}--no-animation) {
      animation: drawer-list-slide-top-down 200ms ease-out 1 forwards;
    }
    html[data-visual-test] &,
    &--no-animation {
      animation-duration: 1ms !important;
    }
  }
}
@mixin closeDrawerList($type: 'slide') {
  @if $type == 'scale' {
    animation: drawer-list-scale-out 150ms ease-out 1 forwards;
  } @else if $type == 'up' {
    animation: drawer-list-slide-bottom-down 200ms ease-out 1 forwards;
  } @else {
    &:not(#{&}--no-animation) {
      animation: drawer-list-slide-top-up 150ms ease-out 1 forwards;
    }
    html[data-visual-test] &,
    &--no-animation {
      animation-duration: 1ms !important;
    }
  }
}
@mixin drawerListClosed() {
  display: none;
}

.dnb-drawer-list {
  --drawer-list-height: 2rem;
  --drawer-list-padding-horizontal: 1rem;
  --drawer-list-options-border-radius: var(--token-radius-sm);
  --drawer-list-focus-border-width: 0.125rem;
  --drawer-list-height--small: 1.5rem;
  --drawer-list-height--medium: 2.5rem;
  --drawer-list-height--large: 3rem;
  --drawer-list-option-border-width: 0.0625rem;
  --drawer-list-option-inner-background: var(
    --token-color-background-neutral
  );
  --drawer-list-list-background: var(--token-color-background-neutral);
  --drawer-list-list-line-height: var(--line-height-basis);
  // Disabled option
  --drawer-list-option-disabled-background: var(
    --token-color-background-neutral
  );
  --drawer-list-option-disabled-color: var(
    --token-color-text-action-disabled
  );
  // Group
  --drawer-list-group-title-color: var(--token-color-text-neutral);
  --drawer-list-group-title-bg: var(
    --token-color-background-neutral-alternative
  );

  display: block; // has to be block element so we can se the content
  position: relative;

  width: inherit;
  min-width: inherit;

  // reset font for correct sizing
  font-size: var(--font-size-small);

  &__portal {
    --drawer-list-width: 16rem;
  }

  &__portal__style {
    position: absolute;
    transition:
      top 300ms var(--easing-default),
      left 300ms var(--easing-default),
      width 300ms var(--easing-default);

    html[data-visual-test] & {
      transition: none !important;
    }

    // higher than modal --modal-z-index:
    z-index: calc(var(--modal-z-index, 3200) + 300);

    &--fixed {
      position: fixed;
    }
  }

  &__root {
    width: inherit;
    min-width: inherit;

    // this is our relative starting point on absolute positioning
    &--portal {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__content {
    width: 100%;
    padding: 0;
  }

  &__list {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;

    width: inherit;
    min-width: inherit;

    margin: 0;
    padding: 0;

    font-size: var(--font-size-basis);
    line-height: var(--drawer-list-list-line-height);
    background-color: var(--drawer-list-list-background);

    transform: translateY(0);
    transition:
      transform 200ms,
      opacity 160ms ease-out;

    @include utilities.sharpDropShadow();
    border-radius: var(--drawer-list-options-border-radius);
  }

  // ul element
  &__options {
    @at-root .dnb-spacing & li.dnb-drawer-list__option {
      margin: 0;
    }

    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0;
    max-height: 90vh;
    padding: 0;

    list-style: none;

    border: none;
    border-radius: var(--drawer-list-options-border-radius);

    &:focus {
      @include utilities.focusRing();
    }

    &--focusring {
      @include utilities.focusRing('mouse');
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: inherit;
      box-shadow: 0 0 0 1px var(--token-color-stroke-neutral-subtle);
    }
  }

  &--scroll &__options {
    min-height: 2rem;
    max-height: 70vh;
    transition: max-height 300ms var(--easing-default);

    @include utilities.scrollY(auto);

    @include utilities.reducedMotion() {
      transition-duration: 0.01ms;
    }
  }
  // make sure we have a spacing on the right side if we have a scrollbar
  &--scroll &__option:not(#{&}__option--focus) &__option__inner::before {
    left: 0.5rem;
    right: 0.5rem;
  }

  html[data-visual-test] &--scroll &__options,
  &--scroll#{&}--no-animation &__options {
    transition: none !important;
  }
  &--open &__options {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }
  &--no-scroll-animation &__options {
    scroll-behavior: auto;
  }
  &__group {
    padding: 0;
    margin: 0;
    list-style: none;

    &-title {
      display: block;
      padding: 0.5rem 1rem;
      color: var(--drawer-list-group-title-color);
      background-color: var(--drawer-list-group-title-bg);
      font-weight: var(--font-weight-medium);
    }
  }
  // li element
  &__option {
    position: relative;

    cursor: pointer;

    margin: 0;
    padding: 0;
    color: var(--token-color-text-neutral);

    outline: none;

    background-color: var(--drawer-list-list-background);

    &.ignore-events {
      pointer-events: none;
    }

    &__inner {
      position: relative;
      z-index: 1; // only to go over &__arrow

      display: grid;

      // Use two columns
      grid-template-columns: 1fr auto;

      // Use a high number in order to be able to vertically center the check icon (among others) and suffix with "grid-row: 1 / -1;"
      grid-template-rows: repeat(10, min-content);

      outline: none;

      margin: 0;
      padding: 1rem;

      color: inherit;
      background-color: var(--drawer-list-option-inner-background);

      // So e.g. an anchor gets aligned to left
      > * {
        align-self: self-start;
      }

      // This is our border (separator line) instead of border-bottom: var(--drawer-list-option-border-width) solid
      &::before {
        pointer-events: none;

        content: '';
        position: absolute;
        z-index: 2;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;

        // width: 100%; // 100% width would result in no margin right
        height: var(--drawer-list-option-border-width);
        background-color: var(--token-color-decorative-first-muted);
      }
    }

    &__item {
      display: block;
      text-overflow: ellipsis;

      // Place all items in the first column, but underneath
      grid-column: 1;

      &--horizontal {
        display: flex;
      }

      > .dnb-icon {
        vertical-align: initial;
      }

      .dnb-anchor {
        display: inline-block;
        margin-right: 0.5rem;
        word-break: break-word;

        font-size: inherit;
      }
      &.item-nr-1 {
        font-weight: var(--font-weight-medium);
      }
    }

    @include utilities.hover() {
      background-color: var(--token-color-background-action-hover-subtle);

      .dnb-drawer-list__option__inner {
        color: var(--token-color-text-action-hover);
        background-color: var(
          --token-color-background-action-hover-subtle
        );
      }
    }

    @include utilities.active() {
      .dnb-drawer-list__option__inner {
        color: var(--token-color-text-neutral);
      }
    }

    // Focus ring around item. Only for keyboard usage
    &--focus &__inner {
      // we use the border/line and change it to a fake focus
      &::before {
        z-index: 3;

        top: var(--drawer-list-focus-border-width);
        left: var(--drawer-list-focus-border-width);
        right: var(--drawer-list-focus-border-width);
        bottom: var(--drawer-list-focus-border-width);

        height: auto;
        background-color: transparent;

        @include utilities.fakeBorder(
          var(--token-color-stroke-selected),
          var(--drawer-list-focus-border-width)
        );
      }
    }

    &__suffix {
      // TODO: Use CSS Container Queries when available
      @include utilities.allAbove(small) {
        grid-column: 2;
        grid-row: 1 / -1;

        justify-self: end;
        align-self: center;
      }
    }

    &--ignore {
      cursor: default;
      pointer-events: none;

      .dnb-drawer-list__option__inner {
        color: var(--token-color-text-neutral);
        background-color: var(--drawer-list-option-inner-background);
      }
    }

    &--selected &__inner {
      color: var(--token-color-text-neutral-inverse);
      background-color: var(--token-color-background-selected);

      .dnb-drawer-list__option__inner {
        color: inherit;
        background-color: inherit;
      }

      @include utilities.hover() {
        color: var(--token-color-text-neutral-inverse);
        background-color: var(--token-color-background-action-hover);

        .dnb-drawer-list__option__inner {
          color: inherit;
          background-color: inherit;
        }
      }

      // check icon
      &::after {
        content: '';

        grid-column: 2;
        grid-row: 1 / -1;

        justify-self: end;
        align-self: center;

        width: 1rem;
        height: 1rem;

        background-size: cover;

        // This SVG gfx is generated by using /assets/elements/drawer-list/check-gfx.svg
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+ICA8cGF0aCAgICBmaWxsPSIjRTlGOEY0IiAgICBkPSJNMyA4LjhhLjc1Ljc1IDAgMSAwLTEuMjIuODZMMyA4Ljc5em0xLjg0IDMuOWwuNjMtLjQxdi0uMDFoLS4wMWwtLjYyLjQyem0xLjcxLjA1bC0uNTktLjQ2di4wMWwuNTkuNDV6bTguNDMtOS40NWEuNzUuNzUgMCAwIDAtMS4xOC0uOTNsMS4xOC45M3pNMS43OCA5LjY2bDIuNDUgMy40OCAxLjIzLS44N0wzIDguOGwtMS4yMy44N3ptMi40NCAzLjQ2Yy4zMi40OC44Ni43OCAxLjQ0LjhsLjA1LTEuNWEuMy4zIDAgMCAxLS4yNC0uMTNsLTEuMjUuODN6bTEuNDQuOGExLjggMS44IDAgMCAwIDEuNDktLjcxbC0xLjItLjlhLjMuMyAwIDAgMS0uMjQuMWwtLjA1IDEuNXptMS40OC0uN2w3Ljg0LTkuOTItMS4xOC0uOTMtNy44NCA5LjkyIDEuMTguOTN6Ii8+PC9zdmc+');
      }

      // Remove separator line on selected items
      &::before {
        visibility: hidden;
      }
    }

    // TODO: Use CSS Container Queries when available
    @include utilities.allAbove(small) {
      &--selected &__suffix {
        z-index: 2; // over check icon
        background-color: inherit; // to "hide" the check icon
      }
    }

    // show focus border when using keyboard
    html[data-whatinput='keyboard']
      &--selected#{&}--focus
      &__inner::before {
      visibility: visible;

      @include utilities.fakeBorder(
        var(--token-color-stroke-action-hover-inverse),
        var(--drawer-list-focus-border-width)
      );
    }

    // Focus ring around item. Only for keyboard usage
    &--focus:not(#{&}--selected) &__inner {
      color: var(--token-color-text-action-hover);
      background-color: var(--token-color-background-action-hover-subtle);
    }
    // remove last bottom border
    &.last-of-type:not(#{&}--focus) &__inner::before {
      content: none;
    }

    &[disabled] {
      --drawer-list-option-inner-background: var(
        --drawer-list-option-disabled-background
      );
      color: var(--drawer-list-option-disabled-color);
      cursor: not-allowed;
    }
  }

  &--bottom &__option--focus.closest-to-top &__option__inner::before,
  &--top &__option--focus.closest-to-top &__option__inner::before {
    border-top-left-radius: var(--drawer-list-options-border-radius);
    border-top-right-radius: var(--drawer-list-options-border-radius);
  }

  &--bottom &__option--focus.closest-to-bottom &__option__inner::before,
  &--top &__option--focus.closest-to-bottom &__option__inner::before {
    border-bottom-left-radius: var(--drawer-list-options-border-radius);
    border-bottom-right-radius: var(--drawer-list-options-border-radius);
  }

  // error status
  &__status--error:not(#{&}--open) &__icon {
    color: var(--token-color-text-destructive);
  }

  // arrow
  &__arrow {
    position: absolute;
    top: calc(
      var(--drawer-list-focus-border-width) - var(--drawer-list-height) / 2
    );
    left: auto;
    right: 0;

    pointer-events: none;

    margin: 0 var(--drawer-list-padding-horizontal);

    width: calc(var(--drawer-list-height) / 2);
    height: calc(var(--drawer-list-height) / 2);

    z-index: -1;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: calc(var(--drawer-list-height) / 2);
      height: calc(var(--drawer-list-height) / 2);
      transform: translateY(60%) rotate(45deg);

      background-color: var(--drawer-list-list-background);

      box-shadow:
        var(--shadow-sharp),
        0 0 0 1px var(--token-color-stroke-neutral-subtle);
    }
  }
  &--arrow-position-left &__arrow {
    left: 0;
    right: auto;
  }
  &--top &__arrow {
    top: auto;
    bottom: calc(
      var(--drawer-list-focus-border-width) - var(--drawer-list-height) /
        2 - 2px
    );
    transform: rotate(180deg);
    &::before {
      transform: translateY(65%) rotate(45deg);
    }
  }

  // group title arrow
  &--bottom:has(#{&}__group-title.closest-to-top) &__arrow,
  &--top:has(#{&}__group-title.closest-to-bottom) &__arrow {
    &::before {
      background-color: var(--drawer-list-group-title-bg);
    }
  }

  // hover and focus arrow
  &--bottom:has(#{&}__option.closest-to-top:hover) &__arrow::before,
  &--top:has(#{&}__option.closest-to-bottom:hover) &__arrow::before,
  &--bottom:has(#{&}__option.closest-to-top#{&}__option--focus)
    &__arrow::before,
  &--top:has(#{&}__option.closest-to-bottom#{&}__option--focus)
    &__arrow::before,
  &--bottom &__option.closest-to-top:hover ~ &__arrow::before,
  &--top &__option.closest-to-bottom:hover ~ &__arrow::before,
  &--bottom &__option.closest-to-top#{&}__option--focus ~ &__arrow::before,
  &--top
    &__option.closest-to-bottom#{&}__option--focus
    ~ &__arrow::before {
    background-color: var(--token-color-background-action-hover-subtle);
  }

  // selected arrow
  &--bottom:has(#{&}__option.closest-to-top#{&}__option--selected)
    &__arrow::before,
  &--top:has(#{&}__option.closest-to-bottom#{&}__option--selected)
    &__arrow::before,
  &--bottom
    &__option.closest-to-top#{&}__option--selected
    ~ &__arrow::before,
  &--top
    &__option.closest-to-bottom#{&}__option--selected
    ~ &__arrow::before {
    background-color: var(--token-color-background-selected);
  }

  &--is-popup#{&}--right {
    position: absolute;
    left: auto;
    right: 0;
  }

  // size--default button left aligned
  &--is-popup#{&}--left &__list {
    left: -0.5rem;
  }

  // size--default button right aligned
  &--is-popup#{&}--right &__list {
    right: -0.5rem;
  }

  &--open &__list {
    @include openDrawerList();
  }

  &--hidden &__list {
    @include drawerListClosed();
  }

  // size--default
  &--bottom &__list {
    top: 0;
    bottom: auto;
  }
  &--top &__list {
    top: auto;
    bottom: var(--drawer-list-height);
  }
  &__portal &--bottom &__list {
    top: var(--drawer-list-height);
    bottom: auto;
  }

  // size--small
  &__portal &--small &__list {
    top: var(--drawer-list-height--small);
  }
  &--small#{&}--top &__list {
    bottom: var(--drawer-list-height--small);
  }
  &--small#{&}--is-popup#{&}--left &__list {
    left: -0.75rem;
  }
  &--small#{&}--is-popup#{&}--right &__list {
    right: -0.75rem;
  }

  // size--medium
  &__portal &--medium &__list {
    top: var(--drawer-list-height--medium);
  }
  &--medium#{&}--top &__list {
    bottom: var(--drawer-list-height--medium);
  }
  &--medium#{&}--is-popup#{&}--left &__list {
    left: -0.25rem;
  }
  &--medium#{&}--is-popup#{&}--right &__list {
    right: -0.25rem;
  }

  // size--large
  &__portal &--large &__list {
    top: var(--drawer-list-height--large);
  }
  &--large#{&}--top &__list {
    bottom: var(--drawer-list-height--large);
  }
  &--large &__arrow {
    margin: 0 1.25rem;
  }
  &--large#{&}--is-popup#{&}--left &__list {
    left: -0.25rem;
  }
  &--large#{&}--is-popup#{&}--right &__list {
    right: -0.25rem;
  }

  /* stylelint-disable-next-line  */
  &--is-popup#{&}--right &__list {
    left: auto;
  }

  .dnb-drawer-list__root > &--right {
    position: absolute;
    right: 0;
    left: auto;
  }
  &__portal &--right {
    right: 100%;
  }

  // fix top in portal mode in one style declaration
  &__portal &--top &__list {
    top: auto;
    bottom: 0;
  }

  &:not(.dnb-drawer-list--open) &__list {
    @include closeDrawerList();
  }

  // adjust the form-status to the inner border for 2px
  > .dnb-form-status {
    transform: translateY(-0.4375rem);
  }
}

@keyframes drawer-list-scale-in {
  from {
    opacity: 0;
    transform: scale(0.8) translateX(calc(1px - var(--drawer-list-width)));
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
@keyframes drawer-list-scale-out {
  from {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  to {
    opacity: 0;
    transform: scale(0.8) translateX(calc(1px - var(--drawer-list-width)));
  }
}

@keyframes drawer-list-slide-top-down {
  from {
    opacity: 0;
    transform: translateY(calc(1px - var(--drawer-list-height)));
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}

@keyframes drawer-list-slide-top-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(calc(1px - var(--drawer-list-height)));
  }
}

@keyframes drawer-list-slide-bottom-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(calc(1px + var(--drawer-list-height)));
  }
}

@keyframes drawer-list-slide-bottom-up {
  from {
    opacity: 0;
    transform: translateY(calc(1px + var(--drawer-list-height)));
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
