/*
* DNB font-import from components
* This file is totaly the same as "core/_font-import.scss"
* but has a difference back path
*
* ======================================================================== */

// Book
@font-face {
  font-family: 'Fedra Sans Std Book';
  src: url('../../../../assets/fonts/FedraSansStd-Book.eot');
  src: url('../../../../assets/fonts/FedraSansStd-Book.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-Book.woff') format('woff'),
    url('../../../../assets/fonts/FedraSansStd-Book.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Book Italic
@font-face {
  font-family: 'Fedra Sans Std Book';
  src: url('../../../../assets/fonts/FedraSansStd-BookItalic.eot');
  src: url('../../../../assets/fonts/FedraSansStd-BookItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-BookItalic.woff')
      format('woff'),
    url('../../../../assets/fonts/FedraSansStd-BookItalic.ttf')
      format('truetype');
  font-weight: normal;
  font-style: italic;
}

// Std Light
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('../../../../assets/fonts/FedraSansStd-Light.eot');
  src: url('../../../../assets/fonts/FedraSansStd-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-Light.woff') format('woff'),
    url('../../../../assets/fonts/FedraSansStd-Light.ttf')
      format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Light Italic
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('../../../../assets/fonts/FedraSansStd-LightItalic.eot');
  src: url('../../../../assets/fonts/FedraSansStd-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-LightItalic.woff')
      format('woff'),
    url('../../../../assets/fonts/FedraSansStd-LightItalic.ttf')
      format('truetype');
  font-weight: 300;
  font-style: italic;
}

// Medium
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('../../../../assets/fonts/FedraSansStd-Medium.eot');
  src: url('../../../../assets/fonts/FedraSansStd-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-Medium.woff') format('woff'),
    url('../../../../assets/fonts/FedraSansStd-Medium.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
}

// Medium Italic
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('../../../../assets/fonts/FedraSansStd-MediumItalic.eot');
  src: url('../../../../assets/fonts/FedraSansStd-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-MediumItalic.woff')
      format('woff'),
    url('../../../../assets/fonts/FedraSansStd-MediumItalic.ttf')
      format('truetype');
  font-weight: 500;
  font-style: italic;
}

// Std Bold
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('../../../../assets/fonts/FedraSansStd-Bold.eot');
  src: url('../../../../assets/fonts/FedraSansStd-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-Bold.woff') format('woff'),
    url('../../../../assets/fonts/FedraSansStd-Bold.ttf')
      format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Bold Italic
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('../../../../assets/fonts/FedraSansStd-BoldItalic.eot');
  src: url('../../../../assets/fonts/FedraSansStd-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../assets/fonts/FedraSansStd-BoldItalic.woff')
      format('woff'),
    url('../../../../assets/fonts/FedraSansStd-BoldItalic.ttf')
      format('truetype');
  font-weight: bold;
  font-style: italic;
}

// @font-face {
//   font-family: 'FedraSansAltPro-Demi';
//   src: url('../../../../assets/fonts/FedraSansAltPro-Demi.eot?#iefix')
//       format('embedded-opentype'),
//     url('../../../../assets/fonts/FedraSansAltPro-Demi.otf') format('opentype'),
//     url('../../../../assets/fonts/FedraSansAltPro-Demi.woff') format('woff'),
//     url('../../../../assets/fonts/FedraSansAltPro-Demi.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: 'FedraSansAltPro-DemiItalic';
//   src: url('../../../../assets/fonts/FedraSansAltPro-DemiItalic.eot?#iefix')
//       format('embedded-opentype'),
//     url('../../../../assets/fonts/FedraSansAltPro-DemiItalic.otf')
//       format('opentype'),
//     url('../../../../assets/fonts/FedraSansAltPro-DemiItalic.woff')
//       format('woff'),
//     url('../../../../assets/fonts/FedraSansAltPro-DemiItalic.ttf')
//       format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
