/*
 * DNB Section style hleper
 *
 */

// Wraps content inside a visual section banner.
.dnb-section {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -50vw;
    top: 0;
    width: 100vw;
    height: 100%;
    color: var(--color-mint-green-12);
    background-color: currentColor;

    // we use box-shadow to avoid a horizontal scrollbar
    box-shadow: 100vw 0 0 0 currentColor;
  }
}
.dnb-section--spacing {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.dnb-section--white::after {
  color: var(--color-white);
}
.dnb-section--mint-green {
  &::after {
    color: var(--color-mint-green);
  }
  // &.dnb-tabs__tabs::after {
  //   height: 100%;
  //   color: var(--color-mint-green);
  // }
}
.dnb-section--emerald-green {
  color: var(--color-mint-green);
  &::after {
    color: var(--color-emerald-green);
  }
  .dnb-code {
    color: var(--color-emerald-green);
  }
}
.dnb-section--signal-orange {
  color: var(--color-ocean-green);
  &::after {
    color: var(--color-signal-orange);
  }
}
