/*
 * Helper Classes
 *
 */

// Focus management
.dnb-no-focus {
  outline: none;
}
.dnb-tab-focus {
  outline: none;
  &:focus {
    @include fakeFocus('keyboard');
  }
}
.dnb-mouse-focus {
  outline: none;
  &:focus {
    @include fakeFocus('mouse');
  }
}
.dnb-focus-ring {
  @include fakeBorder($focusRingColor, $focusRingWidth, null, !important);
}
@import './skip-link.scss';

.dnb-hide-on-mobile {
  @include allBelow(medium) {
    display: none;
  }
}
.dnb-mobile-exclusive {
  @include allAbove(medium) {
    display: none;
  }
}
.dnb-width-limit {
  margin: 0 auto;
  width: 100%;
  max-width: map-get($map: $breakpoints, $key: large);
  padding: 0 0.5rem;

  @include allAbove(medium) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.dnb-belt {
  padding: 1rem 0;
  width: 100%;
  background: var(--color-mint-green-12);
}
.dnb-nudge {
  display: inline-flex;
  flex: 0 0 100%;

  @for $i from 1 through 10 {
    &--vertical {
      &[data-nudges='#{$i}'] {
        @include nudger(vertical, #{$i});
      }
    }
    &--horizontal {
      &[data-nudges='#{$i}'] {
        @include nudger(horizontal, #{$i});
      }
    }
  }
}
.dnb-alignment-helper {
  @include alignmentHelperClass();
  @include alignmentHelper();
}
.dnb-drop-shadow {
  @include defaultDropShadow();
}
.dnb-sr-only {
  @include srOnly();
}
.dnb-sr-only--inline {
  @include srOnlyInline();
}
.dnb-not-sr-only {
  @include notSrOnly();
}
