/*
* Breadcrumb component
*
*/

.dnb-breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__bar.dnb-section {
    display: flex;
    padding: var(--spacing-small) 0 var(--spacing-x-small) 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    &__span {
      display: flex;
      align-items: center;
      line-height: normal;
      padding: var(--spacing-x-small) 0;

      // To match the other tertiary buttons
      &__icon {
        margin-left: calc(var(--button-icon-size) / 2);
        margin-right: 0.5rem;
      }

      color: var(--color-black-80);
    }
  }

  &__collapse {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-x-small) var(--spacing-large);
  }
  &__collapse &__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
