/*
* Breadcrumb component
*
*/

.dnb-breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__bar.dnb-section {
    display: flex;
  }

  &__list.dnb-section {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    &__span {
      display: flex;
      align-items: center;
      line-height: normal;
      padding: 0.5rem 0;

      // To match the other tertiary buttons
      &__icon {
        margin-left: calc(var(--button-icon-size) / 2);
        margin-right: 0.5rem;
      }
    }
  }

  &__animation {
    display: flex;
    flex-direction: column;

    transition: height 400ms var(--easing-default);
  }
  &__animation &__item {
    transition: transform 400ms var(--easing-default)
      calc(var(--delay) * 50ms);
    transform: translateX(-1rem);
  }
  &__animation.dnb-height-animation--parallax &__item {
    transform: translateX(0);
  }

  &__collapse {
    display: flex;
    flex-direction: column;
  }
  &__collapse &__list.dnb-section {
    flex-direction: column;
    align-items: flex-start;

    margin: 0.5rem 0;
    margin-left: 1.5rem;
  }
}
