/*
* Breadcrumb component
*
*/

.dnb-breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__bar.dnb-section {
    display: flex;
  }
  &--spacing &__bar.dnb-section {
    padding: var(--spacing-x-small) 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    &__span {
      display: flex;
      align-items: center;
      line-height: normal;
      padding: var(--spacing-x-small) 0;

      // To match the other tertiary buttons
      &__icon {
        margin-left: calc(var(--button-icon-size) / 2);
        margin-right: 0.5rem;
      }
    }
  }

  &__animation {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: height 400ms #{$defaultEasing};
  }
  &__animation &__item {
    transition: transform 400ms #{$defaultEasing} calc(var(--delay) * 50ms);
    transform: translateX(-1rem);
  }
  &__animation.dnb-height-animation--parallax &__item {
    transform: translateX(0);
  }

  &__collapse {
    display: flex;
    flex-direction: column;
  }
  &__collapse &__list {
    flex-direction: column;
    align-items: flex-start;

    padding: 0 var(--spacing-large);
  }
  &--spacing &__collapse &__list {
    padding: var(--spacing-x-small) var(--spacing-large);
  }
}
