/*
* Breadcrumb component
*
*/

@import '../../../style/core/utilities.scss';

.dnb-breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__bar.dnb-section {
    display: flex;
  }

  &__list.dnb-section {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    flex-flow: row wrap;
    align-items: center;
    gap: 1.5rem;
  }

  &__item {
    &__span {
      display: flex;
      align-items: center;
      line-height: normal;
      padding: 0.5rem 0;

      // To match the other tertiary buttons
      &__icon {
        margin-right: 0.5rem;
      }
    }
  }

  &__multiple {
    display: flex;
    flex-direction: column;

    transition: height 400ms var(--easing-default);
  }

  &__multiple &__item {
    transition: transform 400ms var(--easing-default)
      calc(var(--delay) * 50ms);
    transform: translateX(-1rem);
  }

  &__multiple.dnb-height-animation--parallax &__item {
    transform: translateX(0);
  }

  /* stylelint-disable no-descending-specificity, no-duplicate-selectors */
  &__multiple &__item {
    html[data-visual-test] & {
      transition: none;
    }
  }
  /* stylelint-enable */

  &--variant-default &__bar &__multiple {
    @include allBelow(medium) {
      display: none;
    }
  }

  &--variant-default &__toggle {
    @include allAbove(medium) {
      display: none;
    }
  }

  &__collapse {
    display: flex;
    flex-direction: column;
  }

  &__collapse &__list.dnb-section {
    flex-direction: column;
    align-items: flex-start;

    margin: 0.5rem 0;
    margin-left: 1.5rem;
    gap: 0;
  }
}
