/*
* ToggleButton theme for Sbanken
*
*/

@use '../../../../style/core/utilities.scss' as utilities;

.dnb-toggle-button {
  &__button {
    --btn-color-bg--default: var(--sb-color-white);
    --btn-color-bg--hover: var(--sb-color-violet-light-3);
    --btn-color-bg--active: var(--sb-color-violet);
    --btn-color-bg--focus: transparent;
    --btn-color-text--default: var(--sb-color-violet);
    --btn-color-text--hover: var(--sb-color-violet);
    --btn-color-text--active: var(--sb-color-violet-light-3);
    --btn-color-text--disabled: var(--sb-color-gray-dark);
    --btn-color-border--default: var(--sb-color-violet);
    --btn-color-border--active: var(--sb-color-violet-light-3);
    --btn-color-border--focus: var(--focus-ring-color);
    --btn-color-border--disabled: var(--sb-color-gray-light);

    html[data-whatinput='keyboard']
      &:not([disabled]):not(:active):not(:hover):focus {
      .dnb-radio {
        &__dot {
          background-color: var(--focus-ring-color);
        }
      }
      .dnb-checkbox {
        &__gfx {
          color: var(--focus-ring-color);
        }
      }
    }
  }

  /* stylelint-disable no-descending-specificity */
  &--checked &__button {
    --btn-color-bg--default: var(--sb-color-violet);
    --btn-color-bg--hover: var(--sb-color-violet);
    --btn-color-bg--active: var(--sb-color-violet);
    --btn-color-bg--focus: var(--sb-color-blue-light-2);
    --btn-color-bg--disabled: var(--sb-color-gray-light);
    --btn-color-border--hover: var(--sb-color-violet);
    --btn-color-border--active: var(--sb-color-violet-light-3);
    --btn-color-border--disabled: var(--sb-color-gray-light);
    --btn-color-text--default: var(--sb-color-white);
    --btn-color-text--hover: var(--sb-color-white);
    --btn-color-text--active: var(--sb-color-violet-light-3);
    --btn-color-text--focus: var(--sb-color-blue-dark-2);
    --btn-color-text--disabled: var(--sb-color-gray-dark);
  }
  /* stylelint-enable no-descending-specificity */
}
