/*
 * FormRow component
 *
 */

@use '../../../style/core/utilities.scss';

.dnb-form-row {
  &,
  &.dnb-section {
    display: flex;
  }
  align-items: baseline;

  &__content {
    display: inline-flex;
    flex: 1; // to help #input stretch
    width: 100%; // to help #input stretch
  }

  // for horizontal direction
  &:not(#{&}--vertical) {
    & > .dnb-form-row__content {
      align-items: baseline;

      .dnb-form-label {
        white-space: nowrap;
      }

      &--wrap {
        // so components gets wrapper on overflow, we use block here
        display: block;
      }

      // TODO: We may consider to wrap horizontal direction to vertical
      // overwrite display to be block on small screens
      // @media screen and (max-width: 40em) {
      //   flex-direction: column;
      // }
      // justify-self: start;
    }

    @media screen and (max-width: 40em) {
      flex-direction: column;
      align-items: flex-start;

      & > .dnb-form-label {
        margin-bottom: 0.5rem;
      }

      & > .dnb-form-row__content {
        flex-direction: column;

        & > .dnb-form-label {
          margin-top: 1rem;
        }
      }
    }
  }
  &--centered#{&}:not(#{&}--vertical) &__content {
    @include utilities.allAbove(small) {
      align-items: center;
    }
  }

  // This is currently not needed
  // &--nested#{&}:not(#{&}--vertical)#{&}:not(#{&}--vertical-label)
  //   > .dnb-form-label {
  //   @media screen and (max-width: 40em) {
  //     margin-bottom: 1rem;
  //     margin-right: 0;
  //   }
  // }

  // for vertical direction
  &--vertical > .dnb-form-row__label {
    margin-bottom: 0.5rem;
  }
  &--vertical > &__content,
  &--vertical#{&}:not(#{&}--nested) {
    flex-direction: column;
  }

  // TODO: we may consider this to be included with a prop later on
  // default spacing
  // &:not(#{&}--nested) {
  //   margin-bottom: 1.5rem;
  // }

  &--vertical-label {
    flex-direction: column;
  }

  > .dnb-form-status {
    margin: 0.5rem 0;
  }

  > .dnb-form-row__label {
    &--vertical {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &--vertical ~ .dnb-form-row__content {
      grid-column: column1-start / column1-end;
    }
  }

  &__label-dummy {
    margin: 0;
  }

  // reset the fieldset
  &__fieldset,
  .dnb-core-style &__fieldset {
    @include utilities.fieldsetReset();

    width: 100%;
  }
}
