/*
 * FormStatus component
 *
 */

:root {
  --form-status-radius: 0.25rem;
}

.dnb-form-status {
  display: flex;

  &__shell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: inherit;
    // padding: 0.5rem 1rem 1rem 1rem;

    border-radius: var(--form-status-radius);
  }

  &__text {
    padding: 0.5rem 1rem;

    cursor: text;
    color: inherit;
    line-height: var(--line-height-small);
    font-size: var(--font-size-small);

    .dnb-anchor {
      font-size: inherit;
    }

    white-space: normal;
  }

  .dnb-icon + &__text {
    padding-left: 0.5rem;
  }

  &__shell > .dnb-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.3333333em 0.3333333em 0.3333333em 0.6666666em;
  }

  // Large
  &__size--large &__text {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__size--large &__shell > .dnb-icon {
    margin-top: 0.6666666em;
    margin-bottom: 0.6666666em;
  }

  // This would be a "real" large sizing
  // &__size--large &__text {
  //   padding: 1rem 1.5rem;
  // }
  // &__size--large .dnb-icon + &__text {
  //   padding-left: 1rem;
  // }
  // &__size--large &__shell > .dnb-icon {
  //   margin: 0.6666666em 0.3333333em 0.6666666em 0.9999999em;
  // }

  &[hidden] {
    display: none;
  }

  &__animation--fade-in {
    @keyframes form-status-fade-in {
      from {
        max-height: 0;
      }
      to {
        max-height: calc(var(--input-height) * 8);
      }
    }
    overflow: hidden;
    max-height: 0;
    animation: form-status-fade-in 2s ease-out 400ms forwards;
  }

  @include IS_IE {
    &__shell > .dnb-icon {
      border-width: 1px;
    }
  }
}
