/*
 * FormStatus component
 *
 */

.dnb-form-status {
  display: flex;

  &__shell {
    display: flex;
    justify-content: flex-start;
    align-items: center; // could be flex-start to have the icon on top

    min-height: var(--input-height);
    border-radius: var(--input-border-radius);
  }

  &--text {
    padding: calc(0.5rem / 2) 1rem;

    cursor: text;
    color: var(--color-emerald-green);

    line-height: 1.5rem;
  }

  .dnb-icon + &--text {
    padding-left: 0.5rem;
  }

  &__shell > .dnb-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5em;
    height: 1.5em;

    margin-left: 0.5rem;

    color: inherit;

    font-size: 1rem;
    border-radius: 50%;
    border: 1px solid;
    border-color: currentColor;
  }

  &[hidden] {
    display: none;
  }

  &--fade-in {
    @keyframes fade-in {
      from {
        opacity: 0;
        height: 0;
      }
      to {
        opacity: 1;
        height: var(--input-height);
      }
    }

    height: 0;
    opacity: 0;
    animation: fade-in 600ms ease-out 1 200ms forwards;
  }
}
