/*
 * FormStatus component
 *
 */

.dnb-form-status {
  display: flex;

  &__shell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: inherit;

    border-radius: var(--input-border-radius);
  }

  &--text {
    padding: calc(0.5rem / 2) 1rem;

    cursor: text;
    color: inherit;
    line-height: var(--line-height-basis);

    .dnb-anchor {
      font-size: inherit;
    }

    white-space: normal;
  }

  .dnb-icon + &--text {
    padding-left: 0.5rem;
  }

  &__shell > .dnb-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5em;
    height: 1.5em;

    margin-top: 0.25em;
    margin-left: 0.5em;

    color: inherit;

    font-size: var(--font-size-small);
  }

  &[hidden] {
    display: none;
  }

  &--fade-in {
    @keyframes form-status-fade-in {
      from {
        max-height: 0;
      }
      to {
        max-height: calc(var(--input-height) * 8);
      }
    }
    overflow: hidden;
    max-height: 0;
    animation: form-status-fade-in 2s ease-out 400ms forwards;
  }

  @include IS_IE {
    &__shell > .dnb-icon {
      border-width: 1px;
    }
  }
}
