/*
 * FormStatus component
 *
 */

:root {
  --form-status-radius: 0.25rem;
}

.dnb-form-status {
  display: flex;

  opacity: 1;

  transition: height 400ms var(--easing-default),
    opacity 400ms var(--easing-default), margin 400ms var(--easing-default),
    padding 400ms var(--easing-default);

  &--hidden {
    will-change: height, opacity, margin, padding;

    width: 0;
    height: 0;

    opacity: 0;
  }
  &--is-animating {
    overflow: hidden; // because of animation
    width: auto;
  }
  &--disappear,
  &--hidden {
    margin: 0 !important;
    padding: 0 !important;
  }

  &__shell {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: inherit;

    border-radius: var(--form-status-radius);
  }

  &__text {
    padding: 0.625rem 1rem;

    cursor: text;
    button & {
      cursor: inherit;
    }
    color: inherit;
    line-height: var(--line-height-small);
    font-size: var(--font-size-small);

    .dnb-anchor {
      font-size: inherit;
    }

    white-space: normal;
  }

  .dnb-icon + &__text {
    padding-left: 0.5rem;
  }

  &__shell > .dnb-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0.3333333em 0.3333333em 0.3333333em 0.6666666em;
  }

  // Large
  &__size--large &__text {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }
  &__size--large &__shell > .dnb-icon {
    margin-top: 0.6666666em;
    margin-bottom: 0.6666666em;
  }

  // This would be a "real" large sizing
  // &__size--large &__text {
  //   padding: 1rem 1.5rem;
  // }
  // &__size--large .dnb-icon + &__text {
  //   padding-left: 1rem;
  // }
  // &__size--large &__shell > .dnb-icon {
  //   margin: 0.6666666em 0.3333333em 0.6666666em 0.9999999em;
  // }

  // Stretch support
  &--stretch {
    flex-grow: 1;
  }
  &--stretch &__shell {
    width: 100%;
  }
  &--stretch &__text {
    max-width: 47rem;
  }

  &[hidden] {
    display: none;
  }

  &--no-animation,
  html[data-visual-test] & {
    transition-duration: 1ms !important;
  }

  // &__animation--fade-in {
  //   @keyframes form-status-fade-in {
  //     from {
  //       max-height: 0;
  //     }
  //     to {
  //       max-height: calc(var(--input-height) * 8);
  //     }
  //   }
  //   overflow: hidden;
  //   max-height: 0;
  //   animation: form-status-fade-in 2s ease-out 400ms forwards;
  // }

  @include IS_IE {
    &__shell > .dnb-icon {
      border-width: 1px;
    }
  }
}
