/*
 * FormStatus component
 *
 */

:root {
  --form-status-radius: 0.25rem;
}

.dnb-form-status {
  display: flex;

  &__shell {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    min-width: inherit;

    border-radius: var(--form-status-radius);
  }

  &__text {
    padding: 0.625rem 1rem;
    color: inherit;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);

    white-space: normal;

    cursor: text;

    .dnb-anchor {
      font-size: inherit;
    }
  }

  .dnb-icon + &__text {
    padding-left: 0.5rem;
  }

  &__shell > .dnb-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.3333333em 0.3333333em 0.3333333em 0.6666666em;
  }

  // Large
  &__size--large &__text {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }
  &__size--large &__shell > .dnb-icon {
    margin-top: 0.6666666em;
    margin-bottom: 0.6666666em;
  }

  // This would be a "real" large sizing
  // &__size--large &__text {
  //   padding: 1rem 1.5rem;
  // }
  // &__size--large .dnb-icon + &__text {
  //   padding-left: 1rem;
  // }
  // &__size--large &__shell > .dnb-icon {
  //   margin: 0.6666666em 0.3333333em 0.6666666em 0.9999999em;
  // }

  &[hidden] {
    display: none;
  }

  &__animation--fade-in {
    @keyframes form-status-fade-in {
      from {
        max-height: 0;
      }
      to {
        max-height: calc(var(--input-height) * 8);
      }
    }
    max-height: 0;
    overflow: hidden;
    animation: form-status-fade-in 2s ease-out 400ms forwards;
  }

  @include IS_IE {
    &__shell > .dnb-icon {
      border-width: 1px;
    }
  }
}
