@import '../../../../style/core/utilities.scss';

.dnb-forms-summary-list.dnb-dl {
  &:not(.dnb-dl__layout--horizontal) {
    & .dnb-dt,
    & > .dnb-dd > .dnb-dl,
    &:not([class*='dnb-space']) > .dnb-dd > .dnb-dl {
      margin: 0;
    }

    .dnb-dt:empty,
    .dnb-dd:empty {
      display: none;
    }

    &:not(.dnb-dl__layout--grid) > .dnb-dd {
      margin-bottom: var(--spacing-medium);

      // Add support for using animated Form.Visibility in a SummaryList (VisibilityWrapper).
      transition: margin-bottom 300ms var(--easing-default);

      &:last-of-type,
      &:has(~ .dnb-dt:empty ~ .dnb-dd:empty) {
        margin-bottom: 0;
      }
    }
  }
}

.dnb-forms-value-block {
  display: block;
  font-size: var(--font-size-basis);

  &:not(#{&}__composition--horizontal) &__content {
    display: block;
  }

  &--inline:not([class*='__composition']) {
    display: inline-block;
    font-size: inherit;
  }

  &__label,
  &__label strong {
    font-weight: var(--font-weight-medium);
  }
  &__label {
    & strong:has(+ .dnb-help-button),// To support dt > strong or dt > span > strong
    &__content:has(+ .dnb-help-button) {
      margin-right: 0.5rem;
    }
  }

  &__help {
    display: flex;
    flex-flow: column;

    .dnb-section {
      margin-bottom: 0.5rem;

      & > .dnb-p--lead {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__placeholder {
    color: var(--color-black-80);
  }

  &--max-width {
    &-stretch {
      width: 100%;
    }
    @include allAbove(x-small) {
      &-small {
        max-width: var(--forms-field-width--small);
      }
      &-medium {
        max-width: var(--forms-field-width--medium);
      }
      &-large {
        max-width: var(--forms-field-width--large);
      }
    }
  }

  // WHen used in a SummaryList, the height-animation will be a span,
  // so we need display: block or flex to make it work.
  span.dnb-height-animation {
    display: block;
  }

  // Composition block
  &__composition--horizontal &__content {
    display: flex;
    flex-flow: row;
    row-gap: var(--row-gap, var(--spacing-medium));
    column-gap: var(--column-gap, 0);

    &--gap-none {
      --column-gap: 0;
    }
    &--gap-xx-small {
      --column-gap: var(--spacing-xx-small);
    }
    &--gap-x-small {
      --column-gap: var(--spacing-x-small);
    }
    &--gap-small {
      --column-gap: var(--spacing-small);
    }
    &--gap-medium {
      --column-gap: var(--spacing-medium);
    }
    &--gap-large {
      --column-gap: var(--spacing-large);
    }

    @include allAbove(x-small) {
      align-items: flex-start;
    }
    @include allBelow(x-small) {
      &:not(:has(.dnb-forms-value-block__label)) {
        --row-gap: var(--spacing-x-small);
        flex-flow: row wrap;
      }
      flex-flow: column;
    }

    /* stylelint-disable */
    & > .dnb-dd,
    & > .dnb-dt,
    & > .dnb-dl,
    &:not([class*='dnb-space']) > .dnb-dl {
      margin: 0;
    }
    & > .dnb-dl > .dnb-dd {
      margin-bottom: 0;
    }
    /* stylelint-enable */
  }
}
