/*
* Textarea theme
*
*/

.dnb-textarea {
  --textarea-border-radius--focus: 1.5rem;

  &__textarea {
    // prevents clipping through rounded corners that appear on focus
    background-color: transparent;
  }

  &__state {
    transition: border-radius 0.25s ease-out;
  }

  &__resize--medium &__shell::after {
    opacity: 0.1;
  }
}
