/*
* Textarea theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-textarea {
  &__textarea {
    color: var(--color-black);
    background-color: var(--textarea-background-color);

    ::selection {
      background-color: var(--color-mint-green);
      color: var(--color-black);
      text-shadow: none;
    }
  }

  &__placeholder {
    color: var(--color-black-55);
  }

  &__textarea:not([disabled]):not(#{&}--disabled):focus ~ &__state,
  &__textarea:not([disabled]):not(#{&}--disabled):hover ~ &__state {
    box-shadow: 0 0 0 0.125rem var(--color-emerald-green);
  }

  // We may enable this in future – right now it's unclear
  // &__textarea:not([disabled]):not(#{&}--disabled):focus ~ &__placeholder,
  // &__textarea:not([disabled]):not(#{&}--disabled):hover ~ &__placeholder {
  //   color: var(--color-black);
  // }

  // disabled
  &--disabled &__textarea,
  &__textarea[disabled] {
    color: var(--color-black-55);
    background-color: var(--color-black-3);
  }

  &--disabled &__state,
  &__textarea[disabled] ~ &__state {
    box-shadow: 0 0 0 0.0625rem var(--color-black-55);
    background-color: var(--color-black-3);
  }

  // with status_state = "error"
  &__status--error:not(#{&}--focus)
    &__textarea:not([disabled]):not(#{&}--disabled),
  &__status--error:not(#{&}--focus)
    &__textarea:not([disabled]):not(#{&}--disabled):hover {
    color: var(--color-fire-red);
  }
  &__status--error:not(#{&}--focus)
    &__textarea:not([disabled]):not(#{&}--disabled)
    ~ &__state {
    @include fakeBorder(var(--color-fire-red));
  }
  &__status--error:not(#{&}--focus)
    &__textarea:not([disabled]):not(#{&}--disabled):hover
    ~ &__state {
    @include fakeBorder(var(--color-fire-red), 0.125rem);
  }
}
