/*
* Textarea theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --textarea-rows: 2;
  --textarea-text-color: var(--color-sea-green);
  --textarea-text-color--focus: var(--color-sea-green);
  --textarea-text-color--changed: var(--color-emerald-green);
  --textarea-text-color--disabled: var(--color-sea-green-30);
  --textarea-background-color: var(--color-white);
  --textarea-background-color--focus: var(--color-white);
  --textarea-background-color--changed: var(--color-white);
  --textarea-background-color--disabled: var(--color-mint-green-12);
}

@mixin textareaTheme() {
  border-radius: 0.5rem; // will be actually 1rem/16px

  &,
  .dnb-textarea--virgin &,
  .dnb-textarea--initial & {
    color: var(--textarea-text-color);
    background-color: var(--textarea-background-color);
  }

  // content changed
  .dnb-textarea--dirty & {
    // Background color of textarea when it has content
    color: var(--textarea-text-color--changed);
    background-color: var(--textarea-background-color--changed);
  }

  // hover and focus
  .dnb-textarea--focus &,
  &:focus /* for the HTML element */,
  &:hover {
    outline: none;
    &:not([disabled]):not(#{&}--disabled) {
      color: var(--textarea-text-color--focus);
      background-color: var(--textarea-background-color--focus);
      &:not(.status--error) /* for the HTML element */ {
        box-shadow: var(--textarea-border-inner),
          0 0 0 calc(var(--textarea-padding-width) + #{$pixel2})
            var(--color-emerald-green);

        @include IS_IE {
          box-shadow: 0 0 0 #{$pixel2} var(--color-emerald-green);
        }

        // Edge fix
        @include IS_EDGE {
          box-shadow: 0 0 0 #{$pixel2} var(--color-emerald-green);
        }
      }
    }
  }

  // disabled
  &[disabled] /* for the HTML element */,
  .dnb-textarea--disabled & {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    color: var(--textarea-text-color--disabled);
    background-color: var(--textarea-background-color--disabled);

    box-shadow: 0 0 0 var(--textarea-padding-width)
        var(--color-mint-green-12),
      0 0 0 calc(var(--textarea-padding-width) + #{$pixel1})
        var(--color-sea-green-30);

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  // only fot the HTML element textarea
  &.status--error /* for the HTML element */,
  .dnb-textarea__status--error/* for the HTML element */ {
    box-shadow: var(--textarea-border-inner),
      0 0 0 calc(var(--textarea-padding-width) + #{$pixel2})
        var(--color-fire-red);

    @include IS_IE {
      box-shadow: 0 0 0 #{$pixel1} var(--color-fire-red);
    }

    // Edge fix
    @include IS_EDGE {
      box-shadow: 0 0 0 #{$pixel1} var(--color-fire-red);
    }
  }

  ::selection {
    background-color: var(--color-mint-green);
    color: var(--textarea-text-color--focus);
    text-shadow: none;
  }

  @include IS_IE {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    box-shadow: 0 0 0 #{$pixel1} var(--color-sea-green);
  }

  // Edge fix
  @include IS_EDGE {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    box-shadow: 0 0 0 #{$pixel1} var(--color-sea-green);
  }
}

.dnb-textarea {
  &__textarea {
    @include textareaTheme();
  }

  &__placeholder {
    color: var(--textarea-text-color);

    // Required for line-clamp
    display: -webkit-box;
    -webkit-box-orient: vertical;

    // Limit the text block to two lines
    -webkit-line-clamp: var(--textarea-rows, 2);
  }

  // with status_state = "error"
  &__status--error:not(#{&}--focus) &__textarea {
    &,
    &:not(#{&}--disabled):hover {
      box-shadow: var(--textarea-border-inner),
        0 0 0 calc(var(--textarea-padding-width) + #{$pixel2})
          var(--color-fire-red);

      @include IS_IE {
        box-shadow: 0 0 0 #{$pixel2} var(--color-fire-red);
      }

      // Edge fix
      @include IS_EDGE {
        box-shadow: 0 0 0 #{$pixel2} var(--color-fire-red);
      }
    }
  }

  // hide placeholder on focus
  &--has-content &__textarea ~ &__placeholder,
  &--focus &__textarea:not([disabled]):not([readonly]) ~ &__placeholder {
    display: none;
  }
}

textarea.dnb-textarea {
  @include textareaTheme();
}
