/*
* Textarea theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --textarea-text-color: var(--color-sea-green);
  --textarea-text-color--focus: var(--color-sea-green);
  --textarea-text-color--changed: var(--color-emerald-green);
  --textarea-text-color--disabled: var(--color-sea-green-alt-30);
  --textarea-background-color: var(--color-white);
  --textarea-background-color--focus: var(--color-white);
  --textarea-background-color--changed: var(--color-white);
  --textarea-background-color--disabled: var(--color-mint-green-12);
  // --textarea-border-color: var(--color-sea-green-alt);
  // --textarea-border-color--focus: var(--color-emerald-green);
  // --textarea-border-color--changed: var(--color-sea-green-alt);
  // --textarea-border-color--disabled: var(--color-sea-green-alt-30);
}

@mixin textareaTheme() {
  &,
  &--virgin,
  &--initial {
    color: var(--textarea-text-color);
    background-color: var(--textarea-background-color);
  }

  &--dirty {
    // Background color of textarea when it has content
    color: var(--textarea-text-color--changed);
    background-color: var(--textarea-background-color--changed);
  }

  &[disabled],
  &--disabled {
    color: var(--textarea-text-color--disabled);
    background-color: var(--textarea-background-color--disabled);
  }

  &:not([disabled]):not(#{&}--disabled):hover,
  &--focus {
    color: var(--textarea-text-color--focus);
    background-color: var(--textarea-background-color--focus);
  }

  ::selection {
    background-color: var(--color-mint-green);
    color: var(--textarea-text-color--focus);
    text-shadow: none;
  }
}

.dnb-textarea {
  &__shell {
    // background-color: var(--textarea-background-color);
    border: none;
    color: inherit;
    background-color: inherit;
  }

  // with status_state = "error"
  // &__status--error &__shell:not(#{&}--focus) {
  //   &,
  //   &:not(#{&}--disabled):hover {
  //     // In case we want to have a larger border size on the textarea
  //     @include fakeBorder(var(--color-cherry-red), 0.125rem);
  //   }
  // }

  @include textareaTheme();
  textarea#{&}__textarea {
    color: inherit;
    background-color: inherit;
  }

  // IE11 fallback - hide placeholder on focus
  // &__textarea:not([disabled]):not([readonly]):focus
  //   ~ .dnb-textarea__placeholder {
  //   display: none;
  // }

  // hide placeholder on focus
  // &__shell#{&}--focus[data-has-content='false']
  //   &__textarea:not([disabled]):not([readonly])
  //   .dnb-textarea__placeholder {
  //   display: none;
  // }
}

textarea.dnb-textarea {
  @include textareaTheme();
}
