/*
 * HelpButton component
 *
 */

@use '../../button/style/themes/button-mixins.scss' as *;
@use './dnb-help-button-inline.scss' as *;

.dnb-help-button {
  & .dnb-button__bounding {
    transform: scale(1.5);
  }
}
