/*
* Dropdown theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --dropdown-text-color: var(--color-emerald-green);
}

@mixin dropdownBorderColor($color) {
  @include fakeBorder($color, $pixel2, null, !important);
}

.dnb-dropdown {
  color: var(--dropdown-text-color);

  // button
  &__trigger {
    color: var(--dropdown-text-color);
    @include hover() {
      color: var(--dropdown-text-color);
    }
  }

  // NB: We may use this medium font in future
  // .dnb-drawer-list--is-popup &__list {
  //   .dnb-drawer-list__option__inner {
  //     font-weight: var(--font-weight-medium);
  //   }
  // }

  // error status
  &__status--error:not(#{&}--opened) &__trigger {
    @include dropdownBorderColor(var(--color-fire-red));
    @include hover() {
      @include dropdownBorderColor(var(--color-fire-red));
      & .dnb-dropdown__icon .dnb-icon {
        color: var(--color-fire-red);
      }
    }
  }
  &__status--error:not(#{&}--opened) &__trigger,
  &__status--error:not(#{&}--opened) &__icon {
    color: var(--color-fire-red);
  }

  // ajust the form-status to the inner border for 2px
  > .dnb-form-status {
    transform: translateY(-0.4375rem);
  }
}
