/*
* Dropdown theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --dropdown-text-color: var(--color-emerald-green);
  --dropdown-text-color--disabled: var(--color-sea-green-alt-30);
  --dropdown-border-color: var(--color-sea-green-alt);
  --dropdown-border-color--selected: var(--color-emerald-green);
  --dropdown-options-border-radius: 0.5rem;
  --dropdown-option-color: var(--color-black-80);
  --dropdown-option-color--hover: var(--color-sea-green);
  --dropdown-option-background-color: var(--color-white);
  --dropdown-option-background-color--hover: var(--color-mint-green-12);
  --dropdown-option-color--selected: var(--color-white);
  --dropdown-option-background-color--selected: var(--color-emerald-green);
  --dropdown-option-border-width: 1px;
  --dropdown-option-border-color: var(--color-mint-green-25);
}

@mixin dropdownBorderColor($color) {
  @include fakeBorder($color, 1px, null, !important);
  border-color: $color;
}

.dnb-dropdown {
  color: var(--dropdown-text-color);

  // ul element
  &__options {
    border: none;
    background-color: transparent;

    @include defaultDropShadow();

    border-radius: var(--dropdown-options-border-radius);
  }

  // NB: his will remove the triangle!
  &--scroll &__options {
    max-height: 20rem;
    overflow-y: scroll;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
  }

  // li element inner
  &__option {
    padding: $focusRingWidth; // to make space for the fakeFocus
    color: var(--dropdown-option-color);
    background-color: var(--dropdown-option-background-color);
    border-bottom: var(--dropdown-option-border-width) solid
      var(--dropdown-option-border-color);

    &__inner {
      padding-right: 2rem;
      background-color: var(--dropdown-option-background-color);
    }
    // &__item:first-of-type {
    //   font-weight: var(--font-weight-medium);
    // }
    // &__item:nth-of-type(2) {
    //   font-weight: var(--font-weight-medium);
    // }

    @include hover() {
      background-color: var(--dropdown-option-background-color--hover);
      .dnb-dropdown__option__inner {
        color: var(--dropdown-option-color--hover);
        background-color: var(--dropdown-option-background-color--hover);
      }
    }

    // for keyboard usage
    &--active {
      background-color: var(--dropdown-option-background-color--selected);
      .dnb-dropdown__option__inner {
        @include fakeBorder(var(--dropdown-border-color--selected), 2px);
      }
    }

    &--selected {
      color: var(--dropdown-option-color--selected);
      background-color: var(--dropdown-option-background-color--selected);
      .dnb-dropdown__option__inner {
        color: inherit;
        background-color: inherit;
      }
      @include hover() {
        color: var(--dropdown-option-color--selected);
        background-color: var(
          --dropdown-option-background-color--selected
        );
        .dnb-dropdown__option__inner {
          color: inherit;
          background-color: inherit;
        }
      }

      display: flex;
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        right: 1rem;

        align-self: center;
        justify-content: flex-end;

        width: 1rem;
        height: 1rem;

        background-size: cover;

        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+ICA8cGF0aCAgICBmaWxsPSIjRTlGOEY0IiAgICBkPSJNMyA4LjhhLjc1Ljc1IDAgMSAwLTEuMjIuODZMMyA4Ljc5em0xLjg0IDMuOWwuNjMtLjQxdi0uMDFoLS4wMWwtLjYyLjQyem0xLjcxLjA1bC0uNTktLjQ2di4wMWwuNTkuNDV6bTguNDMtOS40NWEuNzUuNzUgMCAwIDAtMS4xOC0uOTNsMS4xOC45M3pNMS43OCA5LjY2bDIuNDUgMy40OCAxLjIzLS44N0wzIDguOGwtMS4yMy44N3ptMi40NCAzLjQ2Yy4zMi40OC44Ni43OCAxLjQ0LjhsLjA1LTEuNWEuMy4zIDAgMCAxLS4yNC0uMTNsLTEuMjUuODN6bTEuNDQuOGExLjggMS44IDAgMCAwIDEuNDktLjcxbC0xLjItLjlhLjMuMyAwIDAgMS0uMjQuMWwtLjA1IDEuNXptMS40OC0uN2w3Ljg0LTkuOTItMS4xOC0uOTMtNy44NCA5LjkyIDEuMTguOTN6Ii8+PC9zdmc+);
      }
    }

    &:first-of-type,
    &--active:first-of-type &__inner {
      border-radius: var(--dropdown-options-border-radius)
        var(--dropdown-options-border-radius) 0 0;
    }
    &:last-of-type,
    &--active:last-of-type &__inner {
      border-radius: 0 0 var(--dropdown-options-border-radius)
        var(--dropdown-options-border-radius);
      border-bottom: none;
    }
  }

  // button
  &__trigger {
    background-color: var(--color-white);
    border-color: var(--dropdown-border-color);
  }
  &--opened &__trigger {
    @include fakeBorder();
    border-color: var(--dropdown-border-color--selected);
  }

  // error status
  &__status--error:not(.dnb-dropdown--opened) &__trigger {
    @include dropdownBorderColor(var(--color-cherry-red));
  }
  &__status--error:not(.dnb-dropdown--opened) &__icon {
    color: var(--color-cherry-red);
  }
  &__status--error:not(.dnb-dropdown--opened) &__input {
    @include hover() {
      & ~ .dnb-dropdown__trigger {
        @include dropdownBorderColor(var(--color-cherry-red));
      }
      & ~ .dnb-dropdown__trigger .dnb-dropdown__icon .dnb-icon {
        color: var(--color-cherry-red);
      }
    }
  }

  &__triangle::before {
    border: none;
    background-color: var(--color-white);
    @include defaultDropShadow();
  }
  &__option--selected &__triangle::before {
    background-color: var(--dropdown-option-background-color--selected);
  }
  &__option:not(.dnb-dropdown__option--selected):hover
    &__triangle::before {
    background-color: var(--dropdown-option-background-color--hover);
  }

  &__input[disabled] ~ &__icon,
  &__input[disabled] ~ &__trigger {
    border-color: var(--dropdown-text-color--disabled);
    color: var(--dropdown-text-color--disabled);
  }

  // input element
  /* stylelint-disable-next-line */
  &__input {
    @include hover() {
      & ~ .dnb-dropdown__trigger .dnb-dropdown__text,
      & ~ .dnb-dropdown__trigger .dnb-dropdown__icon .dnb-icon {
        color: var(--dropdown-text-color);
      }
      & ~ .dnb-dropdown__trigger {
        border-color: var(--dropdown-border-color--selected);
        @include fakeBorder();
      }
    }
  }
}
