@use '../../../../../style/core/utilities.scss';

.dnb-forms-field-date-of-birth {
  &__month {
    .dnb-forms-field-block__contents {
      width: 10.75rem;
      @include utilities.allBelow(small) {
        width: 8rem;
      }
    }
  }
}
