@import '../../../../../style/core/utilities.scss';

.dnb-forms-field-date-of-birth {
  &__month {
    .dnb-forms-field-block__contents {
      width: 10rem;
      @include allBelow(small) {
        width: 8rem;
      }
    }
  }
}
