/*
* Textarea component
*
*/

@import './themes/dnb-textarea-theme-ui.scss';

:root {
  // --textarea-vertical-correction: 0.25rem; // for chromium browsers
  --textarea-padding-width: 0.5rem;
  // --textarea-easing: #{$defaultEasing};
}

@mixin textareaStyleCommon() {
  margin: 0;
  padding: 0 var(--textarea-padding-width);

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);

  // Before v4.15 we had
  // padding-top: calc(
  //   var(--textarea-padding-width) - var(--textarea-vertical-correction)
  // );
  // padding-bottom: var(--textarea-vertical-correction);

  @include IS_IE {
    padding: var(--textarea-padding-width);
  }

  // Edge fix
  @include IS_EDGE {
    padding: var(--textarea-padding-width);
  }
}
@mixin textareaStyle() {
  border: none;
  border-radius: 1px;

  box-shadow: 0 0 0 var(--textarea-padding-width) var(--color-white),
    0 0 0 calc(var(--textarea-padding-width) + 0.0625rem)
      var(--color-sea-green);

  @include textareaStyleCommon();
}

.dnb-textarea {
  display: inline-flex;

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &__inner {
    display: inline-flex;
    flex-direction: column;

    margin: var(--textarea-padding-width);
  }

  &__shell {
    display: inline-flex;
    position: relative;

    // because of inheritance, we set the font-size and line-height here as well
    font-size: var(--font-size-basis);
  }

  &__row {
    display: inline-flex;
  }

  &__suffix {
    padding-left: 1.5rem;
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    overflow: hidden;
    width: 100%; // to get overflow working properly
    height: 100%; // to get overflow working properly

    @include textareaStyleCommon();
  }

  &__textarea {
    @include textareaStyle();
  }

  &__placeholder,
  &__textarea {
    text-align: left;
  }

  &__align--right &__textarea,
  &__align--right &__placeholder {
    text-align: right;
  }

  &__autoresize &__textarea {
    resize: none;

    // In case we want animation
    // will-change: height;
    // transition: height 400ms var(--textarea-easing);
  }

  // hide placeholder on focus
  &--has-content &__textarea ~ &__placeholder,
  &--focus &__textarea:not([disabled]):not([readonly]) ~ &__placeholder {
    opacity: 0.5;
  }

  &__inner > .dnb-form-status {
    order: 2;
    margin: 1rem 0 0 calc(1px - 1px - var(--textarea-padding-width));
  }

  &:not(#{&}--vertical) .dnb-form-label {
    margin-top: 0.5rem;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &[class*='__status'] {
    align-items: flex-start;
    > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }
  @include formLabelWrap();

  // make the input full width
  &--stretch {
    display: flex;
  }
  &--stretch & {
    &__inner {
      flex: 1;
    }
    &__shell,
    &__textarea {
      width: 100%;
    }
  }

  .dnb-responsive-component & {
    @media screen and (max-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 0.5rem;

      > .dnb-form-label {
        margin-bottom: 0.5rem;
      }
    }
  }

  &.dnb-skeleton &__inner {
    margin: 0;

    &::before,
    &::after {
      border-radius: 1rem;
    }
  }
  &.dnb-skeleton &__inner &__shell {
    margin-bottom: calc(var(--textarea-padding-width) * 2);
    margin-right: calc(var(--textarea-padding-width) * 2);
  }
  &.dnb-skeleton &__textarea {
    visibility: hidden;
  }

  @include IS_IE {
    &__inner {
      margin: 0;
    }
    .dnb-form-row--horizontal &,
    &--vertical &__inner,
    &:not(#{&}--stretch) {
      flex: none;
    }
  }
}

textarea.dnb-textarea {
  display: inline-block;
  margin: var(--textarea-padding-width);

  @include textareaStyle();
  @include textareaTheme();
}
