/*
* Textarea component
*
*/

@import './themes/dnb-textarea-theme-ui.scss';

:root {
  --textarea-vertical-correction: 0.25rem; // for chromium browsers
  --textarea-padding-width: 0.5rem;
  --textarea-border-inner: 0 0 0 var(--textarea-padding-width)
    var(--color-white);
}

@mixin textareaStyleCommon() {
  padding: var(--textarea-padding-width);
  padding-top: calc(
    var(--textarea-padding-width) - var(--textarea-vertical-correction)
  );
  padding-bottom: var(--textarea-vertical-correction);

  line-height: 1.5rem;
}
@mixin textareaStyle() {
  border: none;
  border-radius: 1px;

  box-shadow: var(--textarea-border-inner),
    0 0 0 calc(var(--textarea-padding-width) + 0.0625rem)
      var(--color-sea-green-alt);

  @include textareaStyleCommon();
}

.dnb-textarea {
  display: inline-flex;
  flex-direction: column;

  margin: var(--textarea-padding-width);

  &__shell {
    display: inline-flex;
    position: relative;
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    overflow: hidden;
    width: 100%; // to get overflow working properly
    height: 100%; // to get overflow working properly

    @include textareaStyleCommon();
  }

  &__textarea {
    @include textareaStyle();
  }

  &__placeholder,
  &__textarea {
    text-align: left;
  }

  &__align--right &__textarea,
  &__align--right &__placeholder {
    text-align: right;
  }

  // hide placeholder on focus
  &--has-content &__textarea ~ &__placeholder,
  &--focus &__textarea:not([disabled]):not([readonly]) ~ &__placeholder {
    opacity: 0.5;
  }

  &__form-status .dnb-form-status {
    margin: 1rem 0 0 calc(1px - 1px - var(--textarea-padding-width));
  }
}

textarea.dnb-textarea {
  display: inline-block;
  margin: var(--textarea-padding-width);

  @include textareaStyle();
  @include textareaTheme();

  label + &[class*='__form-status'] {
    vertical-align: baseline;
  }
}

.dnb-form-group {
  // for vertical labeling
  &__position--vertical {
    // To fake, that we actuallyhave 8px between
    > .dnb-textarea {
      transform: translateY(2px);
    }
  }

  // for hoizontal labeling
  &,
  &__position--hoizontal {
    // To fake, that the first line is aligned with the label
    &:not(.dnb-form-group__position--vertical) {
      > .dnb-textarea {
        transform: translateY(
          calc(1px - 1px - var(--textarea-vertical-correction))
        );
        margin-top: 0;
      }
    }
  }
}
