/*
* Textarea component
*
*/

@import './themes/dnb-textarea-theme-ui.scss';

:root {
  // --textarea-vertical-correction: 0.25rem; // for chromium browsers
  --textarea-padding-width: 0.5rem;
  --textarea-border-inner: 0 0 0 var(--textarea-padding-width)
    var(--color-white);
}

@mixin textareaStyleCommon() {
  margin: 0;
  padding: 0 var(--textarea-padding-width);

  // Before v4.15 we had
  // padding-top: calc(
  //   var(--textarea-padding-width) - var(--textarea-vertical-correction)
  // );
  // padding-bottom: var(--textarea-vertical-correction);

  /* IE11 fix */
  @media screen and (-ms-high-contrast: none) {
    padding: var(--textarea-padding-width);
  }

  // Edge fix
  @supports (-ms-ime-align: auto) {
    padding: var(--textarea-padding-width);
  }

  line-height: var(--line-height-basis);
}
@mixin textareaStyle() {
  border: none;
  border-radius: 1px;

  box-shadow: var(--textarea-border-inner),
    0 0 0 calc(var(--textarea-padding-width) + 0.0625rem)
      var(--color-sea-green-alt);

  @include textareaStyleCommon();
  @include numberFeature(lining-nums, lnum);
}

.dnb-textarea {
  display: inline-flex;
  align-items: baseline;

  &__inner {
    display: inline-flex;
    flex-direction: column;

    margin: var(--textarea-padding-width);
  }

  &__shell {
    display: inline-flex;
    position: relative;
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    overflow: hidden;
    width: 100%; // to get overflow working properly
    height: 100%; // to get overflow working properly

    @include textareaStyleCommon();
  }

  &__textarea {
    @include textareaStyle();
  }

  &__placeholder,
  &__textarea {
    text-align: left;
  }

  &__align--right &__textarea,
  &__align--right &__placeholder {
    text-align: right;
  }

  // hide placeholder on focus
  &--has-content &__textarea ~ &__placeholder,
  &--focus &__textarea:not([disabled]):not([readonly]) ~ &__placeholder {
    opacity: 0.5;
  }

  &__inner > .dnb-form-status {
    order: 2;
    margin: 1rem 0 0 calc(1px - 1px - var(--textarea-padding-width));
  }

  &[class*='__status'] {
    align-items: flex-start;
    > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-start;
  }

  // make the input full width
  &--stretch {
    display: flex;
  }
  &--stretch & {
    &__inner {
      flex: 1;
    }
    &__shell,
    &__textarea {
      width: 100%;
    }
  }

  @media (max-width: 40em) {
    flex-direction: column;
    align-items: flex-start;
    > .dnb-form-label {
      margin-bottom: 0.5rem;
    }
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    &__inner {
      margin: 0;
    }
    .dnb-form-row--horizontal &,
    &--vertical &__inner,
    &:not(#{&}--stretch) {
      flex: none;
    }
  }
}

textarea.dnb-textarea {
  display: inline-block;
  margin: var(--textarea-padding-width);

  @include textareaStyle();
  @include textareaTheme();
}
