/*
* Textarea component
*
*/

@import './themes/dnb-textarea-theme-ui.scss';

:root {
  --textarea-vertical-correction: 0.25rem; // for chromium browsers
  --textarea-padding-width: 0.5rem;
  --textarea-border-inner: 0 0 0 var(--textarea-padding-width)
    var(--color-white);
}

@mixin textareaStyle() {
  display: block;

  margin: var(--textarea-padding-width);
  padding: var(--textarea-padding-width);
  padding-top: calc(
    var(--textarea-padding-width) - var(--textarea-vertical-correction)
  );
  padding-bottom: var(--textarea-vertical-correction);

  border: none;
  border-radius: 1px;

  line-height: 1.5rem;

  box-shadow: var(--textarea-border-inner),
    0 0 0 calc(var(--textarea-padding-width) + 0.0625rem)
      var(--color-sea-green-alt);

  /* IE11 fix */
  @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
    -ms-overflow-style: -ms-autohiding-scrollba;
    box-shadow: 0 0 0 0.0625rem var(--color-sea-green-alt);
  }

  &.status--error,
  .dnb-textarea__status--error {
    box-shadow: var(--textarea-border-inner),
      0 0 0 calc(var(--textarea-padding-width) + 0.125rem)
        var(--color-cherry-red);
  }
  @include hover(true) {
    &:not(.status--error) {
      box-shadow: var(--textarea-border-inner),
        0 0 0 calc(var(--textarea-padding-width) + 0.125rem)
          var(--color-emerald-green);

      /* IE11 fix */
      @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
        box-shadow: 0 0 0 0.125rem var(--color-emerald-green);
      }
    }
  }
  &:focus {
    outline: none;
    box-shadow: var(--textarea-border-inner),
      0 0 0 calc(var(--textarea-padding-width) + 0.125rem)
        var(--color-emerald-green);

    /* IE11 fix */
    @media screen and (-ms-high-contrast: active),
      (-ms-high-contrast: none) {
      box-shadow: 0 0 0 0.125rem var(--color-emerald-green);
    }
  }
  &[disabled] {
    user-select: none;

    // color: var(--color-sea-green-alt-30);
    // background-color: var(--color-mint-green-12);
    box-shadow: 0 0 0 var(--textarea-padding-width)
        var(--color-mint-green-12),
      0 0 0 calc(var(--textarea-padding-width) + 0.0625rem)
        var(--color-sea-green-alt-30);

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.dnb-textarea {
  &__shell {
    position: relative;
  }
  label + &[class*='__form-status'] {
    vertical-align: baseline;
  }

  textarea#{&}__textarea {
    @include textareaStyle();
  }

  // > .dnb-form-status {
  //   margin-top: 0.5rem;
  // }
}

textarea.dnb-textarea {
  @include textareaStyle();
  @include textareaTheme();
}
