/*
 * FieldsetDescription element
 *
 */

.dnb-fieldset-description {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;

  @include allAbove(medium) {
    flex-direction: row;
  }

  &__text {
    width: 100%;

    @include allAbove(medium) {
      margin-left: 1/3 * 100%;
      padding-left: 1rem;
    }
  }
}
