.dnb-form-iterate {
  &-block {
    --block-outline-color: var(--outline-color, var(--color-lavender));
    &--error:has(.dnb-form-status--error) {
      --block-outline-color: var(--color-fire-red);
    }

    // Because we need to use "keepInDOM"
    &:not(.dnb-height-animation--hidden) {
      display: flex;
      flex-direction: column;
    }

    &__inner {
      flex: 1;
      margin-bottom: 1.5rem;
      padding: 1rem;

      border-radius: 0.375rem;
      box-shadow: inset 0 0 0 2px var(--block-outline-color);

      transition: transform 400ms var(--easing-default) 50ms;
      transform: translateY(-2.5rem);

      .dnb-dl {
        margin-top: 0.5rem;
      }
      .dnb-dl dd {
        margin-bottom: 0;
      }
    }

    &.dnb-height-animation--is-visible &__inner {
      transform: translateY(-0.5rem);
    }
    &.dnb-height-animation--parallax &__inner {
      transform: translateY(0);
    }
  }

  &__element {
    outline: none; // for JavaSCript focus
  }

  & > &__element:has(> &-block) {
    // To make Animation not jump, we add "margin-bottom" in the inner element
    margin-top: 0;
  }
}
