// More styles are in "dnb-form-section.scss"

.dnb-forms-iterate {
  &__element {
    outline: none; // for JavaSCript focus
  }

  & > &__element:has(> .dnb-forms-section-block) {
    // To make Animation not jump,
    // we add "margin-bottom" in the inner element (.dnb-forms-section-block__inner).
    margin-top: 0;
  }

  // To make divider="line" visible (when given), we move it up.
  & > .dnb-hr.dnb-space__top--small {
    margin-top: calc(var(--spacing-small) * -1);
    margin-bottom: var(--spacing-small);
  }
}
