/*
 * ProgressIndicator component
 *
 */

:root {
  --progress-indicator-timing: cubic-bezier(0.5, 0, 0.5, 0.99);
  --progress-indicator-circular-circle: 88;
  --progress-indicator-circular-circle-offset--min: 88;
  --progress-indicator-circular-circle-offset--max: 1;
}

.dnb-progress-indicator {
  position: relative;
  display: inline-flex;

  &--vertical {
    flex-direction: column;
    align-items: center;
  }
  &--horizontal {
    justify-content: center;
  }

  // circular variant
  &__label {
    display: inline-flex;
    .dnb-p {
      align-self: center;
    }
  }
  @at-root .dnb-spacing & {
    .dnb-p,
    .dnb-p:not([class*='dnb-space']) {
      margin: 0;
    }
  }
  &--horizontal &__label {
    margin: 0 1rem;
  }
  &--vertical &__label {
    margin-top: 0.5rem;
  }

  // circular variant
  &__circular {
    position: relative;

    // default/basis size
    width: 2rem;
    height: 2rem;

    // since SVG is starting 90deg from top
    transform: rotate(-90deg);

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &__line {
      animation-duration: 2s;
      animation-delay: 200ms;
      animation-timing-function: var(--progress-indicator-timing);
      animation-iteration-count: infinite;
    }

    &__line.background {
      stroke-dashoffset: var(
        --progress-indicator-circular-circle-offset--max
      );
    }
    &__line.light {
      animation-name: progress-indicator-circular-line-light;
      stroke-dasharray: var(--progress-indicator-circular-circle),
        var(--progress-indicator-circular-circle);
      stroke-dashoffset: var(
        --progress-indicator-circular-circle-offset--max
      );
    }
    &__line.dark {
      animation-name: progress-indicator-circular-line-dark;
      stroke-dasharray: var(--progress-indicator-circular-circle),
        var(--progress-indicator-circular-circle);
      stroke-dashoffset: var(
        --progress-indicator-circular-circle-offset--min
      );
    }
    &__line.paused {
      animation-play-state: paused;
    }
    // for static progress-indicator animation
    &--has-progress-indicator &__line.dark {
      transition: stroke-dashoffset 600ms var(--progress-indicator-timing);
    }

    &__circle {
      stroke-linecap: round;
    }
    &__line.light &__circle {
      stroke: grey;
    }
    &__line.dark &__circle {
      stroke: var(--color-black);
    }
  }
  html[data-visual-test] &__circular__line {
    animation-duration: 0ms;
    animation-iteration-count: 0;
  }

  &:not(#{&}--no-animation),
  &--visible:not(#{&}--no-animation) {
    opacity: 0;
    animation: progress-indicator-fade-in 200ms ease-out 1 forwards;
  }
  &--complete:not(#{&}--no-animation):not(#{&}--visible) {
    animation: progress-indicator-fade-out 600ms ease-out 1 forwards;
  }

  @keyframes progress-indicator-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes progress-indicator-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@keyframes progress-indicator-circular-line-light {
  0% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--min
    );
  }
  50% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--min
    );
  }
  100% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--max
    );
  }
}

@keyframes progress-indicator-circular-line-dark {
  0% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--min
    );
  }
  50% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--max
    );
  }
  100% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--max
    );
  }
}
