/*
 * ProgressIndicator component
 *
 */

:root {
  --progress-indicator-timing: cubic-bezier(0.5, 0, 0.5, 0.99);
  --progress-indicator-circular-circle: 88;
  --progress-indicator-circular-circle-offset--min: 88;
  --progress-indicator-circular-circle-offset--max: 1;
}

.dnb-progress-indicator {
  position: relative;
  display: inline-flex;
  align-items: center;
  &--vertical {
    flex-direction: column;
  }
  &--horizontal {
    justify-content: center;
  }

  // circular variant
  &__label {
    display: inline-flex;
    .dnb-p {
      align-self: center;
    }
  }
  @at-root .dnb-spacing & {
    .dnb-p,
    .dnb-p:not([class*='dnb-space']) {
      margin: 0;
    }
  }
  &--horizontal &__label {
    margin: 0 1rem;
  }
  &--vertical &__label {
    margin-top: 0.5rem;
  }

  // circular variant
  &__circular {
    position: relative;

    // default/basis size
    width: 2rem;
    height: 2rem;

    // since SVG is starting 90deg from top
    transform: rotate(-90deg);

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &__line {
      animation-duration: 2s;
      animation-delay: 200ms;
      animation-timing-function: var(--progress-indicator-timing);
      animation-iteration-count: infinite;
    }

    &__line.background {
      stroke-dashoffset: var(
        --progress-indicator-circular-circle-offset--max
      );
    }
    &__line.light {
      animation-name: progress-indicator-circular-line-light;
      stroke-dasharray: var(--progress-indicator-circular-circle),
        var(--progress-indicator-circular-circle);
      stroke-dashoffset: var(
        --progress-indicator-circular-circle-offset--max
      );
    }
    &__line.dark {
      animation-name: progress-indicator-circular-line-dark;
      stroke-dasharray: var(--progress-indicator-circular-circle),
        var(--progress-indicator-circular-circle);
      stroke-dashoffset: var(
        --progress-indicator-circular-circle-offset--min
      );
    }
    &__line.paused {
      animation-play-state: paused;
    }
    // for static progress-indicator animation
    &--has-progress-indicator &__line.dark {
      transition: stroke-dashoffset 600ms var(--progress-indicator-timing);
    }

    &__circle {
      stroke-linecap: round;
    }
    &__line.light &__circle {
      stroke: grey;
    }
    &__line.dark &__circle {
      stroke: var(--color-black);
    }
  }

  // linear variant
  &__linear {
    position: relative;
    overflow: hidden;
    width: 100%;
    will-change: transform;

    // default/basis size
    height: 0.5rem;
    border-radius: 0.25rem;

    &__bar {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      transform-origin: left;
      border-radius: inherit;
    }

    &__bar-transition {
      transition: transform 0.2s linear;
    }

    &__bar1-animation {
      width: auto;
      animation: progress-indicator-linear-bar-1 2.1s
        cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }
    &__bar2-animation {
      width: auto;
      animation: progress-indicator-linear-bar-2 2.1s
        cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
    }
  }

  html[data-visual-test] &__circular__line {
    animation-duration: 0ms;
    animation-iteration-count: 0;
  }

  html[data-visual-test] &__bar-transition {
    transition: none;
  }

  &:not(#{&}--no-animation),
  &--visible:not(#{&}--no-animation) {
    opacity: 0;
    animation: progress-indicator-fade-in 200ms ease-out 1 forwards;
  }
  &--complete:not(#{&}--no-animation):not(#{&}--visible) {
    animation: progress-indicator-fade-out 600ms ease-out 1 forwards;
  }

  &--full-width {
    width: 100%;
    min-width: 1rem;
  }

  @keyframes progress-indicator-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes progress-indicator-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@keyframes progress-indicator-circular-line-light {
  0% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--min
    );
  }
  50% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--min
    );
  }
  100% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--max
    );
  }
}

@keyframes progress-indicator-circular-line-dark {
  0% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--min
    );
  }
  50% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--max
    );
  }
  100% {
    stroke-dashoffset: var(
      --progress-indicator-circular-circle-offset--max
    );
  }
}

@keyframes progress-indicator-linear-bar-1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes progress-indicator-linear-bar-2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
