/*
 * Stat Component
 *
 */

@import '../../../style/core/utilities.scss';

.dnb-stat {
  --stat-rating-active-color: currentcolor;
  --stat-rating-base-color: lightgray;

  &--tone-positive {
    color: var(--color-success-green);
  }

  &--tone-negative {
    color: var(--color-fire-red);
  }

  &__content {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    line-height: var(--line-height-basis--em);

    // Ensure numbers are not broken in the middle, but allow breaking between currency and amount, or between prefix/suffix and the amount.
    word-break: keep-all;
  }
  &__content-item {
    @include spaceReset();

    display: inline-flex;
    align-items: baseline;
    gap: 0.5rem;

    &--vertical {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
    }
  }

  &__label {
    &:not([class*='space__bottom']) {
      margin-bottom: 0.5rem;
    }

    &--plain {
      color: var(--color-black-80);
    }

    &--subtle {
      color: var(--color-black-55);
    }

    [class*='dnb-h--'],
    .dnb-spacing & [class*='dnb-h--'] {
      @include spaceReset();

      font-size: inherit;
      font-weight: inherit;
    }
  }

  &__root {
    @include spaceReset();

    display: grid;

    &--content-label {
      > .dnb-stat__label {
        order: 2;
      }

      > .dnb-stat__content-item {
        order: 1;
      }
    }
  }

  &__info {
    font-size: var(--font-size-small);
    line-height: var(--line-height-basis);

    &--plain {
      color: var(--color-black-80);
    }

    &--subtle {
      color: var(--color-black-55);
    }

    &--prominent {
      color: var(--color-black-80);
      font-weight: var(--font-weight-medium);
    }
  }

  &__text {
    font-size: var(--font-size-basis);
    line-height: var(--line-height-basis);
  }

  // Use "data-text" so Chrome does not copy the HTML as content, when pasting it in Outlook etc.
  .dnb-sr-only::before {
    content: attr(data-text);
  }

  &__amount,
  &__sign {
    font-weight: inherit;
  }
  &__sign {
    margin-inline-end: 0.2em;
  }
  &__currency {
    margin-inline-start: 0.2em;
  }
  &__prefix,
  &__suffix {
    white-space: normal;
  }

  &__trend {
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-small);
    line-height: var(--line-height-basis);
    font-weight: var(--font-weight-medium);

    border-radius: 0.5rem;

    &-content {
      display: inline-flex;
      align-items: center;
      gap: 0.125rem;
    }

    &--positive {
      color: var(--color-success-green);
      background-color: var(--color-mint-green-25);
    }

    &--negative {
      color: var(--color-fire-red);
      background-color: var(--color-fire-red-8);
    }

    &--neutral {
      color: var(--color-black-80);
      background-color: var(--color-mint-green-25);
    }
  }

  &__rating {
    display: inline-flex;
    align-items: center;

    &--stars {
      height: 1.5rem;
    }

    &--progressive {
      height: 1.5rem;
    }

    &-stars {
      display: inline-flex;
      gap: 0.125rem;
      align-items: flex-end;
    }

    &-star {
      position: relative;

      display: inline-block;
      flex-shrink: 0;

      width: 0.75rem;
      height: 0.75rem;
    }

    &-fill {
      position: absolute;
      inset: 0;
      width: var(--dnb-stat-rating-fill, 0%);
      overflow: hidden;
      pointer-events: none;
    }

    &-icon {
      display: block;
      width: 100%;
      height: 100%;

      path {
        fill: currentcolor;
      }

      &--base {
        color: var(--stat-rating-base-color);
      }

      &--active {
        color: var(--stat-rating-active-color);
      }
    }

    &-progressive {
      display: inline-flex;
      align-items: flex-end;
      gap: 0.125rem;
    }

    &-progressive-step {
      display: inline-block;
      width: 0.25rem;
      height: var(--dnb-stat-rating-step-height, 0.25rem);
      border-radius: 0.0625rem;
      background: linear-gradient(
        to right,
        var(--stat-rating-active-color) var(--dnb-stat-rating-step-fill, 0%),
        var(--stat-rating-base-color) var(--dnb-stat-rating-step-fill, 0%)
      );
    }
  }
}
