/*
 * Lists
 *
 */

@use '../../../style/elements/ui-spacing.scss';
@import './lists-mixins.scss';
@import '@dnb/eufemia/src/style/core/utilities.scss';

.dnb-ul {
  @include ulStyle();
}
.dnb-ol {
  @include olStyle();
}
.dnb-dl {
  @include dlStyle();
}
.dnb-spacing {
  .dnb-ul,
  .dnb-ol {
    @include listSpacing();
  }
  .dnb-dl {
    @include dlSpacing();
  }
}

.dnb-unstyled-list {
  @include unstyledList();
}
