/*
* Avatar theme
*
*/

.dnb-avatar {
  --color: var(--token-color-decorative-third-muted);

  &--primary {
    --background-color: var(--token-color-background-action-pressed);
  }

  &--secondary {
    --background-color: var(--token-color-background-action);
  }

  &--tertiary {
    --background-color: var(--token-color-decorative-first-subtle);
    --color: var(--token-color-text-action-pressed);
  }
}
