/*
* Avatar theme
*
*/

.dnb-avatar {
  --avatar-font-size--large: var(--font-size-x-large);
  --avatar-font-size--x-large: var(--font-size-x-large);

  &--size-large {
    font-weight: var(--sb-font-weight-basis);
    font-family: var(--font-family-heading);
  }

  &--size-x-large {
    font-weight: var(--sb-font-weight-basis);
    font-family: var(--font-family-heading);
  }

  &__group {
    --avatar-font-size-left--medium: var(--font-size-basis);
    --avatar-font-size-left--large: var(--sb-font-size-medium--plus);
    --avatar-font-size-left--x-large: var(--sb-font-size-medium--plus);
  }
}
