/*
* Avatar theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-avatar {
  color: var(--color-pistachio);

  &--primary {
    background-color: var(--color-emerald-green);
  }
  &--secondary {
    background-color: var(--color-sea-green);
  }
  &--tertiary {
    background-color: var(--color-mint-green);
    color: var(--color-emerald-green);
  }
}
