/*
* Radio component
*
*/

@import '../../../style/core/utilities.scss';

:root {
  --radio-width--medium: 1.5rem;
  --radio-height--medium: 1.5rem;
  --radio-width--large: 2rem;
  --radio-height--large: 2rem;
  --radio-border-width: 0.125rem;
  --radio-margin-right: 1rem;
  --radio-margin-bottom: 0.5rem;
}

.dnb-radio {
  display: inline-flex;
  flex-direction: column;

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
  }

  &__shell {
    position: relative;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--radio-width--medium);
    height: var(--radio-height--medium);
  }

  &__focus,
  &__button,
  &__dot {
    position: absolute;
    z-index: 4;
  }
  &__button {
    border: var(--radio-border-width) solid transparent;
  }
  &__focus {
    display: none;
    @include fakeFocus();
  }
  &__focus,
  &__button {
    width: calc(var(--radio-width--medium) - 0.25rem);
    height: calc(var(--radio-height--medium) - 0.25rem);
    border-radius: 50%;

    .dnb-radio--large & {
      width: calc(var(--radio-width--large) - 0.125rem);
      height: calc(var(--radio-height--large) - 0.125rem);
    }
  }
  &__dot {
    width: calc(var(--radio-width--medium) - 0.75rem);
    height: calc(var(--radio-height--medium) - 0.75rem);
    border-radius: 50%;

    .dnb-radio--large & {
      width: calc(var(--radio-width--large) - 0.875rem);
      height: calc(var(--radio-height--large) - 0.875rem);
    }
  }

  &__input {
    opacity: 0;

    position: absolute;
    top: auto;
    left: auto;
    z-index: 5;

    width: var(--radio-width--medium);
    height: var(--radio-height--medium);

    margin: 0;
    padding: 0;

    border: 0;
  }
  &--large &__input {
    width: var(--radio-width--large);
    height: var(--radio-height--large);
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  &__order {
    display: inline-flex;
    align-items: baseline; // TODO: do we need this anymore?

    .dnb-radio-group--column & {
      display: flex;
    }
  }

  &__row {
    display: inline-flex;
  }

  &__suffix {
    order: 3;

    // to be aligned to the label on the left side
    .dnb-modal__trigger {
      margin-top: -0.25rem;
      margin-bottom: -0.25rem;
    }
  }
  &-group__suffix {
    font-size: var(--font-size-basis);
  }

  &--large {
    line-height: var(--radio-height--large);
  }
  &--large &__suffix {
    line-height: var(--radio-height--large);
  }
  &--large &__shell {
    width: var(--radio-width--large);
    height: var(--radio-height--large);
  }

  .dnb-form-label {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  &--label-position-left &__order {
    .dnb-radio__inner {
      order: 2;
    }
    .dnb-form-label {
      order: 1;
      padding-right: 0.5rem;
    }
  }

  &--label-position-right &__order {
    .dnb-radio__inner {
      order: 1;
    }
    .dnb-form-label {
      order: 2;
      padding-left: 0.5rem;
    }
  }

  .dnb-form-row:not(.dnb-form-row--vertical)[class*='__indent']
    &
    .dnb-form-label {
    margin-top: 0;
  }

  // in case we don't define a wrapping group
  // and have a custom label component before the radio (and not inside)
  :not(#{&}-group) > .dnb-form-label + & {
    vertical-align: top;
  }

  // status
  .dnb-form-status {
    order: 4;
    margin-top: 0.375rem; /* 6/16 */
    margin-bottom: 0;
  }
  & + .dnb-form-status {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &-group {
    display: inline-flex;
    flex-direction: row;

    // default spacing
    .dnb-radio {
      margin-right: var(--radio-margin-right);
      margin-bottom: var(--radio-margin-bottom);
    }
    &--column .dnb-radio {
      display: flex;
      margin-right: 0;
    }
    .dnb-radio:last-of-type {
      margin-right: 0;
    }

    & [role='radiogroup'],
    &__shell {
      display: block;
    }
    &__shell {
      & > .dnb-form-status {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &--column &__shell {
      flex-direction: column;
    }

    .dnb-form-row {
      align-items: flex-start;

      // because of our bottom margins we have on the components
      margin-bottom: calc(1px - 1px - var(--radio-margin-bottom));

      &::before {
        // move the group 2px up if label exists
        font-size: var(--font-size-basis);
      }
    }
  }

  .dnb-skeleton &__input[disabled] ~ &__button {
    border-color: var(--skeleton-color);
  }
}
