/*
* Radio component
*
*/

@use '../../../style/core/utilities.scss' as utilities;

.dnb-radio {
  --radio-dot--medium: 0.75rem;
  --radio-dot--large: 1.125rem;
  --radio-width--medium: 1.5rem;
  --radio-height--medium: 1.5rem;
  --radio-width--large: 2rem;
  --radio-height--large: 2rem;

  // Normal state
  --radio-border-inset--default: inset;
  --radio-border-width--default: 0.0625rem;
  --radio-color-dot-on--default: var(--token-color-background-selected);
  --radio-color-background--default: var(--token-color-background-neutral);
  --radio-color-border--default: var(
    --token-color-stroke-action-alternative
  );

  // Disabled state
  --radio-color-dot-on--disabled: var(
    --token-color-background-action-disabled
  );
  --radio-color-background--disabled: var(
    --token-color-background-neutral
  );
  --radio-color-border--disabled: var(
    --token-color-stroke-action-disabled
  );

  // Active state
  --radio-border-inset--active: inset;
  --radio-border-width--active: 0.0625rem;
  --radio-color-dot-on--active: var(
    --token-color-background-action-pressed
  );
  --radio-color-background--active: var(
    --token-color-background-action-pressed-subtle
  );
  --radio-color-border--active: var(--token-color-stroke-action-pressed);

  // Hover state
  --radio-border-inset--hover: ;
  --radio-border-width--hover: 0.125rem;
  --radio-color-dot-on--hover: var(--token-color-background-action-hover);
  --radio-color-background--hover: var(
    --token-color-background-action-hover-subtle
  );
  --radio-color-border--hover: var(--token-color-stroke-action-hover);

  // Focus state
  --radio-border-inset--focus: ;
  --radio-border-width--focus: 0.25rem;
  --radio-color-dot-on--focus: var(--token-color-background-action-focus);
  --radio-color-background--focus: var(
    --token-color-background-action-focus-subtle
  );
  --radio-color-border--focus: var(--token-color-stroke-action-focus);

  // Bounding box
  --radio-bounding--medium: 1.75, 1.5;
  --radio-bounding--large: 1.25, 1.12;

  display: inline-flex;
  flex-direction: column;

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &__inner {
    display: inline-flex;
    flex-direction: column;
    align-self: center;
  }

  &__shell {
    position: relative;
    user-select: none; // Safari / Touch fix

    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    width: var(--radio-width--medium);
    height: var(--radio-height--medium);
  }

  &__button,
  &__dot {
    position: absolute;
    z-index: 4;
  }

  &__button {
    box-shadow: var(
        --radio-border-inset,
        var(--radio-border-inset--default)
      )
      0 0 0 var(--radio-border-width, var(--radio-border-width--default))
      var(--radio-color-border, var(--radio-color-border--default));
    background-color: var(
      --radio-color-background,
      var(--radio-color-background--default)
    );
    width: calc(var(--radio-width--medium) - 0.25rem);
    height: calc(var(--radio-height--medium) - 0.25rem);
    border-radius: var(--token-radius-full);

    .dnb-radio--large & {
      width: var(--radio-width--large);
      height: var(--radio-height--large);
    }
  }

  &__dot {
    width: var(--radio-dot--medium);
    height: var(--radio-dot--medium);
    border-radius: var(--token-radius-full);
    transition:
      opacity 200ms ease-out,
      transform 200ms ease-out;

    .dnb-radio--large & {
      width: var(--radio-dot--large);
      height: var(--radio-dot--large);
    }
  }

  &__input {
    opacity: 0;

    position: absolute;
    top: auto;
    left: auto;
    z-index: 5;

    width: var(--radio-width--medium);
    height: var(--radio-height--medium);

    margin: 0;
    padding: 0;

    border: 0;

    // Larger bounding box
    transform: scale(var(--radio-bounding--medium));
  }

  &--large &__input {
    width: var(--radio-width--large);
    height: var(--radio-height--large);

    // Larger bounding box
    transform: scale(var(--radio-bounding--large));
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  &__order {
    display: inline-flex;
    align-items: baseline;

    .dnb-radio-group--column & {
      display: flex;
    }
  }

  &__row {
    display: inline-flex;
  }

  &__suffix {
    order: 3;

    // to be aligned to the label on the left side
    .dnb-modal__trigger {
      margin-top: -0.25rem;
      margin-bottom: -0.25rem;
    }
  }

  &-group__suffix {
    font-size: var(--font-size-basis);
  }

  &--large {
    line-height: var(--radio-height--large);
  }

  &--large &__suffix {
    line-height: var(--radio-height--large);
  }

  &--large &__shell {
    width: var(--radio-width--large);
    height: var(--radio-height--large);
  }

  .dnb-form-label {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  &--label-position-left &__order {
    .dnb-radio__inner {
      order: 2;
    }

    .dnb-form-label {
      order: 1;
      padding-right: 0.5rem;
    }
  }

  &--label-position-right &__order {
    .dnb-radio__inner {
      order: 1;
    }

    .dnb-form-label {
      order: 2;
      padding-left: 0.5rem;
    }
  }

  // in case we don't define a wrapping group
  // and have a custom label component before the radio (and not inside)
  :not(#{&}-group) > .dnb-form-label + & {
    vertical-align: top;
  }

  // status
  .dnb-form-status {
    order: 4;
    margin-top: 0.375rem; /* 6/16 */
    margin-bottom: 0;
  }

  & + .dnb-form-status {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  // adjust the form-status to the inner border for 3px
  > .dnb-form-status {
    transform: translateY(0.25rem); /* 4/16 */
  }

  &-group {
    --radio-group-row-gap: 0.5rem;
    --radio-group-column-gap: 1rem;

    display: inline-flex;

    &,
    &__fieldset,
    &__shell {
      flex-grow: 1;
    }

    fieldset {
      @include utilities.fieldsetReset();
    }

    &--column .dnb-radio {
      display: flex;
      margin-right: 0;
    }

    .dnb-radio:last-of-type {
      margin-right: 0;
    }

    &__shell {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--radio-group-column-gap);
      row-gap: var(--radio-group-row-gap);

      & > .dnb-form-status {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &--column &__shell {
      flex-direction: column;
    }
  }

  /*
   * Color scheme
   */

  // stylelint-disable no-descending-specificity
  // We prioritize categorization and readability over specificity here */

  /** Normal state **/

  // On
  &__input:checked ~ &__button,
  &__input[data-checked='true'] ~ &__button {
    --radio-border-width--default: 0.09375rem;
    --radio-border-width--active: 0.09375rem;
    --radio-color-border--default: var(--token-color-stroke-selected);
    --radio-color-background--default: var(
      --token-color-background-selected-subtle
    );
  }
  &__input:checked ~ &__dot,
  &__input[data-checked='true'] ~ &__dot {
    background-color: var(
      --radio-color-dot-on,
      var(--radio-color-dot-on--default)
    );
    opacity: 1;
    transform: scale(1);
  }

  // Off
  &__input:not(:checked):not([data-checked='true']) ~ &__dot {
    opacity: 0;
    transform: scale(0.8);
  }

  /** Error state **/

  // General
  &__status--error &__input ~ &__button {
    --radio-border-width--default: 0.0625rem;
    --radio-color-background--default: var(
      --token-color-background-error-subtle
    );
    --radio-color-border--default: var(--token-color-stroke-error);
  }
  &__status--error {
    --radio-color-dot-on--default: var(--token-color-background-error);
  }

  /** Hover state **/

  // General

  &__input:hover ~ &__button {
    --radio-border-inset: var(--radio-border-inset--hover);
    --radio-border-width: var(--radio-border-width--hover);
    --radio-color-border: var(--radio-color-border--hover);
    --radio-color-background: var(--radio-color-background--hover);
  }
  &__input:hover ~ &__dot {
    --radio-color-dot-on: var(--radio-color-dot-on--hover);
  }

  /** Active state **/

  // General
  &__input:active ~ &__button {
    --radio-border-inset: var(--radio-border-inset--active);
    --radio-border-width: var(--radio-border-width--active);
    --radio-color-border: var(--radio-color-border--active);
    --radio-color-background: var(--radio-color-background--active);
  }
  &__input:active ~ &__dot {
    --radio-color-dot-on: var(--radio-color-dot-on--active);
  }

  /** Focus state **/

  // General
  &__input:focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      --radio-border-inset: var(--radio-border-inset--focus);
      --radio-border-width: var(--radio-border-width--focus);
      --radio-color-border: var(--radio-color-border--focus);
      --radio-color-background: var(--radio-color-background--focus);
    }
  }
  &__input:focus ~ &__dot {
    html[data-whatinput='keyboard'] & {
      --radio-color-dot-on: var(--radio-color-dot-on--focus);
    }
  }

  /** Disabled state **/

  // General
  &__input[disabled] ~ &__button {
    --radio-border-inset: var(--radio-border-inset--disabled);
    --radio-border-width: var(--radio-border-width--disabled);
    --radio-color-border: var(--radio-color-border--disabled);
    &:not(.dnb-skeleton) {
      --radio-color-background: var(--radio-color-background--disabled);
    }
  }
  &__input[disabled] ~ &__dot {
    --radio-color-dot-on: var(--radio-color-dot-on--disabled);
  }

  // Skeleton
  &__input[disabled] ~ &__button.dnb-skeleton {
    --radio-color-border: var(--skeleton-color);

    &::before {
      border-radius: 0;
    }
  }
}
