/*
 * Tabs component
 *
 */

@import '../../../style/core/utilities.scss';

.dnb-tabs {
  &__tabs {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;

    &,
    &.dnb-section--spacing {
      padding-bottom: 0;
    }

    &__tablist {
      display: flex;
      flex: 0 1 auto;

      &:focus {
        @include fakeFocus();
      }

      @include scrollX(auto);
      @include hideScrollbar();
      // scroll-snap-type: x mandatory; // gives not the wanted extra UX yet
    }

    &--left &__tablist {
      justify-content: flex-start;
    }
    &--right &__tablist {
      flex: 1;
      justify-content: flex-end;
    }
    &--center &__tablist {
      justify-content: center;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -100vw;
      bottom: 0;
      width: 100vw;
      height: 1px;
    }

    &--no-border {
      &::before {
        content: none;
      }
    }
  }

  &__scroll-nav-button {
    position: absolute;
    z-index: 2;

    right: -2px;
    &:first-of-type {
      left: -2px;
      right: auto;
    }

    display: none; // use "none" to remove it from markup by default
    opacity: 0;
    pointer-events: none;
    transition: opacity 600ms ease-out;

    &--visible {
      display: flex; // needs to be "flex" in order to make the transition work
      pointer-events: initial;
      opacity: 1;
    }

    &--hide {
      pointer-events: none;
      opacity: 0 !important;
    }
  }

  // Tab Button
  &__button,
  .dnb-core-style & &__button {
    position: relative;
    z-index: 1;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    margin: 0;
    padding: 0 0.125rem; /* 1/16*4 */

    background-color: transparent;
    border-bottom: 1px solid transparent;

    cursor: pointer;
    outline: none;
    border: none;

    font-size: var(--font-size-basis);
    line-height: var(--line-height-basis);

    text-decoration: none;

    white-space: nowrap;

    // make the transition smooth, when going from :focus not no focus
    transition: margin 400ms ease-out;

    // should be same as .lead small
    &__title {
      .dnb-icon {
        font-size: var(--font-size-small); // has to be 16px

        // vertical alignment
        transform: translateY(-0.125rem);
      }
    }

    @include dummySpacing();

    & .dnb-dummy {
      margin-top: 0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
    }
  }

  &__button__snap {
    display: flex;

    padding: 0 1rem 0 1.5rem;

    @include allBelow(small) {
      padding: 0 1rem;
    }

    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0.5rem;
    }

    will-change: padding;
    transition: padding 1s var(--easing-default);
  }

  html[data-whatinput='keyboard'] &__button__snap {
    &:first-of-type.focus {
      // add space so the focus ring is visible within our overflow
      .dnb-tabs__button:focus {
        margin-left: 0.5rem;
      }
    }

    &:last-of-type.focus {
      // add space so the focus ring is visible within our overflow
      /* stylelint-disable */
      .dnb-tabs__button:focus {
        margin-right: 0.5rem;
      }
      /* stylelint-enable */
    }
  }

  &__cached {
    opacity: 1;
    transition: opacity 1s var(--easing-default);
  }
  &__cached--hidden {
    opacity: 0;
    visibility: hidden;

    height: 0 !important;
    overflow: hidden;
  }

  /* stylelint-disable */
  html[data-visual-test] & &__cached,
  html[data-visual-test] & &__button,
  html[data-visual-test] & &__button__snap,
  html[data-visual-test] & &__scroll-nav-button {
    transition: none !important;
  }
  /* stylelint-enable */

  &__content {
    padding-bottom: 0;
  }
}
