/*
* This package includes the DNB core styles
*
*/

// core imports
@use './core/scopes.scss';
@use './core/reset.scss';
@use './core/helper-classes/helper-classes.scss';

@include reset.globalReset();

// make sure we have dynamic root font size
@include scopes.htmlDefault();

// global body style
body,
.dnb-core-style {
  @include scopes.bodyDefault();
}
