@import '../../../style/core/utilities.scss';

.dnb-card {
  &__heading {
    font-size: var(--font-size-basis);
    font-weight: var(--font-weight-medium);
  }

  & + &__heading {
    margin-top: var(--spacing-small);
  }

  &.dnb-section {
    background-color: var(--background-color);
  }

  @include allBelow(small) {
    &.dnb-section::before {
      left: var(--left);

      --outline: 99vw 0 0 0 var(--background-color),
        198vw 0 0 0 var(--background-color),
        297vw 0 0 0 var(--background-color),
        396vw 0 0 0 var(--background-color),
        0 var(--outline-width) 0 0 var(--outline-color),
        99vw var(--outline-width) 0 0 var(--outline-color),
        0 calc(var(--outline-width) * -1) 0 0 var(--outline-color),
        99vw calc(var(--outline-width) * -1) 0 0 var(--outline-color),
        198vw var(--outline-width) 0 0 var(--outline-color),
        198vw calc(var(--outline-width) * -1) 0 0 var(--outline-color);
    }
  }

  // Show only one border (combined) when stacked
  & + .dnb-card:not([class*='space__top']) {
    @include allBelow(small) {
      &::before {
        top: var(--outline-width);
      }
      background: linear-gradient(
          to left,
          var(--background-color),
          var(--background-color)
        )
        no-repeat 0 var(--outline-width); // with an offset
    }
  }

  // Combine the two borers to one
  .dnb-flex-container.dnb-flex-container--divider-space & + .dnb-card {
    @include allBelow(small) {
      // --gap: var(--outline-width);
      margin-top: 0;

      &::before {
        top: var(--outline-width); // align background and outline
        z-index: 0;
      }
    }
  }
}
