/**
 * This file is only used to make components independent
 * so that they can get imported individually, without the core styles
 *
 */

// $fonts-path: '../../../../assets/fonts' !default;

// core imports
@import '../core/utilities.scss';
// @import '../core/properties.scss';
// the assets path in typography gets transformed to the right amount back dirs
// but as this is not prsent under dev enviroment, we cant use the components directly
// @import '../core/fonts.scss';
@import '../core/scopes.scss';

.dnb-suffix {
  padding-left: 0.5rem;

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);
  word-break: normal; // because of "kr" usage together with "stretch" on a input/textarea
}
