/**
 * Sbanken UI Theme
 * Overrides css variables from the ui theme
 */

// WIP: Remove this import as soon as we have a mapping for all existing properties
@use '../ui/properties.scss';

.eufemia-theme__sbanken,
:root {
  // font-family
  --font-family-default: var(--sb-font-family-default);
  --font-family-heading: var(--sb-font-family-heading);

  // font-weight
  --font-weight-medium: var(--sb-font-weight-medium);
  --font-weight-bold: var(--sb-font-weight-bold);
}
