.dnb-anchor {
  color: var(--color-sea-green);

  // have focus before :active, because of border-radius
  &:focus {
    &:not(:active) {
      color: var(--color-sea-green);
    }
  }

  &:hover,
  &:active {
    color: var(--color-sea-green);
    background-color: var(--color-mint-green-50);
  }

  &:active {
    color: var(--color-mint-green);
    background-color: var(--color-emerald-green);
  }
}

.dnb-anchor--hover {
  color: var(--color-sea-green);
  background-color: var(--color-mint-green-50);
}

.dnb-anchor--active {
  color: var(--color-mint-green);
  background-color: var(--color-emerald-green);
}

.dnb-anchor--focus {
  &:not(:active) {
    color: var(--color-sea-green);
  }
}
