@use '../anchor-mixins.scss';

.dnb-anchor {
  color: var(--color-sea-green);

  // have focus before :active, because of border-radius
  &:focus {
    &:not(:active) {
      color: var(--color-sea-green);
    }
  }

  &:hover,
  &:active {
    color: var(--color-sea-green);
    background-color: var(--color-mint-green-50);
  }

  &:active {
    color: var(--color-mint-green);
    background-color: var(--color-emerald-green);
  }
}

.dnb-anchor--hover {
  color: var(--color-sea-green);
  background-color: var(--color-mint-green-50);
}

.dnb-anchor--active {
  color: var(--color-mint-green);
  background-color: var(--color-emerald-green);
}

.dnb-anchor--focus {
  &:not(:active) {
    color: var(--color-sea-green);
  }
}

// Load anchor contrast again here, so that the green color set in color: var(--color-sea-green);
// does not override the .dnb-anchor-contrast set in dnb-anchor.scss
.dnb-anchor--contrast {
  @include anchor-mixins.useAnchorContrastStyle();
}
