@use '../../../style/core/utilities.scss' as utilities;

.dnb-flex-item {
  &--grow {
    flex-grow: 1;
  }

  &--shrink {
    flex-shrink: 1;
  }

  &--align-self {
    &-flex-start {
      align-self: flex-start;
    }

    &-flex-end {
      align-self: flex-end;
    }

    &-center {
      align-self: center;
    }

    &-baseline {
      align-self: baseline;
    }

    &-stretch {
      align-self: stretch;
    }
  }

  .dnb-flex-container--css-gap:not([data-custom-media]) > &--responsive {
    @include utilities.allBelow(small) {
      --span: var(--small, var(--medium));
    }
    @include utilities.allBetween(small, medium) {
      --span: var(--medium, var(--large));
    }
    @include utilities.allAbove(medium) {
      --span: var(--large, var(--medium));
    }
  }

  .dnb-flex-container--css-gap > &--responsive {
    --flex-basis: calc(
      (100% + var(--horizontal-gap)) /
        var(--size-count, var(--size-count--default)) *
        var(--span, var(--span--default)) - var(--horizontal-gap)
    );
  }

  // Handle column spans
  &--responsive {
    --size-count--default: 12;
    --span--default: var(--small);

    .dnb-flex-container[data-media-key='small'] & {
      --span: var(--small, var(--medium));
    }
    .dnb-flex-container[data-media-key='medium'] & {
      --span: var(--medium, var(--large));
    }
    .dnb-flex-container[data-media-key='large'] & {
      --span: var(--large, var(--medium));
    }
    .dnb-flex-container[data-custom-media][data-media-key] & {
      --span: var(--span--media);
    }

    --flex-basis: calc(
      100% / var(--size-count, var(--size-count--default)) *
        var(--span, var(--span--default))
    );

    flex-grow: 0;
    flex-basis: var(--flex-basis);
    max-width: var(--flex-basis);
  }
}
