.anchorLinkStyle {
  :global {
    .anchor-hash {
      position: absolute;
      left: 100%;

      display: inline-block;

      width: 1em;
      margin-left: 0.25em;
      padding: 0;

      line-height: 1;
      text-align: center;
      border-bottom: none;

      transition: opacity 300ms ease-out;
      opacity: 0;
      pointer-events: none;
    }
  }

  :global(.anchor-hash:hover),
  :global(.anchor-hash:focus-visible),
  &:hover :global(.anchor-hash) {
    transition-delay: 0s;
    opacity: 1;
    pointer-events: auto;
  }
}

.headingContentStyle {
  position: relative;

  &:global(.focus) {
    border-radius: 0.125rem;

    @keyframes target-attention-focus {
      0%,
      33% {
        background-color: var(--token-color-background-selected-subtle);
        box-shadow: 0 0 0 0.25rem
          var(--token-color-background-selected-subtle);
      }

      100% {
        background-color: transparent;
        box-shadow: 0 0 0 0.25rem transparent;
      }
    }

    animation: target-attention-focus 2.2s var(--easing-default) 1 10ms;
  }

  @media (prefers-reduced-motion: reduce) {
    &:global(.focus) {
      animation-duration: 1ms;
    }
  }
}
