.codeBlockStyle {
  margin-bottom: 2rem;

  :global {
    textarea {
      outline: inherit;
    }
  }
}

.toolbarStyle {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: flex-end;

  padding: 0 1rem 1rem;

  pointer-events: none;

  :global {
    button {
      pointer-events: all;
    }
  }
}

.liveCodeEditorStyle {
  position: relative;

  :global {
    .example-box {
      margin-bottom: 0;
    }
    .example-caption {
      margin-bottom: 1.5rem;
    }
    .dnb-live-editor {
      position: relative;
      cursor: text;

      transition: box-shadow 0.2s ease-out;

      &::after {
        content: '';
        position: absolute;
        top: calc(-0.75rem + 1px);
        left: 1rem;

        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0 0.75rem 0.75rem;
        border-color: transparent transparent #222 transparent;

        opacity: 1;
        transition: opacity 0.2s ease-out, border-width 0.2s ease-out;
      }

      &.dnb-pre--focus {
        &::after {
          opacity: 0;
          border-top-width: 0.5rem;
        }
      }
    }

    .react-live-error:last-child {
      position: absolute;
      z-index: 1;

      max-width: 40rem;
      height: auto;
      white-space: normal;
      line-height: var(--input-height);
    }

    .prism-code {
      padding: 0 !important; /* use important because of inline styles */
      white-space: pre-wrap !important; /* use important because of inline styles */
    }
  }
}
