@use './../parts/PortalStyle.mixins.scss' as PortalMixins;

.codeBlockStyle {
  margin-bottom: 2rem;

  :global {
    textarea {
      outline: inherit;
    }
  }

  :global(.eufemia-theme) {
    background-color: transparent;
  }
}

.exampleBoxStyle {
  position: relative;
  flex: 1;
  height: 100%;

  padding: 2rem;

  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);

  &::after {
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);
  }

  &.center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Deal with grid
  @include PortalMixins.gridStyle();

  --grid-rgb: 236 236 236;
  --grid-opacity: 0.5;
  --grid-opacity-bold: 0.85;
  --grid-background: var(--token-color-background-page-background);

  :global(.surface--dark) & {
    --grid-opacity: 0.12;
    --grid-opacity-bold: 0.06;
    --grid-background: var(--token-color-decorative-first-bold-static);
  }

  :global(.eufemia-theme__color-scheme--dark) > & {
    --grid-opacity: 0.12;
    --grid-opacity-bold: 0.06;
  }

  :global(.background--plain) & {
    &::after {
      background-image: none;
    }
  }

  // For backwards compatibility with visual tests, we need to keep the grid in visual tests, but we want to remove the background color to avoid snapshot differences due to different background colors
  // In future we may rather remove the grid from visual tests and then we can remove this rule as well so we get a "local" background color in visual tests as well.
  :global(html[data-visual-test]) & {
    --grid-background: transparent;
  }
}

.toolbarStyle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;

  margin: 0 0.0625rem; // So the border of the example box is not covered by the toolbar
  padding: 0.5rem 1rem;

  &:empty {
    display: none;
  }

  background-color: var(--token-color-background-neutral);

  :global(.background--plain) & {
    border-top: 0.0625rem solid var(--token-color-stroke-neutral-subtle);
  }

  :global(.hide-code) & {
    border-end-start-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
  }

  :global(.omit-wrapper) & {
    border-start-start-radius: var(--border-radius);
    border-start-end-radius: var(--border-radius);

    box-shadow: inset 0 0 0 0.0625rem
      var(--token-color-stroke-neutral-subtle);
  }
}

.liveCodeEditorStyle {
  --border-radius: 1rem;
  border-radius: var(--border-radius);

  // Outline
  box-shadow: inset 0 0 0 0.0625rem
    var(--token-color-stroke-neutral-subtle);
  &:global(.omit-wrapper) {
    box-shadow: none;
  }

  // Remove the outline and border-radius in visual tests
  :global(html[data-visual-test]) & {
    --border-radius: 0;
    box-shadow: none;
  }

  :global {
    .example-caption {
      margin-bottom: 1.5rem;
    }

    .dnb-live-editor {
      position: relative;
      cursor: text;

      &__editable {
        border-start-start-radius: 0; // Reset .dnb-pre border-radius
        border-start-end-radius: 0; // Reset .dnb-pre border-radius
        border-end-start-radius: var(--border-radius);
        border-end-end-radius: var(--border-radius);
      }
      &__editable.dnb-pre:not([class*='dnb-space__bottom']) {
        margin-bottom: 0;
      }
    }

    .react-live-error:last-child {
      position: absolute;
      z-index: 1;

      max-width: 40rem;
      height: auto;
      white-space: normal;
      line-height: 2rem; // --input-height
    }

    .prism-code {
      padding: 0 !important; // Use important because of inline styles
      white-space: pre-wrap !important; // Use important because of inline styles
    }
  }
}
