.detailsBox {
  // Constants
  --details-bg: var(--color-mint-green-12);
  --details-border: var(--color-mint-green-50);
  --details-border--strong: var(--color-emerald-green);
  // Placeholders
  --p-details-summary-bg: var(--color-mint-green-25);
  --p-details-summary-border: var(--color-mint-green);

  /* stylelint-disable-next-line property-no-unknown */
  interpolate-size: allow-keywords;
  margin-bottom: 1.5rem;
  background: var(--details-bg);
  box-shadow: inset 0 0 0 2px var(--details-border);
  position: relative;
  border-radius: 1.25rem;
  transition: 0.4s;
  transition-property: margin-left, margin-right;

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  &::details-content {
    height: 0;
    transition: content-visibility, height;
    transition-duration: 400ms;
    /* stylelint-disable-next-line property-no-unknown */
    transition-behavior: allow-discrete;
    transition-timing-function: ease-in-out;
    overflow: hidden;
  }

  summary {
    list-style: none;
    cursor: pointer;
    transition: border-radius 0.4s;
    padding: 0.5rem 0.75rem;
    background: var(--p-details-summary-bg);
    box-shadow: inset 0 0 0 2px var(--p-details-summary-border);
    border-radius: 1.25rem;

    &::marker,
    &::-webkit-details-marker {
      content: none;
      display: none;
    }

    &:focus-visible {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--details-border--strong);
    }

    &:hover {
      box-shadow: 0 0 0 2px var(--details-border--strong);
    }

    &:active {
      box-shadow: inset 0 0 0 2px var(--details-border--strong);
    }
  }

  &__tag {
    &:global(.dnb-icon) {
      vertical-align: baseline;
    }
  }

  &__text {
    color: var(--color-sea-green);
  }

  &__icon {
    display: block;
    position: relative;
    align-content: center;
    height: 1.5rem;

    &__line {
      &:global(.dnb-icon) {
        display: block;
        transition: 0.4s ease-out;
        transition-property: transform, opacity;
      }

      &:first-child {
        position: absolute;
        transform: rotate(-90deg);
      }

      .detailsBox[open] & {
        &:first-child {
          transform: rotate(0deg);
        }
        &:last-child {
          opacity: 0;
          transform: rotate(90deg) scaleX(0.5);
        }
      }
    }
  }

  &__content {
    margin-top: 1rem;
    transition: 0.4s;
    transition-property: margin-left, margin-right;

    &::after {
      content: '';
      display: block;
      margin-bottom: 1rem;
    }

    .detailsBox[open] & {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
  }

  &[open] {
    --p-details-summary-bg: var(--details-border);
    --p-details-summary-border: var(--details-border);

    margin-left: -0.75rem;
    margin-right: -0.75rem;

    /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
    &::details-content {
      height: auto;
    }

    summary {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
