@mixin checkboxColorScheme($theme: 'ui') {
  @if $theme == 'ui' {
    // Normal state
    --checkbox-color-gfx-on: var(--color-white);
    --checkbox-color-gfx-off: var(--color-sea-green);
    --checkbox-color-background-on: var(--color-sea-green);
    --checkbox-color-background-off: var(--color-white);
    --checkbox-color-border-on: transparent;
    --checkbox-color-border-off: var(--color-sea-green);
    // Disabled state
    --checkbox-color-gfx--disabled: var(--checkbox-color-gfx-on);
    --checkbox-color-background--disabled: var(--color-sea-green-30);
    --checkbox-color-border-on--disabled: transparent;
    --checkbox-color-border-off--disabled: var(--color-mint-green-50);
    // Active state
    --checkbox-color-background--active: var(--color-mint-green-50);
    --checkbox-color-border--active: transparent;
    // Hover state
    --checkbox-color-gfx--hover: var(--color-sea-green);
    --checkbox-color-background--hover: var(--color-mint-green-50);
    --checkbox-color-border-on--hover: transparent;
    --checkbox-color-border-off--hover: var(--color-sea-green);
    // Focus state
    --checkbox-color-gfx--focus: var(--color-sea-green);
    --checkbox-color-background--focus: var(--color-mint-green-50);
    // Error state
    --checkbox-color-gfx--error: var(--color-fire-red-8);
    --checkbox-color-gfx--error-contrast: var(--color-fire-red);
    --checkbox-color-background-on--error: var(--color-fire-red);
    --checkbox-color-background--error-contrast: var(--color-fire-red-8);
    --checkbox-color-border--error: var(--color-fire-red);
  }

  @if $theme == 'sbanken' {
    // Normal state
    --checkbox-color-gfx-on: var(--sb-color-violet-light);
    --checkbox-color-gfx-off: var(--sb-color-violet-light);
    --checkbox-color-background-on: var(--sb-color-white);
    --checkbox-color-background-off: var(--sb-color-white);
    --checkbox-color-border-on: var(--sb-color-gray-dark-2-neutral);
    --checkbox-color-border-off: var(--sb-color-gray-dark-2-neutral);
    // Disabled state
    --checkbox-color-gfx--disabled: var(--sb-color-gray-dark-2-neutral);
    --checkbox-color-background--disabled: var(--sb-color-gray-light);
    --checkbox-color-border-on--disabled: var(
      --sb-color-gray-dark-2-neutral
    );
    --checkbox-color-border-off--disabled: var(
      --sb-color-gray-dark-2-neutral
    );
    // Active state
    --checkbox-color-background--active: var(--sb-color-white);
    --checkbox-color-border--active: var(--sb-color-gray);
    // Hover state
    --checkbox-color-gfx--hover: var(--sb-color-violet-light);
    --checkbox-color-background--hover: var(--sb-color-white);
    --checkbox-color-border-on--hover: var(--sb-color-violet-light);
    --checkbox-color-border-off--hover: var(--sb-color-violet-light);
    // Focus state
    --checkbox-color-gfx--focus: var(--sb-color-violet-light);
    --checkbox-color-background--focus: var(--sb-color-blue-light-3);
    // Error state
    --checkbox-color-gfx--error: var(--sb-color-magenta);
    --checkbox-color-gfx--error-contrast: var(--sb-color-magenta);
    --checkbox-color-background-on--error: var(--sb-color-white);
    --checkbox-color-background--error-contrast: var(
      --sb-color-magenta-light-2
    );
    --checkbox-color-border--error: var(--sb-color-magenta);
  }
}
