/*
* Checkbox theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-checkbox {
  &__gfx {
    transition: opacity 200ms ease-out, transform 200ms ease-out;
  }

  // When checkbox is ON
  &__input:checked ~ &__gfx,
  &__input[data-checked='true'] ~ &__gfx {
    opacity: 1;
    transform: scale(1);
    color: var(--color-white);
  }
  &__input:checked ~ &__button,
  &__input[data-checked='true'] ~ &__button {
    background-color: var(--color-sea-green);
  }

  // When checkbox is OFF
  &__input:not(:checked):not([data-checked='true']) ~ &__gfx {
    opacity: 0;
    transform: scale(0.8);
    color: var(--color-sea-green);
  }
  &__input:not(:checked):not([data-checked='true']) ~ &__button {
    background-color: var(--color-white);
    border-color: var(--color-sea-green);
  }

  // On disabled
  &__input[disabled]:checked ~ &__button,
  &__input[disabled][data-checked='true'] ~ &__button {
    border-color: transparent;
    background-color: var(--color-sea-green-30);
  }
  &__input[disabled]:not(:checked):not([data-checked='true']) ~ &__button {
    border-color: var(--color-mint-green-50);
  }

  // On active
  &__input:not([disabled]):checked:active ~ &__button,
  &__input:not([disabled]):not([data-checked='true']):active ~ &__button {
    background-color: var(--color-mint-green-50);
    border-color: transparent;
  }
  &__input:not([disabled]):checked:active ~ &__gfx,
  &__input:not([disabled])[data-checked='true']:active ~ &__gfx {
    color: var(--color-white);
  }

  // On hover
  &__input:not([disabled]):not(:focus):hover ~ &__button {
    background-color: var(--color-mint-green-50);
  }
  &__input:not([disabled]):not(:focus):checked:hover ~ &__button,
  &__input:not([disabled]):not(:focus)[data-checked='true']:hover
    ~ &__button {
    border-color: transparent;
  }
  &__input:not([disabled]):not(:focus):hover ~ &__gfx {
    color: var(--color-sea-green);
  }

  // On focus
  /* stylelint-disable */
  &__input:not([disabled]):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      border: none;
      background-color: var(--color-mint-green-50);
    }
  }
  &__input:not([disabled]):focus ~ &__gfx {
    html[data-whatinput='keyboard'] & {
      color: var(--color-sea-green);
    }
  }
  &__input:not([disabled]):focus ~ &__button &__focus,
  &__input:not([disabled]):active ~ &__button &__focus {
    display: block;
  }
  /* stylelint-enable */

  // On error state
  /* stylelint-disable */
  &__status--error &__input:not([disabled]):not(:active) ~ &__button {
    border: none;
  }
  &__status--error
    &__input:not([disabled]):not(:active)
    ~ &__button
    &__focus {
    display: block;
    @include fakeBorder(var(--color-fire-red), $focusRingWidth);
  }
  &__status--error &__input:not([disabled]):hover ~ &__button {
    &[data-checked='true'] {
      border-color: var(--color-fire-red);
    }
    background-color: var(--color-fire-red-8);
  }
  /* stylelint-enable */
  &__status--error
    &__input:not([disabled]):not(:active):not(:hover)
    ~ &__button {
    border-color: var(--color-fire-red-8);
  }
  &__status--error
    &__input:not([disabled]):not(:active):not(:hover):checked
    ~ &__button,
  &__status--error
    &__input:not([disabled]):not(:active):not(:hover)[data-checked='true']
    ~ &__button {
    background-color: var(--color-fire-red);
  }
  // check gfx color
  &__status--error &__input:not([disabled]):hover ~ &__gfx {
    color: var(--color-fire-red);
  }
  &__status--error
    &__input:not([disabled]):not(:active):not(:hover)
    ~ &__gfx {
    color: var(--color-fire-red-8);
  }
}
