/*
* Checkbox theme for Sbanken
*
*/

.dnb-checkbox {
  // Normal state
  --checkbox-color-gfx-on: var(--sb-color-violet-light);
  --checkbox-color-gfx-off: var(--sb-color-violet-light);
  --checkbox-color-background-on: var(--sb-color-white);
  --checkbox-color-background-off: var(--sb-color-white);
  --checkbox-color-border-on: var(--sb-color-gray-dark-2-neutral);
  --checkbox-color-border-off: var(--sb-color-gray-dark-2-neutral);
  // Disabled state
  --checkbox-color-gfx--disabled: var(--sb-color-gray-dark-2-neutral);
  --checkbox-color-background-on--disabled: var(--sb-color-gray-light);
  --checkbox-color-background-off-disabled: var(--sb-color-gray-light);
  --checkbox-color-border-on--disabled: var(
    --sb-color-gray-dark-2-neutral
  );
  --checkbox-color-border-off--disabled: var(
    --sb-color-gray-dark-2-neutral
  );
  // Active state
  --checkbox-color-background--active: var(--sb-color-white);
  --checkbox-color-border--active: var(--sb-color-gray);
  // Hover state
  --checkbox-color-gfx--hover: var(--sb-color-violet-light);
  --checkbox-color-background--hover: var(--sb-color-white);
  --checkbox-color-border-on--hover: var(--sb-color-violet-light);
  --checkbox-color-border-off--hover: var(--sb-color-violet-light);
  // Focus state
  --checkbox-color-gfx--focus: var(--sb-color-violet-light);
  --checkbox-color-background--focus: var(--sb-color-blue-light-3);
  // Error state
  --checkbox-color-gfx--error: var(--sb-color-magenta);
  --checkbox-color-gfx--error-contrast: var(--sb-color-magenta);
  --checkbox-color-background-on--error: var(--sb-color-white);
  --checkbox-color-background--error-contrast: var(
    --sb-color-magenta-light-2
  );
  --checkbox-color-border--error: var(--sb-color-magenta);
}
