/*
* StepIndicator theme
* Warning, this is just a stop-gap theming to avoid dnb brand colors. This component is not fully "Sbanken-ready"
*/

@use '../../../../style/core/utilities.scss';

.dnb-step-indicator {
  --step-indicator-trigger-background: var(--sb-color-gray-light-3);
  --step-indicator-trigger-content-background: var(--sb-color-white);
  --step-indicator-check-bg: var(--sb-color-violet-light-4);
  --step-indicator-check-color: var(--sb-color-violet);
  --step-indicator-current-border: var(--sb-color-text);
}
