/*
* StepIndicator theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-step-indicator-wrapper .dnb-step-indicator {
  &__item {
    &--current .dnb-button {
      font-weight: var(--font-weight-medium);
      @include fakeBorder(var(--color-sea-green), 0.125rem, inset);
    }
    &--visited .dnb-button {
      background-color: var(--color-pistachio);
    }
    &--inactive .dnb-button {
      cursor: text;
      pointer-events: initial;
      user-select: initial;

      &.dnb-button--secondary,
      &.dnb-button--secondary:hover,
      &.dnb-button--secondary:focus,
      &.dnb-button--secondary:active {
        color: var(--color-black-80);
        background-color: var(--color-white);
        @include fakeBorder(var(--color-black-20), 0.0625rem, inset);
      }
    }
    &--inactive.dnb-step-indicator__item--current {
      .dnb-button {
        &.dnb-button--secondary,
        &.dnb-button--secondary:hover,
        &.dnb-button--secondary:focus,
        &.dnb-button--secondary:active {
          @include fakeBorder(var(--color-black-80), 0.125rem, inset);
        }
      }
    }
  }

  html[data-whatinput='keyboard']
    &__item--current
    .dnb-button:not([disabled]):not(:active):not(:hover):focus {
    color: var(--color-emerald-green);
    background-color: var(--color-mint-green);
  }

  &__label,
  &__label.dnb-p {
    font-size: var(--font-size-small);
    margin-bottom: 0.5rem;
  }

  &__button__status {
    &.dnb-button--secondary {
      background-color: var(--color-sand-yellow);
    }
    &--error.dnb-button--secondary {
      background-color: var(--color-fire-red-8);
    }
    &--info.dnb-button--secondary {
      background-color: var(--color-pistachio);
    }
    .dnb-button__icon {
      align-self: flex-start;
      margin-top: 1rem;
      margin-right: 0.75rem;
    }

    .dnb-step-indicator__item-content {
      &__number,
      &__status {
        font-weight: var(--font-weight-basis);
      }

      &__status {
        margin-top: 0.5rem;

        font-size: var(--font-size-x-small);
        line-height: var(--font-size-basis);
        color: var(--color-black-80);
      }
    }
  }
}
