/*
* Radio component
*
*/

:root {
  --radio-height: 1.5rem;
  --radio-width: 1.5rem;
  --radio-border-width: 0.125rem;
  --radio-margin-right: 1rem;
  --radio-margin-bottom: 0.5rem;
}

.dnb-radio {
  display: inline-flex;
  flex-direction: column;

  &__inner {
    display: inline-flex;
    flex-direction: column;
  }
  &__helper {
    clip: rect(0, 0, 0, 0);
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  &__shell {
    position: relative;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--radio-height);
    height: var(--radio-height);

    // vertical alignment
    [data-os='mac'] & {
      transform: translateY(-0.0625rem);
    }
  }

  &__focus,
  &__button,
  &__dot {
    position: absolute;
    z-index: 4;
  }
  &__button {
    border: var(--radio-border-width) solid transparent;
  }
  &__focus {
    display: none;
    @include fakeFocus();
  }
  &__focus,
  &__button {
    width: calc(var(--radio-width) - 0.25rem);
    height: calc(var(--radio-height) - 0.25rem);
    border-radius: 50%;
  }
  &__dot {
    width: calc(var(--radio-width) - 0.75rem);
    height: calc(var(--radio-height) - 0.75rem);
    border-radius: 50%;
  }

  &__input {
    opacity: 0;

    position: absolute;
    top: auto;
    left: auto;
    z-index: 5;

    width: var(--radio-width);
    height: var(--radio-height);

    margin: 0;
    padding: 0;

    border: 0;
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  .dnb-form-label {
    margin-bottom: 0;
  }

  &__order {
    display: inline-flex;
    align-items: baseline;

    .dnb-radio-group--column & {
      display: flex;
    }
  }

  &--label-position-left &__order {
    .dnb-radio__inner {
      order: 2;
    }
    .dnb-form-label {
      order: 1;
      margin-right: 0.5rem;
      margin-left: 0;
    }
  }

  &--label-position-right &__order {
    .dnb-radio__inner {
      order: 1;
    }
    .dnb-form-label {
      order: 2;
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }

  // in case we don't define a wrapping group
  // and have a custom label component before the radio (and not inside)
  :not(#{&}-group) > .dnb-form-label + & {
    vertical-align: top;
  }

  // status
  .dnb-form-status {
    order: 2;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  & + .dnb-form-status {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &-group {
    display: inline-flex;
    flex-direction: row;

    // defualt spacing
    .dnb-radio {
      margin-right: var(--radio-margin-right);
      margin-bottom: var(--radio-margin-bottom);
    }
    &--column .dnb-radio {
      display: flex;
      margin-right: 0;
    }
    .dnb-radio:last-of-type {
      margin-right: 0;
    }

    & [role='radiogroup'],
    &__shell {
      display: block;
    }
    &__shell {
      & > .dnb-form-status {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &--column &__shell {
      flex-direction: column;
    }

    .dnb-form-row {
      // because of our bottom margins we have on the componens
      margin-bottom: calc(1px - 1px - var(--radio-margin-bottom));
    }
    .dnb-form-row--vertical & {
      display: flex;
    }
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    vertical-align: text-bottom;

    &__input,
    &__focus,
    &__button,
    &__dot {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    &__order {
      align-items: center;
    }
    &__shell {
      transform: translateY(0);
    }

    &,
    &-group {
      flex: none;
    }
    &-group {
      vertical-align: middle;
    }
  }
}
