/*
* Radio component
*
*/

:root {
  --radio-height: 1.5rem;
  --radio-width: 1.5rem;
  --radio-border-width: 0.125rem;
}

.dnb-radio {
  display: inline-flex;
  flex-direction: column;

  &__inner {
    display: inline-flex;
    flex-direction: row;
  }

  &__shell {
    position: relative;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--radio-height);
    height: var(--radio-height);

    // vertical alignment
    transform: translateY(
      -0.0625rem
    ); // ajust (for 1px) the shell because of line-height of fedra font
  }

  &__focus,
  &__button,
  &__dot {
    position: absolute;
    z-index: 4;
  }
  &__button {
    border: var(--radio-border-width) solid transparent;
  }
  &__focus {
    display: none;
    @include fakeFocus();
  }
  &__focus,
  &__button {
    width: calc(var(--radio-width) - 0.25rem);
    height: calc(var(--radio-height) - 0.25rem);
    border-radius: 50%;
  }
  &__dot {
    width: calc(var(--radio-width) - 0.75rem);
    height: calc(var(--radio-height) - 0.75rem);
    border-radius: 50%;
  }

  &__input {
    opacity: 0;

    position: absolute;
    left: 0;
    z-index: 5;

    width: var(--radio-width);
    height: var(--radio-height);

    margin: 0;
    padding: 0;

    border: 0;
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  // .dnb-form-status {
  //   margin-top: 0.5rem;
  //   margin-bottom: 0.5rem;
  // }
  .dnb-form-label {
    margin-bottom: 0;
  }

  &__order {
    display: inline-flex;
    flex-direction: row;

    .dnb-radio-group--column & {
      display: flex;
      // margin-bottom: 0.5rem;
    }
  }

  &--label-position-left &__order {
    .dnb-radio__inner {
      order: 2;
    }
    .dnb-form-label {
      order: 1;
      margin-right: 0.5rem;
      margin-left: 1rem;
    }
  }

  &--label-position-right &__order {
    .dnb-radio__inner {
      order: 1;
    }
    .dnb-form-label {
      order: 2;
      margin-right: 1rem;
      margin-left: 0.5rem;
    }
  }

  // reset left position of label
  &--label-position-left:first-of-type .dnb-form-label {
    margin-left: 0;
  }

  // in case we don't define a wrapping group
  // and have a custom label component before the radio (and not inside)
  :not(#{&}-group) > .dnb-form-label + & {
    vertical-align: top;
  }

  // status
  .dnb-form-status {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  & + .dnb-form-status {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &-group {
    display: inline-flex;
    flex-direction: row;

    // defualt spacing
    .dnb-radio {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &--column .dnb-radio {
      display: flex;
      margin-right: 0;
    }

    & [role='radiogroup'],
    &__shell {
      display: block;
    }
    &__shell {
      & > .dnb-form-status {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &--column &__shell {
      flex-direction: column;
    }

    .dnb-form-row {
      &--vertical-label {
        row-gap: normal;
      }
      &--nested {
        align-items: flex-start;
      }
    }
    .dnb-form-row--vertical & {
      display: flex;
    }
  }
}
