/*
* Radio component
*
*/

:root {
  --radio-height: 1.5rem;
  --radio-width: 1.5rem;
  --radio-border-width: 0.125rem;
}

.dnb-radio {
  display: inline-flex;
  flex-direction: row;

  width: auto;

  margin: 0;
  padding: 0;

  &__shell {
    position: relative;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--radio-height);
    height: var(--radio-height);

    // vertical alignment
    transform: translateY(
      -0.0625rem
    ); // ajust (for 1px) the shell because of line-height of fedra font
  }

  &__focus,
  &__button,
  &__dot {
    position: absolute;
    z-index: 4;
  }
  &__button {
    border: var(--radio-border-width) solid transparent;
  }
  &__focus {
    display: none;
    @include fakeFocus();
  }
  &__focus,
  &__button {
    width: calc(var(--radio-width) - 0.25rem);
    height: calc(var(--radio-height) - 0.25rem);
    border-radius: 50%;
  }
  &__dot {
    width: calc(var(--radio-width) - 0.75rem);
    height: calc(var(--radio-height) - 0.75rem);
    border-radius: 50%;
  }

  &__input {
    opacity: 0;

    position: absolute;
    left: 0;
    z-index: 5;

    width: var(--radio-width);
    height: var(--radio-height);

    margin: 0;
    padding: 0;

    border: 0;
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  .dnb-form-status {
    margin-bottom: 0.5rem;
  }

  &--label-position-left {
    .dnb-radio {
      order: 2;
    }
    .dnb-form-label {
      order: 1;
      margin-right: 0.5rem;
      margin-left: 1rem;
    }
    .dnb-radio-group--column & {
      display: flex;
      margin-bottom: 0.5rem;
    }
  }

  &--label-position-right {
    .dnb-radio {
      order: 1;
    }
    .dnb-form-label {
      order: 2;
      margin-right: 1rem;
      margin-left: 0.5rem;
    }
    .dnb-radio-group--column & {
      display: flex;
      margin-bottom: 0.5rem;
    }
  }

  // reset left position of label
  // &--label-position-left:first-of-type {
  //   .dnb-form-label {
  //     margin-left: 0;
  //   }
  // }

  // in case we don't define a wrapping group
  // and have a custom label component before the radio (and not inside)
  :not(#{&}-group) > .dnb-form-label + & {
    vertical-align: top;
  }

  &--label-position-left ~ .dnb-form-status,
  &--label-position-right ~ .dnb-form-status {
    margin-bottom: 1rem;
  }

  .dnb-form-label {
    margin-bottom: 0;
  }

  &-group {
    display: inline-flex;
    flex-direction: row;
    .dnb-form-row--vertical & {
      display: flex;
    }
    .dnb-form-row--vertical-label {
      row-gap: normal;
    }
  }
}
