/**
 * Main Theme
 * You CAN change the content on the very top!
 *
 */

$fonts-path: '../../../assets/fonts/' !default;

// define the default ui theme
@import './theme-ui/anchor.scss';

small {
  font-size: var(--font-size-small); // 14px
}
p > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  line-height: 1; // for vertical alignment, we have to have no line-height
}

.dnb-h1,
.dnb-h2,
.dnb-lead,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-demi);
  font-weight: var(--font-weight-demi);

  color: var(--color-emerald-green);
}

.dnb-h1,
h1 {
  font-size: var(--font-size-xx-large); // 48px
  line-height: 3.5rem; // 56px
  font-weight: var(--font-weight-demi);
}
h1.dnb-small,
h1 > small {
  display: block;
  font-size: var(--font-size-large); // 32px
  line-height: 3rem; // 48px
}

.dnb-h2,
h2 {
  font-size: var(--font-size-medium); // 24px
  line-height: 2rem; // 32px
}
h2.dnb-small,
h2 > small {
  font-size: var(--font-size-x-default); // 20px
}

/* H3 looks the same as .dnb-lead */
h3,
.dnb-lead {
  font-family: var(--font-family-demi);
  font-weight: var(--font-weight-demi);
  font-size: var(--font-size-x-default); // 20px
  line-height: 2rem; // 32px
}
h3 > small,
h3.dnb-small,
.dnb-lead > small,
.dnb-lead > .dnb-small {
  font-size: var(--font-size-default); // 16px
}

// The rest of the Headings are nod defned by the Eufemia Typography
h4 {
  font-size: var(--font-size-default); // 16px
}
h5 {
  font-size: var(--font-size-small); // 14px
}
h6 {
  font-size: var(--font-size-small); // 14px
  font-weight: var(--font-weight-book);
}

p {
  // if we not reset margin, the browser is using: margin-block-end: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  font-size: 1em; // 16px
  line-height: 1.5em; // 24px
}

b,
strong {
  font-weight: var(--font-weight-medium);
}

// Eufemia has currently no italic
// i {
// }

img {
  box-sizing: content-box;
  max-width: 100%;
  border-style: none;
}

label,
input,
form,
fieldset {
  font-size: 1em; // 16px
  line-height: 1.5em;
}

// *:not([class^='dnb-']) > {
// }

ul,
ol {
  margin: 0;
  padding-left: 2rem;

  font-size: 1em;
  line-height: 1.5em;
}
li {
  word-wrap: break-all;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
dl {
  padding: 0;
}
dl dt {
  padding: 0;
  font-weight: var(--font-weight-demi);
}
dl dd {
  padding: 0 1rem;
}

table {
  display: block;
  width: 100%;

  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;

  border-spacing: 0;
  border-collapse: collapse;
}
table th,
table td {
  // to make sure we have the ability to have a border where ever we want
  border-bottom: 1px solid transparent;

  font-size: 1em;
  line-height: 1.5em;
  border-spacing: 0;

  word-break: keep-all;
  text-align: left;
}
table th {
  padding: 3rem 1rem 0.5rem;

  font-weight: var(--font-weight-medium);
  color: var(--color-emerald-green);

  background-color: var(--color-mint-green-12);
  border-bottom: 1px solid var(--color-mint-green);

  a {
    @include defaultAnchorStyle('highlighted');
  }
}
table td {
  padding: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.1875rem;
}
table tr {
  background-color: #fff;
}
table tr:nth-child(2n) {
  background-color: var(--color-mint-green-12);
}

blockquote {
  padding: 0 1rem;
  color: var(--color-summer-green);
  border-left: 4px dotted var(--color-summer-green);
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

code {
  margin: 0;
  padding: 0.1875rem 0.375rem; /* 3px 6px */

  font-size: 1em;
  line-height: 1; // for vertical alignment, we have to have no line-height

  background-color: var(--color-mint-green-25);
  border-radius: 0.1875em;
}
pre {
  word-wrap: normal;
  border-radius: 0.5rem;
  pre {
    padding: 1rem;
  }
}

@supports not (-ms-ime-align: auto) {
  ::selection {
    background-color: var(--color-mint-green);
    color: var(--color-black);
    text-shadow: none;
  }
}

// make sure we load the spacings after we have defined the defaults of the elements
@import './theme-ui/spacing.scss';

/**
  ATTENTION: This file is auto generated by using "styleFactory".
  Do not change the content above!
  All the themes get auto generated in here
*/

@import '../../components/button/style/themes/dnb-button-theme-ui.scss';
@import '../../components/form-status/style/themes/dnb-form-status-theme-ui.scss';
@import '../../components/input/style/themes/dnb-input-theme-ui.scss';
@import '../../components/step-indicator/style/themes/dnb-step-indicator-theme-ui.scss';
@import '../../components/tabs/style/themes/dnb-tabs-theme-ui.scss';
