/*
 * Core Styles
 * Mainly only the margins are defined in here
 *
 */

// styles styles are effected within the scope of ".dnb-style"
// we also check if there is a class starting with "dnb-*"
// this is to make sure we don't effect these styles inside of components
.dnb-style {
  // *:not([class^='dnb-']) > {
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0;
  }

  h1 {
    margin: 1.5rem 0 1rem;
  }

  h2 {
    margin: 1.5rem 0 1rem;
  }

  p,
  ul,
  ol,
  dl,
  blockquote,
  pre {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
