/**
 * Basis UI Theme
 *
 */

// define the default ui theme
@import './theme-ui/anchor.scss';
@import './theme-ui/typography.scss';
@import './theme-ui/blockquote.scss';
@import './theme-ui/lists.scss';
@import './theme-ui/table.scss';
@import './theme-ui/label.scss';
@import './theme-ui/textarea.scss';
@import './theme-ui/form.scss';
@import './theme-ui/code.scss';
@import './theme-ui/image.scss';

@supports not (-ms-ime-align: auto) {
  ::selection {
    background-color: var(--color-mint-green);
    color: var(--color-black);
    text-shadow: none;
  }
}
