/**
 * This file is only used to make themes independent
 * so that they can get imported individually, without the core styles
 *
 */

// core imports
@import '../core/utilities.scss';

// we have to set a different $fonts-path
// so typography gets imported twice, but the minifyed version (by using cssnano) is removing duplication
$fonts-path: '../../../../../assets/fonts/' !default;
@import '../core/fonts.scss';
