/*
 * MainNavTrigger element
 *
 */

.dnb-main-nav-trigger {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border: none;
  background: var(--color-white);
  border-radius: 0;
  color: var(--color-sea-green);

  &:focus {
    @include fakeFocus();
  }

  @include hover() {
    text-decoration: underline;
  }

  @include allAbove(medium) {
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: -0.5rem;
  }

  &__text {
    font-size: var(--font-size-small);
    display: none;

    @include allAbove(medium) {
      display: block;
    }
  }

  &__icon {
    color: var(--color-sea-green);
    margin: 0;
    @include allAbove(medium) {
      margin: 0 0.5rem 0 0;
    }
  }

  [data-nav-active='false'] & {
    //background: red;
  }

  [data-nav-active='true'] & {
    //background: green;
  }
}
