/*
 * MessageBubble component
 *
 */

.dnb-message-bubble {
  &__bubble {
    --skeleton-color: var(--color-black-3);
    background-color: var(--color-black-8);
  }
  &__bubble--primary {
    background-color: var(--color-mint-green-50);
  }
}
