@mixin img-style() {
  &[alt]::after {
    color: var(--token-color-text-neutral);
    background-color: var(--token-color-background-neutral-base);
  }
}

.dnb-img {
  @include img-style();

  &__img--error {
    color: var(--token-color-text-neutral);
    background-color: var(--token-color-background-neutral-base);
  }
}
