@mixin imgStyle() {
  &[alt]::after {
    color: var(--token-color-text-neutral-onlight);
    background-color: var(--token-color-background-neutral-base);
  }
}

.dnb-img {
  @include imgStyle();

  &__img--error {
    color: var(--token-color-text-neutral-onlight);
    background-color: var(--token-color-background-neutral-base);
  }
}
