@mixin imgStyle() {
  &[alt]::after {
    color: var(--color-black-80);
    background-color: var(--color-black-8);
  }
}

.dnb-img {
  @include imgStyle();

  &__img--error {
    color: var(--color-black-80);
    background-color: var(--color-black-8);
  }
}
