/*
 * Section theme
 *
 */

@import '../../../../style/elements/_anchor-mixins.scss';

@mixin SectionTheme() {
  &--divider::after {
    color: var(--color-white);
    box-shadow: 99vw 0 0 0 currentColor, 198vw 0 0 0 currentColor,
      297vw 0 0 0 currentColor, 396vw 0 0 0 currentColor,
      0 0.0625rem 0 0 var(--color-mint-green-50),
      99vw 0.0625rem 0 0 var(--color-mint-green-50),
      0 -0.0625rem 0 0 var(--color-mint-green-50),
      99vw -0.0625rem 0 0 var(--color-mint-green-50),
      198vw 0.0625rem 0 0 var(--color-mint-green-50),
      198vw -0.0625rem 0 0 var(--color-mint-green-50);
  }
  &--mint-green-12::after {
    color: var(--color-mint-green-12);
  }
  &--white::after {
    color: var(--color-white);
  }
  &--mint-green::after {
    color: var(--color-mint-green);
  }
  &--lavender::after {
    color: var(--color-lavender);
  }
  &--sand-yellow::after {
    color: var(--color-sand-yellow);
  }
  &--pistachio::after {
    color: var(--color-pistachio);
  }
  &--black-3::after {
    color: var(--color-black-3);
  }
  &--emerald-green {
    color: var(--color-mint-green);
    &::after {
      color: var(--color-emerald-green);
    }
    .dnb-code {
      color: var(--color-emerald-green);
    }
  }
  &--fire-red {
    color: var(--color-white);
    &::after {
      color: var(--color-fire-red);
    }

    .dnb-code {
      color: var(--color-emerald-green);
    }
  }

  // Deprecated
  &--signal-orange {
    color: var(--color-ocean-green);
    &::after {
      color: var(--color-signal-orange);
    }
  }

  // contrast color
  &--signal-orange,
  &--fire-red,
  &--mint-green {
    ::selection {
      background-color: var(--color-white);
    }
  }
}

.dnb-section {
  @include SectionTheme();
}
