/*
 * Section theme
 *
 */

@mixin SectionTheme() {
  &--divider::after {
    color: var(--color-white);
    box-shadow: 100vw 0 0 0 currentColor,
      0 0.0625rem 0 0 var(--color-mint-green-50),
      100vw 0.0625rem 0 0 var(--color-mint-green-50),
      0 -0.0625rem 0 0 var(--color-mint-green-50),
      100vw -0.0625rem 0 0 var(--color-mint-green-50);
  }
  &--mint-green-12 {
    &::after {
      color: var(--color-mint-green-12);
    }
    ::selection {
      background-color: var(--color-white);
    }
  }
  &--white::after {
    color: var(--color-white);
  }
  &--mint-green {
    &::after {
      color: var(--color-mint-green);
    }
    ::selection {
      background-color: var(--color-white);
    }
  }
  &--emerald-green {
    color: var(--color-mint-green);
    &::after {
      color: var(--color-emerald-green);
    }
    .dnb-code {
      color: var(--color-emerald-green);
    }
  }
  &--signal-orange {
    color: var(--color-ocean-green);
    &::after {
      color: var(--color-signal-orange);
    }
  }
  &--cherry-red {
    color: var(--color-white);
    &::after {
      color: var(--color-cherry-red);
    }
    .dnb-anchor {
      &,
      &:focus {
        color: var(--color-white);
      }
      &:hover {
        color: var(--color-cherry-red);
        background-color: var(--color-white);
      }
    }
  }
}

.dnb-section {
  @include SectionTheme();
}
