@import './field-sizes.scss';

.dnb-forms-field-postal-code-and-city {
  &__fields {
    display: flex;
    flex-flow: row;
    column-gap: var(--spacing-small);
  }

  &--width {
    &-small {
      width: var(--forms-field-width--small);
    }
    &-medium {
      width: var(--forms-field-width--medium);
    }
    &-large {
      width: var(--forms-field-width--large);
    }
  }

  &__postal-code {
    flex: 0 5rem;
  }

  &__city {
    flex: 1;
  }
}
