@import '../../../../components/layout/style/layout-sizes.scss';

.dnb-forms-field-postal-code-and-city {
  &__fields {
    display: flex;
    flex-flow: row;
    column-gap: var(--spacing-small);
  }

  &--width-small {
    width: var(--layout-field-width--small);
  }

  &--width-medium {
    width: var(--layout-field-width--medium);
  }

  &--width-large {
    width: var(--layout-field-width--large);
  }

  &__postal-code {
    flex: 0 5rem;
  }

  &__city {
    flex: 1;
  }
}
