@import '../../../../components/layout/style/layout-sizes.scss';

.dnb-forms-field-selection {
  &--width-large {
    .dnb-dropdown__shell {
      width: var(--layout-field-width--large);
    }
  }

  &--width-medium {
    .dnb-dropdown__shell {
      width: var(--layout-field-width--medium);
    }
  }

  &--width-small {
    .dnb-dropdown__shell {
      width: var(--layout-field-width--small);
    }
  }
}
