@import '../../variables.scss';

.dnb-forms-field-country-code {
  .dnb-autocomplete__inner {
    --autocomplete-width: 9rem;
  }

  &--width-small .dnb-autocomplete__inner {
    --autocomplete-width: #{$forms-field-width-small};
  }

  &--width-medium .dnb-autocomplete__inner {
    --autocomplete-width: #{$forms-field-width-medium};
  }

  &--width-large .dnb-autocomplete__inner {
    --autocomplete-width: #{$forms-field-width-large};
  }
}
