@import '../fields.scss';

.dnb-forms-field-string {
  &__input {
    &--width-large {
      width: $forms-field-width-large;
    }

    &--width-medium {
      width: $forms-field-width-medium;
    }
  }

  .dnb-input__inner,
  .dnb-input__row,
  .dnb-input__shell {
    width: 100%;
  }
}
