@import '../../../../components/layout/style/layout-sizes.scss';

.dnb-forms-field-phone-number {
  display: flex;
  flex-flow: row;
  column-gap: var(--spacing-small);

  &--width-stretch {
    width: 100%;
  }

  &--width-large {
    width: var(--layout-field-width--large);
  }

  &__country-code {
    flex: 0 9rem;

    .dnb-autocomplete__shell {
      width: 9rem;
    }
  }

  &__number {
    flex: 1;
  }
}
