@import '../fields.scss';

.dnb-forms-field-phone-number {
  display: flex;
  flex-flow: row;
  column-gap: var(--spacing-small);

  &--width-large {
    width: $forms-field-width-large;
  }

  &--width-medium {
    width: $forms-field-width-medium;
  }

  &__country-code {
    --autocomplete-width: 145px;
    flex: 0 144px;

    .dnb-autocomplete__shell {
      width: 144px;
    }
  }

  &__number {
    flex: 1;
  }
}
