@import '../../variables.scss';

.dnb-forms-field-phone-number {
  display: flex;
  flex-flow: row;
  column-gap: var(--spacing-small);

  &--width-stretch {
    width: 100%;
  }

  &--width-large {
    width: $forms-field-width-large;
  }

  &--width-medium {
    width: $forms-field-width-medium;
  }

  &--width-small {
    width: $forms-field-width-small;
  }

  &__country-code {
    flex: 0 9rem;

    .dnb-autocomplete__shell {
      width: 9rem;
    }
  }

  &__number {
    flex: 1;
  }
}
