/*
* Autocomplete theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-autocomplete {
  &--opened .dnb-input .dnb-input__shell,
  &
    .dnb-form-label:hover
    ~ &__inner
    .dnb-input:not([data-input-state='disabled']) {
    .dnb-input__shell {
      @include fakeBorder(var(--color-sea-green), 0.125rem);
    }
    .dnb-input__submit-button__button {
      border-radius: 0;
      color: var(--color-white);
      background-color: var(--color-sea-green);
      box-shadow: none;
    }
  }
}

.dnb-drawer-list__option__item--highlight {
  font-weight: var(--font-weight-bold);
}
