/*
* Autocomplete theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-autocomplete {
  &--opened .dnb-input .dnb-input__shell,
  &:not(#{&}__status--error)
    .dnb-form-label:hover
    ~ &__inner
    .dnb-input:not([data-input-state='disabled']) {
    .dnb-input__shell {
      @include fakeBorder(var(--color-sea-green), 0.125rem);
    }
    .dnb-input__submit-button__button {
      border-radius: 0;
      color: var(--color-white);
      background-color: var(--color-sea-green);
      box-shadow: none;
    }
  }

  &--show-indicator &__input .dnb-input__icon {
    color: transparent;
  }
  &__shell,
  &__input {
    border-radius: var(--autocomplete-border-radius);
  }

  &__status--error:not(#{&}--opened)
    .dnb-form-label:hover
    ~ &__inner
    .dnb-input:not([data-input-state='disabled']) {
    .dnb-input__shell {
      @include fakeBorder(var(--color-fire-red), 0.125rem);
    }
  }
}

.dnb-autocomplete__root .dnb-drawer-list__option {
  &__item:nth-of-type(1) {
    font-weight: var(--font-weight-basis);
  }
  &__item:nth-of-type(n + 2) {
    color: var(--color-black-55);
  }
  &__item--highlight {
    font-weight: var(--font-weight-bold);
  }
}
.dnb-autocomplete__root
  .dnb-drawer-list__option--selected
  .dnb-drawer-list__option__item:nth-of-type(n + 2) {
  color: var(--color-white);
}
.dnb-autocomplete__root .dnb-drawer-list__option--selected .dnb-anchor {
  color: var(--color-white);
}
