/*
* Autocomplete theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-autocomplete {
  color: var(--color-emerald-green);

  // input
  &__input.dnb-input {
    color: var(--color-emerald-green);
    // :hover {
    //   color: var(--color-emerald-green);
    // }
  }
  &--opened &__input.dnb-input .dnb-input__shell {
    box-shadow: none;
  }
  &--opened .dnb-input__submit-button__button {
    @include fakeBorder(
      var(--color-emerald-green),
      0.125rem,
      // could be 0.0625rem,
      null,
      true
    );
  }
}

.dnb-drawer-list__option__item--highlight {
  font-weight: var(--font-weight-bold);
}
