/*
* Autocomplete theme for sbanken
* TODO: this theme is just a preliminary fix to avoid dnb colors
*/

@use '../../../../style/core/utilities.scss' as utilities;

.dnb-autocomplete {
  &--open .dnb-input .dnb-input__shell,
  &:not(#{&}__status--error)
    .dnb-form-label:hover
    ~ &__inner
    .dnb-input:not([data-input-state='disabled']) {
    .dnb-input__shell {
      @include utilities.fake-border(
        var(--token-color-stroke-action-hover),
        0.125rem
      );
    }
  }

  &--show-indicator &__input .dnb-input__icon {
    color: transparent;
  }

  &__shell,
  &__input {
    border-radius: var(--autocomplete-border-radius);
  }

  &__status--error:not(#{&}--open)
    .dnb-form-label:hover
    ~ &__inner
    .dnb-input:not([data-input-state='disabled']) {
    .dnb-input__shell {
      @include utilities.fake-border(
        var(--token-color-stroke-error),
        0.125rem
      );
    }
  }
}

.dnb-autocomplete__root .dnb-drawer-list__option {
  &--focus,
  &__item:nth-of-type(1) {
    font-weight: var(--font-weight-basis);
  }

  &:not([disabled]) .dnb-drawer-list__option__item:nth-of-type(n + 2) {
    color: var(--token-color-text-neutral-alternative);
  }

  &--selected:not(.dnb-drawer-list__option--focus)
    .dnb-drawer-list__option__item:nth-of-type(n + 2) {
    &,
    & .dnb-anchor {
      color: var(--token-color-text-neutral-inverse);
    }
  }

  &__item--highlight {
    font-weight: var(--font-weight-bold);
  }
}
