.dnb-forms-field-password {
  // Make sure submit element receives red text color on error.
  .dnb-input__status--error .dnb-input__submit-button-button {
    color: var(--color-fire-red);

    &:hover {
      color: var(--color-white);
    }
  }
}
