.dnb-forms-field-password {
  // Make sure submit element receives red text/icon color on error.
  .dnb-input__status--error .dnb-input__submit-button__button {
    --button-color-icon--default: var(--token-color-text-destructive);
    --button-color-text--default: var(--token-color-text-destructive);
    --button-color-icon--hover: var(--token-color-text-neutral-inverse);
    --button-color-text--hover: var(--token-color-text-neutral-inverse);
  }
}
