/*
 * Section component
 *
 */

@mixin SectionStyle() {
  position: relative;

  // flow-root allows content to have margin top and bottom
  // it eliminates margin-collapsing
  display: flow-root;

  &::after {
    content: '';
    position: absolute;
    z-index: -3;
    left: -100vw;
    top: 0;
    width: 100vw;
    height: 100%;
    color: var(--color-mint-green-12);
    background-color: currentColor;

    // we use box-shadow to avoid a horizontal scrollbar
    // We lower the left position, so we get an overlap
    box-shadow: 99vw 0 0 0 currentColor, 198vw 0 0 0 currentColor,
      297vw 0 0 0 currentColor, 396vw 0 0 0 currentColor;
  }
  & > &::after {
    z-index: -2;
  }
  & > & > &::after {
    z-index: -1;
  }

  &--spacing-small {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
  }

  &--spacing-medium {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
  }

  // spacing-default
  &--spacing,
  &--spacing-default,
  &--spacing-large {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
  }

  &--spacing-x-large {
    padding-top: var(--spacing-x-large);
    // larger than top
    padding-bottom: var(--spacing-xx-large);
  }

  &--spacing-xx-large {
    padding-top: var(--spacing-xx-large);
    // larger than top
    padding-bottom: calc(var(--spacing-xx-large) + var(--spacing-small));
  }
}

.dnb-section {
  @include SectionStyle();
}
