/*
 * Section component
 *
 */

@import '../../../style/core/utilities.scss';
@import './responsive-padding';

.dnb-section {
  @include responsive-padding();
  position: relative;

  // flow-root allows content to have margin top and bottom
  // it eliminates margin-collapsing
  display: flow-root;

  &--spacing-x-small {
    padding: var(--spacing-x-small);
  }

  &--spacing-small {
    padding: var(--spacing-small);
  }

  &--spacing-medium {
    padding: var(--spacing-medium);
  }

  &--spacing-x-large {
    padding: var(--spacing-x-large);
  }

  &--spacing-xx-large {
    padding: var(--spacing-xx-large);
  }

  &--spacing,
  &--spacing-large {
    padding: var(--spacing-large);
  }

  &--layout {
    &-full-width {
      padding-left: 0;
      padding-right: 0;

      &::after {
        content: '';
        position: absolute;
        z-index: -15;
        left: -100vw;
        top: 0;
        width: 100vw;
        height: 100%;
        color: var(
          --color-mint-green-12
        ); /** deprecated: should be white in v11 */
        background-color: currentcolor;

        // we use box-shadow to avoid a horizontal scrollbar
        // We lower the left position, so we get an overlap
        box-shadow:
          99vw 0 0 0 currentcolor,
          198vw 0 0 0 currentcolor,
          297vw 0 0 0 currentcolor,
          396vw 0 0 0 currentcolor;
      }
    }

    &-block {
      &::after {
        content: '';
        position: absolute;
        z-index: -15;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: currentcolor;
      }
    }
  }

  & &::after {
    z-index: -14;
  }

  & & &::after {
    z-index: -13;
  }

  & & & &::after {
    z-index: -12;
  }

  & & & & &::after {
    z-index: -11;
  }

  & & & & & &::after {
    z-index: -10;
  }

  & & & & & & &::after {
    z-index: -9;
  }

  & & & & & & & &::after {
    z-index: -8;
  }

  & & & & & & & & &::after {
    z-index: -7;
  }
}
