/*
* Accordion component
*
*/

// :root {
//   --accordion-margin-right: 1rem;
//   --accordion-margin-bottom: 1rem;
// }

.dnb-accordion {
  display: inline-flex;
  align-items: center; // because, with this we v align it to the label

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &__inner {
    display: inline-flex;
    flex-direction: column;
  }

  &__shell {
    position: relative;
    left: 0;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
  }

  // &--vertical {
  //   flex-direction: column;
  //   align-items: flex-start;
  // }

  &__component {
    padding-right: 0.25rem;

    display: inline-flex;
    align-items: center;
  }

  &__button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  // IE fix
  // @media screen and (-ms-high-contrast: none) {
  // }
}
