@import '../../../../style/core/utilities.scss';

.dnb-forms-steps-layout {
  display: flex;
  flex-flow: row wrap;
  column-gap: 3rem;

  @media (max-width: map-get($breakpoints, 'medium')) {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  &__sidebar {
    flex: 0;
    min-width: 320px;
  }

  &__contents {
    flex: 1;
    min-width: 400px;
  }
}
