@import '../../../../style/core/utilities.scss';

.dnb-forms-steps-layout {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--spacing-medium);

  @media (max-width: map-get($breakpoints, 'medium')) {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  &__sidebar {
    flex: 0;
    min-width: 21rem;

    .dnb-step-indicator__sidebar {
      max-width: 21rem;
    }
    .dnb-step-indicator__sidebar .dnb-step-indicator__item {
      min-width: 336px;
    }
  }

  &__contents {
    flex: 1;
    min-width: 25rem;
  }
}
