@import '../../../../style/core/utilities.scss';

.dnb-forms-steps-layout {
  display: flex;
  flex-flow: row wrap;
  column-gap: var(--spacing-medium);

  &__sidebar {
    flex: 0;
  }

  &__contents {
    flex: 1 0 25rem;
  }

  &__contents .dnb-card {
    --border-color: var(--color-pistachio);
  }

  @include allBelow('medium') {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    &__contents {
      flex-basis: auto;
    }
  }

  .dnb-step-indicator__sidebar {
    margin-right: 0;
  }
}
