/*
 * Typography
 * Universal set of helper classes that do not have a specific element. 
 * The class ".dnb-t" does nothing, only it's modifiers ".dnb-t__[***]" do.
 */
.dnb-t {
  // size
  &__size--xx-large {
    font-size: var(--font-size-xx-large);
  }
  &__size--x-large {
    font-size: var(--font-size-x-large);
  }
  &__size--large {
    font-size: var(--font-size-large);
  }
  &__size--medium {
    font-size: var(--font-size-medium);
  }
  &__size--basis {
    font-size: var(--font-size-basis);
  }
  &__size--small {
    font-size: var(--font-size-small);
  }
  &__size--x-small {
    font-size: var(--font-size-x-small);
  }

  // line height
  &__line--xx-large {
    line-height: var(--line-height-xx-large);
  }
  &__line--x-large {
    line-height: var(--line-height-x-large);
  }
  &__line--large {
    line-height: var(--line-height-large);
  }
  &__line--medium {
    line-height: var(--line-height-medium);
  }
  &__line--basis {
    line-height: var(--line-height-basis);
  }
  &__line--small {
    line-height: var(--line-height-small);
  }
  &__line--x-small {
    line-height: var(--line-height-x-small);
  }

  // weight
  &__weight--regular {
    font-weight: var(--font-weight-regular);
  }
  &__weight--medium {
    font-weight: var(--font-weight-medium);
  }
  &__weight--bold {
    font-weight: var(--font-weight-bold);
  }

  // alignement
  &__align--center {
    text-align: center;
  }
  &__align-left {
    text-align: left;
  }
  &__align--right {
    text-align: right;
  }

  // family
  &__family--default {
    font-family: var(--font-family-default);
  }
  &__family--heading {
    font-family: var(--font-family-heading);
  }
  &__family--monospace {
    font-family: var(--font-family-monospace);
  }

  // italic / underline
  &__decoration--italic {
    text-decoration: italic;
  }
  &__decoration--underline {
    text-decoration: underline;
  }
}
