@use '../../../components/space/style/space-mixins.scss' as space-mixins;
@use '../../../style/core/utilities.scss' as utilities;

// Global sizes
$t-fs-2xs: 0.8125rem; // 13px --font-size-xx-small
$t-fs-xs: 0.875rem; // 14px --font-size-x-small
$t-fs-sm: 1rem; // 16px --font-size-small
$t-fs-bs: 1.125rem; // 18px --font-size-basis
$t-fs-md: 1.25rem; // 20px --font-size-medium
$t-fs-lg: 1.625rem; // 26px --font-size-large
$t-fs-xl: 2.125rem; // 34px --font-size-x-large
$t-fs-2xl: 3rem; // 48px --font-size-xx-large

// Global line-heights
$t-lh-xs: 1.25rem; // 20px --line-height-x-small
$t-lh-sm: 1.25rem; // 20px --line-height-small
$t-lh-bs: 1.5rem; // 24px --line-height-basis
$t-lh-md: 1.5rem; // 24px --line-height-medium
$t-lh-lg: 2rem; // 32px --line-height-large
$t-lh-xl: 2.5rem; // 40px --line-height-x-large
$t-lh-2xl: 3.5rem; // 56px --line-height-xx-large

// includes all classes, tags, etc. needed for "global" typography rules (like css variables)
@mixin typographySelectors() {
  @include headingClasses() {
    $selectors: &;
    @at-root {
      @include headingTags() {
        // prettier-ignore
        $selectors: #{$selectors}, &;
        @at-root {
          @include otherSelectors() {
            // prettier-ignore
            $selectors: #{$selectors}, &;

            @at-root #{$selectors} {
              @content;
            }
          }
        }
      }
    }
  }
}

@mixin headingTags() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

@mixin headingClasses() {
  .dnb-lead,
  .dnb-h--xx-large,
  .dnb-h--x-large,
  .dnb-h--large,
  .dnb-h--medium,
  .dnb-h--basis,
  .dnb-h--small,
  .dnb-h--x-small,
  // make exception on headings which are inside of dnb-core-style
  .dnb-core-style .dnb-lead,
  .dnb-core-style .dnb-h--xx-large,
  .dnb-core-style .dnb-h--x-large,
  .dnb-core-style .dnb-h--large,
  .dnb-core-style .dnb-h--medium,
  .dnb-core-style .dnb-h--basis,
  .dnb-core-style .dnb-h--small,
  .dnb-core-style .dnb-h--x-small {
    @content;
  }
}

@mixin otherSelectors() {
  p,
  b,
  small,
  strong,
  .dnb-p,
  .dnb-small,
  .dnb-table,
  sub,
  sup,
  .dnb-t,
  [class^='dnb-t__'],
  [class*=' dnb-t__'] {
    @content;
  }
}

@mixin headingStyle(
  $size,
  $line,
  $smallSize: null,
  $smallLine: null,
  $weight: null
) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;

  & > small {
    font-size: $smallSize;
    line-height: $smallLine;
  }

  @content;
}

@mixin headingDefaults() {
  padding: 0;

  @include space-mixins.spaceReset();

  font-family: var(--font-family-heading);
  color: var(--token-color-text-neutral);

  &.dnb-t--surface-dark {
    color: var(--token-color-text-neutral-ondark);
  }

  // make icons inside heading responsive to the heading size
  .dnb-icon--default {
    font-size: 1em;
  }

  .dnb-icon--medium {
    font-size: 1.5em;
  }

  // to ensure we don't make the heading higher than it is supposed to be
  a,
  .dnb-anchor {
    padding-top: 0;
    padding-bottom: 0.03125rem;
  }
}

@mixin headingSizeXxLarge() {
  @include headingStyle(
    var(--typography-h-xx-large-font-size),
    var(--typography-h-xx-large-line-height),
    var(--typography-h-xx-large-small-font-size),
    var(--typography-h-xx-large-small-line-height),
    var(--typography-h-xx-large-weight)
  ) {
    & > small {
      display: block;
    }
    @content;
  }
}

@mixin headingSizeXLarge() {
  @include headingStyle(
    var(--typography-h-x-large-font-size),
    var(--typography-h-x-large-line-height),
    var(--typography-h-x-large-small-font-size),
    var(--typography-h-x-large-small-line-height),
    var(--typography-h-x-large-weight)
  ) {
    & > small {
      display: block;
    }
    @content;
  }
}

@mixin headingSizeLarge() {
  @include headingStyle(
    var(--typography-h-large-font-size),
    var(--typography-h-large-line-height),
    var(--typography-h-large-small-font-size),
    var(--typography-h-large-small-line-height),
    var(--typography-h-large-weight)
  ) {
    @content;
  }
}

@mixin typographyLead() {
  @include headingStyle(
    var(--typography-lead-font-size),
    var(--typography-lead-line-height),
    var(--typography-lead-small-font-size),
    var(--typography-lead-small-line-height),
    var(--typography-lead-weight)
  ) {
    @content;
  }
}

@mixin headingSizeMedium() {
  @include headingStyle(
    var(--typography-h-medium-font-size),
    var(--typography-h-medium-line-height),
    var(--typography-h-medium-small-font-size),
    var(--typography-h-medium-small-line-height),
    var(--typography-h-medium-weight)
  ) {
    @content;
  }
}

@mixin headingSizeBasis() {
  @include headingStyle(
    var(--typography-h-basis-font-size),
    var(--typography-h-basis-line-height),
    var(--typography-h-basis-small-font-size),
    var(--typography-h-basis-small-line-height),
    var(--typography-h-basis-weight)
  ) {
    font-family: var(--typography-h-basis-font-family);
    @content;
  }
}

@mixin headingSizeSmall() {
  @include headingStyle(
    var(--typography-h-small-font-size),
    var(--typography-h-small-line-height),
    var(--typography-h-small-small-font-size),
    var(--typography-h-small-small-line-height),
    var(--typography-h-small-weight)
  ) {
    font-family: var(--typography-h-small-font-family);
    @content;
  }
}

@mixin headingSizeXSmall() {
  @include headingStyle(
    var(--typography-h-x-small-font-size),
    var(--typography-h-x-small-line-height),
    null,
    null,
    var(--typography-h-x-small-weight)
  ) {
    font-family: var(--typography-h-x-small-font-family);
    @content;
  }
}

@mixin paragraphDefaults() {
  font-size: var(--typography-font-size-basis);
  color: var(--token-color-text-neutral);

  &.dnb-t--surface-dark {
    color: var(--token-color-text-neutral-ondark);
  }

  // if we not reset margin, the browser is using: margin-block-end: 1rem;
  &:not([class*='space__top']) {
    margin-top: 0;
  }

  &:not([class*='space__bottom']) {
    margin-bottom: 0;
  }
  padding: 0;

  &--lead {
    @include typographyLead();
  }
  b,
  strong {
    font-weight: var(--font-weight-medium);
  }

  & > small {
    font-size: var(--typography-font-size-small);
    line-height: var(--typography-line-height-small);
  }

  & > cite {
    font-weight: var(--font-weight-medium);
    line-height: var(--typography-line-height-basis);
    font-style: italic;
  }
}

@mixin headingSpacingXxLarge() {
  &:not([class*='space__top']) {
    margin-top: 3rem;
  }

  &:not([class*='space__bottom']) {
    margin-bottom: 2.5rem;
  }
}

@mixin headingSpacingXLarge() {
  &:not([class*='space__top']) {
    margin-top: 3rem;
  }

  &:not([class*='space__bottom']) {
    margin-bottom: 1rem;
  }
}

@mixin headingSpacingLarge() {
  &:not([class*='space__top']) {
    margin-top: 3rem;
  }

  &:not([class*='space__bottom']) {
    margin-bottom: 1rem;
  }
}

@mixin headingSpacing() {
  &:not([class*='space__top']) {
    margin-top: 2rem;
  }

  &:not([class*='space__bottom']) {
    margin-bottom: 1rem;
  }
}

@mixin responsiveTypographyVariables() {
  @include utilities.allBelow(small) {
    // mobile
    // font-size
    --responsive-font-size-x-small: #{$t-fs-2xs};
    --responsive-font-size-small: #{$t-fs-xs};
    --responsive-font-size-basis: #{$t-fs-sm};
    --responsive-font-size-medium: #{$t-fs-bs};
    --responsive-font-size-large: #{$t-fs-md};
    --responsive-font-size-x-large: #{$t-fs-lg};
    --responsive-font-size-xx-large: #{$t-fs-xl};

    // line-height
    --responsive-line-height-x-small: #{$t-lh-xs};
    --responsive-line-height-small: #{$t-lh-xs};
    --responsive-line-height-basis: #{$t-lh-sm};
    --responsive-line-height-medium: #{$t-lh-md};
    --responsive-line-height-large: #{$t-lh-lg};
    --responsive-line-height-x-large: #{$t-lh-lg};
    --responsive-line-height-xx-large: #{$t-lh-lg};
  }

  @include utilities.allBetween(small, medium) {
    // tablet
    --responsive-font-size-x-small: #{$t-fs-xs};
    --responsive-font-size-small: #{$t-fs-sm};
    --responsive-font-size-basis: #{$t-fs-bs};
    --responsive-font-size-medium: #{$t-fs-md};
    --responsive-font-size-large: #{$t-fs-lg};
    --responsive-font-size-x-large: #{$t-fs-xl};
    --responsive-font-size-xx-large: #{$t-fs-2xl};

    // line-height
    --responsive-line-height-x-small: #{$t-lh-xs};
    --responsive-line-height-small: #{$t-lh-sm};
    --responsive-line-height-basis: #{$t-lh-bs};
    --responsive-line-height-medium: #{$t-lh-md};
    --responsive-line-height-large: #{$t-lh-lg};
    --responsive-line-height-x-large: #{$t-lh-xl};
    --responsive-line-height-xx-large: #{$t-lh-xl};
  }

  @include utilities.allAbove(medium) {
    // desktop
    --responsive-font-size-x-small: #{$t-fs-xs};
    --responsive-font-size-small: #{$t-fs-sm};
    --responsive-font-size-basis: #{$t-fs-bs};
    --responsive-font-size-medium: #{$t-fs-md};
    --responsive-font-size-large: #{$t-fs-lg};
    --responsive-font-size-x-large: #{$t-fs-xl};
    --responsive-font-size-xx-large: #{$t-fs-2xl};

    // line-height
    --responsive-line-height-x-small: #{$t-lh-xs};
    --responsive-line-height-small: #{$t-lh-sm};
    --responsive-line-height-basis: #{$t-lh-bs};
    --responsive-line-height-medium: #{$t-lh-md};
    --responsive-line-height-large: #{$t-lh-lg};
    --responsive-line-height-x-large: #{$t-lh-xl};
    --responsive-line-height-xx-large: #{$t-lh-2xl};
  }
}

@mixin responsiveOn() {
  // Base sizes
  --typography-font-size-x-small: var(--responsive-font-size-x-small);
  --typography-font-size-small: var(--responsive-font-size-small);
  --typography-font-size-basis: var(--responsive-font-size-basis);
  --typography-font-size-medium: var(--responsive-font-size-medium);
  --typography-font-size-large: var(--responsive-font-size-large);
  --typography-font-size-x-large: var(--responsive-font-size-x-large);
  --typography-font-size-xx-large: var(--responsive-font-size-xx-large);

  // Base line-heights
  --typography-line-height-x-small: var(--responsive-line-height-x-small);
  --typography-line-height-small: var(--responsive-line-height-small);
  --typography-line-height-basis: var(--responsive-line-height-basis);
  --typography-line-height-medium: var(--responsive-line-height-medium);
  --typography-line-height-large: var(--responsive-line-height-large);
  --typography-line-height-x-large: var(--responsive-line-height-x-large);
  --typography-line-height-xx-large: var(
    --responsive-line-height-xx-large
  );
}

@mixin responsiveOff() {
  // Base sizes
  --typography-font-size-x-small: var(--font-size-x-small);
  --typography-font-size-small: var(--font-size-small);
  --typography-font-size-basis: var(--font-size-basis);
  --typography-font-size-medium: var(--font-size-medium);
  --typography-font-size-large: var(--font-size-large);
  --typography-font-size-x-large: var(--font-size-x-large);
  --typography-font-size-xx-large: var(--font-size-xx-large);

  // Base line-heights
  --typography-line-height-x-small: var(--line-height-x-small);
  --typography-line-height-small: var(--line-height-small);
  --typography-line-height-basis: var(--line-height-basis);
  --typography-line-height-medium: var(--line-height-medium);
  --typography-line-height-large: var(--line-height-large);
  --typography-line-height-x-large: var(--line-height-x-large);
  --typography-line-height-xx-large: var(--line-height-xx-large);
}

@mixin responsiveAllOn() {
  // Global sizes
  --font-size-x-small: var(--responsive-font-size-x-small);
  --font-size-small: var(--responsive-font-size-small);
  --font-size-basis: var(--responsive-font-size-basis);
  --font-size-medium: var(--responsive-font-size-medium);
  --font-size-large: var(--responsive-font-size-large);
  --font-size-x-large: var(--responsive-font-size-x-large);
  --font-size-xx-large: var(--responsive-font-size-xx-large);

  // Global line-heights
  --line-height-x-small: var(--responsive-line-height-x-small);
  --line-height-small: var(--responsive-line-height-small);
  --line-height-basis: var(--responsive-line-height-basis);
  --line-height-medium: var(--responsive-line-height-medium);
  --line-height-large: var(--responsive-line-height-large);
  --line-height-x-large: var(--responsive-line-height-x-large);
  --line-height-xx-large: var(--responsive-line-height-xx-large);
}

@mixin responsiveAllOff() {
  // Global sizes
  --font-size-x-small: #{$t-fs-xs};
  --font-size-small: #{$t-fs-sm};
  --font-size-basis: #{$t-fs-bs};
  --font-size-medium: #{$t-fs-md};
  --font-size-large: #{$t-fs-lg};
  --font-size-x-large: #{$t-fs-xl};
  --font-size-xx-large: #{$t-fs-2xl};

  // Global line-heights
  --line-height-x-small: #{$t-lh-xs};
  --line-height-small: #{$t-lh-sm};
  --line-height-basis: #{$t-lh-bs};
  --line-height-medium: #{$t-lh-md};
  --line-height-large: #{$t-lh-lg};
  --line-height-x-large: #{$t-lh-xl};
  --line-height-xx-large: #{$t-lh-2xl};
}
