/*
 * ViewTitle element
 *
 */

.dnb-view-title {
  margin: 1.5rem 0 1rem 0;
  font-size: var(--font-size-x-large);
  color: var(--color-sea-green);

  @include allAbove(medium) {
    margin: 3.5rem 0 3rem 0;
  }
}
