/* stop scrolling */
*,
html {
  scroll-behavior: auto !important;
}

.sticky-menu,
#portal-sidebar-menu {
  display: none !important;
}

.dnb-live-editor,
.dnb-live-toolbar {
  padding: 0 !important;
}
.dnb-app-content {
  margin-left: 0 !important;
}

[data-visual-test-wrapper] {
  position: relative;
  z-index: 9999;

  /* to get smaller width to the right (no white space) */
  display: inline-block;

  /**
	* to get a space around the element,
	* so we can include a box-shadow in the screenshot
	*/
  padding: 1rem;
  margin: -1rem;
  box-shadow: 0 0 0 1px #fff;

  background: #fff;
}

[data-visual-test]:has(.dnb-section[style*='--outset']) {
  @media (min-width: 25em) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/**
* Hide "Preparing requested page" popup
*/
gatsby-qod {
  opacity: 0;
}
