/*
* InfoCard component
*
*/

@use '../../../style/core/utilities.scss';

.dnb-info-card {
  display: flex;
  flex-direction: row;

  position: relative;
  padding: 1rem;

  overflow: hidden;

  background: var(--color-white);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: 1px solid var(--color-black-8);
  }

  &,
  &::after {
    border-radius: 0.25rem;
  }

  &--centered {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &--shadow {
    @include utilities.defaultDropShadow();
  }

  &__content {
    flex-direction: column;
    margin-top: 0.1875rem;
    max-width: 70ch;
  }

  &--centered &__content {
    margin-top: 0;
  }

  &__icon {
    color: var(--color-emerald-green);
  }

  &__image {
    height: 4rem;
    width: 4rem;
  }

  &__buttons {
    display: flex;
    flex-flow: row wrap;
  }

  &--centered &__buttons {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
