/*
* InfoCard component
*
*/

@import '../../../style/core/utilities.scss';

.dnb-info-card {
  display: flex;
  flex-direction: row;

  background: white;

  border: 1px solid var(--color-black-8);
  border-radius: 0.25rem;
  padding: 1rem;

  overflow: hidden;

  @include defaultDropShadow();

  &--centered {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &--content {
    flex-direction: column;
    margin-top: 0.1875rem;
  }

  &--centered &--content {
    flex-direction: column;
    margin-top: 0;
  }

  &--icon {
    color: var(--color-emerald-green);
  }

  &--image {
    height: 4rem;
    width: 4rem;
  }

  &--buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-centered {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
