/*
 * Heading Component
 *
 */

.dnb-heading {
  &__debug {
    color: var(--token-color-stroke-neutral-bold);

    // color: var(--token-color-text-destructive);
    font-weight: var(--font-weight-basis);

    .dnb-code {
      color: var(--token-color-text-neutral);
      font-size: 12px !important;
    }
  }

  &__context {
    display: block;
    padding: 1rem 0 2rem;
  }
}
