/*
 * StepIndicator component
 *
 */

.dnb-step-indicator {
  position: relative;
  z-index: 1;

  display: block;
  padding: 0;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  .dnb-spacing &__list,
  .dnb-spacing &__list li {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item-content {
    &a,
    &.dnb-anchor,
    &--static,
    &--link {
      position: relative;
      z-index: 2;

      display: flex; // make text wrap beside the number
      flex-direction: row;

      margin: 0;
      padding: 0.25rem 0.25rem;
      height: 100%;

      border-bottom: none;
      text-decoration: none;
      box-shadow: none;
    }

    &--link {
      // to reset the anchor button
      &.dnb-anchor {
        line-height: var(--line-height-basis);
      }

      @include focus() {
        @include fakeFocus();
        &::after {
          content: none;
        }
      }
    }

    &--number {
      padding-right: 0.25rem;
      white-space: nowrap;
    }
    &--text {
      text-align: left;
      @include dummySpacing();
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1; // over anchor hover
      left: 0;
      bottom: 0; // because of the link/anchor border-bottom 2px

      width: 100%;
      height: 3px;
      border-radius: 1.5px;
    }
  }

  // &--visited &__item-content {
  //   &--link {
  //     @include hover() {
  //     }
  //   }
  // }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -100vw;
    bottom: 0;

    width: 100vw;
    height: 1px;

    color: black;
    background-color: currentColor;
    box-shadow: 100vw 0 0 0 currentColor;
  }
}
