/*
 * StepIndicator component
 *
 */

.dnb-step-indicator {
  position: relative;
  z-index: 1;

  display: block;
  padding: 0;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  .dnb-spacing &__list,
  .dnb-spacing &__list li {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item {
    align-self: flex-end; // webkit needs this
  }

  &__item-content {
    font-size: var(--font-size-basis);

    &a,
    &.dnb-anchor,
    &--static,
    &--link {
      position: relative;
      z-index: 2;

      display: inline-flex; // make text wrap beside the number
      align-items: flex-end; // does not work on Safari

      margin: 0;
      padding: 0.25rem 0.25rem;
      height: 100%;

      border-bottom: none;
      text-decoration: none;
      box-shadow: none;
    }

    &--link {
      // to reset the anchor button
      &.dnb-anchor {
        line-height: var(--line-height-basis);
      }

      @include focus() {
        @include fakeFocus();
        &::after {
          content: none;
        }
      }
    }

    &--number {
      padding-right: 0.25rem;
      white-space: nowrap;
    }
    &--text {
      text-align: left;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1; // over anchor hover
      left: 0;

      // In case we want to have the first line top aligned: align-items: flex-start;
      // top: calc(
      //   0.25rem + var(--line-height-basis)
      // ); // incl. the padding 0.25rem

      bottom: 0; // because of the link/anchor border-bottom 2px

      width: 100%;
      height: #{$pixel3};
      border-radius: 1.5px;
    }
  }

  // &--visited &__item-content {
  //   &--link {
  //     @include hover() {
  //     }
  //   }
  // }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -100vw;
    bottom: 0;

    width: 100vw;
    height: #{$pixel1};

    color: black;
    background-color: currentColor;
    box-shadow: 100vw 0 0 0 currentColor;
  }
}
