@use '../../../../style/core/utilities.scss' as utilities;

/*
* Button mixins
*
*/
@mixin button-hover-style($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;

  @include utilities.fake-border($border-color, 0.125rem /*2px*/);
}

@mixin button-hover(
  $color: null,
  $background-color: null,
  $border-color: var(--color-emerald-green),
  $enable-touch: null
) {
  @include utilities.hover() {
    @include button-hover-style($color, $background-color, $border-color);

    @content;
  }

  @if $enable-touch == 'touch' {
    html[data-whatintent='touch'] & {
      @include utilities.active() {
        @include button-hover-style(
          $color,
          $background-color,
          $border-color
        );
      }
    }
  }
}

@mixin button-active($color: null, $background-color: null) {
  @include utilities.active() {
    color: $color;
    background-color: $background-color;

    // no animation yet
    @include utilities.fake-border(transparent);

    @content;
  }
}

@mixin button-focus(
  $color: null,
  $background-color: null,
  $focus-color: null,
  $extend-shadow: null
) {
  @include utilities.focus() {
    html[data-whatinput='keyboard'] & {
      color: $color;
      background-color: $background-color;
    }

    @include utilities.focus-ring(
      null,
      $focus-color,
      inset,
      $extend-shadow: $extend-shadow
    );

    @content;
  }
}

@mixin button-focus-visible(
  $color: null,
  $background-color: null,
  $focus-color: null,
  $extend-shadow: null
) {
  @include utilities.focus-visible() {
    color: $color;
    background-color: $background-color;

    @include utilities.focus-ring(
      always,
      $focus-color,
      inset,
      $extend-shadow: $extend-shadow
    );

    @content;
  }
}

// Used in tertiary button variant
@mixin button-focus-ring(
  $whatinput: null,
  $inset: null,
  $extend-shadow: null,
  $left: -0.5rem,
  $right: -0.5rem
) {
  // Create focus-ring
  &::before {
    content: '';
    position: absolute;
    z-index: 1; // to be visible in other absolute contexts

    top: 0;
    left: $left;
    bottom: 0;
    right: $right;

    height: inherit;
    border-radius: inherit;

    @include utilities.focus-ring(
      $whatinput,
      null,
      $inset,
      $extend-shadow: $extend-shadow
    );
  }
}

@mixin draw-underline-border() {
  // underline border
  &::after {
    content: '';
    position: absolute;
    z-index: 1;

    left: 0;
    right: 0;
    bottom: 0;

    width: auto;
    height: 0.095rem; // 1.5 - because of webkit, we round to .095
    border-radius: calc(0.095rem / 2);

    color: var(
      --button-color-underline,
      var(--button-color-underline--default)
    ); // border color
    background-color: currentcolor;

    // using box-shadow works well to get 1.5px
    // but not for the transition to opacity
    // box-shadow: 0 0 0 calc(0.0625rem / 2) currentColor;

    @content;
  }

  .dnb-skeleton &::after {
    content: none;
  }
}
