/*
* Button mixins
*
*/
@mixin buttonHoverStyle($color, $background-color, $border-color) {
  // NB: to get "over" sibling, because of the extendFakeFocus
  // But if we would use it,
  // then then we have to take care of places we use position="absolute", like the Modal Close button
  // position: relative;

  color: $color;
  background-color: $background-color;

  @include fakeBorder($border-color, 0.125rem /*2px*/);
}

@mixin buttonHover(
  $color,
  $background-color,
  $border-color: var(--color-emerald-green),
  $enable-touch: null
) {
  @include hover() {
    @include buttonHoverStyle($color, $background-color, $border-color);

    @content;
  }

  @if $enable-touch == 'touch' {
    html[data-whatintent='touch'] & {
      @include active() {
        @include buttonHoverStyle(
          $color,
          $background-color,
          $border-color
        );
      }
    }
  }
}

@mixin buttonActive($color, $background-color) {
  @include active() {
    color: $color;
    background-color: $background-color;

    // no animation yet
    @include fakeBorder(transparent);

    @content;
  }
}

@mixin buttonFocus($color, $background-color, $focus-color: null) {
  @include focus() {
    html[data-whatinput='keyboard'] & {
      color: $color;
      background-color: $background-color;
    }

    @include fakeFocus(null, $focus-color, inset);

    @content;
  }
}

// Used in tertiary button variant
@mixin buttonFocusRing($whatinput: null) {
  // Create focus-ring
  &::before {
    content: '';
    position: absolute;
    z-index: 1; // to be visible in other absolute contexts

    top: 0;
    left: -0.5rem;
    bottom: 0;
    right: -0.5rem;

    height: inherit;
    border-radius: inherit;

    @include fakeFocus($whatinput);
  }
}

@mixin drawUnderlineBorder() {
  // underline border
  &::after {
    content: '';
    position: absolute;
    z-index: 1;

    left: 0;
    right: 0;
    bottom: 0;

    width: auto;
    height: 0.095rem; // 1.5 - because of webkit, we round to .095
    border-radius: calc(0.095rem / 2);

    color: var(--color-sea-green); // border color
    background-color: currentColor;

    // using box-shadow works well to get 1.5px
    // but not for the transition to opacity
    // box-shadow: 0 0 0 calc(0.0625rem / 2) currentColor;

    @content;
  }

  .dnb-skeleton &::after {
    content: none;
  }
}
