/*
* Button theme
*
*/

@use '../../../../style/core/utilities.scss' as utilities;
@use './button-mixins.scss' as button-mixins;

// Because the tertiary button has so much code,
// we slice the shareable parts out in a separate file
@use '../button--tertiary.scss';

.dnb-button {
  &--secondary:not(#{&}--has-text):not(#{&}--input-button):not(
      #{&}--control-before
    ):not(#{&}--control-after)#{&}--size-large {
    // Make exception for icon button as it should be smaller than the original large button
    width: calc(var(--button-width--large) - 0.5rem);
    line-height: calc(var(--button-height) - 0.5rem);
  }
  &--secondary:not(#{&}--has-text)#{&}--control-before,
  &--secondary:not(#{&}--has-text)#{&}--control-after {
    box-shadow: none;
    border: none;
    @include utilities.hover() {
      box-shadow: none;
      border: none;
    }
  }

  // simulate active state
  &--active {
    @include utilities.fakeBorder(
      var(--color-emerald-green),
      0.125rem /*2px*/
    );
  }

  &--tertiary {
    @include utilities.active() {
      // underline
      .dnb-button__text::after {
        html[data-whatintent='touch'] & {
          --btn-color-underline: var(--btn-color-underline--hover);
        }
      }
    }

    &.dnb-button--icon-position-top {
      .dnb-button__text {
        font-size: var(--font-size-x-small);
      }
      &.dnb-button--size-large {
        .dnb-button__text {
          font-size: var(--font-size-small);
        }
      }
    }
  }

  &--signal {
    color: var(--color-ocean-green);
    background-color: var(--color-accent-yellow);

    @include button-mixins.buttonHover(
      var(--color-ocean-green),
      var(--color-accent-yellow),
      var(--color-ocean-green),
      'touch'
    );
    @include button-mixins.buttonFocus(
      var(--color-ocean-green),
      var(--color-accent-yellow)
    );
    @include button-mixins.buttonActive(
      var(--color-ocean-green),
      var(--color-accent-yellow)
    );

    &[disabled] {
      color: var(--color-black-20);
      background-color: var(--color-accent-yellow-30);
    }
  }

  // For internal usage only, we have also "unstyled"
  // &--unstyled {}
}
