/*
* Button theme
*
*/

@use './dnb-button-theme-ui.scss';

.dnb-button {
  &--primary,
  &--secondary,
  &--tertiary {
    --button-color-icon--disabled: var(
      --token-color-text-neutral-alternative
    );
    --button-color-text--disabled: var(
      --token-color-text-neutral-alternative
    );
  }

  &--primary {
    // Background
    --button-color-bg--default: var(
      --token-color-background-action-pressed
    );
    --button-color-bg--hover: var(--token-color-background-action);
    --button-color-bg--active: var(--token-color-background-action);
    --button-color-bg--disabled: var(--token-color-stroke-neutral-subtle);

    // Border
    --button-color-border--hover: var(--token-color-background-action);
    --button-color-border--disabled: var(
      --token-color-text-neutral-alternative
    );

    // Icon
    --button-color-icon--hover: var(--token-color-background-neutral);
    --button-color-icon--active: var(--token-color-background-neutral);

    // Text
    --button-color-text--hover: var(--token-color-background-neutral);
    --button-color-text--active: var(--token-color-background-neutral);
  }

  &--secondary {
    // Background
    --button-color-bg--active: var(--token-color-decorative-third-muted);
    --button-color-bg--disabled: var(--token-color-background-neutral);

    // Border
    --button-color-border--default: var(
      --token-color-background-action-pressed
    );
    --button-color-border--disabled: var(
      --token-color-text-neutral-alternative
    );

    // Icon
    --button-color-icon--default: var(
      --token-color-background-action-pressed
    );
    --button-color-icon--active: var(
      --token-color-background-action-pressed
    );

    // Text
    --button-color-text--default: var(
      --token-color-background-action-pressed
    );
    --button-color-text--active: var(
      --token-color-background-action-pressed
    );
  }

  &--tertiary {
    // Icon
    --button-color-icon--default: var(
      --token-color-background-action-pressed
    );
    --button-color-icon--hover: var(
      --token-color-background-action-pressed
    );
    --button-color-icon--active: var(
      --token-color-background-action-pressed
    );

    // Text
    --button-color-text--default: var(
      --token-color-background-action-pressed
    );
    --button-color-text--hover: var(
      --token-color-background-action-pressed
    );
    --button-color-text--active: var(
      --token-color-background-action-pressed
    );
  }
}
