/*
* Button theme
*
*/

@import '../../../../style/core/utilities.scss';
@import './button-mixins.scss';

%focus {
  @include buttonFocus(
    var(--sb-color-blue-dark),
    var(--sb-color-blue-light-3)
  );
}

.dnb-button {
  border: none;
  
  &--primary {
    color: var(--sb-color-green);
    background-color: var(--sb-color-purple-alternative);

    @include hover() {
      color: var(--sb-color-green);
      background-color: var(--sb-color-purple);
      @include removeFocusRing();
    }

    @include active() {
      color: var(--sb-color-green);
      background-color: var(--sb-color-purple-alternative);
    }

    @extend %focus;

    &[disabled] {
      color: var(--sb-color-gray-dark-2);
      background-color: var(--sb-color-gray-light);
      @include removeFocusRing();
    }
  }

  &--secondary {
    color: var(--sb-color-purple-alternative);
    background-color: var(--sb-color-white);
    @include fakeBorder(var(--sb-color-purple-alternative), null, inset);

    @include hover() {
      color: var(--sb-color-purple-alternative);
      background-color: var(--sb-color-green-light-2);
      @include fakeBorder(var(--sb-color-purple-alternative), null, inset);
    }

    @include active() {
      color: var(--sb-color-purple-alternative);
      background-color: var(--sb-color-white);
      @include fakeBorder(var(--sb-color-purple-alternative), null, inset);
    }

    @extend %focus;

    &[disabled] {
      color: var(--sb-color-gray-dark);
      background-color: var(--sb-color-white);
      @include fakeBorder(var(--sb-color-gray-light), null, inset);
    }
  }
}