/*
 * DescriptionList element
 *
 */

.dnb-description-list {
  &__dl {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-basis);
  }
  &__dt {
    text-align: left;
    position: relative;
    flex: 0 0 60%;
  }
  &__dd {
    margin-left: auto;
    text-align: right;
    flex: 0 0 40%;
  }
  &__dd,
  &__dt {
    border-bottom: 1px solid var(--color-sea-green);
  }

  &__dd,
  &__dt,
  &__info {
    padding: 1rem 0;
  }

  &__info {
    font-size: var(--font-size-small);
  }
}
