/*
* Checkbox theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-checkbox {
  &__gfx {
    transition: opacity 200ms ease-out, transform 200ms ease-out;
  }

  /*
    * When checkbox is OFF
    * aka when the checkbox is not :checked
    */
  &__input:not(:checked) ~ &__gfx {
    opacity: 0;
    transform: scale(0.8);
    color: var(--color-sea-green);
  }

  /*
    * When checkbox is ON
    * aka when the checkbox is :checked
    */
  &__input:checked ~ &__gfx {
    opacity: 1;
    transform: scale(1);
    color: var(--color-white);
  }

  /*
    * When checkboxed OFF
    * aka when the checkbox is not :checked
    */
  &__input:not(:checked) ~ &__button {
    background-color: var(--color-white);
    border-color: var(--color-sea-green);
  }

  /*
    * When checkboxed ON
    * aka when the checkbox is :checked
    */
  &__input:checked ~ &__button {
    background-color: var(--color-sea-green);
  }

  /*
    * On disabled
    *
    */
  &__input[disabled] ~ &__button {
    border-color: var(--color-mint-green-50);
  }
  &__input[disabled]:checked ~ &__button {
    border-color: transparent;
    background-color: var(--color-sea-green-30);
  }

  /*
    * On focus
    *
    */
  &__input:not([disabled]):focus ~ &__button {
    html[data-whatinput='keyboard'] & {
      border: none;
      background-color: var(--color-mint-green-50);
    }
  }
  &__input:not([disabled]):focus ~ &__gfx {
    html[data-whatinput='keyboard'] & {
      color: var(--color-sea-green);
    }
  }
  &__input:not([disabled]):focus ~ &__button &__focus,
  &__input:not([disabled]):active ~ &__button &__focus {
    display: block;
  }

  /*
    * On hover
    *
    */
  /* stylelint-disable-next-line */
  &__input:not([disabled]):not(:focus):hover ~ &__button {
    background-color: var(--color-mint-green-50);
  }
  &__input:not([disabled]):not(:focus):checked:hover ~ &__button {
    border-color: transparent;
  }
  /* stylelint-disable-next-line */
  &__input:not([disabled]):not(:focus):hover ~ &__gfx {
    color: var(--color-sea-green);
  }

  /*
    * On active
    *
    */
  /* stylelint-disable */
  &__input:not([disabled]):active ~ &__button {
    background-color: var(--color-mint-green-50);
    border-color: transparent;
  }
  &__input:not([disabled]):active ~ &__gfx {
    color: var(--color-white);
  }
  /* stylelint-enable */

  /*
    * On error state
    *
    */
  // change button color
  // fake border outside
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active)
    ~ &__button {
    border: none;
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active)
    ~ &__button
    &__focus {
    display: block;
    @include fakeBorder(var(--color-fire-red), $focusRingWidth);
  }
  &__status--error &__input:not([disabled]):not(:focus):hover ~ &__button {
    border-color: var(--color-fire-red);
    background-color: var(--color-fire-red-8);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):not(:hover)
    ~ &__button {
    border-color: var(--color-fire-red-8);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):not(:hover):checked
    ~ &__button {
    background-color: var(--color-fire-red);
  }
  // check gfx color
  &__status--error &__input:not([disabled]):not(:focus):hover ~ &__gfx {
    color: var(--color-fire-red);
  }
  &__status--error
    &__input:not([disabled]):not(:focus):not(:active):not(:hover)
    ~ &__gfx {
    color: var(--color-fire-red-8);
  }
}
