/*
* DNB Article
*
* ======================================================================== */

@import '../../../style/components/imports.scss';

.dnb-article {
  @include componentReset();
}

@import './_article.scss';
