/*
* Checkbox component
*
*/

:root {
  --checkbox-height: 1.5rem;
  --checkbox-width: 1.5rem;
  --checkbox-border-width: 0.125rem;
}

.dnb-checkbox {
  user-select: none;

  display: inline-flex;
  flex-direction: row;

  width: auto;

  margin: 0;
  padding: 0;

  color: var(--color-white);

  &__shell {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    // vertical-align: middle;

    width: var(--checkbox-height);
    height: var(--checkbox-height);

    // vertical alignment
    transform: translateY(
      -0.0625rem
    ); // ajust the shell to the inherited line-height for 1px
  }
  // label + &[class*='__form-status'] {
  //   vertical-align: top;
  // }

  &__focus,
  &__button,
  &__gfx {
    position: absolute;
    z-index: 4;

    border-radius: 0.25rem;
  }
  &__button {
    border: var(--checkbox-border-width) solid transparent;
  }
  &__focus {
    display: none;
    @include fakeFocus();
  }
  &__focus,
  &__button {
    width: calc(var(--checkbox-width) - 0.25rem);
    height: calc(var(--checkbox-height) - 0.25rem);
  }
  &__gfx {
    position: absolute;
    width: var(--checkbox-height);
    height: var(--checkbox-height);

    fill: currentColor;
    shape-rendering: geometricPrecision;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: var(--checkbox-width);
    height: var(--checkbox-height);

    margin: 0;
    padding: 0;

    border: 0;
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  .dnb-form-label {
    flex: 1; // for long labels
    margin: 0;
  }
  // & + .dnb-form-status {
  //   // margin-top: -0.125rem;
  //   margin-top: 0;
  // }

  &--label-position-left {
    .dnb-checkbox__shell {
      order: 2;
    }
    .dnb-form-label {
      order: 1;
      margin-right: 0.5rem;
    }
  }

  &--label-position-right {
    .dnb-checkbox__shell {
      order: 1;
    }
    .dnb-form-label {
      order: 2;
      margin-left: 0.5rem;
    }
  }

  // in case we don't define a wrapping group
  // and have a custom label component before the radio (and not inside)
  .dnb-form-label + &,
  .dnb-form-label + & {
    vertical-align: middle;
  }
}
