/*
* Checkbox component
*
*/

:root {
  --checkbox-height: 1.5rem;
  --checkbox-width: 1.5rem;
  --checkbox-border-width: 0.125rem;
}

.dnb-checkbox {
  display: inline-flex;
  flex-direction: column;

  &__inner {
    display: inline-flex;
    flex-direction: column;
  }
  &__helper {
    clip: rect(0, 0, 0, 0);
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  &__shell {
    user-select: none;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--checkbox-height);
    height: var(--checkbox-height);

    // vertical alignment
    transform: translateY(
      -0.0625rem
    ); // ajust (for 1px) the shell because of line-height of fedra font
  }

  &__focus,
  &__button {
    position: relative;
    z-index: 4;

    width: calc(var(--checkbox-width) - 0.25rem);
    height: calc(var(--checkbox-height) - 0.25rem);

    border-radius: 0.25rem;
  }
  &__button {
    border: var(--checkbox-border-width) solid transparent;
  }
  &__focus {
    display: none;
    @include fakeFocus();
  }
  &__gfx {
    position: absolute;
    z-index: 5;

    top: auto;
    left: auto;

    width: var(--checkbox-height);
    height: var(--checkbox-height);

    fill: currentColor;
    shape-rendering: geometricPrecision;
  }

  &__input {
    opacity: 0;

    position: absolute;
    top: auto;
    left: auto;
    z-index: 6;

    width: var(--checkbox-width);
    height: var(--checkbox-height);

    margin: 0;
    padding: 0;

    border: 0;
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  &__order {
    display: inline-flex;
    align-items: baseline;
  }

  &--label-position-left &__order {
    .dnb-checkbox__inner {
      order: 2;
    }
    .dnb-form-label {
      order: 1;
      // align-self: flex-start;// Do we need this?
      margin-right: 0.5rem;
      margin-left: 0;
    }
    .dnb-form-status {
      margin-top: 0.5rem;
    }
  }

  &--label-position-right &__order {
    .dnb-checkbox__inner {
      order: 1;
    }
    .dnb-form-label {
      order: 2;
      margin-right: 0;
      margin-left: 0.5rem;
    }
    & + .dnb-form-status {
      // in case the status did not wrap, we want to have the status on the same line
      vertical-align: top;

      margin-top: 0.5rem;
    }
  }

  // IE fix
  @media all and (-ms-high-contrast: none) {
    vertical-align: middle;
    &__order {
      align-items: flex-start;
    }
    &__gfx,
    &__input {
      top: 0;
      left: 0;
    }
  }
}
