/*
 * StepIndicator element
 *
 * ========================================================================== */

.dnb-step-indicator {
  margin: 1rem 0 3rem 0;
  padding: 1rem 0 0 0;

  border-bottom: 1px solid $color-summer-green;
}

.dnb-step-indicator__list {
  display: flex;
  margin: 0 0 -1px 0;

  list-style: none;
  align-items: flex-start;
}

.dnb-breadcrumb {
  display: inline-flex;
  margin: 0 0 0 1rem;

  &:first-child {
    margin-left: 0;
  }

  @include allAbove(medium) {
    margin-left: 2rem;
  }
}

.dnb-breadcrumb-number {
  margin: 0 0.25rem 0 0;
}

.dnb-breadcrumb-item-text {
  display: flex;
  padding: 2px 0;

  border-bottom: 0 solid transparent;
  border-width: 0 0 2px 0;
  text-decoration: none;

  @include hover(true) {
    text-decoration: none;
  }
}

.dnb-breadcrumb-item-text--static {
  color: #585959;
}

.dnb-breadcrumb-item-text--link {
  color: $color-charcoal-grey;
}

.dnb-breadcrumb--active .dnb-breadcrumb-item-text {
  border-color: $color-signal-orange;
}

.dnb-breadcrumb--visited .dnb-breadcrumb-item-text {
  @include hover(true) {
    border-color: $color-signal-orange;
    color: $color-charcoal-grey;
  }
}
