/*
 * Code / Pre
 *
 */

@mixin codeStyle() {
  display: inline-block;
  margin: -0.25em 0;
  padding: 0.25em 0.25em; /* 2px 4px */

  font-size: inherit;
  text-decoration: inherit;
  line-height: var(--line-height-xx-small--em); // 1.5rem - 0.25em - 0.25em

  color: inherit;
  background-color: var(--color-mint-green-25);

  border-radius: 0.1875em;
}
@mixin preStyle() {
  display: block;

  &:not([class*='dnb-space']) {
    margin: 0;
  }
  padding: 1rem;

  border-radius: 0.5rem;
  color: var(--color-mint-green-12);
  background-color: #222;

  // make a base reset
  white-space: pre;
  vertical-align: baseline;
  outline: none;
  text-shadow: none;
  hyphens: none;
  word-wrap: normal;
  word-break: normal;
  text-align: left;
  word-spacing: normal;
  tab-size: 2;

  font-size: inherit;
  font-family: var(--font-family-monospace);

  pre {
    padding: 1rem;
  }
  .dnb-spacing pre {
    @include defaultSpacing();
  }
  &.dnb-pre--focus {
    @include fakeBorder(var(--color-sea-green), 0.25rem);
  }
}
@mixin codeTag() {
  code {
    @include codeStyle();
  }
}
@mixin preTag() {
  pre {
    @include preStyle();
  }
}

.dnb-code {
  @include codeStyle();
}
.dnb-pre {
  @include preStyle();
}
.dnb-spacing .dnb-pre {
  @include defaultSpacing();
}

.dnb-skeleton {
  > .dnb-code,
  > .dnb-pre {
    background-color: transparent;
  }
}
