/*
 * Code / Pre
 *
 */

@mixin codeStyle() {
  display: inline-block;
  margin: -0.25em 0;
  padding: 0.25em 0.25em; /* 2px 4px */

  font-size: inherit;
  line-height: 1.25em; // 1.5 - 0.25

  background-color: var(--color-mint-green-25);
  border-radius: 0.1875em;
}
@mixin preStyle() {
  display: block;

  margin: 0;
  padding: 1rem;

  background-color: #222;
  border-radius: 8px;
  color: var(--color-mint-green-12);

  // make a base reset
  white-space: pre;
  vertical-align: baseline;
  outline: none;
  text-shadow: none;
  hyphens: none;
  word-wrap: normal;
  word-break: normal;
  text-align: left;
  word-spacing: normal;
  tab-size: 2;

  pre {
    padding: 1rem;
  }
  .dnb-spacing pre {
    @include defaultSpacing();
  }
}
@mixin codeTag() {
  code {
    @include codeStyle();
  }
}
@mixin preTag() {
  pre {
    @include preStyle();
  }
}

.dnb-code {
  @include codeStyle();
}
.dnb-pre {
  @include preStyle();
}
.dnb-spacing .dnb-pre {
  @include defaultSpacing();
}
