/*
 * Hr tag / line
 *
 */

@mixin hrStyle() {
  position: relative;
  margin: 0;
  padding: 0;
  height: 1px;
  margin-top: -1px;

  border: 0;
  color: var(--color-mint-green-50);

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 1px;
    color: inherit;
    background-color: currentColor;
    border-radius: 0.5px;
  }
}
@mixin hrTag() {
  hr {
    @include hrStyle();
  }
  .dnb-spacing hr {
    @include defaultSpacing();
  }
}

.dnb-hr {
  @include hrStyle();
}
.dnb-hr--fullscreen {
  &::after {
    left: -50vw;
    right: -50vw;
    width: 200vw;
  }
}
.dnb-spacing .dnb-hr {
  @include defaultSpacing();
}
