/*
 * Lists
 *
 */

@mixin listDefaults() {
  .dnb-anchor {
    font-size: inherit;
  }

  & ul,
  & ol {
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding-left: 2rem; // to adjust the left spacing of child lists
  }

  & li,
  &--outside li {
    position: relative;

    &::before {
      position: absolute;
      left: -10rem;
      width: 10rem;
      padding-right: 0.25rem;
      text-align: right;
    }
  }
  &--inside li {
    &::before {
      position: relative;
      left: 0;
      width: auto;
      padding-right: 0;
      text-align: initial;
    }
  }
}
@mixin ulStyle() {
  margin: 0;
  padding: 0;
  padding-left: 2rem;

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);

  @include listDefaults();

  & li {
    display: list-item;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    // NB: If we set this, it will force other places, to do so
    // list-style-type: inherit;
  }
}
@mixin olStyle() {
  @include ulStyle();

  @include listDefaults();

  & li {
    list-style-type: decimal;
  }

  // custom counter
  &--nested,
  &--nested ol {
    counter-reset: item;
  }
  &--nested li {
    display: block; // instead of list-item;

    &::before {
      content: counters(item, '.') '. '; // with dot
      counter-increment: item;
    }

    & li::before {
      content: counters(item, '.') ' '; // no dot
      counter-increment: item;
    }
  }
}
@mixin dlStyle() {
  margin: 0;
  padding: 0;

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);

  & > dt {
    padding: 0;
    font-weight: var(--font-weight-medium);
  }
  & dt {
    margin-top: 1rem;
  }
  & dd ~ dt {
    margin-top: 1.5rem;
  }
  & > dd {
    padding: 0;
    margin: 0.5rem 0 1rem;

    // In case we really want / need to have a indented definition content
    // margin-left: 2rem;
  }
  & > dl,
  &:not([class*='dnb-space']) > dl {
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
}
@mixin listSpacing() {
  @include defaultSpacing();
  & > li {
    margin-top: 1rem;
    margin-bottom: 1rem;

    /* stylelint-disable-next-line */
    & > p {
      margin-top: 1rem;
    }
  }
  & li > ul,
  &:not([class*='dnb-space']) li > ul,
  & li > ol,
  &:not([class*='dnb-space']) li > ol {
    margin-top: -0.5rem;
  }
}
@mixin dlSpacing() {
  @include defaultSpacing();
}
@mixin ulTag() {
  ul {
    @include ulStyle();
  }
  .dnb-spacing ul {
    @include listSpacing();
  }
}
@mixin olTag() {
  ol {
    @include olStyle();
  }
  .dnb-spacing ol {
    @include listSpacing();
  }
}
@mixin dlTag() {
  dl {
    @include dlStyle();
  }
  .dnb-spacing {
    dl {
      @include dlSpacing();
    }
  }
}

.dnb-ul {
  @include ulStyle();
}
.dnb-ol {
  @include olStyle();
}
.dnb-dl {
  @include dlStyle();
}
.dnb-spacing {
  .dnb-ul,
  .dnb-ol {
    @include listSpacing();
  }
  .dnb-dl {
    @include dlSpacing();
  }
}
// *:not([class^='dnb-']) > {
// }

// Un-styled list helper
@mixin unstyledList() {
  margin: 0;
  list-style-type: none;
  padding-left: 0;

  > li {
    list-style-type: none;

    &::before {
      content: none;
    }
  }
  > dl,
  > dd {
    margin-left: 0;
  }
}

.dnb-unstyled-list {
  @include unstyledList();
}
