/*
 * Lists
 *
 */

@mixin ulStyle() {
  margin: 0;
  padding: 0;
  padding-left: 2rem;

  font-size: var(--font-size-basis--em);
  line-height: var(--line-height-basis--em);

  &ul ul,
  &ul ol,
  &ol ol,
  &ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  & li {
    word-wrap: break-all;
  }
}
@mixin olStyle() {
  @include ulStyle();
}
@mixin dlStyle() {
  margin: 0;
  padding: 0;

  font-size: var(--font-size-basis--em);
  line-height: var(--line-height-basis--em);

  & > dt {
    padding: 0;
    font-weight: var(--font-weight-demi);
  }
  & > dd {
    margin: 0;
    padding: 0 1rem;
    padding-left: 2rem;
  }
}
@mixin listSpacing() {
  @include defaultSpacing();
  & > li {
    margin-top: 1rem;
    margin-bottom: 1rem;

    /* stylelint-disable-next-line */
    & > p {
      margin-top: 1rem;
    }
  }
}
@mixin dlSpacing() {
  @include defaultSpacing();
  & dt {
    margin-top: 1rem;
  }
  & dd {
    margin-bottom: 1rem;
  }
}
@mixin ulTag() {
  ul {
    @include ulStyle();
  }
  .dnb-spacing ul {
    @include listSpacing();
  }
}
@mixin olTag() {
  ol {
    @include olStyle();
  }
  .dnb-spacing ol {
    @include listSpacing();
  }
}
@mixin dlTag() {
  dl {
    @include dlStyle();
  }
  .dnb-spacing {
    ul,
    ol {
      @include listSpacing();
    }
    dl {
      @include dlSpacing();
    }
  }
}

.dnb-ul {
  @include ulStyle();
}
.dnb-ol {
  @include olStyle();
}
.dnb-dl {
  @include dlStyle();
}
.dnb-spacing {
  .dnb-ul,
  .dnb-ol {
    @include listSpacing();
  }
  .dnb-dl {
    @include dlSpacing();
  }
}
// *:not([class^='dnb-']) > {
// }

.dnb-unstyled-list {
  @include unstyledList();
}
