/*
 * Textarea
 *
 */

:root {
  --textarea-vertical-correction: 4px; // for chromium browsers
  --textarea-border-width: 0.5rem;
  --textarea-border-inner: 0 0 0 var(--textarea-border-width)
    var(--color-white);
}

@mixin textareaStyle() {
  display: block;
  padding: var(--textarea-border-width);
  padding-top: calc(
    var(--textarea-border-width) - var(--textarea-vertical-correction)
  );
  padding-bottom: 0;
  margin: var(--textarea-border-width);
  margin-bottom: calc(
    var(--textarea-border-width) + var(--textarea-vertical-correction)
  );

  border: none;
  border-radius: 1px;

  line-height: 1.5rem;

  box-shadow: var(--textarea-border-inner),
    0 0 0 calc(var(--textarea-border-width) + 1px)
      var(--color-sea-green-alt);

  // @include hover(true) {
  // }

  &:focus {
    outline: none;

    box-shadow: var(--textarea-border-inner),
      0 0 0 calc(var(--textarea-border-width) + 2px)
        var(--color-emerald-green);

    // html[data-whatinput='keyboard'] & {
    // }
  }
  &.status--error,
  .dnb-textarea__status--error {
    box-shadow: var(--textarea-border-inner),
      0 0 0 calc(var(--textarea-border-width) + 2px)
        var(--color-cherry-red);
  }
  &[disabled] {
    // pointer-events: none; // for disabling scrolling behavior

    color: var(--color-sea-green-alt-30);
    box-shadow: var(--textarea-border-inner),
      0 0 0 calc(var(--textarea-border-width) + 1px)
        var(--color-sea-green-alt-30);

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
@mixin textareaTag() {
  textarea {
    @include textareaStyle();
  }
}

.dnb-textarea {
  @include textareaStyle();
}
