/*
 * Typography
 *
 */

@mixin headingsStyle() {
  padding: 0;
  &:not([class*='dnb-space']) {
    margin: 0;
  }

  font-family: var(--font-family-demi);
  font-weight: var(--font-weight-demi);

  color: var(--color-emerald-green);
}
@mixin h1Style() {
  font-size: var(--font-size-xx-large); // 48px
  line-height: var(--line-height-x-large); // 56px
  font-weight: var(--font-weight-demi);

  &--small,
  & > small {
    display: block;
    font-size: var(--font-size-x-large); // 32px
    line-height: var(--line-height-large); // 48px
  }
}
@mixin h2Style() {
  font-size: var(--font-size-large); // 24px
  line-height: var(--line-height-medium); // 32px

  &--small,
  & > small {
    font-size: var(--font-size-medium); // 20px
  }
  & > small {
    line-height: calc(var(--line-height-medium) - 0.125rem); // 30px
  }
}
@mixin h3Style() {
  font-family: var(--font-family-demi);
  font-weight: var(--font-weight-demi);
  font-size: var(--font-size-medium); // 20px
  line-height: var(--line-height-medium); // 32px

  &--small,
  & > small {
    font-size: var(--font-size-basis); // 16px
  }
  & > small {
    line-height: calc(var(--line-height-medium) - 0.25rem); // 28px
  }
}
@mixin h4Style() {
  font-size: var(--font-size-basis); // 16px
  & > small {
    line-height: var(--line-height-small); // 22px
  }
}
@mixin h5Style() {
  font-size: var(--font-size-small); // 14px
  & > small {
    line-height: var(--line-height-small); // 20px
  }
}
@mixin h6Style() {
  font-size: var(--font-size-small); // 14px
  font-weight: var(--font-weight-book);
  & > small {
    line-height: var(--line-height-small); // 20px
  }
}
@mixin paragraphStyle() {
  // if we not reset margin, the browser is using: margin-block-end: 1rem;
  &:not([class*='space__top']) {
    margin-top: 0;
  }
  &:not([class*='space__bottom']) {
    margin-bottom: 0;
  }
  padding: 0;

  font-size: var(--font-size-basis--em); // 16px
  line-height: var(--line-height-basis--em); // 24px

  @include numberFeature(lining-nums, lnum);

  &--demi {
    font-weight: var(--font-weight-demi);
  }
  &--ingress {
    font-weight: var(--font-weight-demi);
    color: var(--color-emerald-green);
  }
  b,
  strong,
  &--medium {
    font-weight: var(--font-weight-medium);
  }
  &--small,
  & > small {
    font-size: var(--font-size-small); // 14px

    // shold be 22px - but we force it to the pixel grid!
    // - sorry Sindre
    line-height: var(--line-height-basis);
  }

  & > cite {
    font-weight: var(--font-weight-demi);
    font-style: italic;
  }
}
@mixin h1Spacing() {
  &:not([class*='space__top']) {
    margin-top: 3rem;
  }
  &:not([class*='space__bottom']) {
    margin-bottom: 2.5rem;
  }
}
@mixin h2Spacing() {
  &:not([class*='space__top']) {
    margin-top: 3rem;
  }
  &:not([class*='space__bottom']) {
    margin-bottom: 1rem;
  }
}
@mixin headingSpacing() {
  &:not([class*='space__top']) {
    margin-top: 2rem;
  }
  &:not([class*='space__bottom']) {
    margin-bottom: 1rem;
  }
}
@mixin typographyTags() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include headingsStyle();
  }
  h1 {
    @include h1Style();
  }
  h2 {
    @include h2Style();
  }
  h3 {
    @include h3Style();
  }
  h4 {
    @include h4Style();
  }
  h5 {
    @include h5Style();
  }
  h6 {
    @include h6Style();
  }
  p {
    @include paragraphStyle();
  }
  b,
  strong {
    font-weight: var(--font-weight-medium);
  }
  small {
    font-size: var(--font-size-small); // 14px
  }
  h2 > small,
  h3 > small,
  h4 > small,
  h5 > small,
  h6 > small {
    line-height: var(
      --line-height-x-small--em
    ); // for vertical alignment, we have to have no line-height
  }
  .dnb-spacing {
    .dnb-h1,
    .dnb-core-style & .dnb-h1 {
      @include h1Spacing();
    }
    .dnb-h2,
    .dnb-core-style & .dnb-h2 {
      @include h2Spacing();
    }
    .dnb-h3,
    .dnb-h4,
    .dnb-h5,
    .dnb-h6,
    .dnb-core-style & .dnb-h3,
    .dnb-core-style & .dnb-h4,
    .dnb-core-style & .dnb-h5,
    .dnb-core-style & .dnb-h6 {
      @include headingSpacing();
    }
    .dnb-p,
    .dnb-core-style & .dnb-p {
      @include defaultSpacing();
    }
  }
}

.dnb-small {
  font-size: var(--font-size-small); // 14px
}

.dnb-h1 {
  @include h1Style();
}

.dnb-h2 {
  @include h2Style();
}

/* H3 looks the same as .dnb-lead */
.dnb-h3,
.dnb-lead {
  @include h3Style();
}

// The rest of the Headings are nod defned by the Eufemia Typography
.dnb-h4 {
  @include h4Style();
}
.dnb-h5 {
  @include h5Style();
}
.dnb-h6 {
  @include h6Style();
}

// Headings
.dnb-h1,
.dnb-h2,
.dnb-h3,
.dnb-lead,
.dnb-h4,
.dnb-h5,
.dnb-h6,
// make exception on headings wtich are inside of dnb-core-style
.dnb-core-style .dnb-h1,
.dnb-core-style .dnb-h2,
.dnb-core-style .dnb-h3,
.dnb-core-style .dnb-h4,
.dnb-core-style .dnb-h5,
.dnb-core-style .dnb-h6 {
  @include headingsStyle();
}

// // Small: do not set this for h1, like ".dnb-h1 > .dnb-small"
// .dnb-p > small,
// .dnb-p > .dnb-small {
//   line-height: var(--line-height-x-small--em); // for vertical alignment, we have to have no line-height
// }

// Paragraphs
.dnb-p {
  @include paragraphStyle();
}

// Spacing
.dnb-spacing {
  .dnb-h1 {
    @include h1Spacing();
  }
  .dnb-h2 {
    @include h2Spacing();
  }
  .dnb-h3,
  .dnb-lead,
  .dnb-h4,
  .dnb-h5,
  .dnb-h6 {
    @include headingSpacing();
  }
  .dnb-p {
    @include defaultSpacing();
  }
}
