/*
 * ActionNav element
 *
 */

.dnb-action-nav {
  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__left,
  &__right {
    display: flex;
  }
  &__left {
    margin: 0;
    padding-right: 1rem;
  }
  &__item {
    margin-left: 1rem;

    &:first-child,
    &:only-child {
      margin-left: 0;
    }
  }
  @include allBelow(medium) {
    &__inner {
      justify-content: space-between;
      flex-direction: column;
    }
    &__left {
      margin-bottom: 1rem;
    }
  }
}
