/**
 * Sbanken UI Theme
 *
 */

// change some properties
@mixin propertiesCustomisation() {
  // WIP: for now we replace all usage of "--font-family-default"
  --font-family-default: var(--sb-font-family-default);

  // Sbanken has no medium weight, so we overwrite it with bold
  --font-weight-medium: var(--sb-font-weight-bold);

  // WIP: for now we replace all sizes
  --font-size-x-small: var(--sb-font-size-x-small);
  --font-size-small: var(--sb-font-size-small);
  --font-size-basis: var(--sb-font-size-basis);
  --font-size-basis--em: var(--sb-font-size-basis--em);
  --font-size-lead: var(--sb-font-size-lead);
  --font-size-large: var(--sb-font-size-large);
  --font-size-x-large: var(--sb-font-size-x-large);
  --font-size-xx-large: var(--sb-font-size-xx-large);

  // WIP: for now we replace all heights
  --line-height-x-small: var(--sb-line-height-x-small);
  --line-height-small: var(--sb-line-height-small);
  --line-height-basis: var(--sb-line-height-basis);
  --line-height-basis--em: var(--sb-line-height-basis--em);
  --line-height-lead: var(--sb-line-height-lead);
  --line-height-medium: var(--sb-line-height-medium);
  --line-height-large: var(--sb-line-height-large);
  --line-height-x-large: var(--sb-line-height-x-large);

  // Scrollbar
  --scrollbar-track-width: 0.5rem;
  --scrollbar-thumb-width: 0.5rem;
  --scrollbar-track-color: var(--sb-color-gray-light-2);
  --scrollbar-thumb-color: var(--sb-color-gray-dark-3);
  --scrollbar-thumb-hover-color: var(--sb-color-purple);
}
