/**
 * Sbanken UI Theme
 *
 */

@mixin anchorDefaultStyleCustomisation() {
  // WIP – should be moved inside an Anchor theme
  color: var(--color-emerald-green);
}

@mixin anchorHoverStyleCustomisation() {
  // WIP – should be moved inside an Anchor theme
  color: var(--color-sea-green);
  background-color: transparent;
}

@mixin anchorActiveStyleCustomisation() {
  // WIP – should be moved inside an Anchor theme
  color: var(--color-sea-green);
  background-color: var(--color-pistachio);
}

// change heading to use MaisonNeueHeadings
@mixin headingDefaultsCustomisation() {
  // WIP – should "probably" be moved inside an typography theme
  .eufemia-theme__sbanken & {
    --font-family-default: var(--sb-font-family-headings);
  }
}
