/**
 * Sbanken UI Theme
 *
 */

// WIP: Remove this import as soon as we have a mapping for all existing properties
@import '../theme-ui/properties.scss';

@import './customisations.scss'; // WIP: remove when styles are removed
@import './fonts.scss';
@import './properties.scss';
@import './theme-mapping.scss'; // after "properties"

@import './sbanken-theme-elements.scss';

:root {
  --theme-color-body: var(--sb-color-text);
}

// ::selection appearance helper
.dnb-selection::selection,
.dnb-selection ::selection,
[class^='dnb-']::selection,
[class^='dnb-'] ::selection {
  background-color: var(--sb-color-blue-light-2);
  color: var(--sb-color-black);
  text-shadow: none;
}
