/**
 * Sbanken UI Theme
 * Overrides css variables from the ui theme
 */

// WIP: Remove this import as soon as we have a mapping for all existing properties
@import '../theme-ui/properties.scss';

.eufemia-theme__sbanken,
:root {
  --theme-color-body: var(--sb-color-text);

  // font-family
  --font-family-default: var(--sb-font-family-default);
  --font-family-heading: var(--sb-font-family-heading);

  // font-weight
  --font-weight-medium: var(--sb-font-weight-medium);
  --font-weight-bold: var(--sb-font-weight-bold);

  // font-size
  --font-size-x-small: var(--sb-font-size-x-small);
  --font-size-small: var(--sb-font-size-small);
  --font-size-basis: var(--sb-font-size-basis);
  --font-size-basis--em: var(--sb-font-size-basis--em);
  --font-size-lead: var(--sb-font-size-lead);
  --font-size-medium: var(--sb-font-size-medium);
  --font-size-large: var(--sb-font-size-large);
  --font-size-x-large: var(--sb-font-size-x-large);
  --font-size-xx-large: var(--sb-font-size-xx-large);

  // line-height
  --line-height-x-small: var(--sb-line-height-x-small);
  --line-height-small: var(--sb-line-height-small);
  --line-height-basis: var(--sb-line-height-basis);
  --line-height-basis--em: var(--sb-line-height-basis--em);
  --line-height-lead: var(--sb-line-height-lead);
  --line-height-medium: var(--sb-line-height-medium);
  --line-height-large: var(--sb-line-height-large);
  --line-height-x-large: var(--sb-line-height-x-large);
  --line-height-xx-large: var(--sb-line-height-xx-large);
}
