/**
 * Sbanken UI Theme
 *
 */

:root {
  --focus-ring-width: 0.25rem;
  --focus-ring-color: var(--sb-color-blue-dark);
}

.eufemia-theme {
  &__sbanken {
    // WIP Example
    &--blue {
      --color-sea-green: blue;
    }
  }
}
