/*
* Tabs theme
*
* ======================================================================== */

/*
 * Tabs component
 *
 * ========================================================================== */

.dnb-tabs {
  &__tabs {
    &::after {
      border-bottom: 1px solid var(--color-mint-green);
    }

    .dnb-tablink {
      // should be same as .lead small
      &-title {
        font-family: var(--font-family-std); // book
        font-size: 1em;
        line-height: 1.5em;
        text-align: center;

        color: var(--color-emerald-green);
      }

      // make sure we alway have a height of 3
      &::after {
        height: 2px;
        border-bottom: 2px solid transparent;
      }

      // hover
      &:not([disabled]):hover {
        &::after {
          border-bottom-color: var(--color-emerald-green);
        }
      }

      // disabled
      &[disabled] {
        cursor: not-allowed;
        .dnb-tablink-title {
          color: var(--color-sea-green-alt-30);
        }
      }

      // active + selected
      &:not([disabled]):active,
      &:not([disabled]).selected {
        .dnb-tablink-title {
          font-family: var(--font-family-demi);
        }
      }

      // selected only
      &:not([disabled]).selected {
        &::after {
          border-bottom-color: var(--color-signal-orange);
        }
      }

      // focus
      &:not([disabled]):not(:active):not(.selected):focus {
        @include fakeFocus();
        &::after {
          border-bottom: 2px solid transparent;
        }
      }
    }
  }
}
