/*
* Tabs theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-tabs {
  &__tabs {
    &::after {
      border-bottom: 1px solid var(--color-mint-green);
      @include allBelow(small) {
        border-bottom-color: transparent;
      }
    }
    @include allBelow(small) {
      @include fakeBorder(var(--color-mint-green), 1px);
    }

    .dnb-tablink {
      // should be same as .lead small
      &-title {
        font-weight: var(--font-weight-book);
        font-size: var(--font-size-default);
        text-align: center;

        color: var(--color-sea-green);
      }

      // make sure we alway have a height of 3
      &::after {
        height: 3px;
        border-radius: 1.5px;
        background-color: 3px solid transparent;
      }

      // hover
      &:not([disabled]):hover {
        background-color: var(--color-mint-green);
      }

      // disabled
      &[disabled] {
        cursor: not-allowed;
        .dnb-tablink-title {
          color: var(--color-sea-green-alt-30);
        }
      }

      // active + selected
      &:not([disabled]):active,
      &:not([disabled]).selected {
        .dnb-tablink-title {
          color: var(--color-emerald-green);
        }
        &::after {
          background-color: var(--color-sea-green);
        }
      }

      // selected only
      &:not([disabled]).selected {
        .dnb-tablink-title {
          font-family: var(--font-family-demi);
          font-weight: var(--font-weight-demi);
        }
      }

      // focus helper, for positioning
      // &:not([disabled]):not(:active):not(.selected):focus {
      //   @include fakeFocus();
      //   &::after {
      //     border-bottom: 3px solid transparent;
      //   }
      // }
    }
  }
}
