/*
* Tabs theme
*
*/

@import '../../../../style/themes/imports.scss';

.dnb-tabs {
  &__tabs {
    &::before {
      background-color: var(--color-mint-green-50);
      box-shadow: 100vw 0 0 0 var(--color-mint-green-50);
    }
    @include allBelow(small) {
      &:not(.dnb-section)::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: -100vw;
        top: 0;
        width: 100vw;
        height: #{$pixel1};
        background-color: var(--color-mint-green-50);
        box-shadow: 100vw 0 0 0 var(--color-mint-green-50);
      }
    }

    &__tablist {
      // Only used on to visualize the tab ring nicer
      // This was a request by the ux team
      margin-left: -1rem;
      padding: 0 1rem;
      &:focus {
        border-radius: 0.5rem;
      }
    }
  }

  &__button {
    // should be same as .lead small
    &__title {
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-basis);
      text-align: center;

      color: var(--color-sea-green);
    }
    @include allBelow(small) {
      text-align: left;
      padding: 0.5rem 1rem;
    }

    // hover
    @include hover() {
      background-color: var(--color-mint-green-50);
      &::after {
        height: #{$pixel3};
        border-radius: 1.5px;
        background-color: var(--color-sea-green);
      }
    }

    // disabled
    &[disabled] &__title {
      color: var(--color-sea-green-30);
    }

    // active + selected
    &:not([disabled]):active,
    &:not([disabled]).selected {
      &::after {
        height: #{$pixel3};
        border-radius: 1.5px;
        background-color: var(--color-sea-green);
      }
    }
    &:not([disabled]):active &__title,
    &:not([disabled]).selected &__title {
      color: var(--color-emerald-green);
    }

    // selected only
    &:not([disabled]).selected &__title {
      font-weight: var(--font-weight-medium);
    }

    // To make sure we have the wider width on every item
    // Have to be same as &:not([disabled]).selected
    span[hidden] {
      font-weight: var(--font-weight-medium);
    }

    // focus helper, for positioning
    // &:not([disabled]):not(:active):not(.selected):focus {
    //   @include fakeFocus();
    //   &::after {
    //     border-bottom: 3px solid transparent;
    //   }
    // }
  }
}
