.dnb-text-counter {
  &.dnb-p {
    color: var(--token-color-text-neutral-alternative);
  }

  .dnb-icon {
    margin-right: 0;

    font-size: 0;
    transition:
      margin 200ms var(--easing-default),
      font-size 400ms var(--easing-default);
  }

  &--exceeded {
    .dnb-p {
      color: var(--token-color-text-destructive);
    }

    .dnb-icon {
      margin-right: 0.5rem;

      font-size: var(--font-size-basis--em);
    }
  }
}
