/*
 * Modal component
 *
 */

:root {
  --modal-z-index: 3000;
}

[data-dnb-modal-active='true'] {
  user-select: none;
}

#dnb-modal-root {
  position: absolute;
  top: 0;
  left: 0;
}

.dnb-modal {
  display: inline-flex;

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--modal-z-index) + 1);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    user-select: none;

    &__inner {
      position: relative;

      padding: 2rem;
      max-width: calc(100vw - 1rem);
      max-height: 100vh;
      width: auto;
      height: auto;

      overflow-x: hidden;
      overflow-y: auto;

      user-select: text;
      border: none;

      background: var(--color-white);

      @include allAbove(medium) {
        padding: 2rem 2rem 3rem;
        padding-right: 4rem;
        @include defaultDropShadow();
      }

      @include allBelow(medium) {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }

      @include allBelow(small) {
        padding: 2rem 1rem;
      }
    }
  }

  &__title {
    &.dnb-h2,
    .dnb-core-style &.dnb-h2 {
      margin: 0;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    margin-top: 1.5rem;
  }

  &__close-button {
    // NB: as the specificity is several levels deep: :not([dnb-is-touch]) .dnb-button--secondary:hover:not([disabled])
    // we use !important in case we define position="relative" on hover
    position: absolute;
    top: 1rem;
    right: 1rem;

    @include allAbove(small) {
      top: 2rem;
      right: 2rem;
    }
  }

  &__overlay {
    position: fixed;
    z-index: var(--modal-z-index);
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.85);
  }
}
