/*
 * Modal component
 *
 */

@mixin modalFullscreen() {
  width: 100vw;
  height: 100vh;

  max-width: 100%; // fixes overflow issue on some browsers
  max-height: 100%;
}

:root {
  --modal-z-index: 3000;
  --modal-spacing: 2rem; // should reflect --spacing-large
  --modal-max-width: 60rem;
}

[data-dnb-modal-active='true'] {
  user-select: none;
  -webkit-user-select: none; // Safari / Touch fix
}

#dnb-modal-root {
  position: absolute;
  top: 0;
  left: 0;
}

.dnb-modal {
  display: inline-flex;

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--modal-z-index) + 1);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix

    &__inner {
      position: relative;

      padding: var(--modal-spacing) var(--modal-spacing) 0;

      @include allBelow(medium) {
        padding: calc(var(--modal-spacing) / 2) var(--modal-spacing) 0;
      }

      width: auto;
      height: auto;

      max-width: var(--modal-max-width);
      max-height: calc(
        100vh - var(--modal-spacing) * 2
      ); // minus vertical padding

      overflow-x: hidden;
      overflow-y: auto;

      user-select: text;
      -webkit-user-select: text; // Safari / Touch fix
      border: none;

      background: var(--color-white);

      @include allAbove(medium) {
        padding: var(--modal-spacing) var(--modal-spacing)
          calc(var(--modal-spacing) / 2);
        @include defaultDropShadow();
        border-radius: 0.5rem;
      }

      @include allBelow(medium) {
        @include modalFullscreen();
        padding: calc(var(--modal-spacing) / 2)
          calc(var(--modal-spacing) / 2) 0;
      }
    }

    &--fullscreen {
      align-items: flex-start;
      justify-content: flex-start;
    }
    &--fullscreen &__inner {
      @include modalFullscreen();
    }
  }

  &__title {
    &.dnb-h2,
    .dnb-core-style &.dnb-h2 {
      margin: 0;
      padding: 0 2rem 0 0; // because of the close button
    }
  }
  &__wrapper {
    position: relative;
    z-index: 1;

    margin-top: calc(var(--modal-spacing) - 0.5rem);
    margin-bottom: var(--modal-spacing);

    @include allBelow(medium) {
      margin-top: calc(var(--modal-spacing) / 2);
      margin-bottom: calc(var(--modal-spacing) / 2);
    }

    // For testing large scrollable content
    // height: 200vh;
    // background: blue;

    // Firefox Section fix
    .dnb-section::after {
      left: calc(1px - 1px - var(--modal-spacing));
    }
  }

  &__close-button {
    // NB: as the specificity is several levels deep: html:not([data-is-touch]) .dnb-button--secondary:hover:not([disabled])
    // we use !important in case we define position="relative" on hover
    position: absolute;
    top: var(--modal-spacing);
    right: var(--modal-spacing);

    // set a hight z-index because when font-size is 200%+
    // then it is possible that someting else will come in front
    z-index: calc(var(--modal-z-index) + 2);

    @include allBelow(medium) {
      top: calc(var(--modal-spacing) / 2);
      right: calc(var(--modal-spacing) / 2);
    }
  }

  &__overlay {
    position: fixed;
    z-index: var(--modal-z-index);
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.85);
  }
}
