@use '../../../../style/core/utilities.scss';

.dnb-blockquote {
  --blockquote-padding-top: 1.5rem;
  --blockquote-padding-bottom: 2rem;
  --blockquote-quote-padding: 5.5rem;
  --blockquote-cite-style: normal;

  background-color: var(--sb-color-violet-light-4);

  border-radius: 1.125rem;

  @include utilities.allBelow('small') {
    --blockquote-padding-bottom: 1.5rem;
    --blockquote-quote-size: 2rem;
    --blockquote-quote-padding: 4rem;

    &.dnb-blockquote--top {
      --blockquote-padding-top: 1rem;
    }

    &:not(.dnb-blockquote--top) {
      --blockquote-padding-left: 1rem;
    }
  }

  &::before {
    filter: brightness(0) saturate(100%) invert(20%) sepia(99%)
      saturate(6711%) hue-rotate(265deg) brightness(71%) contrast(115%); // simulate the color #4e08bc - --sb-color-violet
  }

  &.dnb-blockquote--no-background {
    &::before {
      // simulate the color #18172a - --sb-color-text
      filter: brightness(0) saturate(100%) invert(12%) sepia(4%)
        saturate(6079%) hue-rotate(204deg) brightness(78%) contrast(99%);
    }
  }
}
