@use '../../../../components/anchor/style/anchor-mixins.scss' as *;

.dnb-blockquote {
  color: var(--color-mint-green);
  background-color: var(--color-ocean-green);

  &.dnb-blockquote--no-background {
    color: var(--theme-color-black-80, currentColor);
    &::before {
      // simulate the color #333333 - this makes it 100% the same
      filter: grayscale(1) brightness(24%);
    }
  }

  // make contrast
  &:not(.dnb-blockquote--no-background) {
    .dnb-anchor,
    a {
      @include useAnchorContrastStyle();
    }

    h1,
    h2,
    h3,
    .dnb-h--xx-large,
    .dnb-h--large,
    .dnb-h--medium,
    .dnb-lead {
      color: var(--color-mint-green);
    }
  }
}
