/*
* Drawer theme
*
*/

@use '../../../../style/core/utilities.scss';

.dnb-dialog {
  --dialog-background: var(--sb-color-white);
  --dialog-icon-positioning: -0.5rem;
  --dialog-radius: 0.25rem;

  // icon color
  --dialog-icon-color--info: var(--sb-color-violet);
  --dialog-icon-color--warning: var(--sb-color-red);

  // icon background
  --dialog-icon-background--info: var(--sb-color-green-light-2);
  --dialog-icon-background--warning: var(--sb-color-magenta-light-2);

  &__icon {
    margin-top: calc(var(--dialog-icon-positioning) * -1);
    margin-bottom: calc(var(--dialog-icon-positioning) * -1);
  }

  &__title {
    @include utilities.allBetween(small, medium) {
      font-size: var(--sb-font-size-medium--plus) !important;
      line-height: var(--line-height-medium) !important;
    }
  }
}
