/*
* Drawer theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-dialog {
  --dialog-background: var(--sb-color-white);
  --dialog-icon-positioning: -0.5rem;

  // icon color
  --dialog-icon-color--info: var(--sb-color-green-dark-3);
  --dialog-icon-color--warning: var(--sb-color-red);

  // icon background
  --dialog-icon-background--info: var(--sb-color-green-light);
  --dialog-icon-background--warning: var(--sb-color-magenta-light-2);
}
