/*
* Drawer theme
*
*/

@use '../../../../style/core/utilities.scss';

.dnb-dialog {
  --dialog-background: var(--color-white);
  --dialog-icon-positioning: -50%;

  // icon color
  --dialog-icon-color--info: var(--color-emerald-green);
  --dialog-icon-color--warning: var(--color-fire-red);

  // icon background
  --dialog-icon-background--info: var(--color-pistachio);
  --dialog-icon-background--warning: var(--color-fire-red-8);
}
