/*
* Drawer theme
*
*/

.dnb-dialog {
  --dialog-background: var(--token-color-background-neutral);
  --dialog-icon-positioning: -50%;

  // icon color
  --dialog-icon-color--information: var(--token-color-icon-info);
  --dialog-icon-color--warning: var(--token-color-icon-error);

  // icon background
  --dialog-icon-background--information: var(
    --token-color-background-info-subtle
  );
  --dialog-icon-background--warning: var(
    --token-color-background-error-subtle
  );
}
