/*
* Dialog theme
*
*/

@use '../../../../style/core/utilities.scss' as utilities;

.dnb-dialog {
  --dialog-icon-positioning: -0.5rem;
  --dialog-radius: 0.25rem;

  &__icon {
    margin-top: calc(var(--dialog-icon-positioning) * -1);
    margin-bottom: calc(var(--dialog-icon-positioning) * -1);
  }

  &__title {
    @include utilities.allBetween(small, medium) {
      font-size: var(--sb-font-size-medium--plus) !important;
      line-height: var(--line-height-medium) !important;
    }
  }
}
