/*
* Textarea component
*
*/

@use '../../../style/core/utilities.scss';

@mixin textareaStyleCommon() {
  cursor: auto;
  border: none;
  margin: 0;
  padding: 0;

  outline: none;

  font-size: var(--font-size-basis);
  line-height: var(--line-height-basis);
  color: var(--textarea-color, var(--color-black));
  background-color: var(--textarea-background-color, var(--color-white));
}

.dnb-textarea {
  --textarea-border-radius: 0.25rem;
  --textarea-rows: 2; // using variable so it can be dynamically changed by react component
  --textarea-background-color: var(--color-white);
  --textarea-placeholder-color: grey;
  --textarea-size--small: 0.25rem;
  --textarea-size--medium: 0.5rem;
  --textarea-size--large: 0.75rem;

  display: inline-flex;

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &__inner {
    display: inline-flex;
    flex-direction: column;
  }

  &__shell {
    display: inline-flex;
    position: relative;

    // because of inheritance, we set the font-size and line-height here as well
    font-size: var(--font-size-basis);

    &::after {
      --size: 0.5rem;
      --bg-size: cover;
      --bg-pos: 0;

      pointer-events: none;

      position: absolute;
      z-index: 2;

      bottom: 0;
      right: 0;

      width: var(--size);
      height: var(--size);

      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none"><path stroke="%23000" stroke-linecap="round" stroke-width=".5" d="m1 7 6-6M3.5 7 7 3.5M6 7l1-1"/></svg>');
      background-size: var(--bg-size);
      background-position: var(--bg-pos) var(--bg-pos);
      background-color: var(--textarea-background-color);
    }
  }

  &__resize--medium &__shell::after {
    content: '';
  }
  &__resize--large &__shell::after {
    content: '';

    --size: 1rem;
    --bg-size: 60%;
    --bg-pos: 0.25rem;
  }

  &__autoresize &__shell::after {
    content: none;
  }

  &__state {
    position: absolute;
    z-index: 1;
    top: calc(var(--textarea-size-vertical) * -1);
    left: calc(var(--textarea-size-horizontal) * -1);
    bottom: calc(var(--textarea-size-vertical) * -1);

    // use vertical to align the grabber to be centered on the corner
    right: calc(var(--textarea-size-vertical) * -1);

    background-color: var(--textarea-background-color);

    @include utilities.fakeBorder(
      var(--textarea-border-color),
      var(--textarea-border-width),
      var(--textarea-border-inset, inset)
    );

    border-radius: var(--textarea-border-radius);
  }

  &__row {
    display: inline-flex;

    margin: var(--textarea-size-vertical) var(--textarea-size-vertical)
      var(--textarea-size-vertical) var(--textarea-size-horizontal);
  }

  &__suffix.dnb-suffix {
    padding-left: 1rem;
  }

  &__textarea {
    position: relative;
    z-index: 2;

    // To prevent textarea element from going outside of boundaries on smaller screens
    width: 100%;

    @include textareaStyleCommon();

    @include utilities.scrollY(auto);

    @include utilities.IS_FF() {
      overflow-x: clip !important;
    }
  }

  // change the autocomplete appearance once filled out
  &__input:autofill {
    // set the border and the background
    box-shadow:
      0 0 0 var(--border-width) var(--border-color),
      0 0 0 10em var(--textarea-background-color) inset;
  }

  &__placeholder {
    pointer-events: none;

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    overflow: hidden;
    width: 100%; // to get overflow working properly
    height: 100%; // to get overflow working properly

    // Required for line-clamp
    display: -webkit-box;
    -webkit-box-orient: vertical;

    // Limit the text block to two lines
    -webkit-line-clamp: var(--textarea-rows, 2);

    @include textareaStyleCommon();

    color: var(--textarea-placeholder-color);
    background-color: transparent;
  }

  &__textarea,
  &__placeholder {
    text-align: left;
  }

  &__align--right &__textarea,
  &__align--right &__placeholder {
    text-align: right;
  }

  &,
  &__size--small {
    --textarea-size-vertical: var(--textarea-size--small);
    --textarea-size-horizontal: 1rem;
  }
  &__size--medium {
    --textarea-size-vertical: var(--textarea-size--medium);
    --textarea-size-horizontal: 1rem;
  }
  &__size--large {
    --textarea-size-vertical: var(--textarea-size--large);
    --textarea-size-horizontal: 1rem;
  }

  &__autoresize &__textarea {
    resize: none;
  }

  // disabled
  &--disabled &__textarea,
  &__textarea[disabled] {
    user-select: none; // Safari / Touch fix
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__inner > .dnb-form-status {
    order: 2;
    margin-top: 0.5rem;
  }

  &:not(#{&}--vertical) .dnb-form-label {
    margin-top: var(--textarea-size-vertical);
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &:not(&--vertical)[class*='__status'] {
    align-items: flex-start;

    > .dnb-form-label {
      // vertical align the current font
      margin-top: 0.25rem;
    }
  }

  @include utilities.formLabelWrap();

  // make full width
  &--stretch {
    display: flex;
    flex-grow: 1;
  }

  &--stretch & {
    &__inner {
      flex-grow: 1;
    }

    &__shell,
    &__inner,
    &__textarea {
      width: 100%;
    }
  }

  &--stretch .dnb-form-label + &__inner {
    width: auto;
  }
  &--vertical#{&}--stretch &__inner {
    width: 100%;
  }

  &--keep-placeholder#{&}--focus &__placeholder {
    --textarea-placeholder-color: var(--textarea-placeholder-color--focus);
    display: block;
  }

  .dnb-form-row--horizontal &--stretch {
    width: 100%;
  }

  .dnb-responsive-component & {
    @media screen and (max-width: 40em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin-bottom: 0.5rem;

      > .dnb-form-label {
        margin-bottom: 0.5rem;
      }
    }
  }

  html[data-visual-test] &__textarea {
    caret-color: var(--color-white);
  }

  &.dnb-skeleton &__inner {
    border-radius: var(--textarea-border-radius);
  }

  &.dnb-skeleton &__state,
  &.dnb-skeleton &__textarea {
    visibility: hidden;
  }
}
