/*
 * GlobalStatus component
 *
 */

:root {
  --global-status-easing: #{$defaultEasing};
}

.dnb-global-status {
  &.dnb-section {
    display: block;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__shell {
    width: 100%;
    opacity: 1;

    will-change: height;
    transition: height 800ms var(--global-status-easing),
      opacity 600ms var(--global-status-easing);
  }
  &--hidden &__shell {
    height: 0;
    opacity: 0;
  }
  &--no-animation &__shell,
  html[data-visual-test] &__shell {
    transition-duration: 1ms !important;
  }

  &,
  &--no-animation#{&}--visible {
    display: flex;
  }
  &--no-animation#{&}--hidden {
    display: none;
  }

  &__title {
    position: relative; // because of the close button
    cursor: text;

    min-height: 3.5rem; // Could be var(--spacing-xx-large)

    &.dnb-p {
      display: flex;
      align-items: center;

      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 3rem;
      padding-right: 5rem;

      font-size: var(--font-size-medium);
    }

    .dnb-spacing &.dnb-p,
    .dnb-spacing &.dnb-p:not([class*='dnb-space']) {
      margin: 0;
    }
  }

  &__message {
    cursor: text;
    z-index: 1;

    &__content {
      display: flex;
      flex-direction: column;

      padding: 2rem 0 2.5rem;

      & .dnb-p,
      .dnb-spacing & .dnb-p,
      .dnb-spacing & .dnb-p:not([class*='dnb-space']) {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    left: 0;

    margin-top: 0.75rem;
  }
  &__close-button,
  &__close-button.dnb-button--tertiary {
    position: absolute;
    z-index: 1;
    top: -0.25rem;
    right: 1rem; // also because of the focus-ring
    left: auto;

    margin-top: 0.75rem;
  }
  .dnb-modal__content__inner &__close-button {
    right: 0;
  }

  &__content {
    width: 100%;

    .dnb-ul,
    .dnb-spacing & .dnb-ul,
    .dnb-spacing & .dnb-ul:not([class*='dnb-space']) {
      margin: 0;
      margin-top: 0.5rem;
      padding-left: 1rem;
      & > li {
        margin: 0;
        padding-left: 0;
        .dnb-anchor:last-of-type {
          margin-left: 0.5rem;
        }
      }
    }
  }

  @include IS_IE {
    &__icon > .dnb-icon {
      border-width: 1px;
    }
  }
}
