/*
* Used for snapshot testing
*
*/

@import '../../../style/core/utilities.scss';

@import '../../button/style/deps.scss';
@import '../../section/style/deps.scss';

@import './dnb-global-status.scss';
