/*
 * Space component
 *
 * TODO: Set spacing in the theme file, as theme comes later in the stack
 *
 */

@use 'sass:string';
@use '../../../style/core/utilities.scss' as utilities;
@use './space-mixins.scss';

@mixin direction($direction) {
  // Get the first letter for the custom property name (top -> t, left -> l, etc.)
  $short: string.slice($direction, 1, 1);

  // Apply responsive custom property overrides for all modifiers above
  &--xx-small,
  &--x-small,
  &--small,
  &--medium,
  &--large,
  &--x-large,
  &--xx-large,
  &--xx-large-x2 {
    html[data-visual-test] &:not([style*='--margin-#{$short}-']) {
      &::before {
        content: 'Missing --margin-#{$short}-* custom property!';
        display: block;
        color: red;
        font-size: 1rem;
        padding: 1rem;
      }
    }

    @include utilities.allBelow(medium) {
      margin-#{$direction}: var(--margin-#{$short}-s);
    }
    @include utilities.allBetween(small, medium) {
      margin-#{$direction}: var(--margin-#{$short}-m);
    }
    @include utilities.allAbove(medium) {
      margin-#{$direction}: var(--margin-#{$short}-l);
    }
  }

  // 0rem
  &--zero {
    margin-#{$direction}: 0;
  }
}

/** NB: Because CSS specificity ".dnb-core-style .dnb-space"
    has to come before the next ".dnb-space"
  */
.dnb-core-style .dnb-space {
  &__top {
    @include direction(top);
  }
  &__right {
    @include direction(right);
  }
  &__bottom {
    @include direction(bottom);
  }
  &__left {
    @include direction(left);
  }
}

/* stylelint-disable */
.dnb-space {
  &--no-collapse {
    display: flow-root;
  }
  &--stretch {
    width: 100%;
  }
  &--inline {
    display: inline-block;
  }
  &__top {
    @include direction(top);
  }
  &__right {
    @include direction(right);
  }
  &__bottom {
    @include direction(bottom);
  }
  &__left {
    @include direction(left);
  }
  &__reset {
    @include utilities.spaceReset();
  }

  // innerSpace
  &[style*='--space-t-'] {
    padding-top: var(--padding-top, 0);
  }
  &[style*='--space-r-'] {
    padding-right: var(--padding-right, 0);
  }
  &[style*='--space-b-'] {
    padding-bottom: var(--padding-bottom, 0);
  }
  &[style*='--space-l-'] {
    padding-left: var(--padding-left, 0);
  }

  @include utilities.allBelow(medium) {
    --padding-right: var(--space-r-s);
    --padding-left: var(--space-l-s);
    --padding-top: var(--space-t-s);
    --padding-bottom: var(--space-b-s);
  }
  @include utilities.allBetween(small, medium) {
    --padding-right: var(--space-r-m);
    --padding-left: var(--space-l-m);
    --padding-top: var(--space-t-m);
    --padding-bottom: var(--space-b-m);
  }
  @include utilities.allAbove(medium) {
    --padding-right: var(--space-r-l);
    --padding-left: var(--space-l-l);
    --padding-top: var(--space-t-l);
    --padding-bottom: var(--space-b-l);
  }
}
span.dnb-space--no-collapse > span {
  display: block;
}
/* stylelint-enable */
