@mixin spaceVerticalReset() {
  &:not([style*='--margin-t-']) {
    margin-top: 0;
  }
  &:not([style*='--margin-b-']) {
    margin-bottom: 0;
  }
}
@mixin spaceHorizontalReset() {
  &:not([style*='--margin-l-']) {
    margin-left: 0;
  }
  &:not([style*='--margin-r-']) {
    margin-right: 0;
  }
}

@mixin spaceReset() {
  @include spaceVerticalReset();
  @include spaceHorizontalReset();
}
