/*
 * Code / Pre
 *
 */

@use '../../../style/elements/ui-spacing.scss';
@use './code-mixins.scss' as *;

.dnb-code {
  @include codeStyle();
}

.dnb-pre {
  @include preStyle();
}

.dnb-spacing .dnb-pre {
  @include ui-spacing.defaultSpacing();
}

.dnb-skeleton {
  > .dnb-code {
    background-color: transparent;
  }
}
