/*
 * FormRow component
 *
 */

:root {
  --form-row-column1-start: auto;
  --form-row-column2-start: 1fr;
  --form-row-row1-start: auto;
  --form-row-row2-start: auto; //minmax(max-content, auto)
}

.dnb-form-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &__content {
    display: inline-flex;
    width: 100%;
  }

  // for hoizontal direction
  &:not(#{&}--vertical),
  &--horizontal {
    // @supports (display: grid) {
    display: grid;
    grid-template-columns:
      [column1-start] var(--form-row-column1-start)
      [column1-end column2-start] var(--form-row-column2-start)
      [column2-end];
    grid-template-rows:
      [row1-start] var(--form-row-row1-start) [row1-end row2-start] var(
        --form-row-row2-start
      )
      [row2-end];
    // }
    // @supports not (display: grid) {
    align-items: flex-end;
    // }

    // > * { // <-- we used this before
    > .dnb-form-row__content {
      grid-column: column2-start / column2-end;
      grid-row: row2-start / row2-end;
      justify-self: start;
    }

    > .dnb-form-label {
      // @supports (display: grid) {
      // put the label in the first column
      grid-column: column1-start / column1-end;
      grid-row: row1-start / row1-end;

      // move the label up in case we have several lines (use the line-height)
      margin-bottom: -1.5rem;
      margin-right: 1rem;

      @media (min-width: 40em) {
        text-align: right;
      }
    }

    // overwrite display to be block on small screens
    @media (max-width: 40em) {
      display: block;
    }

    #{&}--nested {
      > .dnb-form-label {
        @media (max-width: 40em) {
          margin-bottom: 1rem;
          margin-right: 0;
        }
      }
    }
  }

  // for vertical direction
  &--vertical {
    > .dnb-form-label {
      margin-bottom: 0.5rem;
    }
  }
  &--vertical &__content {
    flex-direction: column;
    flex-shrink: 0;
  }

  // TODO: we may considder this to be included with a prop later on
  // default spacing
  // &:not(#{&}--nested) {
  //   margin-bottom: 1.5rem;
  // }

  &--vertical-label {
    flex-direction: column;
  }
  &:not(#{&}--vertical)#{&}--vertical-label {
    row-gap: 2rem;
  }

  > .dnb-form-status {
    margin: 0.5rem 0;
  }
  > .dnb-form-label {
    &--vertical {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &--vertical ~ .dnb-form-row__content {
      grid-column: column1-start / column1-end;
    }
  }

  // reset the fieldset
  &__fieldset,
  .dnb-core-style &__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
}
