/*
 * GlobalStatus theme
 *
 */

@import '../../../../style/themes/imports.scss';

.dnb-global-status {
  &:not(#{&}--no-animation)#{&}--fade-in#{&}.dnb-section::after {
    box-shadow: 100vw 0 0 0 currentColor,
      0 0.0625rem 0 0 var(--color-black-80),
      100vw 0.0625rem 0 0 var(--color-black-80);
  }

  // &__content {
  // red line
  // &::after {
  //   content: '';
  //   position: absolute;
  //   z-index: 1;
  //   left: -100vw;
  //   top: auto;
  //   bottom: 0;
  //   width: 100vw;
  //   height: 1px;
  //   color: var(--color-fire-red);
  //   background-color: currentColor;
  //   box-shadow: 10px 0 0 0 currentColor, 100vw 0 0 0 currentColor;
  // }
  // }

  &__title {
    &.dnb-p {
      font-weight: var(--font-weight-demi);
    }
  }
  &__icon {
    font-size: 1rem;
  }
  &--error &__title {
    color: var(--color-white);
  }
  &__message {
    color: var(--color-black-80);

    .dnb-p {
      font-weight: var(--font-weight-demi);
    }

    &.dnb-section--white ::selection {
      background-color: var(--color-mint-green);
    }
  }

  // TODO: This has to be implemented as a contrast version
  &--error &__close-button,
  &--error &__close-button.dnb-button--tertiary {
    color: var(--color-white);

    @include hover() {
      .dnb-button__text {
        color: inherit;

        // underline
        &::after {
          color: inherit;
        }
      }
    }

    &:not([disabled]):focus::before {
      @include fakeFocus(null, var(--color-white));
    }
    &:not([disabled]):active::before {
      @include fakeFocus('mouse', var(--color-white));
    }
  }
}
