/*
 * GlobalStatus theme
 *
 */

.dnb-global-status {
  &:not(#{&}--no-animation)#{&}--fade-in#{&}.dnb-section::after {
    box-shadow: 100vw 0 0 0 currentColor,
      0 0.0625rem 0 0 var(--color-black-80),
      100vw 0.0625rem 0 0 var(--color-black-80);
  }

  &__title {
    font-weight: var(--font-weight-demi);
    font-size: var(--font-size-x-default);
  }

  &__close-button {
    color: var(--color-white);
  }
}
