/* DNB KUNDEPORTAL GLOBAL CSS */

/* GUI-TEAM PORTAL-RELEASE NOVEMBER - 20140823  12:00 */

/*  PRINT STILER -  NY KUNDEPORTAL */

body,
#column_top {
  background: none;
}
@font-face {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#column_top {
  position: relative;
}
#column_content {
  margin-top: 30px;
  display: block; /* prevent blank ark */
}
html {
  height: auto;
}
#wrapper {
  padding-top: 0;
  overflow: visible;
}
#column_top {
  position: relative;
}
.pageTitle {
  margin-top: 0;
}

div#header {
  background-color: transparent;
  position: relative;
  width: 550px;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-right: 0;
  height: 106px;
}
#htmlBackground {
  display: none;
  height: 0;
}
.topNavContainer {
  display: none;
}

/* div.skrivut {
position: absolute;
margin-left:243px;
} */
div#logo {
  width: 500px;
  position: relative;
  top: 0;
  left: 4px;
  padding-left: 4px;
  background-color: #fff;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 0 solid #c0c0c0;
  z-index: 8;
  margin-top: 10px;
}
#footerBottom {
  position: relative;
  margin-top: 40px;
}
#footerBottom ul {
  background: none;
  border: 0 solid #ececec;
}
div.topLinks {
  position: absolute;
  margin-top: -30px;
  text-align: left;
  color: #333;
  text-decoration: none;
}
#column_top {
  height: 50px;
}
.navBarItem {
  display: none;
}
#pageTitleLinks li.frontLinks,
#pageTitleLinks li a {
  display: none;
}
#navBar {
  display: none;
}
div#footerNav dl {
  display: none;
}
#q {
  display: none;
}

/*  */
div.sharePanel {
  display: none;
}
div.carousel {
  display: none;
}
.navBarItem h3,
.navBarItem h3.headlineGreen,
.navBarRight img,
#navBar .navBarItem input.formsButton {
  display: none;
}
#topLevelNav,
#topLevelNav li.firstItem a,
#topLevelNav li a .formsInput.inputLogin {
  background: none;
  display: none;
}
#logo {
  height: 70px;
  margin: 10px 0 0 20px;
}
#htmlBackground {
  display: none;
}
.knapp {
  display: none;
}
.knappWhite {
  display: none;
}
input.knapp_back {
  display: none;
}
.formsButton {
  display: none;
}
.formsButtonPrint {
  display: none;
}
input.formsButtonBack {
  display: none;
}
div#lineBreadCrumb {
  margin-top: -30px;
  position: absolute;
  left: 8px;
  background-color: transparent;
  padding: 5px 0 5px 2px;
  margin-right: 0;
  text-align: left;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  z-index: 300;
}
#breadcrums {
  display: none;
}
body#flex div#popUp {
  border: 0;
}
div.boxElement,
.moduleContact h5.moduleHeadline {
  border: 0 solid #eee;
}

.topFlipPopUp {
  display: none;
}

hr.popup {
  background: white;
  display: block;
  color: #fff;
  height: 0.1pt;
}
div#actionMenuModule {
  display: none;
}
body#flex div.middleContainerTwoColomn {
  width: auto;
  padding-right: 0;
  margin-right: 0;
  margin-left: 10px;
  margin-top: 10px;
  background-color: transparent;
}
#pinText,
.pinText,
#receiptText {
  display: none;
}
#wrapper #footer,
#wrapper #column_top #header #topLevelNav,
#wrapper #column_top #header #navBAr,
#wrapper #footer #footerNav {
  display: none;
}
#footerBottom li {
  border: none;
  display: none;
}
#footerBottom li.lastItem span.copyrightFooter,
#footerBottom li.lastItem {
  display: block;
  margin-right: 110px;
}

/* ie6 hack */

/* body {
_font-size:70%;
} */
table.tableOddEven {
  _width: auto;
}
#column_content {
  _width: 65%;
}

/* dynamicApplication styles */
#wrapper div.full.dynamicApplication .content,
div#column_left div#ciceroContainer .content,
#wrapper
  div.full.dynamicApplication
  div#ciceroContainer
  .moduleCenter
  .content
  table.tableOddEven {
  _width: 98%;
}
#column_right {
  _float: none;
}
div.small,
div.medium,
div.large,
div.full,
div.smallFooter {
  _float: none;
}
#column_left {
  _width: 660px;
}
#footerBottom ul {
  _left: 100px;
}

/* end ie6 hack */
tr.oddLine td,
tr.oddLine th,
td.oddLine,
tr.evenLine td,
tr.evenLine th {
  border-bottom: 3px solid #ebebeb;
}
td.evenLine,
tr.headingLine,
td.headingLine {
  border-bottom: 3px solid #ebebeb;
  border-top: 3px solid #ebebeb;
}

.carousel .leftArrow,
.carousel .rightArrow,
.hbkCarousel .leftArrow,
.hbkCarousel .rightArrow {
  display: none;
}
.carousel {
  margin-left: -10px;
}
.stilCarousel {
  float: left;
  width: 700px;
  margin-left: -10px;
}
.stilCarousel .linkContainer,
.carousel .linkContainer,
.carouselLarge .linkContainer {
  margin-left: 0;
  width: auto;
}
.stilCarousel .carouselSlideDiv .linkContainerRight {
  margin-right: 0;
}
#wrapper #column_left .stilCarousel div.medium {
  float: left;
}
div.articleContent {
  float: left;
}
body#dnbLayoutPrint #wrapper div.dynamicApplication.full,
body#dnbLayoutPrint #wrapper div.dynamicApplication div.article.full {
  width: auto;
}
body#dnbLayoutPrint #wrapper {
  border: none;
  color: #000;
  margin-left: 0;
}
body {
  color: #000;
}
.hide-in-print {
  display: none;
}
body#dnbLayoutPrintLandscape table,
body#dnbLayoutPrint table {
  page-break-after: auto;
}
#searchContainer,
#listContainer table.sumListTable {
  border-color: #333;
}
body#dnbLayoutPrintLandscape,
body#dnbLayoutPrint {
  background: none repeat scroll 0 0 #fff;
  background: none;
  width: auto !important;
}
#dnbLayoutDefault #wrapper div.full,
#wrapper div.full,
div.full,
#dnbLayoutDefault #wrapper div.full .webform-container.full,
#dnbLayoutDefault #wrapper #column_all div.full,
#dnbLayoutDefault #wrapper #column_all .moduleBlockBlue.full,
#dnbLayoutDefault #wrapper #column_all .phpContainer.full,
#dnbLayoutDefault #wrapper #column_all .article.full {
  width: auto;
}
#wrapper {
  margin-left: 0;
}
#column_all {
  display: block;
}

/* application Print view */
.nbp_kontolisteknapp {
  color: #000;
}
h1.headline {
  color: #000;
}

/* style loggedinn not exsist in print modus 08.09.2014 LMK */
#nbpApps,
#nbb,
#PopUpNbb,
.cssLayout,
#details table.detailsTable {
  font-size: 12px;
}
