/*
* Tag component
*
*/

:root {
  --tag-border-radius: 2.5rem;
}

.dnb-tag {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-xx-small) var(--spacing-x-small);
  font-size: var(--font-size-x-small);
  background-color: var(--color-black-8);
  border-radius: var(--tag-border-radius);
  &__icon {
    display: flex;
    align-items: center;
  }
}
