/*
* Tag component
*
*/

@use '../../../style/core/utilities.scss' as utilities;
@use '../../button/style/themes/button-mixins.scss' as button-mixins;
@use './themes/tag-mixins.scss' as tag-mixins;

.dnb-tag {
  --tag-icon-color: var(--token-color-icon-action);
  --tag-icon-border-color: var(--tag-icon-color);

  &.dnb-button {
    appearance: none;
    background-color: var(--token-color-background-neutral-base);

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .dnb-button__text {
      font-size: var(--font-size-x-small);
      transform: none;
    }
  }

  &:not(#{&}--interactive) {
    user-select: unset;
    cursor: unset;

    .dnb-button__text {
      cursor: text;
    }
  }

  &--interactive {
    &.dnb-button {
      color: var(--token-color-text-action);
      background-color: var(--token-color-decorative-third-muted);

      @include utilities.fakeBorder(
        var(--token-color-stroke-action),
        0.0625rem,
        inset
      );
      @include button-mixins.buttonFocusVisible(
        $focus-color: var(--token-color-text-action-pressed)
      ) {
        --tag-icon-color: var(--token-color-icon-action-pressed);
      }
      @include button-mixins.buttonHover() {
        --tag-icon-color: var(--token-color-icon-action-pressed);
      }
      @include button-mixins.buttonActive(
        $background-color:
          var(--token-color-background-action-hover-subtle)
      ) {
        --tag-icon-color: var(--token-color-icon-action);
      }

      &[disabled] {
        color: var(--token-color-text-action-disabled);
        background-color: var(--token-color-background-neutral);

        @include utilities.fakeBorder(
          var(--token-color-stroke-action-disabled)
        );
      }
    }
  }

  &--removable,
  &--addable {
    &.dnb-button {
      padding-right: 0.25rem;

      @include tag-mixins.tagIcon(
        var(--tag-icon-fill-color),
        var(--tag-icon-stroke-color),
        var(--tag-icon-border-color)
      );
    }
  }

  &--addable {
    --tag-icon-fill-color: var(--tag-icon-color);
    --tag-icon-stroke-color: var(--token-color-text-neutral-inverse);
    svg {
      transform: rotate(45deg);
    }
  }

  &--removable {
    --tag-icon-fill-color: var(--token-color-text-neutral-inverse);
    --tag-icon-stroke-color: var(--tag-icon-color);
  }

  // Default space between tags
  &__group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
