/*
* Tag mixins
*
*/

@use '../../../style/core/utilities.scss' as utilities;

@mixin tag-icon($fill-color, $stroke-color, $border-color) {
  --tag-icon-fill: #{$fill-color};
  --tag-icon-stroke: #{$stroke-color};

  @include utilities.focus-visible() {
    --tag-icon-fill: #{$stroke-color};
    --tag-icon-stroke: #{$fill-color};
  }

  @include utilities.hover() {
    --tag-icon-fill: #{$stroke-color};
    --tag-icon-stroke: #{$fill-color};
  }

  @include utilities.active() {
    --tag-icon-fill: #{$stroke-color};
    --tag-icon-stroke: #{$fill-color};
  }

  svg {
    border-radius: 50%;
    outline: 0.0625rem solid $border-color;
    outline-offset: -0.0625rem;
    .dnb-icon-close-circle-path {
      fill: var(--tag-icon-fill);
    }

    .dnb-icon-close-cross-path {
      stroke: var(--tag-icon-stroke);
    }
  }
}
