/*
* Table theme
*
*/

@import '../../../../style/core/utilities.scss';
@import '../../../button/style/themes/button-mixins.scss';
@import '../table-mixins.scss';

@mixin tableFocusRing() {
  &::before {
    top: -0.375rem;
    bottom: -0.25rem;
    left: -0.6875rem;
    right: -0.4375rem;
  }
}

.dnb-table {
  text-align: left;

  & thead {
    border-bottom: var(--border);
  }

  &__th,
  & thead th {
    padding: 0.5rem 1.5rem 0.25rem;
    font-weight: var(--font-weight-medium);
    background-color: var(--sb-color-white);
  }

  & &__tr--even {
    background-color: var(--sb-color-gray-light-3);
  }

  &__td,
  & tbody &__th,
  & tbody td,
  & tbody th {
    padding: 1rem 1.5rem;
  }

  /* BUTTONS INSIDE TABLE */

  // No sorting applied
  & > thead > tr > th#{&}--sortable,
  & &__th#{&}--sortable {
    .dnb-table__sort-button.dnb-button {
      color: var(--sb-color-violet);
      & .dnb-button__text::after {
        bottom: -0.0625rem;
        left: 0;
        opacity: 0;
        color: var(--sb-color-violet);
      }
      &:not(:focus) .dnb-button__text::after {
        color: var(--sb-color-violet);
      }
      @include hover() {
        color: var(--sb-color-violet);
      }
      @include active() {
        color: var(--sb-color-violet);
        @include buttonFocusRing(
          'mouse',
          inset
        ); // also, make a mouse ring
        @include buttonFocusRing(
          'touch',
          inset
        ); // also, make a touch ring
        @include tableFocusRing();
      }
      @include focus() {
        @include tableFocusRing();
        &:focus-visible {
          color: var(--sb-color-blue-dark);
        }

        &:not(:active) .dnb-button__text::after {
          visibility: hidden;
        }
      }
    }
  }

  & > thead > tr > th#{&}--active,
  & &__th#{&}--active {
    .dnb-table__sort-button.dnb-button {
      @include hover() {
        & .dnb-button__text::after {
          color: var(--sb-color-violet);
        }
      }
    }
  }
}

.dnb-table,
.dnb-table__container {
  --border-width: 0.0625rem;
  --outline-width: 0.0625rem;

  // table border
  --border: var(--border-width) solid var(--sb-color-gray-light-2);

  // table outline
  --outline: var(--outline-width) solid var(--sb-color-gray-light-2);

  background-color: var(--sb-color-white);

  html[data-visual-test] & {
    --border: var(--border-width) solid blue;
    --outline: var(--outline-width) solid red;
    --accordion-border: var(--accordion-border-width) solid green;
  }
}
