/*
* Table theme
*
*/

@use '../../../../style/core/utilities.scss' as utilities;
@use '../../../button/style/themes/button-mixins.scss';
@use '../table-mixins.scss' as table-mixins;

@mixin tableFocusRing() {
  &::before {
    top: -0.375rem;
    bottom: -0.25rem;
    left: -0.6875rem;
    right: -0.4375rem;
  }
}

.dnb-table {
  text-align: left;

  &__th,
  & thead th {
    padding: 0.5rem 1.5rem 0.25rem;
    font-weight: var(--font-weight-medium);
  }

  &__td,
  & tbody &__th,
  & tbody td,
  & tbody th {
    padding: 1rem 1.5rem;
  }

  thead + tbody .dnb-table__tr:first-child {
    .dnb-table__td,
    .dnb-table__th {
      @include table-mixins.tableBorder() {
        border-top: var(--table-border);
      }
    }
  }

  /* BUTTONS INSIDE TABLE */

  // No sorting applied
  & > thead > tr > th#{&}--sortable,
  & &__th#{&}--sortable {
    .dnb-table__sort-button.dnb-button {
      & .dnb-button__text::after {
        bottom: -0.0625rem;
        left: 0;
        opacity: 0;
      }

      @include utilities.active() {
        @include button-mixins.buttonFocusRing(
          'mouse',
          inset
        ); // also, make a mouse ring
        @include button-mixins.buttonFocusRing(
          'touch',
          inset
        ); // also, make a touch ring
        @include tableFocusRing();
      }

      @include utilities.focus() {
        @include tableFocusRing();

        &:not(:active) .dnb-button__text::after {
          visibility: hidden;
        }
      }
    }
  }
}

.dnb-table,
.dnb-table__container {
  --table-accordion-header-background: var(
    --token-color-background-neutral-subtle
  );

  // Icon
  --table-accordion-icon-color: var(--token-color-icon-neutral);
  --table-accordion-icon-color--active: var(--token-color-icon-action);
  --table-accordion-icon-color--disabled: var(
    --token-color-icon-neutral-alternative
  );

  // Outline
  --table-accordion-outline-color: var(--token-color-stroke-action);
  --table-accordion-outline-width: var(--table-accordion-border-width);
  --table-accordion-background--active: var(
    --token-color-background-neutral-subtle
  );
}
