/*
* Table theme
*
*/

@use '../../../../style/core/utilities.scss';
@use '../../../button/style/themes/button-mixins.scss';
@use '../table-mixins.scss';

@mixin tableFocusRing() {
  &::before {
    top: -0.375rem;
    bottom: -0.25rem;
    left: -0.6875rem;
    right: -0.4375rem;
  }
}

.dnb-table {
  --table-th-background-color: var(--sb-color-white);

  text-align: left;

  &__th,
  & thead th {
    padding: 0.5rem 1.5rem 0.25rem;
    font-weight: var(--font-weight-medium);
  }

  & &__tr--even {
    background-color: var(--sb-color-gray-light-3);
  }

  &__td,
  & tbody &__th,
  & tbody td,
  & tbody th {
    padding: 1rem 1.5rem;
  }

  thead + tbody .dnb-table__tr:first-child {
    .dnb-table__td,
    .dnb-table__th {
      @include table-mixins.tableBorder() {
        border-top: var(--table-border);
      }
    }
  }

  /* BUTTONS INSIDE TABLE */

  // No sorting applied
  & > thead > tr > th#{&}--sortable,
  & &__th#{&}--sortable {
    .dnb-table__sort-button.dnb-button {
      color: var(--sb-color-violet);
      & .dnb-button__text::after {
        bottom: -0.0625rem;
        left: 0;
        opacity: 0;
        color: var(--sb-color-violet);
      }
      &:not(:focus) .dnb-button__text::after {
        color: var(--sb-color-violet);
      }
      @include utilities.hover() {
        color: var(--sb-color-violet);
      }
      @include utilities.active() {
        color: var(--sb-color-violet);
        @include button-mixins.buttonFocusRing(
          'mouse',
          inset
        ); // also, make a mouse ring
        @include button-mixins.buttonFocusRing(
          'touch',
          inset
        ); // also, make a touch ring
        @include tableFocusRing();
      }
      @include utilities.focus() {
        @include tableFocusRing();
        &:focus-visible {
          color: var(--sb-color-blue-dark);
        }

        &:not(:active) .dnb-button__text::after {
          visibility: hidden;
        }
      }
    }
  }

  & > thead > tr > th#{&}--active,
  & &__th#{&}--active {
    .dnb-table__sort-button.dnb-button {
      @include utilities.hover() {
        & .dnb-button__text::after {
          color: var(--sb-color-violet);
        }
      }
    }
  }
}

.dnb-table,
.dnb-table__container {
  --table-border-color: var(--sb-color-gray-light-2);
  --table-outline-color: var(--sb-color-gray-light-2);
  --table-accordion-border-color: var(--sb-color-gray-light-2);
  --table-accordion-header-background: var(--sb-color-gray-light-2);

  // Icon
  --table-accordion-icon-color: var(--sb-color-text);
  --table-accordion-icon-color--active: var(--sb-color-violet);
  --table-accordion-icon-color--disabled: var(--sb-color-gray-dark-2);

  // Outline
  --table-accordion-outline-color: var(--sb-color-violet);
  --table-accordion-outline-width: var(--table-accordion-border-width);
  --table-accordion-outline-background--active: var(
    --sb-color-gray-light-2
  );

  background-color: var(--sb-color-white);

  html[data-visual-test] & {
    --table-border-color: blue;
    --table-outline-color: red;
    --table-accordion-border-color: green;
  }
}
