/*
* Table theme
*
*/

@import '../../../../style/core/utilities.scss';

.dnb-table {
  text-align: left;

  // head
  &__th {
    // spacing
    padding: 2rem 1rem 1rem;

    // typography
    font-weight: var(--font-weight-medium);
    color: var(--theme-color-black-80, currentColor);
    font-size: var(--font-size-basis);
    line-height: var(--line-height-basis);
    vertical-align: bottom;

    background-color: var(--color-white);
  }

  // body data
  &__td,
  tbody > tr > &__th {
    // spacing
    padding: 1rem;

    // typography
    color: var(--theme-color-black-80, currentColor);
    font-size: var(--font-size-basis);
    line-height: var(--line-height-basis);
    vertical-align: baseline;
  }

  // stylelint-disable-next-line
  &__th {
    .dnb-table__size--medium & {
      // spacing
      padding: 1.375rem 1rem 0.875rem;

      // typography
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);

      .dnb-button__text {
        line-height: inherit;
      }
    }

    .dnb-table__size--small & {
      // spacing
      padding: 1.25rem 1rem 0.5rem;

      // typography
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);
    }
  }

  // stylelint-disable-next-line
  tbody > tr > &__th {
    // spacing
    padding: 1rem;

    // typography
    vertical-align: baseline;
  }

  // stylelint-disable-next-line
  tbody > tr > &__th,
  tbody > tr > &__td {
    .dnb-table__size--medium & {
      // spacing
      padding: 0.875rem 1rem;

      // typography
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);
    }

    .dnb-table__size--small & {
      // spacing
      padding: 0.625rem 1rem;

      // typography
      font-size: var(--font-size-small);
      line-height: var(--line-height-small);
    }
  }

  // NB: In case we still would need a border on the table head row
  // &:not(#{&}--border):not(#{&}--outline) > thead > tr > th::after,
  // &:not(#{&}--border):not(#{&}--outline) > thead > &__tr > &__th::after,

  // border
  & > tbody > &__tr:last-of-type > &__td::after,
  &
    > tbody
    > &__tr#{&}__tr--has-accordion-content:not(#{&}__tr--expanded):nth-last-child(2)
    td::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; // don't use negative value, else it will be hidden when accordion

    border-bottom: var(--outline);
  }
}

.dnb-table__container {
  background-color: var(--color-white);
}

.dnb-table,
.dnb-table__container {
  --border-width: 0.0625rem;
  --outline-width: 0.0625rem;

  // table border
  --border: var(--border-width) solid var(--color-black-8);

  // table outline
  --outline: var(--outline-width) solid var(--color-black-8);

  html[data-visual-test] & {
    --border: 0.0625rem solid blue;
    --outline: 0.0625rem solid red;
  }
}
