/*
 * PaymentCard component
 *
 */

:root {
  --dnb-payment-shadow-e1: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --dnb-payment-shadow-e2: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --dnb-payment-shadow-figma: 0 8px 16px rgba(51, 51, 51, 0.08);
  --dnb-payment-bg-default: linear-gradient(
    184.55deg,
    var(--color-sea-green) 6.31%,
    var(--color-sea-green) 82.66%
  );
  --dnb-payment-bg-pluss: linear-gradient(
      187.2deg,
      #14555a 6.31%,
      rgba(0, 52, 62, 0.4) 82.66%
    ),
    #14555a;
  --dnb-payment-bg-white: linear-gradient(
    184.55deg,
    var(--color-black-background) 4.63%,
    var(--color-white) 92.04%
  );
  --dnb-payment-bg-silver: linear-gradient(
    184.55deg,
    var(--color-black-20) 4.63%,
    var(--color-black-8) 82.87%
  );
  --dnb-payment-bg-gold: linear-gradient(
    184.55deg,
    #bfa970 4.63%,
    #d3bd83 84.57%
  );
  --dnb-payment-bg-saga: linear-gradient(
    184.55deg,
    #241e23 6.31%,
    #251d23 85.2%
  );
  --dnb-payment-bg-business-no-visa: linear-gradient(
    184.55deg,
    #50c9de 6.31%,
    var(--color-sky-blue) 82.66%
  );
  --dnb-payment-bg-business-with-visa: linear-gradient(
    184.55deg,
    #2cc48e 6.31%,
    var(--color-summer-green) 82.66%
  );
}

.dnb-payment-card {
  margin: 0;

  &__card {
    position: relative;
    width: 85.6mm;
    height: 53.98mm;
    padding: 6mm;

    color: var(--color-white);
    background: var(--color-sea-green);

    border: 1px solid;
    border-top-color: rgba(255, 255, 255, 0.1);
    border-right-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-color: transparent;

    border-radius: 3.48mm;
    box-shadow: var(--dnb-payment-shadow-e2);

    transition: all 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &--design-default {
      color: var(--color-white);
      background: var(--dnb-payment-bg-default);
    }

    &--design-pluss {
      color: var(--color-white);
      background: var(--dnb-payment-bg-pluss);
    }

    /* White, Youth, MyFirst */
    &--design-white {
      color: var(--color-black-80);
      background: var(--dnb-payment-bg-white);
    }

    &--design-silver {
      color: var(--color-black-80);
      background: var(--dnb-payment-bg-silver);
    }

    &--design-gold {
      color: var(--color-white);
      background: var(--dnb-payment-bg-gold);
    }

    &--design-saga {
      color: var(--color-white);
      background: var(--dnb-payment-bg-saga);
    }

    &--design-private {
      color: var(--color-white);
      background: var(--color-black-80);
    }

    &--design-black {
      color: var(--color-white);
      background: var(--color-black);
    }

    &--design-business-no-visa {
      color: var(--color-white);
      background: var(--dnb-payment-bg-business-no-visa);
    }

    &--design-business-with-visa {
      color: var(--color-white);
      background: var(--dnb-payment-bg-business-with-visa);
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: radial-gradient(
        farthest-corner at 80% 30%,
        #f7f6e61f 0%,
        #06060600 60%,
        #06060600 99%
      );
      border-radius: inherit;
    }

    &__content {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
    }

    &__wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    // In case of .dnb-spacing usage
    .dnb-spacing & .dnb-p {
      margin-bottom: 0 !important;
    }

    &__holder {
      text-align: left;
      text-transform: uppercase;
      opacity: 0.5;

      &.dnb-p {
        font-size: 0.625rem;
      }
    }

    &__numbers {
      font-size: var(--font-size-medium);
    }

    &__credit-type {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 51px;
    }

    &__bank-logo {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__product-type {
      position: absolute;
      top: 0;
      right: 0;
      height: 45px;
    }
  }

  &__blocking {
    &__overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(
        184.55deg,
        rgba(204, 204, 204, 0.5) 4.63%,
        rgba(232, 232, 232, 0.5) 84.83%
      );
      border-radius: inherit;
    }

    &__center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 77px;
      height: 77px;
      color: var(--color-sand-yellow);

      background: var(--color-black-80);
      border-radius: 4px;
    }

    svg {
      shape-rendering: geometricPrecision;
    }
  }

  &.dnb-skeleton &__card__holder {
    opacity: 1;
  }

  // Not in use yet
  // &--small {
  //   width: calc(85.6mm * 0.75);
  //   height: calc(53.98mm * 0.75);
  //   border-radius: calc(3.48mm * 0.75);
  // }

  &--compact &__card {
    height: 32.8mm;
    padding: 0;

    border-radius: 3.48mm 3.48mm 0 0;
    box-shadow: var(--dnb-payment-shadow-e1);

    &__top {
      position: absolute;
      top: 4mm;
      right: 6mm;
      left: 6mm;
    }

    &__bottom {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 14mm;

      background-color: var(--color-white);
    }

    &__wrapper {
      padding: 1.5mm 6mm;
      color: var(--color-black-80);
    }

    &__numbers {
      font-size: var(--font-size-basis);
    }

    &__credit-type {
      top: 0;
      bottom: auto;
    }
  }

  &--compact &__blocking {
    &__center {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      height: 100%;

      background: rgba(0, 0, 0, 0.739);
      border-radius: inherit;
    }
  }
}
