/*
 * PaymentCard component
 *
 */

@import '../../../style/core/utilities.scss';
@import '../../../style/themes/theme-sbanken/properties.scss';

.dnb-payment-card {
  --color-dark-cyan: #003b47;
  --dnb-payment-bg-default: var(--color-sea-green);
  --dnb-payment-bg-pluss: var(--color-ocean-green);
  --dnb-payment-bg-white: var(--color-white);
  --dnb-payment-bg-gold: #D8C583;
  --dnb-payment-bg-black-gold:  #1F1B10;
  --dnb-payment-bg-black-grey: #1C1C1E;
  --dnb-payment-overlay-bg-dark: #00000099;
  --dnb-payment-overlay-bg-light: #FFFFFFB2;

  margin: 0;
  border-radius: 12px;

  &__card {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: inherit;

    color: var(--color-white);
    box-shadow: var(--shadow-default);

    transition: all 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    // disable cursor selection
    user-select: none;

    &__wrapper {
      position: relative;
      width: 343px;
      height: 216px;
      border-radius: inherit;
      border: 1px solid var(--color-black-8);
    }

    &--blocked {
      opacity: 0.5;
    }

    &--design {
      &-default {
        background-color: var(--dnb-payment-bg-default);
        color: var(--color-white);
      }

      &-pluss {
        background-color: var(--dnb-payment-bg-pluss);
        color: var(--color-white);
      }

      &-ung {
        background-color: var(--dnb-payment-bg-white);
        color: var(--color-black-80);
      }

      &-youth {
        background-color: var(--dnb-payment-bg-white);
        color: var(--color-black-80);
      }

      &-my-first {
        background-color: var(--dnb-payment-bg-white);
        color: var(--color-black-80);
      }

      &-gold {
        background-color: var(--dnb-payment-bg-gold);
        color: var(--color-black);
      }

      &-saga {
        background-color: var(--dnb-payment-bg-black-gold);
        color: var(--color-white);
        .separator {
          color: var(--dnb-payment-bg-gold);
        }
      }

      &-saga-platinum {
        background-color: var(--dnb-payment-bg-black-grey);
        color: var(--color-white);
      }

      &-private {
        background-color: var(--dnb-payment-bg-black-grey);
        color: var(--color-white);
      }

      &-black {
        background-color: var(--color-black);
        color: var(--color-white);
      }

      &-business-no-visa {
        background-color: var(--dnb-payment-bg-business-no-visa);
        color: var(--color-white);
      }

      &-business-with-visa {
        background-color: var(--dnb-payment-bg-business-with-visa);
        color: var(--color-white);
      }

      &-sbanken-mastercard {
        background-color: var(--sb-color-purple);
        color: var(--color-white);
      }

      &-sbanken-visa {
        background-color: var(--color-white);
        color: var(--sb-color-text);
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &__content {
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;
    }

    // In case of .dnb-spacing usage
    .dnb-spacing & .dnb-p {
      margin-bottom: 0 !important;
    }

    &__holder {
      font-weight: var(--font-weight-medium);
      text-transform: uppercase;
      text-align: left;
      // opacity: 0.5;

      &.dnb-p {
        font-size: 0.625rem;
      }
    }

    &__numbers.dnb-p {
      font-size: 1.375rem; // 22px
      line-height: 1.143rem;
      font-weight: var(--font-weight-regular);
    }

    &__type-text.dnb-p {
      font-size: 0.938rem; // 15px
      line-height: 1.188rem;
      padding-top: 6px;
    }

    // Top positioning of Card Elements
    &__top {
      // Bank + Loyalty Logos
      &__left {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
      }
      // Card Type Text
      &__right {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    // Bottom positioning of Card Elements
    &__bottom {
      // Card Number Text
      &__left {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      // BankAxept + Card Type Logos
      &__right {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        column-gap: 1rem;

        // adds divider if there are two provider icons
        .separator {
          width: 1px;
          height: 26px;
          background-color: currentColor;
          transform:scale(0.5, 1); // subpixel rendering (0.5px width is not supported on some browsers)
        }
      }
    }
  }

  &__overlay {
    svg {
      width: 2rem;
      height: 2rem;
      shape-rendering: geometricprecision;
      &.icon--fill path {
        fill: currentcolor;
      }
      &.icon--stroke path {
        stroke: currentcolor;
      }
    }

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      min-width: 6rem;
      height: 6rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.667rem;
      border-radius: inherit;
      font-size: var(--font-size-basis);
      line-height: var(--line-height-small);

      // cards with a light background use this overlay status
      &--light {
        background-color: var(--dnb-payment-overlay-bg-dark);
        color: var(--color-white);
      }

      // cards with a dark background use this overlay status
      &--dark {
        background-color: var(--dnb-payment-overlay-bg-light);
        color: var(--color-black);
      }
    }
  }

  /* Compact mode styling for PaymentCard component
   * This defines the styles and visual appearance of the card in its compact variant.
   * The compact variant is designed to be more concise, with reduced height and adjusted layouts.
   */
  &--compact &__card {
    height: 62px;
    border-radius: var(--dnb-payment-border-radius) var(--dnb-payment-border-radius) 0 0;

    &__wrapper {
      height: auto;
    }

    // Adjust the margin and height of the provider icons section
    &__providers {
      margin-top: 5px;
      height: 1.375rem;
      div, svg {
        height: 100%;
        width: auto;
      }

      // In compact mode with multiple providers, adjust margins and spacing
      &--multiple {
        margin-top: 7px;
        height: 1rem;
        column-gap: 0.5rem;
        div, svg {
          vertical-align: top;
        }

        // Define a fixed width for separators between provider icons
        .provider--separator {
          width: 1px;
        }
      }
    }
  }
  &--compact &__overlay {
    // In compact mode, hide overlay content, we only show opacity change if needed
    &__content {
      display: none;
    }
  }
}
