/*
* Input theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --input-text-color: var(--color-sea-green);
  --input-text-color--focus: var(--color-sea-green);
  --input-text-color--changed: var(--color-emerald-green);
  --input-text-color--disabled: var(--color-sea-green-30);
  --input-background-color: var(--color-white);
  --input-background-color--focus: var(--color-white);
  --input-background-color--changed: var(--color-white);
  --input-background-color--disabled: var(--color-mint-green-12);
  --input-border-color: var(--color-sea-green);
  --input-border-color--focus: var(--color-emerald-green);
  --input-border-color--changed: var(--color-sea-green);
  --input-border-color--disabled: var(--color-sea-green-30);
}

.dnb-input {
  color: var(--input-text-color);

  &__inner {
    color: inherit;
  }

  &__shell {
    color: inherit;
    background-color: var(--input-background-color);
    border: none;

    @include fakeBorder(
      var(--input-border-color),
      var(--input-border-width),
      inset,
      true
    );

    &[data-input-state='dirty'] {
      // Background color of input when it has content
      color: var(--input-text-color--changed);
      background-color: var(--input-background-color--changed);
    }

    &[data-input-state='disabled'] {
      &,
      .dnb-icon {
        color: var(--input-text-color--disabled);
      }
      -webkit-text-fill-color: currentColor;
      @include fakeBorder(
        var(--input-border-color--disabled),
        var(--input-border-width),
        inset,
        true
      );
      background-color: var(--input-background-color--disabled);
    }

    &:not([data-input-state='disabled']):hover,
    &[data-input-state='focus'] {
      color: var(--input-text-color--focus);
      background-color: var(--input-background-color--focus);
      @include fakeBorder(var(--input-border-color--focus), 0.125rem);
    }
  }

  &:not([data-input-state='disabled'])#{&}__submit-button svg {
    color: var(--color-sea-green);
  }

  // Icon
  &__icon {
    color: var(--color-emerald-green);
  }

  // with status_state = "error"
  &__status--error &__shell:not([data-input-state='focus']) {
    @include fakeBorder(var(--color-fire-red), 0.125rem);
  }
  &__status--error
    &__shell:not([data-input-state='focus'])
    ~ &__submit-element {
    .dnb-button__icon,
    .dnb-button--secondary .dnb-button__icon {
      color: var(--color-fire-red);
    }
    .dnb-button {
      @include fakeBorder(var(--color-fire-red), 0.125rem);
    }
  }
  &__status--error,
  &__status--error &__shell[data-input-state='dirty'] {
    color: var(--color-fire-red);
  }

  &__input::selection {
    background-color: var(--color-mint-green);
    color: var(--input-text-color--focus);
    text-shadow: none;
  }

  &__shell[data-input-state='focus'] .dnb-input__placeholder {
    display: none;
  }
  &--keep-placeholder
    &__shell[data-input-state='focus']
    .dnb-input__placeholder {
    display: block;
    opacity: 0.6;
  }

  // TODO: This has to be considdered with Jens
  // &__description {
  //   color: var(--input-text-color);
  // }
}
