/*
* Input theme
*
*/

@import '../../../../style/themes/imports.scss';

:root {
  --input-border-color: var(--color-sea-green-alt);
  --input-border-color--disabled: var(--color-sea-green-alt-30);
  --input-border-color--active: var(--color-emerald-green);
}

.dnb-input {
  color: var(--color-emerald-green);

  &__shell {
    background-color: var(--color-mint-green-12);
    border: var(--input-border-width) solid var(--input-border-color);

    &:not([data-input-state='disabled']) {
      @include hover(true) {
        background-color: var(--color-white);
      }
    }

    // Background color of input when it has content
    &[data-has-content='true'] {
      background-color: var(--color-white);
    }

    &[data-input-state='disabled'] {
      color: var(--color-sea-green-alt-30);
      border-color: var(--input-border-color--disabled);
    }

    &[data-input-state='focus'] {
      background-color: var(--color-white);
      border-color: var(--input-border-color--active);
      @include extendFakeFocus(var(--input-border-color--active));
      @include fakeFocus();
    }
  }

  // with status_state = "error"
  &__status--error &__shell {
    border-color: var(--color-cherry-red);

    &,
    &[data-input-state='focus'] {
      // In case we want to have a larger border size on the input
      @include extendFakeFocus(var(--color-cherry-red));
    }
  }

  &__placeholder {
    color: var(--color-sea-green);
  }

  // Adjusting opacity of placeholder when:
  // 1: input is in focus and 2. input has no content
  &__shell[data-input-state='focus'][data-has-content='false']
    .dnb-input__placeholder {
    color: var(--color-sea-green-alt-30);
  }
}
