/*
* Pagination theme
*
*/

@use '../../../../style/core/utilities.scss';

.dnb-pagination {
  // active/checked - like toggle-button
  @at-root .dnb-core-style &__button.dnb-button--primary,
    &__button.dnb-button--primary {
    &,
    &:not(:active):hover:not([disabled]) {
      background-color: var(--color-emerald-green);
      color: var(--color-mint-green);
    }

    html[data-whatinput='keyboard']
      &:not([disabled]):not(:active):not(:hover):focus {
      color: var(--color-emerald-green);
      background-color: var(--color-mint-green);
    }
  }

  &__dots {
    color: var(--color-black-55);
  }
}
