/*
* Pagination theme
*
*/

@use '../../../../style/core/utilities.scss';

.dnb-pagination {
  &__bar__skip {
    // button tertiary
    .dnb-button--tertiary:not([disabled]) .dnb-button__text {
      color: var(--sb-color-text);
    }
  }
  // active/checked - like toggle-button
  @at-root .dnb-core-style &__button.dnb-button,
    &__button.dnb-button {
    // button primary
    --button-primary-color: var(--sb-color-white);
    --button-primary-color--active: var(--sb-color-white);
    --button-primary-background: var(--sb-color-violet);
    --button-primary-background--hover: var(--sb-color-violet-light-4);
    --button-primary-background--active: var(--sb-color-violet);
    --button-primary-border--hover: var(--sb-color-violet);
    // button secondary
    --button-secondary-background--hover: var(--sb-color-white);
    --button-secondary-border--default: var(--sb-color-gray);
    --button-secondary-border--hover: var(--sb-color-violet);
    --button-secondary-border--active: var(--sb-color-gray);
  }

  &__dots {
    color: var(--sb-color-text);
  }
}
