/*
* Table component
*
*/

.dnb-table {
  &__sticky-helper > td {
    display: block;
    overflow: hidden;
    padding: 0 !important;
    height: 0;
  }

  tr.sticky {
    position: relative;
    z-index: 3;
  }

  tr.sticky th::before {
    content: '';
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;

    // The @mixin defaultDropShadow() does not work in this case
    // because we need only a bottom shadow (with clip-path)
    box-shadow: var(--shadow-default-x) -2px 12px 8px var(--shadow-default-color);
    clip-path: inset(6px 0 -48px 0);

    transition: opacity 300ms ease-out;
    [data-visual-test-wrapper] & {
      transition: none;
    }
  }
  tr.sticky.show-shadow th::before {
    opacity: 1;
  }
  tr.sticky th {
    position: sticky;
    top: var(--table-top, 0); // is set by "stickyOffset" prop
    z-index: 2;
  }
  &--sticky-body-scroll tr.sticky th {
    position: relative !important;
    top: auto !important;
  }
}
