/*
* Table component
*
*/

@import './_table-header-buttons.scss';

.dnb-table {
  // Needs a double & & for specificity
  & > tbody > tr,
  & &__tr,
  & &__tr--even {
    background-color: var(--color-lavender);
  }

  // Needs a double & & for specificity
  & > tbody > tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr--odd {
    background-color: var(--color-white);
  }

  &--outline thead &__tr:first-of-type {
    // use clip-path, because border-radius does not clip on tr's
    clip-path: inset(0 round 0.5rem 0.5rem 0 0);
  }
  &--outline tbody &__tr:last-of-type {
    // use clip-path, because border-radius does not clip on tr's
    clip-path: inset(0 round 0 0 0.5rem 0.5rem);
  }
}
