/*
* Table component
*
*/

@mixin tableBorder {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  pointer-events: none;
}

@import './_table-header-buttons.scss';
@import './_table-th.scss';
@import './_table-td.scss';
@import './_table-tr.scss';
@import './_table-cell.scss';
@import './_table-sticky.scss';
@import './_table-container.scss';
@import './_table-deprecated.scss';

.dnb-table {
  display: table;
  table-layout: auto;
  width: 100%;

  overflow: auto;
  margin-top: 0;
  margin-bottom: 0.5rem; // give room to a scrollbar

  border-spacing: 0;
  border-collapse: collapse;

  &--fixed {
    table-layout: fixed;
    width: auto;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  & > caption {
    caption-side: bottom;
    margin-top: 0.5rem;

    font-size: var(--font-size-basis);
  }

  &.dnb-skeleton {
    > * {
      -webkit-text-fill-color: var(--skeleton-color);
    }
  }

  @include buttonsInTable();
}

// Reset Table spacing
.dnb-spacing .dnb-table {
  p,
  ul,
  ol,
  dl,
  pre {
    margin-top: 0;
    margin-bottom: 0;
  }
}
