/*
* Table component
*
*/

// @import '../../button/style/themes/button-mixins.scss';

.dnb-table {
  display: table;
  table-layout: auto;
  width: 100%;

  overflow: auto;
  margin-top: 0;
  margin-bottom: var(--spacing-small);

  border-spacing: 0;
  border-collapse: collapse;

  &--fixed {
    table-layout: fixed;
  }

  &__sticky-helper > td {
    display: block;
    overflow: hidden;
    padding: 0 !important;
    height: 0;
  }

  &,
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }

  & > caption {
    font-size: var(--font-size-small);

    margin-top: var(--spacing-x-small);
    caption-side: bottom;
  }

  tr.sticky {
    top: 0;
  }
  /* stylelint-disable-next-line */
  tr.sticky th {
    position: sticky;
    top: inherit;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 6px;

      // The @mixin defaultDropShadow() does not work in this case
      // because we need only a bottom shadow (with clip-path)
      box-shadow: var(--shadow-default-x) -2px 12px 8px var(--shadow-default-color);
      clip-path: inset(6px 0 -48px 0);

      transition: opacity 300ms ease-out;
      [data-visual-test-wrapper] & {
        transition: none;
      }
    }
  }
  tr.sticky.show-shadow th::after {
    opacity: 1;
  }

  /* stylelint-disable */

  &--small,
  &--small > tr > th,
  &--small > tr > td,
  &--small > thead > tr > th,
  &--small > tbody > tr > td {
    font-size: var(--font-size-small);
  }

  & > tr#{&}--small > th,
  & > tr#{&}--small > td,
  & > thead > tr#{&}--small > th,
  & > tbody > tr#{&}--small > td {
    font-size: var(--font-size-small);
  }

  & > tr > th#{&}--small,
  & > tr > td#{&}--small,
  & > thead > tr > th#{&}--small,
  & > tbody > tr > td#{&}--small,
  &__th#{&}--small,
  &__td#{&}--small {
    font-size: var(--font-size-small);
  }

  &--x-small,
  &--x-small > tr > th,
  &--x-small > tr > td,
  &--x-small > thead > tr > th,
  &--x-small > tbody > tr > td {
    font-size: var(--font-size-x-small);
  }

  & > tr#{&}--x-small > th,
  & > tr#{&}--x-small > td,
  & > thead > tr#{&}--x-small > th,
  & > tbody > tr#{&}--x-small > td {
    font-size: var(--font-size-x-small);
  }

  & > tr > th#{&}--x-small,
  & > tr > td#{&}--x-small,
  & > thead > tr > th#{&}--x-small,
  & > tbody > tr > td#{&}--x-small,
  &__th#{&}--x-small,
  &__td#{&}--x-small {
    font-size: var(--font-size-x-small);
  }

  /* stylelint-enable */

  &.dnb-skeleton {
    > * {
      -webkit-text-fill-color: var(--skeleton-color);
    }
  }
}

// Reset Table spacing
.dnb-spacing .dnb-table {
  p,
  ul,
  ol,
  dl,
  pre {
    margin-top: 0;
    margin-bottom: 0;
  }
}
