/*
* Table component
*
*/

@import './_table-header-buttons.scss';

.dnb-table {
  // table border
  --border: 0.0625rem solid var(--color-black-8);
  &--border tbody &__td {
    &::after {
      @include tableBorder();

      border: var(--border);
      border-right: none;
      border-bottom: none;
    }

    &:first-of-type::after {
      border-left: none;
    }
  }
  &:not(#{&}--outline) tbody &__tr:last-of-type &__td::after {
    border-bottom: var(--border);
  }

  // table outline
  --outline: 0.0625rem solid var(--color-black-8);
  &--outline thead &__th {
    &::after {
      @include tableBorder();

      border-top: var(--outline);
    }

    &:first-of-type::after {
      border-left: var(--outline);
    }
    &:last-of-type::after {
      border-right: var(--outline);
    }
  }
  &--outline tbody &__td {
    &:first-of-type::after,
    &:last-of-type::after {
      @include tableBorder();
    }

    &:first-of-type::after {
      border-left: var(--outline);
    }
    &:last-of-type::after {
      border-right: var(--outline);
    }

    /* stylelint-disable */
    &,
    &::before,
    &::after {
      transition: border-radius 400ms var(--easing-default);
    }
    /* stylelint-enable */
  }
  &--outline tbody &__tr:last-of-type &__td {
    &::after {
      @include tableBorder();

      border-bottom: var(--outline);
    }
  }
  &--outline thead &__th:first-of-type {
    &,
    &::after {
      border-radius: 0.5rem 0 0 0;
    }
  }
  &--outline thead &__th:last-of-type {
    &,
    &::after {
      border-radius: 0 0.5rem 0 0;
    }
  }
  &--outline tbody &__tr:last-of-type &__td:first-of-type {
    &,
    &::before,
    &::after {
      border-radius: 0 0 0 0.5rem;
    }
  }
  &--outline tbody &__tr:last-of-type &__td:last-of-type {
    &,
    &::before,
    &::after {
      border-radius: 0 0 0.5rem 0;
    }
  }

  // spacing
  &__td--no-spacing,
  td#{&}__td--no-spacing {
    padding: 0;
  }
  &__td--spacing-horizontal,
  td#{&}__td--spacing-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }
}
