/*
* Table component
*
*/

.dnb-table__container {
  position: relative;

  &::after {
    @include tableBorder();
    z-index: 3; // over sticky-header
    border: var(--outline);
  }

  &,
  &::after {
    border-radius: 0.5rem;
  }

  &,
  &__body,
  &__head,
  &__foot {
    display: flex;
    flex-direction: column;
  }

  &__body {
    .dnb-table {
      &:not([class*='space__bottom']) {
        margin-bottom: 0;
      }
    }
  }

  &__head {
    padding: 2rem 1rem 0;

    .dnb-spacing & .dnb-h--large:not([class*='space__top']) {
      margin: 0;
    }
  }
  &__foot {
    padding: 0.5rem 1rem 2rem;
  }

  // When placed inside a Modal/Drawer, let the parent scroll-bar do its job.
  .dnb-modal__content & .dnb-table__scroll-view {
    overflow: visible;
  }
}
