/*
* Table component
*
*/

@import './dnb-table-mixins.scss';
@import './_table-header-buttons.scss';

.dnb-table {
  display: table;
  table-layout: auto;
  width: 100%;

  margin-top: 0;
  margin-bottom: 0.5rem; // give room to a scrollbar

  border-spacing: 0;
  border-collapse: collapse;

  &--fixed {
    table-layout: fixed;
    width: auto;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  & > caption {
    caption-side: bottom;
    padding: 0.5rem 0 0.5rem 1rem;

    font-size: var(--font-size-basis);
    background-color: var(--color-white);
    text-align: left;
  }
  &--border > caption:not(.dnb-sr-only) {
    position: relative;
    &::after {
      @include tableBorder();
      top: -0.0625rem; // so we are behind the border-bottom (end of table)
      border-top: var(--border);
    }
  }

  &.dnb-skeleton {
    > * {
      -webkit-text-fill-color: var(--skeleton-color);
    }
  }

  @include buttonsInTable();
}

@import './_table-th.scss';
@import './_table-td.scss';
@import './_table-tr.scss';
@import './_table-cell.scss';
@import './_table-sticky.scss';
@import './_table-container.scss';
@import './_table-accordion.scss';

// Reset Table spacing
.dnb-spacing .dnb-table {
  p,
  ul,
  ol,
  dl,
  pre {
    margin-top: 0;
    margin-bottom: 0;
  }
}
