/*
* Table component
*
*/

@import './_table-header-buttons.scss';

.dnb-table {
  // table border
  &--border tbody &__td {
    &::after {
      @include tableBorder();

      border: var(--border);
      border-right: none;
      border-bottom: none;
    }
  }

  // table outline
  &--outline {
    position: relative;
    &,
    &::after {
      border-radius: 0.5rem;
    }
    &::after {
      @include tableBorder();
      z-index: 3;
      border: var(--outline);
    }
  }

  // reset parts if a "th" is used before td (row header)
  &--outline tbody &__tr &__th ~ &__td:first-of-type {
    &:first-of-type::after {
      border-left: none;
    }
  }
  &--border tbody &__tr &__th ~ &__td:first-of-type {
    &:first-of-type::after {
      border-left: var(--border);
    }
  }
  &--outline tbody &__tr:last-of-type &__th ~ &__td:first-of-type {
    &,
    &::before,
    &::after {
      border-radius: 0 0 0 0;
    }
  }

  // no thead, should have th in body
  /* stylelint-disable */
  &--outline tbody:first-child &__tr:first-of-type &__th,
  &--outline > :not(thead) + tbody &__tr:first-of-type &__th {
    &::after {
      border-top: var(--outline);
    }
    &:first-of-type,
    &:first-of-type::after {
      border-radius: 0.5rem 0 0 0;
    }
  }
  &--outline > tbody:first-child &__tr:first-of-type &__td,
  &--outline > :not(thead) + tbody &__tr:first-of-type &__td {
    &::after {
      border-top: var(--outline);
    }
    &:last-of-type,
    &:last-of-type::after {
      border-radius: 0 0.5rem 0 0;
    }
  }
  &:not(&--outline)#{&}--border > tbody:first-child &__td:last-of-type,
  &:not(&--outline)#{&}--border > :not(thead) + tbody &__td:last-of-type {
    &::after {
      border-right: var(--border);
    }
  }
  /* stylelint-enable */

  // spacing
  &__td--no-spacing,
  td#{&}__td--no-spacing {
    padding: 0;
  }
  &__td--spacing-horizontal,
  td#{&}__td--spacing-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }
}
