/*
* Table component
*
*/

@import './table-mixins.scss';
@import './table-header-buttons.scss';

.dnb-table {
  display: table;
  table-layout: auto;
  width: 100%;

  margin-top: 0;
  margin-bottom: 0.5rem; // give room to a scrollbar

  border-spacing: 0;
  border-collapse: collapse;

  &--fixed {
    table-layout: fixed;
    width: auto;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  & > caption {
    caption-side: bottom;
    padding: 0.5rem 0 0.5rem 1rem;

    font-size: var(--font-size-basis);
    background-color: var(--color-white);
    text-align: left;
  }

  &--outline {
    // add extra room in bottom for caption
    // because firefox clip-path ignores caption
    clip-path: inset(0 0 -10rem 0 round 0.5rem 0.5rem 0 0);
    z-index: 1; // firefox places caption in from of table witout z-index

    > caption {
      &,
      &::after {
        border-radius: 0 0 0.5rem 0.5rem;
      }
      &:not(.dnb-sr-only) ~ tbody:last-child {
        .dnb-table__tr:last-child,
        .dnb-table__tr--has-accordion-content:nth-last-child(2) {
          clip-path: none;

          .dnb-table__th,
          .dnb-table__td {
            &,
            &::before,
            &::after {
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  &--border > caption:not(.dnb-sr-only) {
    position: relative;

    @include tableBorder() {
      top: -0.0625rem; // so we are behind the border-bottom (end of table)
      right: 0;
      border-top: var(--border);
    }
  }

  &.dnb-skeleton {
    > * {
      -webkit-text-fill-color: var(--skeleton-color);
    }
  }

  @include buttonsInTable();
}

@import './table-th.scss';
@import './table-td.scss';
@import './table-tr.scss';
@import './table-cell.scss';
@import './table-sticky.scss';
@import './table-container.scss';
@import './table-accordion.scss';

// Reset Table spacing
.dnb-spacing .dnb-table {
  p,
  ul,
  ol,
  dl,
  pre {
    margin-top: 0;
    margin-bottom: 0;
  }
}
