/*
* Table component
*
*/

@import './table-header-buttons.scss';

.dnb-table {
  // table border
  &--border tbody &__td {
    @include tableBorder() {
      border: var(--border);
      border-bottom: none;
    }

    &:first-child::after {
      border-left: none;
    }

    &:last-child::after {
      border-right: none;
    }
  }

  // table outline
  &--outline {
    position: relative;
    &,
    &::after {
      border-radius: 0.5rem;
    }
    @include tableOutline() {
      z-index: 3;
      border: var(--outline);
    }
  }

  // reset parts if a "th" is used before td (row header)
  &--outline tbody &__tr &__th ~ &__td:first-of-type {
    &:first-of-type::after {
      border-left: none;
    }
  }
  &--border tbody &__tr &__th ~ &__td:first-of-type {
    &:first-of-type::after {
      border-left: var(--border);
    }
  }

  // no thead, should have th in body
  /* stylelint-disable */
  &--outline tbody:first-child &__tr:first-of-type &__th,
  &--outline > caption:first-child + tbody &__tr:first-of-type &__th {
    &::after {
      border-top: var(--outline);
    }
  }
  &--outline > tbody:first-child &__tr:first-of-type &__td,
  &--outline > caption:first-child + tbody &__tr:first-of-type &__td {
    &::after {
      border-top: var(--outline);
    }
  }
  &:not(&--outline)#{&}--border > tbody:first-child &__td:last-of-type,
  &:not(&--outline)#{&}--border > :not(thead) + tbody &__td:last-of-type {
    &::after {
      border-right: var(--border);
    }
  }

  &--outline {
    // first row must be rounded
    thead:first-of-type,
    tbody:first-child,
    caption:first-child + tbody {
      .dnb-table__tr:first-of-type {
        .dnb-table__th,
        .dnb-table__td {
          &:first-child,
          &:first-child::before,
          &:first-child::after {
            border-top-left-radius: 0.5rem;
          }
          &:last-child,
          &:last-child::before,
          &:last-child::after {
            border-top-right-radius: 0.5rem;
          }
        }
      }
    }
  }

  //last row must be rounded
  &--outline tbody:last-child {
    .dnb-table__tr:last-child,
    .dnb-table__tr--has-accordion-content:not(
        .dnb-table__tr--expanded
      ):nth-last-child(2) {
      clip-path: inset(0 round 0 0 0.5rem 0.5rem);

      .dnb-table__th,
      .dnb-table__td {
        &:first-child {
          &,
          &::before,
          &::after {
            border-bottom-left-radius: 0.5rem;
          }
        }
        &:last-child {
          &,
          &::before,
          &::after {
            border-bottom-right-radius: 0.5rem;
          }
        }
      }
    }
  }

  /* stylelint-enable */

  // spacing
  &__td--no-spacing,
  td#{&}__td--no-spacing {
    padding: 0;
  }
  &__td--spacing-horizontal,
  td#{&}__td--spacing-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }
}
