/*
* Table component
*
*/

@import './table-header-buttons.scss';

.dnb-table {
  // Needs a double & & for specificity
  & > tbody > tr,
  & &__tr,
  & &__tr--even {
    background-color: var(--color-black-3);
  }

  // Needs a double & & for specificity
  & > tbody > tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr--odd {
    background-color: var(--color-white);
  }

  &--outline thead &__tr:first-of-type,
  &--outline
    tbody
    &__tr#{&}__tr--has-accordion-content:not(#{&}__tr--expanded):nth-last-child(2) {
    // use clip-path, because border-radius does not clip on tr's
    // use "-1rem" to add room for sticky shadow
    clip-path: inset(0 0 -1rem 0 round 0.5rem 0.5rem 0 0);
  }
  &--outline tbody &__tr:last-of-type,
  &--outline
    tbody
    &__tr#{&}__tr--has-accordion-content:not(#{&}__tr--expanded):nth-last-child(2) {
    // use clip-path, because border-radius does not clip on tr's
    clip-path: inset(0 round 0 0 0.5rem 0.5rem);
  }
}
