/*
* Table component
*
*/

.dnb-table {
  // Needs a double & & for specificity
  & > tbody > tr,
  & &__tr,
  & &__tr--even {
    --table-td-background: var(--token-color-background-neutral-subtle);
  }

  // Needs a double & & for specificity
  & > tbody > tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr--odd {
    --table-td-background: var(--token-color-background-neutral);
  }

  // Disable striped rows
  &--no-striped {
    & > tbody > tr,
    & .dnb-table__tr,
    & .dnb-table__tr--even,
    & > tbody > tr:not(.dnb-table__tr--even):nth-of-type(2n),
    & .dnb-table__tr:not(.dnb-table__tr--even):nth-of-type(2n),
    & .dnb-table__tr--odd {
      --table-td-background: var(--token-color-background-neutral);
    }
  }
}
