/*
* Table component
*
*/

@use '../../../style/core/utilities.scss' as utilities;
@use './table-mixins.scss' as table-mixins;

.dnb-table {
  &__td {
    position: relative;
    background-color: var(--background-color);
  }

  // table border
  &--border {
    tbody {
      .dnb-table__td,
      .dnb-table__th {
        @include table-mixins.tableBorder() {
          border: var(--table-border);
          border-bottom: none;
        }
        &:first-child::after {
          border-left: none;
        }
        &:last-child::after {
          border-right: none;
        }
      }

      .dnb-table__tr:first-child {
        .dnb-table__td,
        .dnb-table__th {
          &::after {
            border-top: none;
          }
        }
      }
    }

    // Header underline
    thead + tbody {
      .dnb-table__tr:first-child {
        .dnb-table__td,
        .dnb-table__th {
          &::after {
            border-top: var(--table-border);
          }
        }
      }
    }
  }

  // Header underline when header row has even variant
  thead:has(.dnb-table__tr--even) + tbody {
    .dnb-table__tr:first-child {
      .dnb-table__td,
      .dnb-table__th {
        @include table-mixins.tableBorder() {
          border-top: var(--table-border);
        }
      }
    }
  }

  // Navigable (clickable) cell
  &__td--clickable {
    padding: 0;

    &:active {
      --background-color: var(--table-accordion-background--active);
    }
  }

  &__td__button {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    width: 100%;
    padding: 0;
    margin: 0;

    border: none;
    background: none;

    color: inherit;
    text-align: inherit;
    font: inherit;
    cursor: pointer;

    &__icon {
      flex: none;
      color: var(--table-accordion-icon-color);
      opacity: 0;
    }

    &:focus-visible {
      outline: none;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 6; // to be above the table outline/border
      inset: 0;
      border: var(--table-accordion-outline-width) solid transparent;
    }

    @include utilities.hover() {
      &::before {
        border-color: var(--table-accordion-outline-color);
      }

      .dnb-table__td__button__icon {
        color: var(--table-accordion-icon-color--active);
        opacity: 1;
      }
    }

    &:active {
      &::before {
        border-color: var(--table-accordion-outline-color);
        border-width: var(--table-accordion-outline-width--active);
      }

      .dnb-table__td__button__icon {
        color: var(--table-accordion-icon-color--active);
        opacity: 1;
      }
    }

    &:not(:active):not(:hover):focus-visible {
      &::before {
        border-color: var(--token-color-stroke-action-focus);
        border-width: var(--focus-ring-width);
      }

      .dnb-table__td__button__icon {
        opacity: 1;
      }
    }

    &__content {
      flex: 1;
      min-width: 0;
    }
  }

  /* stylelint-disable */
  &--outline {
    // first row must be rounded
    thead:first-of-type,
    tbody:first-child,
    caption:first-child + tbody {
      .dnb-table__tr:first-of-type {
        .dnb-table__th,
        .dnb-table__td {
          &:first-child,
          &:first-child::before,
          &:first-child::after {
            border-top-left-radius: var(--table-outline-radius);
          }
          &:last-child,
          &:last-child::before,
          &:last-child::after {
            border-top-right-radius: var(--table-outline-radius);
          }
        }
      }
    }
  }

  // last row must be rounded
  &--outline tbody:last-child {
    .dnb-table__tr:last-child,
    .dnb-table__tr--clickable:not(
        .dnb-table__tr--expanded
      ).dnb-table__tr--last {
      .dnb-table__th,
      .dnb-table__td {
        &:first-child {
          &,
          &::before,
          &::after {
            border-bottom-left-radius: var(--table-outline-radius);
          }

          .dnb-table__td__button::before {
            border-bottom-left-radius: var(--table-outline-radius);
          }
        }
        &:last-child {
          &,
          &::before,
          &::after {
            border-bottom-right-radius: var(--table-outline-radius);
          }

          .dnb-table__td__button::before {
            border-bottom-right-radius: var(--table-outline-radius);
          }
        }
      }
    }
  }
  /* stylelint-enable */

  // spacing
  &__td--no-spacing,
  td#{&}__td--no-spacing {
    padding: 0;
  }
  &__td--spacing-horizontal,
  td#{&}__td--spacing-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }
}
