/*
* Table component
*
*/

@use './table-mixins.scss' as *;

.dnb-table {
  & thead th,
  & tbody td,
  &__th,
  &__td {
    position: relative;

    border-spacing: 0;

    word-break: keep-all;
  }
}
