/*
* Table component
*
*/

@use 'table-header-buttons.scss';

.dnb-table {
  // Needs a double & & for specificity
  & > tbody > tr,
  & &__tr,
  & &__tr--even {
    background-color: var(--color-black-3);
  }

  // Needs a double & & for specificity
  & > tbody > tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr:not(#{&}__tr--even):nth-of-type(2n),
  & &__tr--odd {
    background-color: var(--color-white);
  }
}
