/*
 * MainNav element
 *
 * Consists of:
 * Trigger button
 * Search component
 * DNB Logo
 * User profile component
 * Log in / out button
 */

@import './_main-nav-trigger.scss';

@mixin navActive() {
  [data-nav-active='true'] & {
    @content;
  }
}

@include allAbove(large) {
  //Nav bar becomes fixed on large screens
  //so .main needs to push content a bit down
  html:not([data-whatintent='touch']) .main {
    padding-top: 3rem;
  }
}

$nav-background-color: #fff;
$nav-box-shadow-small: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
$nav-box-shadow-large: 0 0 1rem 0 rgba(0, 0, 0, 0.1);

.dnb-main-nav {
  position: relative;
  z-index: 2;
  width: 100%;

  background: $nav-background-color;
  border: 0 solid #d2efe8;
  border-width: 0 0 1px 0;

  box-shadow: $nav-box-shadow-small;

  @include allAbove(medium) {
    box-shadow: $nav-box-shadow-large;
  }

  @include allAbove(large) {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__inner {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    background: $nav-background-color;

    @include allAbove(medium) {
      flex-direction: row;
    }
  }

  &__inner__inner {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: map-get($map: $breakpoints, $key: large);
    padding: 0 0.5rem;

    background: $nav-background-color;

    @include allAbove(medium) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    .dnb-logo {
      width: 5rem;
      @include allAbove(medium) {
        width: 6rem;
      }
    }
    a {
      padding: 0;
      border: none;
      display: block;
      padding-bottom: 0;
      border-bottom-style: hidden !important;
    }
    a:hover {
      opacity: 0.7;
    }
  }

  a:focus {
    @include fakeFocus();
  }

  &__nav {
    position: relative;
    z-index: 1;
    display: none;
    width: 100%;

    background: $nav-background-color;
    box-shadow: $nav-box-shadow-small;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2rem;

      bottom: 100%;
      background: $nav-background-color;
    }

    @include allAbove(medium) {
      box-shadow: $nav-box-shadow-large;
    }

    @include navActive() {
      display: flex;
    }

    @include allAbove(medium) {
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 0;

      display: flex;
      opacity: 0;

      transform: translate(0, -100%);
      transition: transform 0.138s ease-out 0s;

      @include navActive() {
        transform: translate(0, 100%);
        opacity: 1;
      }
    }
  }

  &__nav__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;

    @include allAbove(medium) {
      padding: 1rem;
    }
  }

  &__links {
    margin: 1rem auto;
  }
}
