/*
 * Anchor
 *
 */

@import '../../core/utilities.scss';

@mixin anchorDefaultStyle($theme: null) {
  // make sure we have always `display: inline;` as inline-block is breaking the border-bottom
  display: inline;

  // top has 1px less, cause we now has 2px on border bottom hover
  // the calculations are based on 24px line-height

  // 1px = 0,0625
  // 2px = 0,125
  // 4px = 0,25

  // on padding-top we have 4px
  // on padding-bottom we have 2px, cause run a border-bottom with 2px
  // this makes a total of 8px
  // 24px line-height - 8px = 16px (font-size)
  padding: 0.25rem 0.125rem 0.125rem;

  // margins are not needed as long as we go for "inline"
  // margin: -0.25rem 0 -0.125rem;

  color: inherit;
  color: var(--color-sea-green);

  text-decoration: none;
  border-bottom: 1px solid var(--color-sea-green);

  @if $theme == 'highlighted' {
    color: var(--color-emerald-green);
    border-bottom-color: var(--color-emerald-green);
  }
}
@mixin anchorHoverStyle() {
  background-color: var(--color-mint-green-50);
  border-bottom-color: transparent;
}
@mixin anchorActiveStyle() {
  color: var(--color-mint-green);
  background-color: var(--color-sea-green);
  border-bottom: none;
  border-radius: 0;
}
@mixin anchorFocusStyle($whatinput: null) {
  &:not(:active) {
    @include anchorHoverStyle();
    transition: none;
    border-bottom: none;
  }
  @if $whatinput {
    @include fakeFocus($whatinput);
  } @else {
    @include fakeFocus();
  }
  border-radius: 4px;
}

// resettings
@mixin resetUnderlineStyle() {
  border-bottom: none;

  // border
  &::after {
    border-bottom: none;
    content: none;
  }
}
@mixin resetanchorHoverStyle() {
  &:hover {
    color: var(--color-emerald-green);
    // in case we dont want to change the color to the body color
    background-color: var(--color-white);
    border-bottom-width: 1px;
  }

  // bg
  &::before {
    content: none;
  }
}
@mixin resetAnimationStyle() {
  transition: none;

  // bg
  &::before {
    transition: max-height 0.01s linear;
  }
}
@mixin useAnchorContrastStyle() {
  color: var(--color-white);
  border-bottom-color: var(--color-white);
  &:hover {
    color: var(--color-emerald-green);
  }
  &:active {
    color: var(--color-mint-green);
  }
  &:focus {
    color: var(--color-emerald-green);
  }
}
@mixin anchorStyle() {
  @include anchorDefaultStyle();

  // have focus before :active, because of border-radius
  &:focus {
    @include anchorFocusStyle();
  }
  &:hover,
  &:active {
    @include anchorHoverStyle();
  }
  &:active {
    @include anchorActiveStyle();
  }

  transition: background-color 0.2s ease;

  // other stuff, not related to the Anchor directly
  .dnb-icon {
    display: inline-block;
    // -1px to center the icons agains large Chars
    transform: translateY(-1px);
  }
}

.dnb-anchor {
  @include anchorStyle();
}
.dnb-anchor--hover {
  @include anchorHoverStyle();
}
.dnb-anchor--active {
  @include anchorActiveStyle();
}
.dnb-anchor--focus {
  @include anchorFocusStyle('mouse');
}
.dnb-anchor--animation {
  position: relative; // because of z-index and underline/hover sudo classes
  z-index: 1; // because of focus handling

  // This way we make sure we never have a line break in an Anchor
  // Cause this messes up the "anchorDrawUnderlineBorder" mechanism
  white-space: pre;

  // border
  @include anchorDrawUnderlineBorder();

  // bg
  @include anchorDrawUnderlineBackground();

  background-color: transparent;
  border-bottom: none;

  &:active,
  &:hover {
    background-color: transparent;
    border-bottom: none;

    // bg
    &::before {
      max-height: 100%;
    }

    // border
    &::after {
      left: 0.1rem;
      right: 0.1rem;
      border-bottom-width: 2px;
    }
  }
  &:active {
    border-bottom: none;

    // bg
    &::before {
      background-color: var(--color-sea-green);
    }
    // border
    &::after {
      border-bottom-color: var(--color-sea-green);
    }
  }
  &:focus {
    @include anchorFocusStyle();
    // border
    &::after {
      border-bottom: none;
    }
  }
  // If a link don't contains a / or http(s)
  &:not([href^='/']):not([href^='http']) {
    cursor: pointer;
    user-select: none;
  }
}

.dnb-anchorStyle {
  @include anchorDefaultStyle();
}
.dnb-anchor-no-style {
  white-space: normal;
  border-bottom: none;
  color: inherit;

  // border
  &::after {
    content: none;
  }
  // bg
  &::before {
    content: none;
  }

  @include resetUnderlineStyle();
  @include resetanchorHoverStyle();
}
.dnb-anchor-no-underline {
  @include resetUnderlineStyle();
}
.dnb-anchor-no-hover {
  @include resetanchorHoverStyle();
}
.dnb-anchor-no-animation {
  @include resetAnimationStyle();
}
.dnb-anchor-contrast {
  @include useAnchorContrastStyle();
}

// make sure we style an Anchor like a button
a.dnb-button {
  // reset the anchor style
  @include resetAnimationStyle();
}
