/*
 * Anchor
 *
 */

@import './anchor-mixins.scss';

a,
.dnb-anchor {
  @include defaultAnchorStyle();

  // have focus before :active, because of border-radius
  &:focus {
    @include focusStyle();
  }
  &:hover,
  &:active {
    @include hoverStyle();
  }
  &:active {
    @include activeStyle();
  }

  transition: background-color 0.2s ease;

  // other stuff, not related to the Anchor directly
  .dnb-icon {
    display: inline-block;
    // -1px to center the icons agains large Chars
    transform: translateY(-1px);
  }
}
.dnb-anchor--hover {
  @include hoverStyle();
}
.dnb-anchor--active {
  @include activeStyle();
}
.dnb-anchor--focus {
  @include focusStyle('mouse');
}
.dnb-anchor--animation {
  position: relative; // because of z-index and underline/hover sudo classes
  z-index: 1; // because of focus handling

  // This way we make sure we never have a line break in an Anchor
  // Cause this messes up the "drawUnderlineBorder" mechanism
  white-space: pre;

  // border
  @include drawUnderlineBorder();

  // bg
  @include drawUnderlineBackground();

  background-color: transparent;
  border-bottom: none;

  &:active,
  &:hover {
    background-color: transparent;
    border-bottom: none;

    // bg
    &::before {
      max-height: 100%;
    }

    // border
    &::after {
      left: 0.1rem;
      right: 0.1rem;
      border-bottom-width: 2px;
    }
  }
  &:active {
    border-bottom: none;

    // bg
    &::before {
      background-color: var(--color-sea-green);
    }
    // border
    &::after {
      border-bottom-color: var(--color-sea-green);
    }
  }
  &:focus {
    @include focusStyle();
    // border
    &::after {
      border-bottom: none;
    }
  }
  // If a link don't contains a / or http(s)
  &:not([href^='/']):not([href^='http']) {
    cursor: pointer;
    user-select: none;
  }
}

.dnb-anchor-style {
  @include defaultAnchorStyle();
}
.dnb-anchor-no-style {
  white-space: normal;
  border-bottom: none;
  color: inherit;

  // border
  &::after {
    content: none;
  }
  // bg
  &::before {
    content: none;
  }

  @include resetUnderlineStyle();
  @include resetHoverStyle();
}
.dnb-anchor-no-underline {
  @include resetUnderlineStyle();
}
.dnb-anchor-no-hover {
  @include resetHoverStyle();
}
.dnb-anchor-no-animation {
  @include resetAnimationStyle();
}
.dnb-anchor-contrast {
  @include useAnchorContrastStyle();
}
