/*
 * Code
 *
 */

code {
  margin: 0;
  padding: 0.125rem 0.25rem; /* 2px 4px */

  font-size: inherit;
  line-height: 1; // for vertical alignment, we have to have no line-height

  background-color: var(--color-mint-green-25);
  border-radius: 0.1875em;
}
pre {
  word-wrap: normal;
  border-radius: 0.5em;
  pre {
    padding: 1rem;
  }
}
