/*
 * Code
 *
 */

code {
  margin: 0;
  padding: 0.1875rem 0.375rem; /* 3px 6px */

  font-size: 1em;
  line-height: 1; // for vertical alignment, we have to have no line-height

  background-color: var(--color-mint-green-25);
  border-radius: 0.1875em;
}
pre {
  word-wrap: normal;
  border-radius: 0.5rem;
  pre {
    padding: 1rem;
  }
}
