/*
 * Progress component
 *
 */

:root {
  --progress-circular-circle: 88;
  --progress-circular-circle-offset--min: 88;
  --progress-circular-circle-offset--max: 1;
}

.dnb-progress {
  position: relative;

  // circular variant
  &__circular {
    position: relative;

    // medium
    width: 2rem;
    height: 2rem;

    // since SVG is starting 90deg from top
    transform: rotate(-90deg);

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &__line {
      animation-duration: 2s;
      animation-delay: 200ms;
      animation-timing-function: ease-in-out;
      animation-timing-function: cubic-bezier(0.67, 0.06, 0.27, 0.92);
      animation-iteration-count: infinite;
    }

    &__line.background {
      stroke-dashoffset: var(--progress-circular-circle-offset--max);
    }
    &__line.light {
      animation-name: progress-circular-line-light;
      stroke-dasharray: var(--progress-circular-circle),
        var(--progress-circular-circle);
      stroke-dashoffset: var(--progress-circular-circle-offset--max);
    }
    &__line.dark {
      animation-name: progress-circular-line-dark;
      stroke-dasharray: var(--progress-circular-circle),
        var(--progress-circular-circle);
      stroke-dashoffset: var(--progress-circular-circle-offset--min);
    }
    &__line.paused {
      animation-play-state: paused;
    }
    // for static progress animation
    &--has-progress &__line.dark {
      transition: stroke-dashoffset 200ms ease-out;
    }

    &__circle {
      stroke-linecap: round;
    }
    &__line.light &__circle {
      stroke: grey;
    }
    &__line.dark &__circle {
      stroke: black;
    }
  }

  &:not(#{&}--no-animation),
  &--visible:not(#{&}--no-animation) {
    opacity: 0;
    animation: progress-fade-in 200ms ease-out 1 forwards;
  }
  &--complete:not(#{&}--no-animation):not(#{&}--visible) {
    animation: progress-fade-out 600ms ease-out 1 forwards;
  }

  @keyframes progress-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes progress-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@keyframes progress-circular-line-light {
  0% {
    stroke-dashoffset: var(--progress-circular-circle-offset--min);
  }
  50% {
    stroke-dashoffset: var(--progress-circular-circle-offset--min);
  }
  100% {
    stroke-dashoffset: var(--progress-circular-circle-offset--max);
  }
}

@keyframes progress-circular-line-dark {
  0% {
    stroke-dashoffset: var(--progress-circular-circle-offset--min);
  }
  50% {
    stroke-dashoffset: var(--progress-circular-circle-offset--max);
  }
  100% {
    stroke-dashoffset: var(--progress-circular-circle-offset--max);
  }
}
