/*
* Switch component
*
*/

:root {
  --switch-width--medium: 2.5rem;
  --switch-height--medium: 1.5rem;
  --switch-width--large: 3.25rem;
  --switch-height--large: 2rem;
  --switch-border-width--medium: 0.0625rem;
  --switch-border-width--large: 0.125rem;
}

.dnb-switch {
  display: inline-flex;
  flex-direction: column;

  font-size: var(--font-size-small);
  line-height: var(--line-height-basis);

  &__inner {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    font-size: var(--font-size-basis);
  }

  &__shell {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
    position: relative;

    display: flex;
    align-items: center;

    height: var(--switch-height--medium);
  }
  &--large {
    line-height: var(--switch-height--large);
  }
  &--large &__shell {
    height: var(--switch-height--large);
  }

  &__row {
    display: inline-flex;
    align-items: center;
  }

  &__focus,
  &__button {
    position: absolute;
    z-index: 4;

    border-radius: 50%;
  }

  &__button {
    left: 0;

    width: var(--switch-height--medium);
    height: var(--switch-height--medium);

    transform: translateX(0);
    transition: transform 160ms ease-out 125ms;

    border: var(--switch-border-width--medium) solid transparent;

    .dnb-switch--large & {
      width: var(--switch-height--large);
      height: var(--switch-height--large);

      border-width: var(--switch-border-width--large);
    }
  }

  &__focus {
    display: none;
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    transition: transform 150ms ease-out;
    transform: rotate(0deg);

    //15% is the top value
    //85% is the bottom value
    clip-path: polygon(
      50% 15%,
      110% 15%,
      110% -10%,
      -10% -10%,
      -10% 110%,
      110% 110%,
      110% 85%,
      50% 85%
    );

    @include fakeFocus();
  }

  /*
    * When switched OFF
    * aka when the switch is not :checked
    */
  &__input:not(:checked) ~ &__button {
    transform: translateX(0); // IE fix
    transform: translateX(
      calc(1px - 1px - var(--switch-border-width--medium))
    );
  }

  /*
  * When switched ON
  * aka when the switch is :checked
  */
  &__input:checked ~ &__button {
    transform: translateX(1rem); // IE fix
    transform: translateX(
      calc(
        var(--switch-width--medium) - 1.5rem +
          var(--switch-border-width--medium)
      )
    );
  }

  &--large &__input:not(:checked) ~ &__button {
    transform: translateX(
      calc(1px - 1px - var(--switch-border-width--large))
    );
  }
  &--large &__input:checked ~ &__button {
    transform: translateX(
      calc(
        var(--switch-width--large) - 2rem +
          var(--switch-border-width--large)
      )
    );
  }

  &__background {
    width: var(--switch-width--medium);
    height: calc(var(--switch-height--medium) - 0.5rem);

    border-radius: calc(var(--switch-height--medium) - 0.5rem / 2);

    .dnb-switch--large & {
      width: var(--switch-width--large);
      height: calc(var(--switch-height--large) - 0.75rem);

      border-radius: calc(var(--switch-height--large) - 0.75rem / 2);
    }
  }

  &__input {
    opacity: 0;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;

    display: block;

    // width: 100%;
    width: var(--switch-width--medium);
    height: var(--switch-height--medium);

    .dnb-switch--large & {
      width: var(--switch-width--large);
      height: var(--switch-height--large);
    }

    margin: 0;
    padding: 0;

    border: 0;
  }

  &__input:not([disabled]) {
    cursor: pointer;
  }

  // label
  .dnb-form-label {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }

  &__order {
    display: inline-flex;
  }

  &__suffix {
    margin-left: 0.5rem;
    order: 4;
    line-height: var(--line-height-basis);
  }
  &--label-position-left &__suffix {
    margin-left: 1rem;
  }

  &--label-position-left &__order {
    .dnb-switch__inner {
      order: 2;
    }
    .dnb-form-label {
      order: 1;
      align-self: flex-start;
    }
    .dnb-form-status {
      order: 3;
      margin-top: 0.5rem;
    }
  }

  &--label-position-right &__order {
    .dnb-switch__inner {
      order: 1;
    }
    .dnb-form-label {
      order: 2;
      margin-left: 0.5rem;
    }
    .dnb-form-status {
      order: 3;
      margin-top: 0.5rem;
    }
  }

  // IE fix
  @media screen and (-ms-high-contrast: none) {
    vertical-align: text-bottom;

    &__order {
      align-items: flex-start;
    }
    &__shell {
      transform: translateY(0);
    }
    &__input,
    &__focus,
    &__button {
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  // Edge fix
  @supports (-ms-ime-align: auto) {
    // fix are a problem with transition and complex transforms
    &__input:not(:checked) ~ &__button {
      transform: translateX(0);
    }

    // fix are a problem with transition and complex transforms
    &__input:checked ~ &__button {
      transform: translateX(calc(var(--switch-width--medium) - 1.5rem));
    }
  }
}
