/*
* Switch component
*
*/

:root {
  --switch-border-width: 1px;
}

.dnb-switch {
  user-select: none;
  display: inline-block;

  margin: 0;
  padding: 0;

  &__focus,
  &__button {
    position: absolute;
    z-index: 4;

    width: 1.5rem;
    height: 1.5rem;

    border-radius: 50%;
  }

  &__button {
    pointer-events: none;

    top: 50%;

    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    transition: transform 160ms ease-out 125ms;

    border: var(--switch-border-width) solid transparent;

    // TODO: Can be removed later
    // Text inside the button, take a look at __text-item
    // vertical-align: middle;
    // font-size: 0.5rem;
    // text-transform: uppercase;
    // color: var(--color-sea-green);
  }

  // TODO: Can be removed later
  // &__text-item {
  //   z-index: 3;
  //
  //   text-align: center;
  //   line-height: 1; // for vertical alignment, we have to have no line-height
  //
  //   color: inherit;
  //   background-color: inherit;
  // }

  &__background {
    display: block;
    width: 2.5rem; // left  -4,8
    height: 1rem;
    border-radius: 0.8125rem;
  }

  &__focus {
    display: none;
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    transition: transform 150ms ease-out;
    transform: rotate(0deg);

    //15% is the top value
    //85% is the bottom value
    clip-path: polygon(
      50% 15%,
      110% 15%,
      110% -10%,
      -10% -10%,
      -10% 110%,
      110% 110%,
      110% 85%,
      50% 85%
    );

    @include fakeFocus();
    // &__inner {
    // }
  }

  &__inner {
    position: relative;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
  }
  &__inner:not([disabled]) &__background,
  &__inner:not([disabled]) &__button {
    cursor: pointer;
  }

  &__input {
    @include srOnly;
  }
}
