@use '../../../style/core/utilities.scss' as utilities;

.dnb-sidebar-menu {
  --sidebar-menu-action-padding-inline: 1rem;
  --sidebar-menu-action-padding-block: 0.5rem;
  --sidebar-menu-action-gap: 0.5rem;
  --sidebar-menu-action-min-height: 2.5rem;
  --sidebar-menu-action-border-radius: var(--token-radius-xl);
  --sidebar-menu-action-background-color: transparent;
  --sidebar-menu-action-background-color--hover: var(
    --token-color-background-neutral-subtle
  );
  --sidebar-menu-action-background-color--active: var(
    --token-color-background-neutral-base
  );
  --sidebar-menu-action-background-color--selected: var(
    --token-color-background-neutral-base
  );
  --sidebar-menu-action-text-color: var(--token-color-text-neutral);
  --sidebar-menu-action-text-color--disabled: var(
    --token-color-text-action-disabled
  );
  --sidebar-menu-action-icon-color: var(--token-color-icon-neutral);
  --sidebar-menu-action-icon-color--disabled: var(
    --token-color-icon-action-disabled
  );
  --sidebar-menu-divider-color: var(--token-color-stroke-neutral-subtle);
  --sidebar-menu-content-padding: 0.25rem;

  width: auto;

  background-color: transparent;

  &__sections.dnb-dropdown {
    --dropdown-border-radius: var(--token-radius-xl);
    --dropdown-border-width--open: 0.0625rem;
    --dropdown-button-padding: 0.5rem 1rem;

    margin-block-end: 1rem;

    .dnb-dropdown__trigger.dnb-button--secondary {
      --button-color-bg--default: var(
        --token-color-background-neutral-base
      );
      --button-color-bg--hover: var(--token-color-background-neutral-base);
      --button-color-bg--active: var(
        --token-color-background-neutral-base
      );
      --button-color-border--default: var(
        --token-color-stroke-neutral-subtle
      );
      --button-color-border--hover: var(
        --token-color-stroke-neutral-subtle
      );
      --button-color-border--active: var(
        --token-color-stroke-neutral-subtle
      );
      --button-color-icon--default: var(--token-color-icon-neutral);
      --button-color-icon--hover: var(--token-color-icon-neutral);
      --button-color-icon--active: var(--token-color-icon-neutral);
      --button-color-text--default: var(--token-color-text-neutral);
      --button-color-text--hover: var(--token-color-text-neutral);
      --button-color-text--active: var(--token-color-text-neutral);
    }
  }

  &__section-label {
    align-items: center;
    gap: 0.5rem;
    min-width: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 0;
    padding: var(--sidebar-menu-content-padding);

    list-style: none;
  }

  &__badge {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-inline-start: auto;
  }

  &__item {
    list-style: none;

    &__action {
      position: relative;
      display: flex;
      align-items: center;
      gap: var(--sidebar-menu-action-gap);
      width: calc(100% - var(--sidebar-menu-indent, 0));
      min-height: var(--sidebar-menu-action-min-height);
      margin-inline-start: var(--sidebar-menu-indent, 0);
      padding-block: var(--sidebar-menu-action-padding-block);
      padding-inline: var(--sidebar-menu-action-padding-inline);

      border: none;
      border-radius: var(--sidebar-menu-action-border-radius);

      font-family: inherit;
      font-size: var(--font-size-basis);
      line-height: var(--line-height-basis);
      text-align: start;

      color: var(--sidebar-menu-action-text-color);
      text-decoration: none;
      background-color: var(--sidebar-menu-action-background-color);

      cursor: pointer;
      outline: none;

      @include utilities.whatInput('keyboard') {
        &:focus:not([disabled]) {
          --sidebar-menu-action-background-color: var(
            --token-color-background-action-focus-subtle
          );
          --sidebar-menu-action-text-color: var(
            --token-color-text-action-focus
          );
          --sidebar-menu-action-icon-color: var(
            --token-color-icon-action-focus
          );

          @include utilities.focusRing('always');
        }
      }

      &:hover:not([disabled], [aria-disabled='true']) {
        background-color: var(
          --sidebar-menu-action-background-color--hover
        );
      }

      &:active:not([disabled], [aria-disabled='true']) {
        background-color: var(
          --sidebar-menu-action-background-color--active
        );
      }
    }

    &__action.dnb-anchor {
      padding: var(--sidebar-menu-action-padding-block)
        var(--sidebar-menu-action-padding-inline);

      border-radius: var(--sidebar-menu-action-border-radius);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }

    &__icon {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      color: var(--sidebar-menu-action-icon-color);
    }

    &__text {
      flex: 1;
      word-break: normal;
      overflow-wrap: normal;
    }

    &__content {
      display: flex;
      align-items: center;
      flex: 1;
      gap: var(--sidebar-menu-action-gap);
      min-width: 0;
    }

    & > &__action {
      gap: 0;
    }

    .dnb-sidebar-menu__accordion--selected > &__action,
    &--active > &__action,
    &--selected > &__action {
      @include utilities.fakeBorder(
        var(--token-color-stroke-neutral-subtle),
        0.0625rem,
        inset
      );

      background-color: var(
        --sidebar-menu-action-background-color--selected
      );
    }

    &--disabled > &__action {
      color: var(--sidebar-menu-action-text-color--disabled);
      cursor: not-allowed;

      .dnb-sidebar-menu__item__icon {
        color: var(--sidebar-menu-action-icon-color--disabled);
      }
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    list-style: none;

    &--disabled > &__trigger {
      color: var(--sidebar-menu-action-text-color--disabled);
      cursor: not-allowed;

      .dnb-sidebar-menu__item__icon {
        color: var(--sidebar-menu-action-icon-color--disabled);
      }
    }

    &__indicator {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-inline-start: auto;
    }

    &__current-indicator {
      display: inline-block;
      width: 0.375rem;
      height: 0.375rem;
      margin-inline-start: 0.375rem;

      border-radius: 50%;

      background-color: currentcolor;
      vertical-align: middle;
    }

    &__trigger {
      gap: var(--sidebar-menu-action-gap);
    }

    &__link.dnb-anchor {
      text-decoration: none;
      color: var(--sidebar-menu-action-text-color);
    }

    &--open > &__trigger &__indicator .dnb-icon {
      --icon-transition: var(
        --icon-transition-expanded,
        var(--icon-transition-default)
      );
    }

    .dnb-sidebar-menu__list {
      padding: 0;
    }

    .dnb-height-animation--hidden[hidden='until-found'] {
      margin-block-start: -0.25rem;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    list-style: none;

    &__title {
      display: block;
      width: calc(100% - var(--sidebar-menu-indent, 0));
      margin-inline-start: var(--sidebar-menu-indent, 0);
      padding: var(--sidebar-menu-action-padding-block)
        var(--sidebar-menu-action-padding-inline);

      font-size: var(--font-size-small);
      font-weight: var(--font-weight-medium);
    }

    &__link {
      width: calc(100% - var(--sidebar-menu-indent, 0));
      margin-inline-start: var(--sidebar-menu-indent, 0);
    }

    &__list {
      padding: 0;
    }
  }

  &__header {
    padding: var(--sidebar-menu-action-padding-block)
      var(--sidebar-menu-action-padding-inline);

    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);

    list-style: none;
  }

  &__divider {
    height: 0.0625rem;
    margin: 1rem var(--sidebar-menu-action-padding-inline);

    background-color: var(--sidebar-menu-divider-color);
  }

  &__divider-item {
    list-style: none;
  }

  &__custom {
    padding-block: 1rem;
    padding-inline: var(--sidebar-menu-action-padding-inline);

    list-style: none;
  }

  &__divider-item + &__custom {
    padding-block-start: 0;
  }
}

.dnb-sidebar-menu__sections-portal {
  .dnb-drawer-list {
    --drawer-list-list-border-radius: var(--token-radius-xl);
    --drawer-list-option-gap: 0;
    --drawer-list-padding: 0;
  }

  .dnb-drawer-list__list {
    --drawer-list-list-background: var(
      --token-color-background-neutral-subtle
    );

    padding: 0.25rem;
    overflow: hidden;

    box-shadow: none;
  }

  .dnb-drawer-list__option {
    --drawer-list-option-color-text--default: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-text--hover: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-text--active: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-text--focus: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-bg--default: var(
      --token-color-background-neutral-subtle
    );
    --drawer-list-option-color-bg--hover: var(
      --token-color-background-neutral-subtle
    );
    --drawer-list-option-color-bg--active: var(
      --token-color-background-neutral-subtle
    );
    --drawer-list-option-color-bg--focus: var(
      --token-color-background-neutral-subtle
    );

    margin: 0;
    padding: 0.5rem;

    border-radius: var(--token-radius-sm);
  }

  .dnb-drawer-list__option__inner {
    padding: 0.5rem;

    border-radius: var(--token-radius-lg);
  }

  .dnb-drawer-list__option:not(.dnb-drawer-list__option--selected):hover
    .dnb-drawer-list__option__inner {
    background-color: var(--token-color-background-neutral-base);
  }

  .dnb-drawer-list__option--selected {
    --drawer-list-option-color-text--default: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-text--hover: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-text--active: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-text--focus: var(
      --token-color-text-neutral
    );
    --drawer-list-option-color-bg--default: var(
      --token-color-background-neutral-subtle
    );
    --drawer-list-option-color-bg--hover: var(
      --token-color-background-neutral-subtle
    );
    --drawer-list-option-color-bg--active: var(
      --token-color-background-neutral-subtle
    );
    --drawer-list-option-color-bg--focus: var(
      --token-color-background-neutral-subtle
    );
  }

  .dnb-drawer-list__option--selected .dnb-drawer-list__option__inner {
    @include utilities.fakeBorder(
      var(--token-color-stroke-neutral-subtle),
      0.0625rem,
      inset
    );

    background-color: var(--token-color-background-neutral-bold);
  }

  .dnb-drawer-list__option__inner::before {
    right: 0;
    bottom: -0.5rem;
    left: 0;
  }
}

html[data-whatinput='keyboard']
  .dnb-sidebar-menu__sections-portal
  .dnb-drawer-list__option--focus {
  --drawer-list-option-color-text--focus: var(
    --token-color-text-action-focus
  );

  box-shadow: none;

  .dnb-drawer-list__option__inner {
    @include utilities.fakeBorder(
      var(--token-color-stroke-action-focus),
      var(--focus-ring-width),
      inset
    );

    background-color: var(--token-color-background-action-focus-subtle);
  }
}

.dnb-sidebar-menu-resize-handle {
  position: fixed;
  z-index: 3;
  inset-block: 0;
  inset-inline-start: calc(
    var(--sidebar-menu-resize-handle-position, 100%) - 0.375rem
  );

  width: 1.5rem;
  margin: 0;
  padding: 0;

  color: var(--token-color-stroke-neutral-subtle);
  background: transparent;
  border: 0;
  border-radius: 0;
  cursor: ew-resize !important;
  touch-action: none;

  transition: color 100ms var(--easing-default);

  &::before {
    content: '';
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0.375rem;

    width: 0.0625rem;

    background-color: currentcolor;
    opacity: 0;

    transform: translateX(-100%);
    transition:
      width 100ms var(--easing-default),
      opacity 100ms var(--easing-default);
  }

  &:hover {
    color: var(--token-color-stroke-action);
    transition-delay: 200ms;

    &::before {
      width: 0.125rem;
      opacity: 1;
      transition-delay: 200ms;
    }
  }

  &:focus-visible {
    color: var(--token-color-stroke-action);
    transition-delay: 0ms;
    outline: var(--focus-ring-width) solid
      var(--token-color-stroke-action-focus);
    outline-offset: -0.25rem;

    &::before {
      width: 0.125rem;
      opacity: 1;
      transition-delay: 0ms;
    }
  }
}

html.dnb-sidebar-menu-resize-handle--resizing,
html.dnb-sidebar-menu-resize-handle--resizing * {
  cursor: ew-resize !important;
  user-select: none;
}

html.dnb-sidebar-menu-resize-handle--resizing
  .dnb-sidebar-menu-resize-handle {
  color: var(--token-color-stroke-action);
  transition-delay: 0ms;

  &::before {
    width: 0.125rem;
    opacity: 1;
    transition-delay: 0ms;
  }
}

.dnb-sidebar-menu-responsive-drawer .dnb-drawer__navigation.dnb-section {
  position: sticky;
  z-index: 11;
  top: 0;

  flex-direction: row-reverse;
  min-height: 3.5rem;
  padding: 0.5rem 1.5rem;

  background-color: var(--token-color-background-neutral);
}

.dnb-sidebar-menu-responsive-drawer .dnb-drawer__content {
  padding: 1.5rem 1rem 1rem 1.5rem;
}
