.dnb-forms-input-block {
  &__label-block {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &__label-description {
    margin-left: 0.3em;
    color: var(--color-black-55);
    font-size: var(--font-size-small);
  }

  &__label-secondary {
    color: var(--color-black-55);
    font-size: var(--font-size-small);
  }
}
