name: Icons Library

on:
  push:
    branches:
      - 'icon*/**'
  pull_request:
    branches:
      - 'icon*/**'

env:
  GH_EMAIL: ${{ secrets.GH_EMAIL }}
  GH_NAME: ${{ secrets.GH_NAME }}
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
  FIGMA_ICONS_FILE: ${{ secrets.FIGMA_ICONS_FILE }}
  ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
  ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}
  ALGOLIA_SEARCH_KEY: ${{ secrets.ALGOLIA_SEARCH_KEY }}
  ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
  CYPRESS_CACHE_FOLDER: ~/.cache/Cypress

jobs:
  process-icons:
    name: Fetch and Build Icons # this name is used in "checkName"

    runs-on: ubuntu-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'

      - name: Use node_modules cache
        uses: actions/cache@v3
        id: modules-cache
        with:
          path: '**/node_modules'
          key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-modules-

      - name: Install dependencies
        if: steps.modules-cache.outputs.cache-hit != 'true'
        run: yarn install --immutable

      - name: Icons fetch and prebuild
        run: yarn workspace @dnb/eufemia prebuild:figma:ci

      - name: Prebuild Library
        run: yarn workspace @dnb/eufemia prebuild:ci

      - name: Test prebuild
        run: yarn workspace @dnb/eufemia test:update

      - name: Build portal
        run: yarn workspace dnb-design-system-portal build-visual-test

      - name: Store portal artifacts
        uses: actions/upload-artifact@v3
        with:
          name: portal-build-artifact
          path: ./packages/dnb-design-system-portal/public

      - name: Commit icons
        run: yarn workspace @dnb/eufemia postbuild:commit

  visual-test:
    name: Visual Test Action

    runs-on: macos-latest

    steps:
      - name: Git checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: 'package.json'

      - name: Use yarn cache
        uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ./.yarn/cache
          key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-deps-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-deps-

      - name: Install dependencies
        run: yarn install --immutable

      - name: Wait for build to succeed
        uses: fountainhead/action-wait-for-check@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: Fetch and Build Icons # Has to be the action name
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          intervalSeconds: 3
          timeoutSeconds: 1200

      - name: Re-store portal artifacts
        uses: actions/download-artifact@v3
        with:
          name: portal-build-artifact
          path: ./packages/dnb-design-system-portal/public

      - name: Run visual tests
        run: yarn workspace dnb-design-system-portal test:screenshots:ci

      - name: Commit updated snapshots
        run: yarn workspace @dnb/eufemia postbuild:commit

      - name: Slack
        uses: 8398a7/action-slack@v3
        with:
          channel: '#eufemia-dev'
          status: ${{ job.status }}
          fields: author,ref,action,workflow
          github_base_url: https://github.com/
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        if: ${{ always() && !github.event.pull_request.head.repo.fork }}
