name: Eufemia Release

on:
  workflow_run:
    branches:
      - 'release'
      - 'portal'
      - 'beta'
      - 'alpha'
    workflows: ['Verify']
    types:
      - completed

jobs:
  action:
    name: Release and Deploy

    runs-on: ubuntu-latest

    env:
      GH_EMAIL: ${{ secrets.GH_EMAIL }}
      GH_NAME: ${{ secrets.GH_NAME }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
      FIGMA_ICONS_FILE: ${{ secrets.FIGMA_ICONS_FILE }}
      ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
      ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}
      ALGOLIA_SEARCH_KEY: ${{ secrets.ALGOLIA_SEARCH_KEY }}
      ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
      CYPRESS_CACHE_FOLDER: ~/.cache/Cypress

    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.17.0

      - name: Use node_modules cache
        uses: actions/cache@v2
        id: modules-cache
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-modules-

      - name: Install dependencies
        if: steps.modules-cache.outputs.cache-hit != 'true'
        run: yarn install --immutable

      - name: Prebuild Library
        run: yarn workspace @dnb/eufemia prebuild:ci

      - name: Build portal
        run: yarn workspace dnb-design-system-portal build-ci

      - name: Postbuild Library
        run: yarn workspace @dnb/eufemia postbuild:ci

      - name: Deploy portal
        if: (github.ref == 'refs/heads/release' ||
          github.ref == 'refs/heads/portal')
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.GH_TOKEN }}
          publish_dir: ./packages/dnb-design-system-portal/public

      - name: Release
        if: (github.ref == 'refs/heads/release' ||
          github.ref == 'refs/heads/beta' ||
          github.ref == 'refs/heads/alpha')
        run: yarn workspace @dnb/eufemia publish:ci

      - name: Slack
        uses: 8398a7/action-slack@v3
        with:
          channel: '#eufemia-dev'
          status: ${{ job.status }}
          fields: author,ref,action,workflow
          github_base_url: https://github.com/
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        if: always()
