name: Visual Tests

on:
  push:
    branches:
      - '**'
      - '!**--skip-ci'
      - '!**--visual-reports'
      - '!wip/**'
      - '!experiments/**'
      - '!release'
      - '!portal'
      - '!beta'
      - '!alpha'

jobs:
  action:
    name: Visual Test Action

    runs-on: macos-latest

    env:
      GH_EMAIL: ${{ secrets.GH_EMAIL }}
      GH_NAME: ${{ secrets.GH_NAME }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
      FIGMA_ICONS_FILE: ${{ secrets.FIGMA_ICONS_FILE }}
      ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
      ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}
      ALGOLIA_SEARCH_KEY: ${{ secrets.ALGOLIA_SEARCH_KEY }}
      ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
      CYPRESS_CACHE_FOLDER: ~/.cache/Cypress

    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14.17.0

      - name: Use yarn cache
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: ./.yarn/cache
          key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-deps-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-deps-

      - name: Install dependencies
        run: yarn install --immutable

      - name: Get current date
        id: date
        run: echo "::set-output name=timestamp::$(date +'%Y-%W')"

      - name: Use Gatsby cache
        uses: actions/cache@v2
        id: gatsby-cache
        with:
          path: |
            ./packages/dnb-design-system-portal/.cache
            ./packages/dnb-design-system-portal/public
          key: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-gatsby-dev-${{ steps.date.outputs.timestamp }}
          restore-keys: ${{ secrets.CACHE_VERSION }}-${{ runner.os }}-gatsby-dev-

      - name: Build portal
        run: yarn workspace dnb-design-system-portal build

      - name: Run visual tests
        run: yarn workspace @dnb/eufemia test:screenshots:ci

      - name: Slack
        uses: 8398a7/action-slack@v3
        with:
          channel: '#eufemia-dev'
          status: ${{ job.status }}
          fields: author,ref,action,workflow
          github_base_url: https://github.com/
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          MATRIX_CONTEXT: ${{ toJson(matrix) }}
        if: ${{ always() && github.repository_owner == 'dnbexperience' }}
