.dnb-layout__card {
  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-large)
    var(--spacing-medium);

  background-color: var(--color-white);
  border: 0.25rem solid var(--color-pistachio);
  border-radius: 0.75rem;

  &__heading {
    font-size: var(--font-size-basis);
    font-weight: var(--font-weight-medium);
  }

  & + &__heading {
    margin-top: var(--spacing-small);
  }
}
