@import '../../../extensions/forms/variables.scss';

.dnb-layout-flex-container {
  display: flex;

  &--direction {
    &-row {
      flex-direction: row;
    }

    &-column {
      flex-direction: column;
    }
  }

  &--justify {
    &-flex-start {
      justify-content: flex-start;
    }

    &-flex-end {
      justify-content: flex-end;
    }

    &-center {
      justify-content: center;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-evenly {
      justify-content: space-evenly;
    }
  }

  &--align {
    &-flex-start {
      align-items: flex-start;
    }

    &-flex-end {
      align-items: flex-end;
    }

    &-center {
      align-items: center;
    }

    &-stretch {
      align-items: stretch;
    }

    &-baseline {
      align-items: baseline;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &__hr {
    border: none;
    border-top: 1px solid var(--color-black-8);
    height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  // Row

  &--direction-row.dnb-layout-flex-container--spacing-small {
    column-gap: var(--spacing-small);
  }

  &--direction-row.dnb-layout-flex-container--spacing-medium {
    column-gap: var(--spacing-medium);
  }

  &--width-small {
    width: $forms-field-width-small;
  }

  &--width-medium {
    width: $forms-field-width-medium;
  }

  &--width-large {
    width: $forms-field-width-large;
  }
}
