.dnb-layout-flex-container {
  display: flex;

  &--direction {
    &-horizontal {
      flex-direction: row;
    }

    &-vertical {
      flex-direction: column;
    }
  }

  &--justify {
    &-flex-start {
      justify-content: flex-start;
    }

    &-flex-end {
      justify-content: flex-end;
    }

    &-center {
      justify-content: center;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-evenly {
      justify-content: space-evenly;
    }
  }

  &--align {
    &-flex-start {
      align-items: flex-start;
    }

    &-flex-end {
      align-items: flex-end;
    }

    &-center {
      align-items: center;
    }

    &-stretch {
      align-items: stretch;
    }

    &-baseline {
      align-items: baseline;
    }
  }

  &--align-self {
    // For when used as a flex item in addition to being container
    &-flex-start {
      align-self: flex-start;
    }

    &-flex-end {
      align-self: flex-end;
    }

    &-center {
      align-self: center;
    }

    &-baseline {
      align-self: baseline;
    }

    &-stretch {
      align-self: stretch;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }
  &--row-gap-small,
  &--wrap#{&}--has-size {
    row-gap: var(--spacing-small);
  }
  &--row-gap-medium,
  &--wrap#{&}--has-size#{&}--spacing-medium {
    row-gap: var(--spacing-medium);
  }
  &--row-gap-large,
  &--wrap#{&}--has-size#{&}--spacing-large {
    row-gap: var(--spacing-large);
  }

  .dnb-hr {
    width: 100%;
    color: var(--color-black-8);
  }
}
