.dnb-layout-card {
  --background-color: var(--color-white);
  --border-color: var(--color-lavender);
  --border-width: 0.25rem;
  --border-radius: 0.75rem;

  padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-large)
    var(--spacing-medium);

  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);

  &__heading {
    font-size: var(--font-size-basis);
    font-weight: var(--font-weight-medium);
  }

  & + &__heading {
    margin-top: var(--spacing-small);
  }
}
