/*
 * Anker
 *
 * ========================================================================== */

@mixin hoverStyle() {
  background-color: var(--color-mint-green-50);
  border-bottom-width: 2px;
}
@mixin activeStyle() {
  color: #fff;
  background-color: var(--color-sea-green);
  border-bottom: none;
}
@mixin focusStyle($whatinput: null) {
  @include fakeFocus($whatinput);
  border-bottom: none;
}

a {
  // make sure we have always `display: inline;` as inline-block is breaking the border-bottom
  display: inline;

  // top has 1px less, cause we now has 2px on border bottom hover
  // the calculations are based on 24px line-height

  // 1px = 0,0625
  // 2px = 0,125
  // 4px = 0,25

  // on padding-top we have 4px
  // on padding-bottom we have 2px, cause run a border-bottom with 2px
  // this makes a total of 8px
  // 24px line-height - 8px = 16px (font-size)
  padding: 0.25em 0.125em 0.125em;

  // margins are not needed as long as we go for "inline"
  // margin: -0.25em 0 -0.125em;

  color: inherit;
  color: var(--color-sea-green, inherit);
  text-decoration: none;
  border-bottom: 1px solid var(--color-sea-green);

  &:active,
  &:hover {
    @include hoverStyle();

    // margins are not needed as long as we go for "inline"
    // margin-bottom: -0.1875em;
  }
  &:active {
    @include activeStyle();
  }
  &:focus {
    @include focusStyle();
  }

  transition: background-color 0.2s ease;

  // other stuff, not related to the Anker directly
  .dnb-icon {
    display: inline-block;
    // -1px to center the icons agains large Chars
    transform: translateY(-1px);
  }
}
.dnb-hover-style {
  @include hoverStyle();
}
.dnb-active-style {
  @include activeStyle();
}
.dnb-focus-style {
  @include focusStyle('mouse');
}
.dnb-with-animation {
  position: relative; // because of z-index and underline/hover sudo classes
  z-index: 1; // because of focus handling

  // This way we make sure we never have a line break in an Anker
  // Cause this messes up the "drawUnderlineBorder" mechanism
  white-space: pre;

  // border
  @include drawUnderlineBorder();

  // bg
  @include drawUnderlineBackground();

  background-color: transparent;
  border-bottom: none;

  &:active,
  &:hover {
    background-color: transparent;
    border-bottom: none;

    // bg
    &::before {
      max-height: 100%;
    }

    // border
    &::after {
      left: 0.1em;
      right: 0.1em;
      border-bottom-width: 2px;
    }
  }
  &:active {
    border-bottom: none;

    // bg
    &::before {
      background-color: var(--color-sea-green);
    }
    // border
    &::after {
      border-bottom-color: var(--color-sea-green);
    }
  }
  &:focus {
    @include fakeFocus();
    // border
    &::after {
      border-bottom: none;
    }
  }
}

// resettings
@mixin resetUnderlineStyle() {
  border-bottom: none;
  // border
  &::after {
    border-bottom: none;
    content: none;
  }
}
@mixin resetHoverStyle() {
  &:hover {
    color: inherit;
    background-color: inherit;
    border-bottom-width: 1px;
  }

  // bg
  &::before {
    content: none;
  }
}
@mixin resetAnimationStyle() {
  transition: none;

  // bg
  &::before {
    transition: max-height 0.01s linear;
  }
}
.dnb-no-anker-style {
  padding: 0;
  margin: 0;
  white-space: normal;
  border-bottom: none;
  color: inherit;

  // border
  &::after {
    content: none;
  }
  // bg
  &::before {
    content: none;
  }

  @include resetUnderlineStyle();
  @include resetHoverStyle();
}
.dnb-no-anker-underline {
  @include resetUnderlineStyle();
}
.dnb-no-anker-hover {
  @include resetHoverStyle();
}
.dnb-no-anker-animation {
  @include resetAnimationStyle();
}
a:not([href]) {
  cursor: pointer;
  user-select: none;
}
