/*
* Theme loader
* ======================================================================== */

@import './variables.scss';
@import './utilities.scss';

:root {
  // color
  --color-sea-green: #{$color-sea-green};
  --color-sea-green-alt: #{$color-sea-green-alt};
  --color-sea-green-alt-30: #{$color-sea-green-alt-30};
  --color-sea-green-light: #{$color-sea-green-light};
  --color-sea-green-light-alt: #{$color-sea-green-light-alt};
  --color-ocean-green: #{$color-ocean-green};
  --color-emerald-green: #{$color-emerald-green};
  --color-summer-green: #{$color-summer-green};
  --color-mint-green: #{$color-mint-green};
  --color-mint-green-alt: #{$color-mint-green-alt};

  --color-signal-orange: #{$color-signal-orange};
  --color-signal-yellow: #{$color-signal-yellow};
  --color-signal-yellow-30: #{$color-signal-yellow-30};

  --color-light-grey: #{$color-light-grey};
  --color-outline-grey: #{$color-outline-grey};
  --color-subtle-grey: #{$color-subtle-grey};
  --color-soft-grey: #{$color-soft-grey};
  --color-charcoal-grey: #{$color-charcoal-grey};
  --color-shadow-grey: #{$color-shadow-grey};

  --color-indigo: #{$color-indigo};
  --color-indigo-medium: #{$color-indigo-medium};
  --color-indigo-light: #{$color-indigo-light};
  --color-violet: #{$color-violet};
  --color-violet-medium: #{$color-violet-medium};
  --color-violet-light: #{$color-violet-light};
  --color-sky-blue: #{$color-sky-blue};
  --color-sky-blue-medium: #{$color-sky-blue-medium};
  --color-sky-blue-light: #{$color-sky-blue-light};

  // typography
  --font-family-book: #{$font-family-book};
  --font-family-std: #{$font-family-std};

  --font-size-mini: #{$font-size-mini};
  --font-size-small: #{$font-size-small};
  --font-size-medium: #{$font-size-medium};
  --font-size-regular: #{$font-size-regular};
  --font-size-large: #{$font-size-large};
  --font-size-x-large: #{$font-size-x-large};
  --font-size-xx-large: #{$font-size-xx-large};
  --font-size-xxx-large: #{$font-size-xxx-large};
}
