/*
* Theme loader
* ======================================================================== */

// core imports
@import './properties.scss';
@import './utilities.scss';

.dnb-style-selection ::selection,
.dnb-style ::selection {
  background: var(--color-mint-green);
  color: var(--color-black);
  text-shadow: none;
}

// hey have to be used by a parent css class: .dnb-style
.dnb-style {
  small {
    font-size: 0.875rem; // 14px
    line-height: 1.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0;
    padding: 0;

    font-family: var(--font-family-demi);
    line-height: 1rem; // 16px
    font-weight: 400;

    color: var(--color-emerald-green);
  }

  h1 {
    margin: 1.5rem 0 1rem;

    font-size: 3rem; // 48px
    line-height: 3.5rem; // 56px
    font-weight: 400;
  }

  h1.small,
  h1 small {
    display: block;
    font-size: 2rem; // 32px
    line-height: 3rem; // 48px
  }

  h2 {
    margin: 1.5rem 0 1rem;

    font-size: 1.5rem; // 24px
    line-height: 2rem; // 32px
  }

  /*
  * H3 looks the same as .dnb-lead
  *
  */
  h3,
  p.dnb-lead {
    font-family: var(--font-family-demi);
    font-size: 1.25rem; // 20px
    line-height: 2rem; // 32px
    font-weight: 400;
  }
  h3 > small,
  h3.small,
  p.dnb-lead > small,
  p.dnb-lead > .small {
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
  }

  // The rest of the Headings are nod defned by the Eufemia Typography
  h4 {
    font-size: 1.25rem; // 20px
    line-height: 1.5rem; // 24px
  }
  h5 {
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
  }
  h6 {
    font-size: 0.875rem;
  }

  p {
    // if we not reset margin, the browser is using: margin-block-end: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px

    b,
    strong {
      font-weight: 600;
    }
  }

  label,
  input {
    font-size: 1rem; // 16px
  }
  form,
  fieldset {
    font-size: 1rem; // 16px
  }

  table {
    display: block;
    width: 100%;

    overflow: auto;
    margin-top: 0;
    margin-bottom: 1rem;

    border-spacing: 0;
    border-collapse: collapse;
  }
  table th,
  table td {
    white-space: nowrap;

    // to make sure we have the ability to have a border where ever we want
    border-bottom: 1px solid transparent;

    font-size: 1em;
    line-height: 1.5em;
  }
  table th {
    padding: 3em 1em 0.5em;

    font-weight: 600;
    text-align: left;
    color: var(--color-emerald-green);

    background-color: var(--color-sea-green-4);
    border-bottom: 1px solid var(--color-mint-green);
  }
  table td {
    padding: 1.0625em 1em;
    border-bottom: 1px solid transparent;

    line-height: 1.5em;
  }
  table tr {
    background-color: #fff;
  }
  table tr:nth-child(2n) {
    background-color: var(--color-sea-green-4);
  }

  // General Layout and Spacing + some Styling
  *:not([class^='dnb-']) + {
    p,
    blockquote,
    ul,
    ol,
    dl,
    pre {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    ul,
    ol {
      padding-left: 2em;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.5rem;
    }

    li {
      word-wrap: break-all;
    }

    ul li,
    ol li {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    li > p {
      margin-top: 1em;
    }

    li + li {
      margin-top: 0.25em;
    }

    ol ol,
    ul ol {
      list-style-type: lower-roman;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
      margin-top: 0;
      margin-bottom: 0;
    }

    ul ul ol,
    ul ol ol,
    ol ul ol,
    ol ol ol {
      list-style-type: lower-alpha;
    }

    dd {
      margin-left: 0;
    }

    dl {
      padding: 0;
    }

    dl dt {
      padding: 0;
      margin-top: 1em;
      font-size: 1em;
      font-style: italic;
      font-weight: 600;
    }

    dl dd {
      padding: 0 1em;
      margin-bottom: 1em;
    }

    blockquote {
      margin: 0;
      padding: 0 1em;
      color: #666;
      border-left: 0.25em solid #dfe2e5;
    }

    blockquote > :first-child {
      margin-top: 0;
    }

    blockquote > :last-child {
      margin-bottom: 0;
    }

    img {
      box-sizing: content-box;
      max-width: 100%;
      border-style: none;
      background-color: #fff;
    }

    img[align='right'] {
      padding-left: 1.2rem;
    }

    img[align='left'] {
      padding-right: 1.2rem;
    }

    code,
    * code {
      margin: 0;
      padding: 0.2rem 0.4rem;

      font-size: 0.875em;
      background-color: var(--color-mint-green-25);
      border-radius: 0.1875em;
    }
    pre,
    * pre {
      word-wrap: normal;
    }
  }
}
