/*
* DNB Core Style
*
* ======================================================================== */

.dnb-style {
  small {
    font-size: 0.875em;
    line-height: 1.375rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    line-height: 1em;
  }

  h1 {
    font-size: 3em;
    line-height: 3.5rem; // 56px
    margin-bottom: 1rem;
    font-weight: 400;

    small {
      font-size: 2rem; // 32px
      line-height: 3rem;
    }
  }

  h2 {
    font-size: 1.5em; // 24px
    line-height: 2rem; // 32px
    margin-bottom: 1rem;
  }

  /*
  * H3 looks the same as .dnb-lead
  *
  */
  h3,
  p.dnb-lead {
    font-size: 1.25em; // 20px
    line-height: 2rem; // 32px
    margin-bottom: 1rem;
    font-weight: 400;
  }
  h3 small {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  h4 {
    font-size: 1.25em;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.875em;
  }

  p {
    font-weight: 300;
    line-height: 1.5em;
  }

  label,
  input {
    font-size: 1em;
  }

  form,
  fieldset {
    font-size: 1rem;
  }
}
