/*
* DNB Core Style
*
* ======================================================================== */

.dnb-style {
  p {
    margin: 0; // if we not reset margin, the browser is using: margin-block-end: 1rem;
    padding: 0;
    font-family: $font-family-book;
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
    font-weight: 300;

    // once we use $font-family-book - "font-weight: bolder;" don't works
    // so we have to force it to be "bold"
    b,
    strong {
      font-family: $font-family-std; // or we could fall back to std again
      // font-weight: bold;
    }
  }

  label,
  input {
    font-size: 1rem; // 16px
  }
  form,
  fieldset {
    font-size: 1rem; // 16px
  }
  small {
    font-size: 0.875rem; // 14px
    line-height: 1rem; // 16px
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;

    font-family: $font-family-demi;
    line-height: 1rem; // 16px
    font-weight: 400;
  }

  h1 {
    font-size: 3rem; // 48px
    line-height: 3.5rem; // 56px
    font-weight: 400;
    small {
      font-size: 2rem; // 32px
      line-height: 3rem; // 48px
    }
  }

  h2 {
    font-size: 1.5rem; // 24px
    line-height: 2rem; // 32px
  }

  /*
  * H3 looks the same as .dnb-lead
  *
  */
  h3,
  .dnb-lead {
    font-family: $font-family-demi;
    font-size: 1.25rem; // 20px
    line-height: 2rem; // 32px
    font-weight: 400;

    small {
      font-size: 1em; // 16px
      line-height: 1.5rem; // 24px
    }
  }

  // The rest of the Headings are nod defned by the Eufemia Typography
  h4 {
    font-size: 1.25rem; // 20px
    line-height: 1.5rem; // 24px
  }
  h5 {
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
  }
  h6 {
    font-size: 0.875rem;
  }
}
