/*
* Theme loader
* ======================================================================== */

// @import './variables.scss'; // TODO: can be removed
@import './utilities.scss';

:root {
  // UX colors
  --color-sea-green-alt: #008484;
  --color-mint-green-50: #d2f0e9;
  --color-mint-green-25: #e9f8f4;
  --color-sea-green-4: #f5fafa;
  --color-sea-green-alt-30: #b3dada;
  --color-signal-yellow-30: #ffffd7;
  --color-cherry-red: #e10076;
  --color-cherry-red-80: #fdebf4;
  --color-black: #000;
  --color-black-80: #333;
  --color-black-30: #b3b3b3;
  --color-white: #fff;

  // Profile colors
  --color-sea-green: #007272;
  --color-mint-green: #a5e1d2;
  --color-summer-green: #28b482;
  --color-emerald-green: #14555a;
  --color-ocean-green: #00343e;
  --color-signal-orange: #ff5400;
  --color-signal-yellow: #ffff7a;
  --color-indigo: #23195a;
  --color-violet: #6e2382;
  --color-sky-blue: #4bbed2;

  // Unused Profile colors
  // --color-mint-green-alt: #ebfffa;
  // --color-indigo-medium: #6e6491;
  // --color-indigo-light: #b9afc8;
  // --color-violet-medium: #a06eaf;
  // --color-violet-light: #cfb9d7;
  // --color-sky-blue-medium: #87d2e1;
  // --color-sky-blue-light: #c3ebf0;

  // Colors used in mobile
  // --color-light-grey: #fafafa;
  // --color-outline-grey: #ebebeb;
  // + new grey definitions
  // --color-subtle-grey: #f8f8f8;
  // --color-soft-grey: #ccc;
  // --color-charcoal-grey: #333;
  // --color-shadow-grey: #757575;
}

.dnb-style {
  p {
    margin: 0; // if we not reset margin, the browser is using: margin-block-end: 1rem;
    padding: 0;
    font-family: var(--font-family-book);
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
    // font-weight: 300;

    // once we use var(--font-family-book) - "font-weight: bolder;" don't works
    // so we have to force it to be "bold"
    b,
    strong {
      font-family: var(
        --font-family-book
      ); // or we could fall back to std again
      // font-weight: bold;
    }
  }

  label,
  input {
    font-size: 1rem; // 16px
  }
  form,
  fieldset {
    font-size: 1rem; // 16px
  }
  small {
    font-size: 0.875rem; // 14px
    line-height: 1rem; // 16px
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;

    font-family: var(--font-family-demi);
    line-height: 1rem; // 16px
    font-weight: 400;

    color: var(--color-emerald-green);
  }

  h1 {
    font-size: 3rem; // 48px
    line-height: 3.5rem; // 56px
    font-weight: 400;
    small {
      font-size: 2rem; // 32px
      line-height: 3rem; // 48px
    }
  }

  h2 {
    font-size: 1.5rem; // 24px
    line-height: 2rem; // 32px
  }

  /*
  * H3 looks the same as .dnb-lead
  *
  */
  h3,
  .dnb-lead {
    font-family: var(--font-family-demi);
    font-size: 1.25rem; // 20px
    line-height: 2rem; // 32px
    font-weight: 400;

    small {
      font-size: 1em; // 16px
      line-height: 1.5rem; // 24px
    }
  }

  // The rest of the Headings are nod defned by the Eufemia Typography
  h4 {
    font-size: 1.25rem; // 20px
    line-height: 1.5rem; // 24px
  }
  h5 {
    font-size: 1rem; // 16px
    line-height: 1.5rem; // 24px
  }
  h6 {
    font-size: 0.875rem;
  }
}
