/*
 * Typography
 *
 * The font-family properties are defined in the properties.scss file, like:
 * --font-family-default:
 *
 */

// Font usage
.dnb-typo-std,
.dnb-typo-regular,
.dnb-typo-book /* deprecated */ {
  font-family: var(--font-family-default);
  font-weight: normal;
  font-style: normal;
}
.dnb-typo-medium {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-medium);
  font-style: normal;
}
.dnb-typo-bold,
.dnb-typo-demi /* deprecated */ {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-demi);
  font-style: normal;
}

// Number usage
.dnb-typo-number {
  // Proportional Lining (default)
  &--lining {
    @include numberFeature(lining-nums, lnum);
  }
  // Proportional Tabular
  &--tabular {
    @include numberFeature(tabular-nums, lnum);
  }

  // Deprecated
  &--oldstyle {
    @include numberFeature(oldstyle-nums, onum);
  }
  // Deprecated
  &--proportional {
    @include numberFeature(proportional-nums, pnum);
  }
}

$fonts-path: '../../assets/fonts' !default;

// Std and Regular
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('#{$fonts-path}/FedraSansStd-Book.woff2') format('woff2'),
    url('#{$fonts-path}/FedraSansStd-Book.woff') format('woff'),
    url('#{$fonts-path}/FedraSansStd-Book.ttf') format('truetype');
  font-weight: normal; // have to be the same as: --font-weight-regular
  font-style: normal;
  font-display: fallback;
}

// Medium
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('#{$fonts-path}/FedraSansStd-Demi.woff2') format('woff2'),
    url('#{$fonts-path}/FedraSansStd-Demi.woff') format('woff'),
    url('#{$fonts-path}/FedraSansStd-Demi.ttf') format('truetype');
  font-weight: 500; // have to be the same as: --font-weight-medium
  font-style: normal;
  font-display: fallback;
}

// Bold
@font-face {
  font-family: 'Fedra Sans Std';
  src: url('#{$fonts-path}/FedraSansStd-Medium.woff2') format('woff2'),
    url('#{$fonts-path}/FedraSansStd-Medium.woff') format('woff'),
    url('#{$fonts-path}/FedraSansStd-Medium.ttf') format('truetype');
  font-weight: 600; // have to be the same as: --font-weight-bold
  font-style: normal;
  font-display: fallback;
}
