/*
 * Helper Classes
 *
 */

// Focus management
.dnb-no-focus {
  outline: none;
}
.dnb-tab-focus {
  outline: none;
  &:focus {
    @include fakeFocus('keyboard');
  }
}
.dnb-mouse-focus {
  outline: none;
  &:focus {
    @include fakeFocus('mouse');
  }
}
.dnb-focus-ring {
  @include fakeBorder($focusRingColor, $focusRingWidth, null, !important);
}
@import './helper-classes/skip-link.scss';

// TODO: Including the helper here is deprecated and will be removed in the major version
@import './helper-classes/dnb-section.scss';

.dnb-unstyled-list {
  @include unstyledList();
}

// Layout management
// Use this class where components are trying to add background boxes/borders/lines
// to the very outer sides of the page
// e.g. Tabs are using this technique
// In some cases we dont want to have that effect.
// E.g. if we have a menu to the left or right side
.dnb-app-content-inner {
  overflow: hidden;
}
.dnb-hide-on-mobile {
  @include allBelow(medium) {
    display: none;
  }
}
.dnb-mobile-exclusive {
  @include allAbove(medium) {
    display: none;
  }
}
.dnb-width-limit {
  margin: 0 auto;
  width: 100%;
  max-width: map-get($map: $breakpoints, $key: large);
  padding: 0 0.5rem;

  @include allAbove(medium) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.dnb-belt {
  padding: 1rem 0;
  width: 100%;
  background: var(--color-mint-green-12);
}
.dnb-nudge {
  display: inline-flex;
  flex: 0 0 100%;

  @for $i from 1 through 10 {
    &--vertical {
      &[data-nudges='#{$i}'] {
        @include nudger(vertical, #{$i});
      }
    }
    &--horizontal {
      &[data-nudges='#{$i}'] {
        @include nudger(horizontal, #{$i});
      }
    }
  }
}
.dnb-sr-only {
  @include srOnly();
}
.dnb-not-sr-only {
  @include notSrOnly();
}
