/*
 * Helper Classes
 *
 */

// Focus management
.dnb-no-focus {
  outline: none;
}
.dnb-fake-focus {
  @include fakeFocus();
}
.dnb-tab-focus {
  outline: none;
  &:focus {
    @include fakeFocus('keyboard');
  }
}
.dnb-always-focus {
  &:focus {
    @include fakeBorder(var(--color-signal-orange), null, !important);
  }
}

// Form
.dnb-form-group {
  display: inline-flex;
  flex-direction: row;

  width: 100%;

  > .dnb-form-status {
    margin: 0.5rem 0;
  }

  // for vertical labeling
  &__position--vertical {
    flex-direction: column;

    width: auto;

    > label,
    > .dnb-form-label {
      margin: 0;
      margin-bottom: 0.5rem;
    }

    // To fake, that we actuallyhave 8px between
    > textarea {
      transform: translateY(2px);
    }
  }

  // for hoizontal labeling
  &,
  &__position--hoizontal {
    > label,
    > .dnb-form-label {
      margin: 0;
      margin-right: 1rem;
    }

    // To fake, that the first line is aligned with the label
    &:not(.dnb-form-group__position--vertical) {
      > textarea {
        transform: translateY(
          calc(1px - 1px - var(--textarea-vertical-correction))
        );
        margin-top: 0;
      }
    }
  }
}

// How to use the "skip-link"
// 1. Have this on the top of Your App: <a class="dnb-skip-link dnb-button" href="#dnb-app-content">Skip to content</a>
// 2. Place this id="dnb-app-content" on Your main content container
a.dnb-skip-link {
  user-select: none;

  position: fixed;
  z-index: -9999;
  top: -100vh;
  overflow: hidden;

  width: auto;
  height: auto;

  margin: 0;
  padding: 0.75rem 1rem 0.625rem 1rem;
  border-radius: 0.5rem;

  white-space: nowrap;

  font-size: var(--font-size-medium);
  color: var(--color-sea-green);
  text-decoration: none;
  background-color: var(--color-white);
}
a.dnb-skip-link:hover {
  color: var(--color-sea-green);
  background-color: var(--color-mint-green-50);
}
a.dnb-skip-link:active {
  color: var(--color-white);
  background-color: var(--color-emerald-green);
}
a.dnb-skip-link:focus,
a.dnb-skip-link:active {
  z-index: 9999;
  top: auto;

  margin: 1rem 45vw;
  @include allBelow(small) {
    margin: 1rem 35%;
  }

  @include fakeFocus();
}

// Layout management
// Use this class where components are trying to add background boxes/borders/lines
// to the very outer sides of the page
// e.g. Tabs are using this technique
// In some cases we dont want to have that effect.
// E.g. if we have a menu to the left or right side
.dnb-app-content-inner {
  overflow: hidden;
}

// TODO: considder to take this out

.dnb-hide-on-mobile {
  @include allBelow(medium) {
    display: none;
  }
}
.dnb-mobile-exclusive {
  @include allAbove(medium) {
    display: none;
  }
}
.dnb-belt {
  padding: 1rem 0;
  width: 100%;
  background: var(--color-mint-green-12);
}
.dnb-nudge {
  display: inline-flex;
  flex: 0 0 100%;

  @for $i from 1 through 10 {
    &--vertical {
      &[data-nudges='#{$i}'] {
        @include nudger(vertical, #{$i});
      }
    }
    &--horizontal {
      &[data-nudges='#{$i}'] {
        @include nudger(horizontal, #{$i});
      }
    }
  }
}
.dnb-sr-only {
  @include sr-only();
}
.dnb-not-sr-only {
  @include notSrOnly();
}
.dnb-unstyled-list {
  @include unstyledList();
}
