/*
* CSS Properties
*
* ======================================================================== */

:root {
  // typography family
  --font-family-std: 'Fedra Sans Std', sans-serif;
  --font-family-demi: 'Fedra Sans Std Demi', sans-serif;

  // UX colors
  --color-sea-green-alt: #008484;
  --color-mint-green-50: #d2f0e9;
  --color-mint-green-25: #e9f8f4;
  --color-sea-green-4: #f5fafa;
  --color-sea-green-alt-30: #b3dada;
  --color-signal-yellow-30: #ffffd7;
  --color-cherry-red: #e10076;
  --color-cherry-red-80: #fdebf4;
  --color-black: #000;
  --color-black-80: #333;
  --color-black-30: #b3b3b3;
  --color-white: #fff;

  // Undefined
  --color-black-border: #ebebeb;

  // Profile colors
  --color-sea-green: #007272;
  --color-mint-green: #a5e1d2;
  --color-summer-green: #28b482;
  --color-emerald-green: #14555a;
  --color-ocean-green: #00343e;
  --color-signal-orange: #ff5400;
  --color-signal-yellow: #ffff7a;
  --color-indigo: #23195a;
  --color-violet: #6e2382;
  --color-sky-blue: #4bbed2;

  // Unused Profile colors
  // --color-mint-green-alt: #ebfffa;
  // --color-indigo-medium: #6e6491;
  // --color-indigo-light: #b9afc8;
  // --color-violet-medium: #a06eaf;
  // --color-violet-light: #cfb9d7;
  // --color-sky-blue-medium: #87d2e1;
  // --color-sky-blue-light: #c3ebf0;

  // Colors used in mobile
  // --color-light-grey: #fafafa;
  // --color-outline-grey: #ebebeb;
  // + new grey definitions
  // --color-subtle-grey: #f8f8f8;
  // --color-soft-grey: #ccc;
  // --color-charcoal-grey: #333;
  // --color-shadow-grey: #757575;
}
