/*
 * CSS Properties
 *
 */

@mixin getDefaultProperties() {
  // Typography Family
  --font-family-default: 'Fedra Sans Std', sans-serif;
  --font-family-book: 'Fedra Sans Std', sans-serif; // Deprecated
  --font-family-demi: 'Fedra Sans Std', sans-serif; // Deprecated
  --font-family-medium: 'Fedra Sans Std', sans-serif; // Do not use, use --font-weight-...
  --font-family-bold: 'Fedra Sans Std', sans-serif; // Do not use, use --font-weight-...
  --font-family-monospace: /* macOS 10.10+ */ Menlo,
    /* Windows 6+ */ Consolas, /* Android 4+ */ Roboto Mono,
    /* Ubuntu 10.10+ */ Ubuntu Monospace, /* KDE Plasma 5+ */ Noto Mono,
    /* KDE Plasma 4+ */ Oxygen Mono,
    /* Linux/OpenOffice fallback */ Liberation Mono,
    /* fallback */ monospace;

  // Typography Weights
  --font-weight-default: normal; // Deprecated
  --font-weight-basis: normal;
  --font-weight-book: normal; // Deprecated
  --font-weight-regular: normal;
  --font-weight-demi: 500; // Deprecated
  --font-weight-medium: 600;
  --font-weight-bold: 600;

  // Typography Sizes
  --font-size-small: 0.875rem; // 14px
  --font-size-basis: 1rem; // 16px
  --font-size-basis--em: 1em; // 16px
  --font-size-medium: 1.25rem; // 20px
  --font-size-large: 1.5rem; // 24px
  --font-size-x-large: 2rem; // 32px
  --font-size-xx-large: 3rem; // 48px

  // Typography Line heights
  --line-height-x-small--em: 1em; // 16px
  --line-height-small: 1.375rem; // 22px
  --line-height-basis: 1.5rem; // 24px
  --line-height-basis--em: 1.5em; // 24px
  --line-height-medium: 2rem; // 32px
  --line-height-large: 3rem; // 48px
  --line-height-x-large: 3.5rem; // 56px

  // UX colors
  --color-sea-green-alt: #008484;
  --color-mint-green-50: #d2f0e9;
  --color-mint-green-25: #e9f8f4;
  --color-mint-green-12: #f4fbf9;
  --color-sea-green-alt-30: #b3dada;
  --color-signal-yellow-30: #ffffd7;
  --color-fire-red: #dc2a2a;
  --color-fire-red-8: #fdeeee;
  --color-cherry-red: #e10076; // Deprecated
  --color-cherry-red-8: #fdebf4; // Deprecated
  --color-black: #000;
  --color-black-80: #333;
  --color-black-30: #b3b3b3;
  --color-white: #fff;

  // Undefined
  --color-black-border: #cdcdcd;
  --color-black-background: #fafafa;

  // Profile colors
  --color-sea-green: #007272;
  --color-mint-green: #a5e1d2;
  --color-summer-green: #28b482;
  --color-emerald-green: #14555a;
  --color-ocean-green: #00343e;
  --color-signal-orange: #ff5400;
  --color-signal-yellow: #ffff7a;
  --color-indigo: #23195a;
  --color-violet: #6e2382;
  --color-sky-blue: #4bbed2;

  // Unused Profile colors
  --color-mint-green-alt: #ebfffa;
  --color-indigo-medium: #6e6491;
  --color-indigo-light: #b9afc8;
  --color-violet-medium: #a06eaf;
  --color-violet-light: #cfb9d7;
  --color-sky-blue-medium: #87d2e1;
  --color-sky-blue-light: #c3ebf0;

  // Colors used in mobile
  // --color-light-grey: #fafafa;
  // --color-black-border: #ebebeb;
  // + new grey definitions
  // --color-subtle-grey: #f8f8f8;
  // --color-soft-grey: #ccc;
  // --color-charcoal-grey: #333;
  // --color-shadow-grey: #757575;

  // Spacing
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-x-large: 3rem;
  --spacing-xx-large: 3.5rem;

  // Layout
  --layout-small: 40em; // 640
  --layout-medium: 50em; // 800
  --layout-large: 60em; // 960
  --layout-x-large: 72em; // 1152
  --layout-xx-large: 80em; // 1280
  --layout-xxx-large: 90em; // 1440
}

@mixin setProperties() {
  :root {
    @content;
  }
}

$hasCustomProperties: false !default;
@if $hasCustomProperties == false {
  :root {
    @include getDefaultProperties();
  }
}
