/*
 * Scopes
 *
 */

@import './reset.scss';

@mixin coreDefault() {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-small); // has to be 16px
  font-style: normal;
  line-height: var(--line-height-basis);
  color: var(--color-black-80, #333);

  // The new DNB font needs font smoothing to be thinner on webkit and FF
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /**
  * Ensure consistency and use the same as HTML reset -> html {...}
  * between base and code package
  */
  -moz-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;

  @content;
}

@mixin bodyDefault() {
  @include reset();
  @include coreDefault();

  @media print {
    background-color: white;
  }

  @content;
}

@mixin htmlDefault() {
  html {
    font-size: 100%;
    @supports (font: -apple-system-body) {
      font: -apple-system-body; /* stylelint-disable-line */
    }
    scroll-behavior: smooth;
  }

  // reset ePlatform css
  @include resetLegacyStyles();
}

@mixin componentReset() {
  @include coreDefault();
  @include coreReset();

  margin: 0;
  padding: 0;

  @content;
}
