/*
 * Scopes
 *
 */

@import './reset.scss';

@mixin bodyDefault() {
  @include reset();

  font-family: sans-serif;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  color: var(--color-black-80, #333);

  @include numberFeature(lining-nums, lnum);

  @media print {
    background-color: white;
  }

  @content;
}

@mixin componentReset() {
  @include bodyDefault();

  font-size: 1em;
  line-height: 1.5em;

  @content;
}
