/*
 * Scopes
 *
 */

@mixin bodyDefault() {
  font-family: sans-serif;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  color: var(--color-black-80, #333);

  @include numberFeature(lining-nums, lnum);

  @content;
}

@mixin componentReset() {
  *,
  ::before,
  ::after {
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  ::before,
  ::after {
    text-decoration: inherit;
    vertical-align: inherit;
  }

  @include bodyDefault();

  font-size: 1em;
  line-height: 1.5em;

  @content;
}
