/*
 * Scopes
 *
 */

@import './reset.scss';

@mixin coreDefault() {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-basis);
  font-style: normal;
  line-height: var(--line-height-basis);
  color: var(--color-black-80, #333);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include numberFeature(lining-nums, lnum);

  @content;
}

@mixin bodyDefault() {
  @include reset();
  @include coreDefault();

  @media print {
    background-color: white;
  }

  @content;
}

@mixin htmlDefault() {
  html {
    font-size: 100%;
    @supports (font: -apple-system-body) {
      font: -apple-system-body; /* stylelint-disable-line */
    }
    scroll-behavior: smooth;
  }

  // reset ePlatform css
  @include resetLegacyStyles();
}

@mixin componentReset() {
  @include coreDefault();
  @include coreReset();

  margin: 0;
  padding: 0;

  @content;
}
