/*
 * Core Styles
 * Mainly only the margins are defined in here
 *
 */

@mixin defaultMargin() {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

// styles styles are effected within the scope of ".dnb-spacing"
// we also check if there is a class starting with "dnb-*"
// this is to make sure we don't effect these styles inside of components
.dnb-spacing {
  h1,
  .dnb-core-style h1,
  .dnb-h1 {
    margin: 3rem 0 2.5rem;
  }
  h2,
  .dnb-core-style h2,
  .dnb-h2 {
    margin: 3rem 0 1rem;
  }

  h3,
  h4,
  h5,
  h6,
  .dnb-core-style h3,
  .dnb-core-style h4,
  .dnb-core-style h5,
  .dnb-core-style h6,
  .dnb-h3,
  .dnb-lead,
  .dnb-h4,
  .dnb-h5,
  .dnb-h6 {
    margin: 2rem 0 1rem;
  }

  p,
  .dnb-p,
  .dnb-core-style p,
  .dnb-blockquote,
  blockquote,
  .dnb-pre,
  pre {
    @include defaultMargin();
  }

  blockquote p:last-child,
  .dnb-blockquote p:last-child {
    margin-bottom: 0;
  }

  .dnb-hr,
  hr {
    margin-bottom: 1rem;
  }

  // *:not([class^='dnb-']) > {
  ul,
  ol,
  .dnb-ul,
  .dnb-ol {
    @include defaultMargin();
    & > li {
      margin-top: 1rem;
      margin-bottom: 1rem;

      /* stylelint-disable-next-line */
      & > p {
        margin-top: 1rem;
      }
    }
  }
  // }
  .dnb-dl,
  dl {
    @include defaultMargin();
  }
  dl dt,
  .dnb-dl dt {
    margin-top: 1rem;
  }
  dl dd,
  .dnb-dl dd {
    margin-bottom: 1rem;
  }

  table,
  .dnb-table {
    /* stylelint-disable-next-line */
    p,
    ul,
    ol,
    dl,
    pre {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .dnb-section.dnb-section--content {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
