/*
 * Typography
 * ========================================================================== */

.typo-book {
  font-family: $font-family-book;
  font-weight: normal;
  font-style: normal;
}
.typo-book-italic {
  font-family: $font-family-std;
  font-weight: normal;
  font-style: italic;
}
// .typo-demi {
//   font-family: $font-family-demi;
//   font-weight: normal;
//   font-style: normal;
// }
// .typo-demi-italic {
//   font-family: $font-family-demi-italic;
//   font-weight: normal;
//   font-style: normal;
// }
.typo-medium {
  font-weight: 500;
  font-style: normal;
}
.typo-medium-italic {
  font-weight: 500;
  font-style: italic;
}
.typo-light-italic {
  font-weight: 300;
  font-style: italic;
}
.typo-light {
  font-weight: 300;
  font-style: normal;
}
.typo-bold {
  font-weight: bold;
  font-style: normal;
}
.typo-bold-italic {
  font-weight: bold;
  font-style: italic;
}

//Numbers

.typo-number {
  &--old-style {
    @include numberFeature(oldstyle-nums, onum);
  }
  &--lining {
    @include numberFeature(lining-nums, lnum);
  }
  &--tabular {
    @include numberFeature(tabular-nums, tnum);
  }
  &--proportional {
    @include numberFeature(proportional-nums, pnum);
  }
}

// TODO: Core typography classes

.dnb-style .text-lead {
  font-size: 1em; // 16px
  line-height: 1.75rem; // 28
  border-bottom: solid 1rem green; // TODO: change to margin
  font-weight: 500;
}

.dnb-style .text-label {
  font-size: 0.8125em; // 14px
  line-height: 1.25rem; // 20px
  border-bottom: solid 1rem hotpink;
}

.dnb-style .text-small {
  font-size: 0.8125em; // 14px
  line-height: 1rem; // 16px
  border-bottom: solid 1rem hotpink;
}
