/*
 * Typography
 * ========================================================================== */

// Font usage
.typo-std {
  font-family: $font-family-std;
  font-weight: normal;
  font-style: normal;
}
.typo-book {
  font-family: $font-family-book;
  font-weight: normal;
  font-style: normal;
}
.typo-demi {
  font-family: $font-family-demi;
  font-weight: normal;
  font-style: normal;
}

// Number usage
.typo-number {
  &--old-style {
    @include numberFeature(oldstyle-nums, onum);
  }
  &--lining {
    @include numberFeature(lining-nums, lnum);
  }
  &--tabular {
    @include numberFeature(tabular-nums, tnum);
  }
  &--proportional {
    @include numberFeature(proportional-nums, pnum);
  }
}
