/*
 * Utilities
 */

// Mobile-first media query helper
@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

@mixin defaultDropShadow() {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
}

// Uses html:not([data-whatintent='touch'] )
// classes on <html> element
// based on js touch device test
@mixin hover() {
  html:not([data-whatintent='touch']) &:hover {
    &[disabled] {
      cursor: not-allowed;
    }
    &:not([disabled]) {
      @content;
    }
  }
}
@mixin active() {
  &:active,
  html:not([data-whatintent='touch']) &:active {
    &[disabled] {
      cursor: not-allowed;
    }
    // stylelint-disable-next-line
    &:not([disabled]) {
      @content;
    }
  }
}
@mixin focus() {
  &:focus,
  html:not([data-whatintent='touch']) &:focus {
    &[disabled] {
      cursor: not-allowed;
    }
    // stylelint-disable-next-line
    &:not([disabled]) {
      @content;
    }
  }
}

$focusRingWidth: 0.125rem; //2px
$focusRingColor: var(--color-emerald-green);
@mixin fakeFocus($whatinput: null, $color: null, $inset: null) {
  outline: none;

  @if $whatinput == null {
    $whatinput: 'keyboard';
  }
  @if $color == null {
    $color: $focusRingColor;
  }

  html[data-whatinput='#{$whatinput}'] & {
    @include fakeBorder($color, $focusRingWidth, $inset);
  }
}
@mixin removeFakeFocus($whatinput: null) {
  outline: initial;
  @if $whatinput == null {
    $whatinput: 'keyboard';
  }

  html[data-whatinput='#{$whatinput}'] & {
    box-shadow: none;
  }
}

@mixin fakeBorder(
  $color: null,
  $width: null /* 1px */,
  $inset: null,
  $is1px: false /* IE11 fix */,
  $important: null
) {
  @if $color == null {
    $color: $focusRingColor;
  }
  @if $width == null {
    $width: 0.0625rem;
  }

  --border-color: #{$color};

  // we use !important, cause we have no changes to select the selctor right
  // in some cases we have another state where we use box-shadow
  // but with important, we take care of that we actually can use use it
  box-shadow: $inset 0 0 0 $width var(--border-color) $important;

  /* IE11 fix */
  @if $is1px {
    @media screen and (-ms-high-contrast: none) {
      // Since 0.0625rem gets not rendered correctly
      // and gives an artifact, we do use px instead
      box-shadow: $inset 0 0 0 1px var(--border-color) $important;
    }
  }

  @if $inset {
    /* iOS fix - because "inset" works not fine with border-radius */
    @supports (-webkit-touch-callout: none) {
      // remove inset on webkit - this makes the border outside
      box-shadow: 0 0 0 $width var(--border-color) $important;

      // This also works, but then we move content for 1px, if they don't have a border from before
      // box-shadow: none;
      // border: $width solid var(--border-color) $important;
    }

    /* Safari fix - because "inset" works not fine with border-radius if the user zooms the page */
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) and (stroke-color: transparent)
        and (not (-webkit-overflow-scrolling: touch)) {
        // remove inset on webkit - this makes the border outside
        box-shadow: 0 0 0 $width var(--border-color) $important;
      }
    }
  }

  @if $color != null {
    border-color: transparent;
  }
}

@mixin extendFakeFocus(
  $first-color: null,
  $second-color: null,
  $width: 0.0625rem /*1px*/
) {
  $second: 0 0 0 ($focusRingWidth + $width) $second-color;
  box-shadow: 0 0 0 $width $first-color, $second;

  /* IE11 fix */
  @media screen and (-ms-high-contrast: none) {
    border: 0 solid transparent; // only to trigger the renderering correctly in IE11
  }
}

@mixin dummySpacing() {
  // we use "aria-hidden" SPAN to simulate a wider width for each tab
  .dnb-dummy {
    display: flex;
    flex-direction: column;

    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

@mixin scrollY($mode: scroll) {
  overflow-y: $mode;
  overscroll-behavior: contain;
  scrollbar-width: thin;

  // older iOS safari
  -webkit-overflow-scrolling: touch;

  // show scrollbar on IE
  -ms-overflow-style: auto;
}

$breakpoints: (
  'small': 40em,
  'medium': 50em,
  'large': 60em,
  'x-large': 70em
);

//Example usage:
//@include allAbove(phone){ styles go here.. }
@mixin allAbove($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
@mixin allBelow($size) {
  @media screen and (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
@mixin nudger($direction, $nudge) {
  @if $direction == 'horizontal' {
    width: #{$nudge}rem;
  }
  @if $direction == 'vertical' {
    height: #{$nudge}rem;
  }
}

// Vertical alignment helper
@mixin alignmentHelper() {
  // Add a char to align the component
  &::before {
    content: '\200C'; // zero-width non-joiner
    @include alignmentHelperClass();
  }
}
@mixin alignmentHelperClass() {
  display: inline-block;
  width: 0;
  height: 0;

  font-size: var(--font-size-small);

  speak: none;
}

// Screen reader only helper
@mixin srOnly() {
  user-select: none;
  -webkit-touch-callout: none; // iOS
  pointer-events: none;

  position: absolute;

  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  white-space: nowrap; // NB: so NVDA not splits up text in multi line

  height: 1px;
  width: 1px; // splits up in multiline, unless we have nowrap
  margin: -1px 0 0 -1px;
  padding: 0;

  border: 0;
}

@mixin srOnlyInline() {
  @include srOnly();

  // since we do use it also as positioning helper
  // we then do not want it absolute positioned
  position: static;
  display: inline-block;

  visibility: visible; // should not be hidden!
  opacity: 0;

  font-size: 0;
  line-height: 0;
}

// This "negates" the srOnly() helper; useful if
// we want the default state of something to be
// for screen readers only, but we want to force
// it to show for sighted users under more specific
// conditions.
@mixin notSrOnly() {
  position: initial;
  height: auto;
  width: auto;

  overflow: auto;
  opacity: 1;

  font-size: medium;
  line-height: normal;
  white-space: normal;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@mixin formLabelWrap() {
  @media screen and (max-width: 40em) {
    flex-wrap: wrap;
    & > .dnb-form-label {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }
}
