/*
 * FormLabel component
 *
 */

.dnb-form-label {
  display: inline-block;

  width: auto;
  padding: 0;
  margin-right: 1rem;

  text-align: left;
  vertical-align: baseline;

  white-space: pre-wrap;
  word-break: normal;

  font-size: var(--font-size-basis);
  color: inherit;

  &--vertical {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  &--sr-only {
    // Could possibly be 0, but has to be tested if sr still reads the text then
    // We make it custom here, because we need the height,
    // therefore we don't use @mixin srOnly()
    // also, we want !important here, because project styles, meant to adjust, can suddenly add a margin etc.
    width: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-left: -1px !important; // because of 1px width
    overflow: hidden !important;
    white-space: nowrap !important; // so we don't get a large height because of wrapping in norrow space
  }

  // Is not in use
  // &--vertical-label {
  // }

  &[for]:not([disabled]) {
    user-select: none;
    -webkit-user-select: none; // Safari / Touch fix
    cursor: pointer;
  }
  &[disabled] {
    cursor: not-allowed;
  }

  @include IS_IE {
    max-width: 60vw;
  }
}
legend.dnb-form-label {
  display: inline-block;
}
