/*
 * FormLabel component
 *
 */

.dnb-form-label {
  display: inline-block;

  width: auto;
  margin-right: 1rem;
  padding: 0;
  color: inherit;

  font-size: var(--font-size-basis);

  white-space: pre-wrap;

  text-align: left;
  vertical-align: baseline;
  word-break: normal;

  &--vertical {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  &--sr-only {
    // could posssibly be 0, but has to be tested if sr still reads the text then
    width: 1px;
    margin: 0;
    margin-left: -1px; // because of 1px width
    padding: 0;
    overflow: hidden;
    white-space: nowrap; // so we don't get a large height because of wrapping in norrow space
  }

  // Is not in use
  // &--vertical-label {
  // }

  &[for]:not([disabled]) {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none; // Safari / Touch fix
  }
  &[disabled] {
    cursor: not-allowed;
  }

  @include IS_IE {
    max-width: 60vw;
  }
}
legend.dnb-form-label {
  display: inline-block;
}
