/*
 * FormLabel component
 *
 */

.dnb-form-label {
  display: inline-block;
  padding: 0;

  // Clickable labels should not have width larger than the text
  &[for] {
    width: fit-content;
  }

  text-align: left;
  vertical-align: baseline;

  white-space: pre-wrap;
  word-break: normal;

  font-size: var(--font-size-basis);
  color: inherit;

  &--has-help {
    margin-right: 0.5rem;
  }

  + .dnb-help-button {
    margin-right: 1rem;
  }

  &--vertical {
    display: block;
    margin-right: 0;
    margin-bottom: 0.5rem;

    + .dnb-help-button {
      margin-right: 0;
    }
  }

  &--interactive {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.dnb-form-label-wrapper {
  display: inline-block;
  margin-right: 1rem;
  .dnb-form-label {
    margin-right: 0.5rem;
  }
  &--vertical {
    display: block;
    .dnb-form-label {
      display: inline-block;
      margin-right: 0.5rem;
    }
    .dnb-help-button-content {
      margin-top: 0.5rem;
    }
  }
}

legend.dnb-form-label {
  display: inline-block;
}
