/*
 * Blockquote
 *
 */

@mixin blockquoteStyle() {
  display: inline-block;
  width: auto;

  &:not([class*='dnb-space']) {
    margin: 0;
  }
  padding: 1.5rem;

  font-size: var(--font-size-small);
  line-height: var(--line-height-small);

  color: var(--color-mint-green);
  background-color: var(--color-ocean-green);
  border-radius: 1rem;

  // gfx icon
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    width: 3em;
    height: 3em;

    background-size: cover;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgZmlsbD0ibm9uZSI+ICA8cGF0aCBmaWxsPSIjQTVFMUQyIiBzdHJva2U9IiNBNUUxRDIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik0zNy41IDI3LjVhOSA5IDAgMSAwIDAtMTggOSA5IDAgMCAwIDAgMTh6Ii8+ICA8cGF0aCBzdHJva2U9IiNBNUUxRDIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjUiIGQ9Ik00Ni41IDE4LjVhMjEgMjEgMCAwIDEtMjEgMjEiLz4gIDxwYXRoIGZpbGw9IiNBNUUxRDIiIHN0cm9rZT0iI0E1RTFEMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTEzLjUgMjcuNWE5IDkgMCAxIDAgMC0xOCA5IDkgMCAwIDAgMCAxOHoiLz4gIDxwYXRoIHN0cm9rZT0iI0E1RTFEMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0iTTIyLjUgMTguNWEyMSAyMSAwIDAgMS0yMSAyMSIvPjwvc3ZnPg==);
  }

  // default
  // stylelint-disable-next-line
  &,
  &.dnb-blockquote--left {
    padding-left: 6rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  &.dnb-blockquote--top {
    padding-left: 1.5rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  &.dnb-blockquote--no-background {
    background-color: transparent;
    color: var(--theme-color-black-80, currentColor);
    &::before {
      // simulate the color #333333 - this makes it 100% the same
      filter: grayscale(1) brightness(24%);
    }
  }

  // styles not defined elsewhere
  .dnb-cite,
  .dnb-figcaption,
  cite,
  footer,
  figcaption {
    display: block;
    margin-top: 1rem;

    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-basis);
    font-style: italic; // to have / or avoid italic on cite

    &::before {
      content: '—';
      display: inline-block;
      padding-right: 0.5rem;
    }
  }

  .dnb-spacing & h1,
  .dnb-spacing & h2,
  .dnb-spacing & h3,
  .dnb-spacing & .dnb-h--xx-large,
  .dnb-spacing & .dnb-h--large,
  .dnb-spacing & .dnb-h--medium,
  .dnb-spacing & .dnb-lead {
    margin: 0;
  }

  .dnb-anchor {
    font-size: inherit;
  }

  // make contrast
  &:not(.dnb-blockquote--no-background) {
    .dnb-anchor,
    a {
      @include useAnchorContrastStyle();
    }

    h1,
    h2,
    h3,
    .dnb-h--xx-large,
    .dnb-h--large,
    .dnb-h--medium,
    .dnb-lead {
      color: var(--color-mint-green);
    }
  }
}
@mixin blockquoteTag() {
  blockquote {
    @include blockquoteStyle();
  }
  .dnb-spacing blockquote {
    @include defaultSpacing();
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.dnb-blockquote {
  @include blockquoteStyle();
}
.dnb-spacing .dnb-blockquote {
  @include defaultSpacing();
  p:last-child {
    margin-bottom: 0;
  }
}
