/*
 * Label
 *
 */

@mixin labelStyle() {
  cursor: pointer;
  color: var(--color-black-80);
  overflow-wrap: break-word;

  &[disabled] {
    cursor: not-allowed;
  }
}
@mixin labelTag() {
  label {
    @include labelStyle();
  }
}

.dnb-label {
  @include labelStyle();
}
