/*
 * Space component
 *
 * TODO: Set spacing in the theme file, as theme comes later in the stack
 *
 */

@mixin direction($direction) {
  // 0rem
  &--zero {
    margin-#{$direction}: 0;
  }
  // 0.25rem
  &--xx-small {
    margin-#{$direction}: 0.25rem;
  }
  // 0.5rem
  &--x-small {
    margin-#{$direction}: 0.5rem;
  }
  // 1rem
  &--small {
    margin-#{$direction}: 1rem;
  }
  // 1.5rem
  &--medium {
    margin-#{$direction}: 1.5rem;
  }
  // 2rem
  &--large {
    margin-#{$direction}: 2rem;
  }
  // 2.5rem
  &--large#{&}--x-small {
    margin-#{$direction}: 2.5rem;
  }
  // 3rem
  &--x-large {
    margin-#{$direction}: 3rem;
  }
  // 3.5rem
  &--xx-large {
    margin-#{$direction}: 3.5rem;
  }
  // 4rem
  &--xx-large#{&}--x-small {
    margin-#{$direction}: 4rem;
  }
  // 4.5rem
  &--xx-large#{&}--small {
    margin-#{$direction}: 4.5rem;
  }
  // 5rem
  &--xx-large#{&}--medium {
    margin-#{$direction}: 5rem;
  }
  // 5.5rem
  &--xx-large#{&}--large {
    margin-#{$direction}: 5.5rem;
  }
  // 6rem
  &--xx-large#{&}--large#{&}--x-small {
    margin-#{$direction}: 6rem;
  }
  // 6.5rem
  &--xx-large#{&}--x-large {
    margin-#{$direction}: 6.5rem;
  }
  // 7rem
  &--xx-large-x2 {
    margin-#{$direction}: 7rem;
  }
  // 7.5rem
  &--xx-large-x2#{&}--x-small {
    margin-#{$direction}: 7.5rem;
  }
  // 8rem
  &--xx-large-x2#{&}--small {
    margin-#{$direction}: 8rem;
  }
  // 8.5rem
  &--xx-large-x2#{&}--medium {
    margin-#{$direction}: 8.5rem;
  }
  // 9rem
  &--xx-large-x2#{&}--large {
    margin-#{$direction}: 9rem;
  }
  // 9.5rem
  &--xx-large-x2#{&}--large#{&}--x-small {
    margin-#{$direction}: 9.5rem;
  }
  // 10rem
  &--xx-large-x2#{&}--x-large {
    margin-#{$direction}: 10rem;
  }
}

.dnb-core-style .dnb-space {
  &__top {
    @include direction(top);
  }
  &__right {
    @include direction(right);
  }
  &__bottom {
    @include direction(bottom);
  }
  &__left {
    @include direction(left);
  }
}

/* stylelint-disable */
.dnb-space {
  &--no-collapse {
    display: flow-root;

    // &::after {
    //   content: '\200C';
    //   display: table;
    //   clear: both;
    //   font-size: 0;
    //   line-height: 0;
    // }

    @include IS_IE {
      overflow: auto;
    }
  }
  &--inline {
    display: inline-block;
  }
  &__top {
    @include direction(top);
  }
  &__right {
    @include direction(right);
  }
  &__bottom {
    @include direction(bottom);
  }
  &__left {
    @include direction(left);
  }
}
/* stylelint-enable */
