/*
 * Space component
 *
 */

@mixin direction($direction) {
  // 0.5rem
  &--x-small {
    margin-#{$direction}: 0.5rem;
    // margin-#{$direction}: var(--spacing-x-small);
  }
  // 1rem
  &--small {
    margin-#{$direction}: 1rem;
    // margin-#{$direction}: var(--spacing-small);
  }
  // 1.5rem
  &--medium {
    margin-#{$direction}: 1.5rem;
    // margin-#{$direction}: var(--spacing-medium);
  }
  // 2rem
  &--large {
    margin-#{$direction}: 2rem;
    // margin-#{$direction}: var(--spacing-large);
  }
  // 2.5rem
  &--large#{&}--x-small {
    margin-#{$direction}: 2.5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-large) + var(--spacing-x-small)
    // );
  }
  // 3rem
  &--x-large {
    margin-#{$direction}: 3rem;
    // margin-#{$direction}: var(--spacing-x-large);
  }
  // 3.5rem
  &--xx-large {
    margin-#{$direction}: 3.5rem;
    // margin-#{$direction}: var(--spacing-xx-large);
  }
  // 4rem
  &--xx-large#{&}--x-small {
    margin-#{$direction}: 4rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-x-small)
    // );
  }
  // 4.5rem
  &--xx-large#{&}--small {
    margin-#{$direction}: 4.5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-small)
    // );
  }
  // 5rem
  &--xx-large#{&}--medium {
    margin-#{$direction}: 5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-medium)
    // );
  }
  // 5.5rem
  &--xx-large#{&}--large {
    margin-#{$direction}: 5.5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-large)
    // );
  }
  // 6rem
  &--xx-large#{&}--large#{&}--x-small {
    margin-#{$direction}: 6rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-large) +
    //     var(--spacing-x-small)
    // );
  }
  // 6.5rem
  &--xx-large#{&}--x-large {
    margin-#{$direction}: 6.5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-x-large)
    // );
  }
  // 7rem
  &--xx-large-x2 {
    margin-#{$direction}: 7rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-xx-large)
    // );
  }
  // 7.5rem
  &--xx-large-x2#{&}--x-small {
    margin-#{$direction}: 7.5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-xx-large) +
    //     var(--spacing-x-small)
    // );
  }
  // 8rem
  &--xx-large-x2#{&}--small {
    margin-#{$direction}: 8rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-xx-large) +
    //     var(--spacing-small)
    // );
  }
  // 8.5rem
  &--xx-large-x2#{&}--medium {
    margin-#{$direction}: 8.5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-xx-large) +
    //     var(--spacing-medium)
    // );
  }
  // 9rem
  &--xx-large-x2#{&}--large {
    margin-#{$direction}: 9rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-xx-large) +
    //     var(--spacing-large)
    // );
  }
  // 9.5rem
  &--xx-large-x2#{&}--large#{&}--x-small {
    margin-#{$direction}: 9.5rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-xx-large) +
    //     var(--spacing-large) + var(--spacing-x-small)
    // );
  }
  // 10rem
  &--xx-large-x2#{&}--x-large {
    margin-#{$direction}: 10rem;
    // margin-#{$direction}: calc(
    //   var(--spacing-xx-large) + var(--spacing-xx-large) +
    //     var(--spacing-x-large)
    // );
  }
}

.dnb-core-style .dnb-space {
  &--inline {
    display: inline-block;
  }
  &__top {
    @include direction(top);
  }
  &__right {
    @include direction(right);
  }
  &__bottom {
    @include direction(bottom);
  }
  &__left {
    @include direction(left);
  }
}

/* stylelint-disable */
.dnb-space {
  &--inline {
    display: inline-block;
  }
  &__top {
    @include direction(top);
  }
  &__right {
    @include direction(right);
  }
  &__bottom {
    @include direction(bottom);
  }
  &__left {
    @include direction(left);
  }
}
/* stylelint-enable */
